[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # header_done: boolean. True if the header has already been printed.
  # error: string. The tag of the error.
  # variables: hash. Useful data about the problem. The keys are the variable
  #  names, and the values the variable values.
  #%]

[%# This is a list of all the possible code errors. Please keep them in
  # alphabetical order by error tag, and leave a blank line between errors.
  #
  # Note that you must explicitly filter every single template variable
  # in this file; if you do not wish to change it, use the "none" filter.
  #%]

[% DEFAULT title = "内部エラー" %]

[% error_message = BLOCK %]
  [% IF error == "auth_invalid_email" %]
    [% title = "無効なメールアドレス" %]
    あなたのアカウントの作成もしくは更新の際に送信されたメールアドレス
    (<b>[% addr FILTER html %]</b>)
    は、設定されている有効なメールアドレスの書式にあいませんでした。
    [% IF default %]
      有効なメールアドレスは、ひとつの '@' を含み、そのあとに最低ひとつの
      '.' があるものになります。
    [% ELSE %]
      [%+ Param('emailregexpdesc') FILTER html_light %]
    [% END %]
    また、無効文字を含むことはできません。

  [% ELSIF error == "authres_unhandled" %]
    ログイン処理中の結果 [% value FILTER html %] を処理できませんでした。.

  [% ELSIF error == "bad_arg" %]
    <code>[% function FILTER html %]</code> 関数が無効な引数
    <code>[% argument FILTER html %]</code> により呼ばれました。

  [% ELSIF error == "bug_error" %]
    [% terms.bug %] [%+ bug.bug_id FILTER html %] を表示しようとしたところ、
    [% bug.error FILTER html %] のエラーが発生しました。

  [% ELSIF error == "chart_data_not_generated" %]
    [% docslinks = {'using/reports-and-charts.html' => 'Setting up Charting'} %]
    [% IF product.id %]
      <em>[% product.name FILTER html %]</em> プロダクトのチャートは、
      チャートが作成されてからデータの収集がまだ行われていないため、
      現在利用できません。
    [% ELSE %]
      チャート用データが収集されていません。
    [% END %]
    一日待って再度試してください。
    同じメッセージを見た場合、
    <a href="mailto:[% Param('maintainer') %]">[% Param('maintainer') %]</a>
    にこのエラーが発生した時の詳細をつけて連絡してください。

  [% ELSIF error == "chart_datafile_corrupt" %]
    チャート用データファイル [% file FILTER html %] が破損しています。

  [% ELSIF error == "chart_dir_nonexistent" %]
    <kbd>[% dir FILTER html %]</kbd> もしくは <kbd>[% graph_dir FILTER html %]</kbd>
    ディレクトリが存在しません。

  [% ELSIF error == "chart_file_open_fail" %]
    チャート用データファイル <kbd>[% filename FILTER html %]</kbd> が開けません。

  [% ELSIF error == "column_alter_nonexistent_fk" %]
    [% table FILTER html %].[% column FILTER html %] 用の外部キーを編集しようと
    しましたが、このカラムには外部キーは定義されていません。
 
  [% ELSIF error == "column_not_null_without_default" %]
    カラム [% name FILTER html %] の追加に失敗しました:
    <code>$init_value</code> 引数を指定しない限り、
    NULL でないカラムを規定値なしに既存のテーブルに追加することはできません。

  [% ELSIF error == "column_not_null_no_default_alter" %]
    [% name FILTER html %] カラムを規定値もしくは $set_nulls_to を指定しないで
    NOT NULL に変更しようとしましたが、現在 NULL 値を持つエントリがあります。

  [% ELSIF error == "comment_extra_data_not_allowed" %]
    <code>extra_data</code> フィールドに
    '[% extra_data FILTER html %]' を設定しようとしましたが、[% type FILTER html %]
    型のコメントは <code>extra_data</code> を受け付けません。

  [% ELSIF error == "comment_extra_data_required" %]
    [% type FILTER html %] 型のコメントは <code>extra_data</code>
    が設定されていることを必要とします。

  [% ELSIF error == "comment_extra_data_not_numeric" %]
    <code>extra_data</code> フィールドを
    '[% extra_data FILTER html %]' に設定しようとしましたが、[% type FILTER html %]
    型のコメントは数値の <code>extra_data</code> 引数を要求します。

  [% ELSIF error == "comment_type_invalid" %]
    '[% type FILTER html %]' は有効なコメント型ではありません。

  [% ELSIF error == "db_rename_conflict" %]
    名前が衝突しました: [% old FILTER html %] を
    [%+ new FILTER html %] に変更できません。[% new FILTER html %] はすでに存在します。

  [% ELSIF error == "cookies_need_value" %]
    すべてのクッキーは値を持つ必要があります。

  [% ELSIF error == "env_no_email" %]
    Bugzilla は環境変数からメールアドレスを特定できませんでした。
    [% IF Param("auth_env_email") %]
      これは、'[% Param("auth_env_email") FILTER html %]' 環境変数が空もしくは、
      存在しなかったことを意味します。
    [% ELSE %]
      "auth_env_email" パラメータに、
      ユーザのメールアドレスを含むような環境変数の名前を設定する必要があります。
    [% END %]

  [% ELSIF error == "extension_must_be_subclass" %]
    <code>[% filename FILTER html %]</code> の
    <code>[% package FILTER html %]</code> は
    <code>[% class FILTER html %]</code> のサブクラスではありません。

  [% ELSIF error == "extension_must_return_name" %]
    <code>[% extension FILTER html %]</code> は
    <code>[% returned FILTER html %]</code> を返しますが、
    拡張の名前として有効ではありません。拡張は <code>1</code> や数字ではなく、
    その名前を返すべきです。詳細は、
    <a href="[% docs_urlbase FILTER html %]api/Bugzilla/Extension.html">Bugzilla::Extension</a>
    のドキュメントを参照してください。

  [% ELSIF error == "extension_no_name" %]
    <code>NAME</code> メソッドを (<code>[% filename FILTER html %]</code>
    から読み込まれた) <code>[% package FILTER html %]</code> 
    内で見つけられませんでした。これは、拡張が以下にあげるうちの、
    ひとつ以上の問題を抱えていることを示します。

    <ul>
      <li><code>[% filename FILTER html %]</code> が
        <code>[% package FILTER html %]</code> パッケージで定義されていない。</li>
      <li><code>[% package FILTER html %]</code> が
        <code>NAME</code> メソッドを定義していない。(もしくは、
        <code>NAME</code> メソッドが空文字列を返す。)</li>
    </ul>

  [% ELSIF error == "extern_id_conflict" %]
    外部 ID '[% extern_id FILTER html %]' はすでにデータベースに '[% username FILTER html %]'
    として存在しますが、あなたのアカウントの外部ソースでは '[% extern_user FILTER html %]' 
    が同じ ID を持っています。

  [% ELSIF error == "field_choice_must_use_type" %]
    <code>Bugzilla::Field::Choice</code> のクラスメソッドの呼び出しでは、
    正常にクラスを初期化するために <code>Bugzilla::Field::Choice-&gt;type('some_field')</code>
    を呼ぶ必要があります。(Bugzilla::Field::Choice 
    で直接クラスメソッドを呼ぶことはできません。)

  [% ELSIF error == "field_not_custom" %]
    '[% field.description FILTER html %]' ([% field.name FILTER html %])
    はカスタムフィールドではありません。

  [% ELSIF error == "field_type_not_specified" %]
    [% title = "フィールド型が指定されていません" %]
    カスタムフィールドを作成するには型を指定する必要があります。

  [% ELSIF error == "illegal_field" %]
    有効な [% field FILTER html %] が指定されていません。
          
  [% ELSIF error == "invalid_customfield_type" %]
    [% title = "無効なフィールドタイプ" %]
    <em>[% type FILTER html %]</em> は有効なフィールドタイプではありません。

  [% ELSIF error == "invalid_feature" %]
    [% title = "無効な機能名" %]
    [% feature FILTER html %] は機能名として無効です。
    <code>Bugzilla::Install::Requirements</code> にある
    <code>OPTIONAL_MODULES</code> を、有効な名前の一覧として参照してください。

  [% ELSIF error == "invalid_flag_association" %]
    [% title = "無効なフラグ関係性です" %]
    いくつかのフラグが
    [% IF attach_id %]
      添付 [% attach_id FILTER html %].
    [% ELSE %]
      [%+ terms.bug %] [%+ bug_id FILTER html %].
    [% END %]
    に属していません。

  [% ELSIF error == "invalid_series_id" %]
    [% title = "無効なシリーズです" %]
    シリーズ ID [% series_id FILTER html %] は無効です。
    このシリーズは削除された可能性があります。

  [% ELSIF error == "invalid_timestamp" %]
    入力された日時 <code>[% timestamp FILTER html %]</code> 
    を有効な日時形式として認識できませんでした。

  [% ELSIF error == "invalid_webservergroup" %]
    [% group FILTER html %] というグループは存在しません。
    [% constants.bz_locations.localconfig FILTER html %] の $webservergroup 
    設定を確認してください。

  [% ELSIF error == "flag_unexpected_object" %]
    [% title = "認識できないオブジェクトです" %]
    [% caller FILTER html %] 型のオブジェクトにはフラグを設定できません。
    [% terms.bugs %] もしくは添付にのみ設定可能です。

  [% ELSIF error == "flag_type_inactive" %]
    [% title = "利用されていないフラグタイプ" %]
    フラグタイプ [% type FILTER html %] は無効化されており、
    新規フラグの作成で利用することはできません。

  [% ELSIF error == "flag_type_target_type_invalid" %]
    ターゲットタイプは <em>[% terms.bug %]</em> でも <em>attachment</em> でもなく、
    <em>[% target_type FILTER html %]</em> になっています。
 
  [% ELSIF error == "invalid_field_name" %]
    [% title = "無効なフィールド名" %]
    "[% field.truncate(30, "...") FILTER html %]" をフィールド名に利用できません。

  [% ELSIF error == "jobqueue_insert_failed" %]
   [% title = "ジョブのキューが失敗" %]
    <code>[% job FILTER html %]</code> をジョブキューに追加する処理が、
    以下の理由で失敗しました : [% errmsg FILTER html %]

  [% ELSIF error == "jobqueue_no_job_mapping" %]
    <code>Bugzilla::JobQueue</code> はジョブ "[% job FILTER html %]" 
    を処理するように設定されていません。ジョブタイプを <code>Bugzilla::JobQueue</code>
    の <code>JOB_MAP</code> 定数に追加するか、 'job_map' 
    フックを設定する必要があります。

  [% ELSIF error == "ldap_bind_failed" %]
    LDAP サーバへの接続に失敗しました。エラーメッセージは次のとおりです。
    <code>[% errstr FILTER html %]</code>

  [% ELSIF error == "ldap_cannot_retreive_attr" %]
    指定された LDAP 属性値 [% attr FILTER html %] は見つかりませんでした。

  [% ELSIF error == "ldap_connect_failed" %]
    LDAP サーバ <code>[% server FILTER html %]</code> に接続できませんでした。

  [% ELSIF error == "ldap_start_tls_failed" %]
    LDAP サーバとの TLS 接続開始に失敗しました。<code>[% error FILTER html %]</code>.

  [% ELSIF error == "ldap_search_error" %]
    LDAP サーバで &quot;[% username FILTER html %]&quot;
    を検索する時にエラーが発生しました。
    [% IF errstr %]
      <code>[% errstr FILTER html %]</code>
    [% ELSE %]
      LDAP でユーザが見つかりませんでした
    [% END %]

  [% ELSIF error == "ldap_server_not_defined" %]
    認証用 LDAP サーバが設定されていません。

  [% ELSIF error == "mail_send_error" %]
    メールを '[% mail.header('From') FILTER html %]' から
    '[% mail.header('To') FILTER html %]' に送信する際に問題が発生しました。
    [%+ msg FILTER html %]

  [% ELSIF error == "missing_series_id" %]
    シリーズをデータベースに登録しようとしましたが、シリーズ ID がありません。
    シリーズ: [% series.category FILTER html %] / 
    [%+ series.subcategory FILTER html %] / 
    [%+ series.name FILTER html %]

  [% ELSIF error == "object_dep_sort_loop" %]
    '[%+ field FILTER html %]' の VALIDATOR_DEPENDENCIES にループが検出されました。
    これらが検出したフィールドです: 
    [%+ considered.join(', ') FILTER html %]

  [% ELSIF error == "param_invalid" %]
    [% title = "無効なパラメータ" %]
    <code>[% param FILTER html %]</code> は関数 [% function FILTER html %] 
    の有効なパラメータではありません。

  [% ELSIF error == "param_must_be_numeric" %]
    [% title = "無効なパラメータ" %]
    無効なパラメータ <code>[% param FILTER html %]</code> が
    <code>[% function FILTER html %]</code> に渡されました: 数値であるべきです。

  [% ELSIF error == "param_integer_required" %]
    <code>[% function FILTER html %]</code> 機能には数値パラメータ 
    <code>[% param FILTER html %]</code> が必須です。

  [% ELSIF error == "param_scalar_array_required" %]
    <code>[% param FILTER html %]</code> パラメータは値 (数値か文字列) でなければなりません。

  [% ELSIF error == "param_required" %]
    [% title = "パラメータがありません" %]
    関数 <code>[% function FILTER html %]</code> には引数として
    <code>[% param FILTER html %]</code> が必要ですが、引数が渡されませんでした。

  [% ELSIF error == "params_required" %]
    [% title = "パラメータ不足" %]
    関数 <code>[% function FILTER html %]</code> 
    には次のパラメータのうちひとつを設定する必要があります :
    <code>[% params.join(', ') FILTER html %]</code>

  [% ELSIF error == "product_empty_group_controls" %]
    [% title = "見つからないグループコントロール" %]
    グループ [% group.name FILTER html %] のグループ設定を編集するための
    設定が必要です。

  [% ELSIF error == "product_illegal_group_control" %]
    [% title = "無効なグループコントロール" %]
    '[% value FILTER html %]' は '[% field FILTER html %]' フィールドでは、
    有効ではありません。

  [% ELSIF error == "protection_violation" %]
    関数 <code>[% function FILTER html %]</code> は
    [% IF argument %]
        引数 <code>[% argument FILTER html %]</code> なしに
    [% END %]
    パッケージ外
    [% IF caller %]
        の <code>[%+ caller FILTER html %]</code>
    [% END %]
    から呼ばれました。この関数は、<code>[% superclass FILTER html %]</code>
    のサブクラスからのみ呼ばれることが可能です。

  [% ELSIF error == "radius_preparation_error" %]
    RADIUS 認証リクエストを準備している途中でエラーが発生しました。
    <code>[% errstr FILTER html %]</code>

  [% ELSIF error == "search_cp_without_op" %]
    検索条件 f[% id FILTER html %] は "CP" になりますが、
    その前に該当する "OP" が存在しません。

  [% ELSIF error == "search_invalid_joiner" %]
    '[% joiner FILTER html %]' は検索条件の有効な接続詞ではありません。

  [% ELSIF error == "setting_info_invalid" %]
    新しい設定を作成するには、名前、値とソート順のペア、既定の値が必要です。

  [% ELSIF error == "setting_name_invalid" %]
    設定名 <em>[% name FILTER html %]</em> は無効です。
    文字で始まり、文字、数字、記号 '_' '-' '.' ':' のみを含めることができます。

  [% ELSIF error == "setting_subclass_invalid" %]
    設定のサブクラス <code>[% subclass FILTER html %]</code> は存在しません。

  [% ELSIF error == "setting_value_invalid" %]
    値 "<code>[% value FILTER html %]</code>" は有効な <em>[% name FILTER html %]</em> 
    設定の値のリストにありません。

  [% ELSIF error == "token_generation_error" %]
    トークン生成システムで深刻な問題が発生しています。

  [% ELSIF error == "cancel_token_does_not_exist" %]
    キャンセルしようとしたトークンが存在しません。

  [% ELSIF error == "template_error" %]
    [% template_error_msg FILTER html %]

  [% ELSIF error == "template_invalid" %]
    フックコール [% name FILTER html %] の中で無効なファイル名のテンプレートが見つかりました。

  [% ELSIF error == "unable_to_retrieve_password" %]
    あなたの古いパスワードをデータベースから取得できませんでした。

  [% ELSIF error == "undefined_field" %]
    フォームフィールド [% field FILTER html %] は見つかりませんでした。
 
  [% ELSIF error == "unknown_method" %]
    要求されたメソッド '[% method FILTER html %]' が見つかりませんでした。

  [% ELSIF error == "usage_mode_invalid" %]
    '[% invalid_usage_mode FILTER html %]' は無効な利用方法です。

  [% ELSIF error == "must_be_patch" %]
    [% title = "添付はパッチでなければなりません" %]
    添付 #[% attach_id FILTER html %] はパッチでなければなりません。

  [% ELSIF error == "not_in_transaction" %]
    始めていないトランザクションを終了させようとしました。

  [% ELSIF error == "invalid_post_bug_submit_action" %]
    post_bug_submit_action の無効な設定です。

  [% ELSIF error == "search_field_operator_unsupported" %]
    [% title = "無効な検索方式" %]
    [% terms.Bugzilla %] では
    "[% operator.truncate(30, "...") FILTER html %]" の検索方式は利用できません。

  [% ELSE %]
    [%# Try to find hooked error messages %]
    [% error_message = Hook.process("errors") %]
    [% IF NOT error_message %]
      [% title = "内部エラー" %]
      内部エラーが発生しましたが、Bugzilla はエラーコード
      <code>[% error FILTER html %]</code> が何を意味するのかわかりません。

      もし、[% terms.Bugzilla %] の単なる利用者なら、メッセージを保存し、
      [% Param('maintainer') %] までご連絡ください。
    [% ELSE %]
      [% error_message FILTER none %]
    [% END %]
  [% END %]
[% END %]

[%# We only want HTML error messages for ERROR_MODE_WEBPAGE %]
[% USE Bugzilla %]
[% IF Bugzilla.error_mode != constants.ERROR_MODE_WEBPAGE %]
  [% IF Bugzilla.usage_mode == constants.USAGE_MODE_BROWSER %]
    [% error_message FILTER none %]
  [% ELSE %]
    [% error_message FILTER txt %]
  [% END %]
  [% RETURN %]
[% END %]

[% UNLESS header_done %]
  [% PROCESS global/header.html.tmpl %]
[% END %]

[% PROCESS global/docslinks.html.tmpl
   docslinks      = docslinks
   admindocslinks = admindocslinks
%]

<p>
  未知のエラーが発生しました。これは、一時的な問題か、コードのどこかで何か異常が
  発生していることによります。もし、問題が続くようなら、このページを
  <a href="mailto:[% Param("maintainer") %]">[% Param("maintainer") %]</a>
  に、このメッセージが表示される直前に何を行っていたかの詳細とともに送信して
  ください。
</p>

<p>
  <samp>URL: [% Bugzilla.cgi.self_url FILTER html %]</samp>
</p>

<div id="error_msg" class="throw_error">
  [% error_message FILTER none %]
</div>

<p id="post_err_msg">
  トレースバック:
</p>

<pre>[% traceback FILTER html %]</pre>

[% IF variables %]
  <pre>
変数値:
  [% FOREACH key = variables.keys %]
    [%+ key FILTER html %]: [%+ variables.$key FILTER html %]
  [% END %]
  </pre>
[% END %]

[% PROCESS global/footer.html.tmpl %]
