[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Everything Solved, Inc.
  # Portions created by the Initial Developer are Copyright (C) 2010
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s): 
  #   Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

[% SET reason_descs = {
  ${constants.REL_ASSIGNEE} => "${terms.bug} の担当者です。",
  ${constants.REL_REPORTER} => "${terms.bug} の報告者です。",
  ${constants.REL_QA}       => "${terms.bug} の QA コンタクトです。",
  ${constants.REL_CC}       => "${terms.bug} の CC リストに入っています。",
  ${constants.REL_GLOBAL_WATCHER} => "全ての $terms.bug の変更を監視しています。",
} %]

[% SET watch_reason_descs => {
  ${constants.REL_ASSIGNEE} =>
    "${terms.bug} の担当者を監視しています。",
  ${constants.REL_REPORTER} =>
    "${terms.bug} の報告者を監視しています。",
  ${constants.REL_QA}       =>
    "${terms.bug} の QA コンタクトを監視しています。",
  ${constants.REL_CC}       =>
    "${terms.bug} の CC リストの誰かを監視しています。",
} %]

[% Hook.process('end') %]
