[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% SET reason_descs = {
  ${constants.REL_ASSIGNEE} => "${terms.bug} の担当者です。",
  ${constants.REL_REPORTER} => "${terms.bug} の報告者です。",
  ${constants.REL_QA}       => "${terms.bug} の QA コンタクトです。",
  ${constants.REL_CC}       => "${terms.bug} の CC リストに入っています。",
  ${constants.REL_GLOBAL_WATCHER} => "全ての $terms.bug の変更を監視しています。",
} %]

[% SET watch_reason_descs => {
  ${constants.REL_ASSIGNEE} =>
    "${terms.bug} の担当者を監視しています。",
  ${constants.REL_REPORTER} =>
    "${terms.bug} の報告者を監視しています。",
  ${constants.REL_QA}       =>
    "${terms.bug} の QA コンタクトを監視しています。",
  ${constants.REL_CC}       =>
    "${terms.bug} の CC リストの誰かを監視しています。",
} %]

[% Hook.process('end') %]
