[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]

[%# INTERFACE:
  # header_done: boolean. True if the Bugzilla header has already been printed.
  # error: string. The tag of the error, or the error message to be displayed
  # (deprecated). May contain HTML if it's an error message.
  #%]

[%# This is a list of all the possible user errors. Please keep them in
  # alphabetical order by error tag, and leave a blank line between errors.
  #
  # Note that you must explicitly filter every single template variable
  # in this file; if you do not wish to change it, use the "none" filter.
  #
  # Extension- or custom-specific error handling  can be easily added 
  # via hooks: just place your <extension>-errors.html.tmpl into 
  # template/en/extension/hook/global/user-error.html.tmpl/errors/
  # Note: be aware of uniqueness of error string parameter value, since 
  # nobody can guarantee the hook files processing order in the future
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS "global/field-descs.none.tmpl" %]

[% DEFAULT title = "エラー" %]

[%##
  # 訳語統一のための変数
  #  UI に存在している訳語が変更された場合に迅速にエラーメッセージでも対応できる
  #  ように、メッセージの一部を変数化しています。適宜、必要であれば追加してください。
  #
  #  メモ: 変数化すべき?
  #    - 認証サービス
  # %]
[% jawords = {
  "account" => "アカウント",
  "account_creation" => "新規アカウント登録",
  "account_mail_address" => "メールアドレス",
  "account_password" => "パスワード",

  "admin_administrator" => "管理者",
  "admin_maintainer" => "メンテナ",
  "admin_pages" => "管理画面",
  "admin_param" => "パラメータ",

  "attachment" => "添付",
  "attachment_file" => "ファイル",
  "attachment_url" => "URL",
  "attachment_description" => "説明",
  "attachment_type" => "ファイル型",
  "attachment_auto_detect" => "自動認識",
  "attachment_list" => "リストから選択",
  "attachment_input" => "自分で入力",
  "attachment_patch" => "パッチ",
  "attachment_creation_page" => "添付の登録",
  "attachment_comment" => "コメント",
  "attachment_content_type" => "Content-Type",

  "bug_alias" => "エイリアス",
  "bug_alias_name" => "エイリアス名",
  "bug_summary" => "要約",
  "bug_status" => "ステータス",
  "bug_version" => "バージョン",
  "bug_platform" => "プラットフォーム",
  "bug_importance" => "重要度",
  "bug_target_milestone" => "ターゲットマイルストーン",
  "bug_milestone" => "マイルストーン",
  "bug_assignee" => "担当者",
  "bug_qa_contact" => "QA コンタクト",
  "bug_url" => "URL",
  "bug_whiteboard" => "ホワイトボード",
  "bug_keyword" => "キーワード",
  "bug_depends_on" => "依存する",
  "bug_blocks" => "妨害する",
  "bug_dependencies" => "依存する $terms.bugs",
  "bug_dependency_tree" => "依存ツリー",
  "bug_comment" => "コメント",
  "bug_privacy" => "プライバシー",
  "bug_enter_description" => "説明",
  "bug_history" => "$terms.bug の更新履歴",
  "bug_history_link" => "履歴の表示",
  "bug_cc_list" => "CC リスト",
  "bug_cc_list_add" => "追加",
  "bug_reporter" => "報告者",

  "chart" => "チャート",

  "classification" => "classification",
  "classification_name" => "classification 名",
  "classification_description" => "classification の説明",

  "component" => "コンポーネント",
  "component_name" => "コンポーネント名",
  "component_description" => "コンポーネントの説明",

  "custom_field" => "カスタムフィールド",

  "default_assignee" => "既定の担当者",
  "default_qa_contact" => "既定の QA コンタクト",

  "dependency" => "依存",

  "duplicate" => "重複",
  "duplicate_target" => "重複先"

  "field" => "フィールド",
  "field_name" => "フィールド名",
  "field_value" => "フィールド値",
  "field_description" => "フィールドの説明",
  "field_default_value" => "既定値",

  "flag" => "フラグ",
  "flag_type" => "フラグタイプ",
  "flag_request" = > "要求",
  "flag_request_target" => "要求先",
  "flag_grant" => "承認",
  "flag_deny" => "拒否",
  "flag_cancel" => "キャンセル",
  "flag_description" => "フラグの説明",
  "flag_name" => "フラグ名",

  "group" => "グループ",
  "group_access" => "グループ権限",
  "group_name" => "グループ名",
  "group_description" => "グループの説明",
  "group_member" => "グループのメンバー",
  "group_system_group" => "システムグループ",

  "login" => "ログイン",
  "login_name" => "ログイン名",
  "login_password" => "パスワード",

  "mail_address" => "メールアドレス",

  "obsolete_attachment" => "用済み",
  "obsolete_custom_field" => "用済み",

  "param" => "パラメータ",

  "product" => "プロダクト",
  "product_name" => "プロダクト名",
  "product_description" => "プロダクトの説明",

  "quip" => "quip",

  "record" => "レコード",

  "sanity_check" => "sanity check",

  "search" => "検索",
  "search_term" => "検索語",
  "search_saved_search" => "保存した検索",
  "search_saved_search_creation" => "検索条件を保存",
  "search_inputs" => "検索条件",
  "search_min_votes" => "$terms.bug の最低得票数",
  "search_attachment_is_patch" => "添付はパッチ",
  "search_days_since_bug_changed" => "過去 ___ 日に変更された",
  "search_date" => "日付",

  "session" => "セッション",

  "setting" => "設定",

  "site" => "サイト",

  "sortkey" => "ソート順",

  "sudo" => "sudo",
  "sudo_session" => "sudo セッション",

  "text" => "テキスト",

  "time_tracking" => "時間追跡",
  "time_tracking_summary" => "時間追跡サマリー",
  "time_tracking_summary_report" => "時間追跡サマリーレポート",

  "token" => "トークン",

  "user" => "ユーザ",

  "whine" => "whine",
  "whine_report" => "whine レポート",

  "workflow" => "ワークフロー",

  "XXX_End_Item" => "これは最後の行に置いてください"
  }
%]

[% error_message = BLOCK %]
  [% IF    error == "account_creation_disabled" %]
    [% title = "$jawords.account_creation は無効化されています" %]
    [% jawords.account_creation %] は無効化されています。
    <hr>
    [% jawords.account_creation %] は [% jawords.admin_administrator %] が行います。
    [% jawords.admin_administrator %] [% Param("maintainer") %] に連絡してください。

  [% ELSIF error == "account_creation_restricted" %]
    [% title = "$jawords.account_creation は制限されています" %]
    [% jawords.account_creation %] は制限されています。
    <hr>
    [% jawords.admin_administrator %] もしくは [% jawords.admin_maintainer %] ([% Param("maintainer") %])
    に [% jawords.account_creation %] のための情報を問い合わせてください。

  [% ELSIF error == "account_disabled" %]
    [% title = "$jawords.account は無効です" %]
    [% disabled_reason FILTER none %]
    <hr>
    [% jawords.account %] が再度、有効化されるべきだと思う場合、
    上記にある無効化された理由に対する妥当と判断可能な理由を添付して
    [% Param("maintainer") %] までメールで申請してください。

  [% ELSIF error == "account_exists" %]
    [% title = "指定の $jawords.account は既に存在します" %]
    指定された
    [% IF email %]
      [% jawords.login_name %] ([% email FILTER html %]).
    [% ELSE %]
      [% jawords.login_name %]
    [% END %]
    の [% jawords.account %] は既に存在しています。

  [% ELSIF error == "alias_has_comma_or_space" %]
    [% title = "$jawords.bug_alias に無効な文字が含まれています" %]
    入力された [% jawords.bug_alias %] <em>[% alias FILTER html %]</em> には一つ以上のカンマ、
    もしくはスペースが含まれています。これらの文字はリストの中でのセパレータとして利用されますので、
    名称としては利用できません。カンマやスペースを含まない [% jawords.bug_alias_name %] をつけてください。

  [% ELSIF error == "alias_in_use" %]
    [% title = "$jawords.bug_alias は既に利用されています" %]
    [% terms.Bug %] [%+ bug_id FILTER bug_link(bug_id) FILTER none %]
    は既に <em>[% alias FILTER html %]</em> という [% jawords.bug_alias %] を持ちます。
    別の名称を選択してください。

  [% ELSIF error == "alias_is_numeric" %]
    [% title = "$jawords.bug_alias が数字です" %]
    この[% terms.bug %] に [% jawords.bug_alias %] <em>[% alias FILTER html %]</em> をつけようとしましたが、
    [% terms.bug %] ID と混同する可能性があるため、[% jawords.bug_alias %] は数字だけでは適用できません。
    少なくとも一文字は英文字を含む [% jawords.bug_alias %] を選択してください。

  [% ELSIF error == "alias_too_long" %]
    [% title = "$jawords.bug_alias が長すぎます" %]
    [% terms.Bug %] の [% jawords.bug_alias %] は 20 文字 (byte) 以上にはできません。
    より短いものにしてください。

  [% ELSIF error == "auth_cant_create_account" %]
    [% title = "$jawords.account を作成できません" %]
    このサイトが利用している認証サービスは、[% jawords.account_creation %] を許可していません。
    [% jawords.account_creation %] については、[% jawords.admin_administrator %] に問い合わせてください。

  [% ELSIF error == "auth_failure" %]
    [% title = "認証が必要です" %]
    [% admindocslinks = {'groups.html' => 'グループセキュリティー'} %]
    [% IF group %]
      あなたは、'[% group FILTER html %]' [% jawords.group_member %] ではありません。
    [% END %]

    [% IF reason %]
      [% IF group %] また、 [% END %]
      [% IF reason == "cant_bless" %]
        [% jawords.group %] への [% jawords.account %] の追加・削除権限がありません。
      [% ELSIF reason == "not_visible" %]
        指定された [% jawords.group %] への閲覧制限がかかっています。
      [% END %]
    [% END %]

    [% IF group || reason %] そして、 [% END %]

    [% IF object == "administrative_pages" %]
      [% jawords.admin_pages %]
    [% ELSIF object == "attachment" %]
      この [% jawords.attachment %]
    [% ELSIF object == "bugs" %]
      [%+ terms.bugs %]
    [% ELSIF object == "charts" %]
      新規 [% jawords.chart %] の追加機能
    [% ELSIF object == "classifications" %]
      [% jawords.classification %]
    [% ELSIF object == "components" %]
      [% jawords.component %]
    [% ELSIF object == "custom_fields" %]
      [% jawords.custom_field %]
    [% ELSIF object == "field_values" %]
      [% jawords.field_value %]
    [% ELSIF object == "flagtypes" %]
      [% jawords.flag_type %]
    [% ELSIF object == "group_access" %]
      [% jawords.group_access %]
    [% ELSIF object == "groups" %]
      [% jawords.group %]
    [% ELSIF object == "keywords" %]
      [% jawords.bug_keyword %]
    [% ELSIF object == "milestones" %]
      [% jawords.bug_milestone %]
    [% ELSIF object == "multiple_bugs" %]
      一度に複数の [% terms.bugs %]
    [% ELSIF object == "parameters" %]
      [% jawords.admin_param %]
    [% ELSIF object == "products" %]
      [% jawords.product %]
    [% ELSIF object == "quips" %]
      [% jawords.quip %]
    [% ELSIF object == "reports" %]
      [% jawords.whine_report %]
    [% ELSIF object == "sanity_check" %]
      [% jawords.sanity_check %]
    [% ELSIF object == "settings" %]
      [% jawords.setting %]
    [% ELSIF object == "sudo_session" %]
      [% jawords.sudo_session %]
    [% ELSIF object == "timetracking_summaries" %]
      [% jawords.time_tracking_summary_report %]
    [% ELSIF object == "user" %]
      指定した [% jawords.user %]
    [% ELSIF object == "users" %]
      [% jawords.user %]
    [% ELSIF object == "versions" %]
      [% jawords.bug_version %]
    [% ELSIF object == "workflow" %]
      [% jawords.workflow %]
    [% END %]

    [% IF action == "access" %]
      閲覧
    [% ELSIF action == "add" %]
      新規登録
    [% ELSIF action == "begin" %]
      開始
    [% ELSIF action == "modify" %]
      編集
    [% ELSIF action == "delete" %]
      削除
    [% ELSIF action == "edit" %]
      追加、編集、削除
    [% ELSIF action == "move" %]
      移動
    [% ELSIF action == "run" %]
      実行
    [% ELSIF action == "schedule" %]
      スケジューリング
    [% ELSIF action == "use" %]
      利用
    [% END %]

    は許可されていません。

    [% Hook.process("auth_failure") %]

  [% ELSIF error == "attachment_deletion_disabled" %]
    [% title = "$jawords.attachment の削除はできません" %]
    この [% jawords.site %] では [% jawords.attachment %] は削除できません。

  [% ELSIF error == "attachment_removed" %]
    [% title = "$jawords.attachment は削除されました" %]
    削除しようとした [% jawords.attachment %] は既に削除されています。

  [% ELSIF error == "bug_access_denied" %]
    [% title = "アクセスは拒否されました" %]
    [% admindocslinks = {'groups.html' => 'グループセキュリティー'} %]
    あなたの [% jawords.account %] には
    [% terms.bug %] #[% bug_id FILTER html %] へアクセスする権限がありません。

  [% ELSIF error == "bug_access_query" %]
    [% title = "アクセスは拒否されました" %]
    [% docslinks = {'myaccount.html' => 'アカウント作成'} %]
    あなたの [% jawords.account %] には
    [% terms.bug %] #[% bug_id FILTER html %] へアクセスする権限がありません。
    この [% terms.bug %] を見るには、まず必要な権限を持った
    <a href="show_bug.cgi?id=
                   [% bug_id FILTER url_quote %]&amp;GoAheadAndLogIn=1">
    [% jawords.account %] で [% jawords.login %]</a> してください。

  [% ELSIF error == "buglist_parameters_required" %]
    [% title = "$jawords.search_term が入力されていません" %]
    [% docslinks = {'query.html' => "$terms.bugs の検索",
                    'query.html#list' => "$terms.Bug リスト"} %]
    [% jawords.search_term %] 無しでは、[% jawords.search %]
    や [%jawords.search_saved_search_creation %] はできません。

  [% ELSIF error == "chart_too_large" %]
    [% title = "%jawords.chart が大きすぎます" %]
    [% jawords.chart %] の最大サイズは 2000 &times; 2000 に制限されています。

  [% ELSIF error == "comment_invalid_isprivate" %]
    [% jawords.bug_comment %] [% id FILTER html %] の [% jawords.bug_privacy %]
    を変更しようとしましたが、
    [% terms.bug %] の妥当な [% jawords.bug_comment %] ID ではありません。

  [% ELSIF error == "comment_required" %]
    [% title = "$jawords.bug_comment をつけてください" %]
    [% IF old && new %]
      [% terms.abug %] の [% jawords.bug_status %] を
      [%+ old.name FILTER html %] から [% new.name FILTER html %]
      に変更する場合、<b>[% jawords.bug_comment %]</b>
    [% ELSIF new %]
      この [% terms.bug %] の [% jawords.bug_enter_description %]
    [% ELSE %]
      この変更に関する <b>[% jawords.bug_comment %]</b>
    [% END %]
    を記述する必要があります。

  [% ELSIF error == "comment_too_long" %]
    [% title = "$jawords.bug_comment が長すぎます" %]
    [% jawords.bug_comment %] は 65,535 文字以上にはできません。

  [% ELSIF error == "auth_classification_not_enabled" %]
    [% title = "指定された $jawords.classification は無効です" %]
    [% jawords.classification %] は無効です。

  [% ELSIF error == "classification_not_specified" %]
    [% title = "$jawords.classification 名を指定してください" %]
    [% jawords.classification %] 名を入力してください。

  [% ELSIF error == "classification_already_exists" %]
    [% title = "指定された $jawords.classification が既に存在しています" %]
    '[% name FILTER html %]' の [$ jawords.classification %] は既に存在しています。

  [% ELSIF error == "classification_doesnt_exist" %]
    [% title = "指定された $jawords.classification は存在していません" %]
    指定した [% jawords.classification %] '[% name FILTER html %]' は存在していません。

  [% ELSIF error == "classification_doesnt_exist_for_product" %]
    [% title = "指定された $jawords.classification は指定の $jawords.product に対して存在していません" %]
    [% jawords.classification %] '[% classification FILTER html %]' は
    [% jawords.product %] '[% product FILTER html %]' には存在していません。

  [% ELSIF error == "classification_invalid_sortkey" %]
    [% title = "$jawords.classification の $jawords.sortkey が無効です" %]
    [% jawords.classification %] '[% name FILTER html %]' には
    [% jawords.sortkey %] として <em>[% sortkey FILTER html %]</em> は利用できません。
    正の整数である必要があります。

  [% ELSIF error == "classification_not_deletable" %]
    [% title = "既定の $jawords.classification は削除できません" %]
    既定の [% jawords.classification %] は削除できません。

  [% ELSIF error == "classification_has_products" %]
    この [% jawords.classification %] には [% jawords.product %] が登録されています。
    削除するには、これらの [% jawords.product %] を他の [% jawords.classification %] に移動してください。

  [% ELSIF error == "component_already_exists" %]
    [% title = "指定された $jawords.component は既に存在しています" %]
    指定された [% jawords.component_name %] <em>[% name FILTER html %]</em>
    は [% jawords.product %] <em>[% product.name FILTER html %]</em>
    に既に存在しています。

  [% ELSIF error == "component_blank_description" %]
    [% title = "$jawords.component_description を入力してください" %]
    [% jawords.component_description %] は必須項目です。

  [% ELSIF error == "component_blank_name" %]
    [% title = "$jawords.component_name を入力してください" %]
    [% jawords.component_name %] は必須項目です。

  [% ELSIF error == "component_has_bugs" %]
    [% title = BLOCK %]指定された [% jawords.component %] には [% terms.bugs %] が存在します[% END %]
    この [% jawords.component %] には [% nb FILTER html %] [%+ terms.bugs %] が存在します。
    削除するには [% terms.bugs %] を他の [% jawords.component %] に移動してください。

  [% ELSIF error == "component_name_too_long" %]
    [% title = "$jawords.component_name が長すぎます" %]
    [% jawords.component_name %] は 64 文字以上にはできません。
    '[% name FILTER html %]' は長すぎます ([% name.length %] 文字入力されています)。

  [% ELSIF error == "component_need_initialowner" %]
    [% title = "$jawords.component には既定の担当者が必要です" %]
    [% jawords.component %] には [% jawords.default_assignee %] が必要です。

  [% ELSIF error == "customfield_nonexistent" %]
    [% title = "定義されていない $jawords.custom_field" %]
    定義されていない [% jawords.custom_field %] '[% name FILTER html %]' が存在します。

  [% ELSIF error == "customfield_not_obsolete" %]
    [% title = "$jawords.custom_field が \"$jawords.obsolete_custom_field\" に設定されていません" %]
    [% jawords.custom_field %] '[% name FILTER html %]' は "[% jawords.obsolete_custom_field %]" に設定されていません。
    削除する前に "[% jawords.obsolete_custom_field %]" に設定してください。

  [% ELSIF error == "customfield_has_activity" %]
    [% title = "指定された $jawords.custom_field は利用されています" %]
    [% jawords.custom_field %] '[% name FILTER html %]' は [% jawords.bug_history %]
    に記録されているため、削除できません。

  [% ELSIF error == "customfield_has_contents" %]
    [% title = "指定された $jawords.custom_field に情報が残っています" %]
    [% jawords.custom_field %] '[% name FILTER html %]' に情報を保存している
    [% terms.bug %] があるため、削除できません。

  [% ELSIF error == "dependency_loop_multi" %]
    [% title = "$jawords.dependency 関係がループしています" %]
    次の変更が加えられた場合、
    以下の [% terms.bug %] は [% jawords.dependency %] 関係の
    "[% jawords.bug_depends_on %]" "[% jawords.bug_blocks %]"
    の両方に含まれることになります。
    [% FOREACH dep = deps %]
      [%+ dep FILTER bug_link(dep) FILTER none %]
    [% END %].
    これは [% jawords.dependency %] 関係のループを作ることになり、許可できません。

  [% ELSIF error == "dependency_loop_single" %]
    [% title = "$jawords.dependency 関係のループが検出されました" %]
    [% terms.abug %] を自分自身に "[% jawords.bug_depends_on %]" もしくは "[% jawords.bug_blocks %]" ことはできません。

  [% ELSIF error == "dupe_id_required" %]
    [% title = "$jawords.duplicate_target の $terms.Bug ID が入力されていません" %]
    この [% terms.bug %] の [% jawords.duplicate_target %] となる [% terms.abug %] ID が入力されていません。

  [% ELSIF error == "dupe_not_allowed" %]
    [% title = "$terms.bugs を $jawords.duplicate にできません" %]
    複数の [% terms.bugs %] を更新する際に、[% terms.bugs %] を [% jawords.duplicate %] にはできません。

  [% ELSIF error == "dupe_loop_detected" %]
    [% title = "$jawords.duplicate 関係にループがあります" %]
    [% terms.bug %] [%+ bug_id FILTER html %] を、
    [% IF dupe_of == bug_id %]
      自分自身の
    [% ELSE %]
      [% jawords.duplicate %] 関係のループが出来るため
      [%+ terms.bug %] [%+ dupe_of FILTER html %]の
    [% END %]
    [% jawords.duplicate %] にはできません。

  [% ELSIF error == "email_change_in_progress" %]
    [% title = "$account_mail_address の変更は既に申請されています" %]
    [% jawords.account_mail_address %] の変更は既に申請されています。
    入力した [% jawords.account_mail_address %] のメールボックスを確認してください。

  [% ELSIF error == "email_confirmation_failed" %]
    [% title = "$jawords.account_mail_address の確認に失敗しました" %]
    [% jawords.account_mail_address %] 確認の手続きが失敗に終わりました。

  [% ELSIF error == "email_no_text_plain" %]
    あなたのメッセージは空です。[% terms.Bugzilla %] は HTML のみのメールや、
    添付ファイル付きの HTML メールは受け付けません。

  [% ELSIF error == "empty_group_description" %]
    [% title = "$jawords.group_description を入力してください" %]
    [% jawords.group_description %] は必須項目です。

  [% ELSIF error == "empty_group_name" %]
    [% title = "$jawords.group_name を入力してください" %]
    [% jawords.group_name %] は必須項目です。
  
  [% ELSIF error == "entry_access_denied" %]
    [% title = "権限がありません" %]
    [% admindocslinks = {'groups.html' => 'グループセキュリティー'} %]
    <em>[% product FILTER html %]</em> は存在しないか、
    あなたのアカウントはこの [% jawords.product %] に
    [% terms.abug %] を登録する権限がありません。

  [% ELSIF error == "field_already_exists" %]
    [% title = "指定された $jawords.field_name は既に存在しています" %]
    [% jawords.field %] '[% field.name FILTER html %]' 
    ([% field.description FILTER html %]) は既に存在しています。
    別の [% jawords.field_name %] を選択してください。

  [% ELSIF error == "field_invalid_name" %]
    [% title = "無効な $jawords.field_name です" %]
    '[% name FILTER html %]' は [% jawords.field_name %] としては無効です。
    英文字、数字、アンダースコア (_) のみが利用可能です。

  [% ELSIF error == "field_invalid_sortkey" %]
    [% title = "$jawords.field の $jawords.sortkey が無効です" %]
    指定された [% jawords.sortkey %] [% sortkey FILTER html %] は妥当な正の整数ではありません。

  [% ELSIF error == "field_missing_description" %]
    [% title = "$jawords.field_description を入力してください" %]
    [% jawords.field_description %] は必須項目です。

  [% ELSIF error == "field_missing_name" %]
    [% title = "$jawords.field_name を入力してください" %]
    [% jawords.field_name %] は必須項目です。

  [% ELSIF error == "fieldname_invalid" %]
    [% title = "指定された $jawords.field は存在しません" %]
    [% jawords.field %] '[% field FILTER html %]' は存在しないか、
    このインターフェースでは編集できません。

  [% ELSIF error == "fieldname_not_specified" %]
    [% title = "$jawords.field_name が指定されていません" %]
    編集しようとする [% jawords.field_name %] が指定されていません。

  [% ELSIF error == "fieldvalue_already_exists" %]
    [% title = "指定された $jawords.field_value は既に存在しています" %]
    [% jawords.field %] '[%- field.description FILTER html %]' には既に値として
    '[% value FILTER html %]' は存在しています。

  [% ELSIF error == "fieldvalue_doesnt_exist" %]
    [% title = "指定された $jawords.field_value は存在しません" %]
    [% jawords.field %] '[% field FILTER html %]' には
    [% jawords.field_value %] として
    '[% value FILTER html %]' は存在しません。

  [% ELSIF error == "fieldvalue_is_default" %]
    [% title = "指定された $jawords.field_value は既定値です" %]
    '[% value FILTER html %]' は [% jawords.field%] '[% field.description FILTER html %]'
    の [% jawords.field_default_value %] ですので削除できません。
    [% IF user.groups.tweakparams %]
      先に [% jawords.field_default_value %] を
      <a href="editparams.cgi?section=bugfields#
      [%- param_name FILTER url_quote %]">変更</a> する必要があります。
    [% END %]

  [% ELSIF error == "fieldvalue_name_too_long" %]
    [% title = "$jawords.field_value が長すぎます" %]
    [% jawords.field_value %] は 60 文字に制限されています。
    '[% value FILTER html %]' は長すぎます ([% value.length %] 文字入力されています)。

  [% ELSIF error == "fieldvalue_not_editable" %]
    [% title = "指定された $jawords.field_value は編集できません" %]
    [% jawords.field %] '[% field.description FILTER html %]' で特殊な役割を担っているため、
    [% jawords.field_value %] '[% old_value FILTER html %]' は変更できません。

  [% ELSIF error == "fieldvalue_not_deletable" %]
    [% title = "指定された $jawords.field_value は削除できません" %]
    [% jawords.field %] '[% field.description FILTER html %]' で特殊な役割を担っているため、
    [% jawords.field_value %] '[% value FILTER html %]' は削除できません。

  [% ELSIF error == "fieldvalue_not_specified" %]
    [% title = "$jawords.field_value が指定されていません" %]
    [% jawords.field_value %] を編集しようとしましたが、[% jawords.field_value %] が指定されていません。

  [% ELSIF error == "fieldvalue_reserved_word" %]
    [% title = "指定された $jawords.field_value は予約されています" %]
    [% jawords.field %] '[% field.description FILTER html %]' に
    [% jawords.field_value %] '[% value FILTER html %]' は使えません。
    指定された [% jawords.field_value %] はシステム内部で予約されています。
    他の [% jawords.field_value %] を選択してください。

  [% ELSIF error == "fieldvalue_sortkey_invalid" %]
    [% title = "$jawords.field_value の $jawords.sortkey が無効です" %]
    [% jawords.field %] '[% name FILTER html %]' に指定された [% jawords.sortkey %]
    '[% sortkey FILTER html %]' は妥当な正の整数ではありません。

  [% ELSIF error == "fieldvalue_still_has_bugs" %]
    [% title = "指定された $jawords.field_value は削除できません" %]
    [%+ count FILTER html %] [%+ terms.bugs %] で使用されているため、
    [% jawords.field %] '[% field FILTER html %]' から [% jawords.field_value %]
    '[% value FILTER html %]' を削除できません。

  [% ELSIF error == "fieldvalue_undefined" %]
    [% title = "未定義の $jawords.field_value は許可されていません" %]
    [% jawords.field_value %] を指定する必要があります。

  [% ELSIF error == "file_not_specified" %]
    [% title = "$jawords.attachment_file が指定されていません" %]
    [% jawords.attachment_file %] が指定されていません。

  [% ELSIF error == "file_too_large" %]
    [% title = "$jawords.attachment_file が大きすぎます" %]
    アップロードしようとした [% jawords.attachment_file %] は
    [% filesize FILTER html %] KB あります。
    [% jawords.attachment_patch %] 以外の [% jawords.attachment_file %] は
    [%+ Param('maxattachmentsize') %] KB を超えることはできません。 <br>
    [% jawords.attachment_file %] をウェブのどこかに保存して、
    [% IF Param("allow_attach_url") %]
      URL を [% jawords.attachment_creation_page %] の
      <b>[% jawords.attachment_url %]</b> に指定してください。
    [% ELSE %]
      URL を [% jawords.attachment_comment %] に、
      もしくは [% terms.bug %] の [% jawords.bug_url %] に入力してください。
    [% END %]
    <br>また、[% jawords.attachment_file %] が画像ファイルなら、圧縮形式、
    たとえば JPG や PNG などの形式に変換してもう一度試してください。

  [% ELSIF error == "flag_not_multiplicable" %]
    [% docslinks = {'flags-overview.html' => 'フラグの説明',
                    'flags.html' => 'フラグの利用方法'} %]
    複数の人に対して同時に <em>[% type.name FILTER html %]</em>
    [% jpwords.flag %] を [% jpwords.flag_request %] することはできません。

  [% ELSIF error == "flag_requestee_needs_privs" %]
    [% title = "$jpwords.flag の $jpwords.flag_request_target のアカウントに権限が必要です" %]
    [% requestee.identity FILTER html %] は <em>[% flagtype.name FILTER html %]</em>
    [% jpwords.flag %] を設定する権限を持っていません。<em>[% flagtype.grant_group.name FILTER html %]</em>
    [% jpwords.group %] に所属する [% jpwords.user %] を選択してください。

  [% ELSIF error == "flag_requestee_unauthorized" %]
    [% title = "$jpword.flag の $jpwords.flag_request_target の $jpwords.account は認証されていません" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'フラグ管理',
                         'groups.html' => 'グループセキュリティー'} %]
    [% docslinks = {'flags-overview.html' => 'フラグの説明',
                    'flags.html' => 'フラグの利用方法'} %]

    [% terms.bug %] [%+ bug_id FILTER html -%]
    [% IF attach_id && attach_id > 0 %] の [% jpwords.attachment %] [% attach_id FILTER html %][% END %]
    で <code>[% flag_type.name FILTER html %]</code> [% jpwords.flag %] を
    [% requestee.identity FILTER html %] に [% jpwords.flag_request %] しましたが、
    この [% terms.bug %] へのアクセスは特定の [% jpwords.group %] に制限されていますが、
    指定された [% jpwords.user %] は [% terms.bug %] にアクセスできる
    [% jpwords.group %] に所属していません。
    [% jpwords.flag_request_target %] を他のユーザにするか、[% jpwords.bug_cc_list %] の
    [% jpwords.user %] が [% terms.bug %] にアクセスできるようにして、
    その人を [% jpwords.bug_cc_list %] に追加してください。

  [% ELSIF error == "flag_requestee_unauthorized_attachment" %]
    [% title = "$jpwords.flag の $jpwords.flag_request_target の $jpwords.account は認証されていません" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'フラグ管理',
                         'groups.html' => 'グループセキュリティー'} %]
    [% docslinks = {'flags-overview.html' => 'フラグの説明',
                    'flags.html' => 'フラグの利用方法'} %]

    [%+ terms.bug %] [%+ bug_id FILTER html %] の [% jpwords.attachment %]
    [% attach_id FILTER html %] で
    <code>[% flag_type.name FILTER html %]</code> [% jpwords.flag %] を
    [% requestee.identity FILTER html %] に [% jpwords.flag_request %] しましたが、
    その [% jpwords.attachment %] は
    [% Param("insidergroup") FILTER html %] [% jpwords.group %] の
    [% jpwords.user %] に制限されていて、
    [% jpwords.flag_request_target %] の [% jpwords.user %]
    はこの [% jpwords.group %] に所属していません。
    [% jpwords.flag_request_target %] を他の [% jpwords.user %] にするか、
    [% jpwords.user %] を [% jpwords.group %] に追加するように
    [% jpwords.admin_administrator %] に依頼してください。

  [% ELSIF error == "flag_type_cc_list_invalid" %]
    [% title = "$jpwords.flag の $jpwords.bug_cc_list が適当ではありません" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'フラグ管理'} %]
    [% jpwords.bug_cc_list %] [% cc_list FILTER html %] は 200 文字以下でなければいけません。

  [% ELSIF error == "flag_type_component_without_product" %]
    [% title = "$jpwords.product が指定されていません" %]
    [% jpwords.component %] が選択されていますが、
    [% jpwords.product %] が選択されていません。

  [% ELSIF error == "flag_type_description_invalid" %]
    [% title = "$jpwords.flag_description が適当ではありません" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'フラグ管理'} %]
    [% jpwords.flag_description %] は 32KB 以内でなければいけません (日本語で約一万文字)。

  [% ELSIF error == "flag_type_name_invalid" %]
    [% title = "$jpwords.flag_name が適当ではありません" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'フラグ管理'} %]
    [% jpwords.flag_name %] <em>[% name FILTER html %]</em> は 1 ～ 50 文字で、
    スペースやカンマを含むことはできません。

  [% ELSIF error == "flag_update_denied" %]
    [% title = "$jpwords.flag の編集が拒否されました" %]
    [% admindocslinks = {'flags-overview.html#flags-admin'  => 'フラグ管理',
                         'groups.html' => 'グループセキュリティー'} %]
    [% docslinks = {'flags-overview.html' => 'フラグの説明',
                    'flags.html' => 'フラグの利用方法'} %]
    [% jpwords.flag %]
    [% IF status == "+" %]
      [% jpwords.flag_grant %]
    [% ELSIF status == "-" %]
      [% jpwords.flag_deny %]
    [% ELSIF status == "X" %]
      [% jpwords.flag_cancel %]
    [% ELSE %]
      [% jpwords.flag_request %]
    [% END %]
    を
    <code>[% name FILTER html %]
          [% IF status == "X" %][% old_status FILTER html %][% END %]</code>
    へ行おうとしました。

    権限を持つ [% jpwords.user %] のみがこの操作が可能です。

  [% ELSIF error == "format_not_found" %]
    [% title = "Format Not Found" %]
    The requested format <em>[% format FILTER html %]</em> does not exist with
    a content type of <em>[% ctype FILTER html %]</em>.
    
  [% ELSIF error == "flag_type_sortkey_invalid" %]
    [% title = "$jpwords.flag の $jpwords.sortkey が無効です" %]
    [% jpwords.flag %] の [% jpwords.sortkey %] は 0 ～ 32767 の整数でなくてはいけません。
    <em>[% sortkey FILTER html %]</em> には設定できません。

  [% ELSIF error == "freetext_too_long" %]
    [% title = "$jpwords.text が長すぎます" %]
    入力された [% jpwords.text %] が長すぎます
    (最長、[% constants.MAX_FREETEXT_LENGTH FILTER none %] ですが、
    [% text.length FILTER html %] 文字入力されています):
    <p><em>[% text FILTER html %]</em></p>

  [% ELSIF error == "group_cannot_delete" %]
    [% title = "$jpwords.group を削除できません" %]
    <em>[% name FILTER html %]</em> [% jpwords.group %] は削除できません。
    データベース中で以下の
    <a href="editgroups.cgi?action=del&amp;group=[% gid FILTER url_quote %]">[% jpwords.record %]</a>
    から参照されています。
    先にこの [% jpwords.group %] への全ての参照を削除してください。

  [% ELSIF error == "group_change_denied" %]
    [% title = "$jpwords.group を追加、または削除できません" %]
    $jpwords.group ID [% group_id FILTER html %] を
    [% terms.bug %] [%+ bug.id FILTER html %]
    から削除しようとしましたが、あなたはこの権限を持っていません。

  [% ELSIF error == "group_exists" %]
    [% title = "$jpwords.group は既に存在しています" %]
    [% jpwords.group %] [% name FILTER html %] は既に存在しています。

  [% ELSIF error == "group_has_special_role" %]
    [% title = "$jpwords.group を削除できません" %]
    [% jpwords.group %] '[% name FILTER html %]' は
    '[% groups.join("' and '") FILTER html %]' の [% jpwords.param %] で利用されています。
    この [% jpwords.group %] を削除するには、先に他の [% jpwords.group %]
    を参照するように [% jpwords.param %] を変更してください。

  [% ELSIF error == "group_invalid_removal" %]
    [% jpwords.group %] ID [% group_id FILTER html %] から
    [% terms.bug %] [%+ bug.id FILTER html %] を削除しようとしましたが、
    [% jpwords.product %] '[% product FILTER html %]' の [% terms.bugs %]
    はその [% jpwords.group %] から削除できません。

  [% ELSIF error == "group_invalid_restriction" %]
    [% terms.bug %] [%+ bug.id FILTER html %] を
    [% jpwords.group %] ID [% group_id FILTER html %] に制限しようとしましたが、
    '[% product FILTER html %]' [% jpwords.product %] の [% terms.bugs %]
    を指定された [% jpwords.group %] に制限することはできません。

  [% ELSIF error == "group_not_specified" %]
    [% title = "$jpwords.group が指定されていません" %]
    [% jpwords.group %] が指定されていません。

  [% ELSIF error == "system_group_not_deletable" %]
    [% title = "$jpwords.group_system_group は削除できません" %]
    <em>[% name FILTER html %]</em> は [% jpwords.group_system_group %] です。
    この [% jpwords.group %] は削除できません。

  [% ELSIF error == "group_unknown" %]
    [% title = "不明な $jpwords.group" %]
    [% jpwords.group %] [% name FILTER html %] は存在していません。
    有効な [% jpwords.group_name %] を指定してください。
    必要なのであれば、先に作ってください。

  [% ELSIF error == "illegal_at_least_x_votes" %]
    [% title = "指定された [% jpwords.search_inputs %] が無効です" %]
    <em>[% jpwords.search_min_votes %]</em> のフィールドは単純な数字でなくてはいけません。
    指定された <tt>[% value FILTER html %]</tt> は適当ではありません。
    
  [% ELSIF error == "illegal_attachment_edit" %]
    [% title = "認証されていない操作です" %]
    [% jpwords.attachment %] [% attach_id FILTER html %] を編集する権限がありません。

  [% ELSIF error == "illegal_attachment_edit_bug" %]
    [% title = "認証されていない操作です" %]
    [% terms.bug %] [%+ bug_id FILTER html %] の
    [% jpwords.attachment %] を編集する権限がありません。
         
  [% ELSIF error == "illegal_attachment_is_patch" %]
    [% title = "指定された $jpwords.search_inputs が無効です" %]
    <em>[% jpwords.search_attachment_is_patch %]</em> の [% jpwords.field %] の有効な値は 0 と 1 のみです。

  [% ELSIF error == "illegal_bug_status_transition" %]
    [% title = "$terms.bug $jpwords.bug_status の変更はできません" %]
    [% IF old.defined %]
      あなたは [% terms.bug %] [% jpwords.bug_status %] を
      [%+ old.name FILTER html %] から
      [% new.name FILTER html %] に変更することは許可されていません。
    [% ELSE %]
      あなたは [%+ new.name FILTER html %] [% jpwords.bug_status %] で
      [% terms.bugs %] を新規登録することはできません。
    [% END %]

  [% ELSIF error == "illegal_change" %]
    [% title = "許可されていない変更を行おうとしました" %]
    <strong>[% field_descs.$field FILTER html %]</strong> の [% jpwords.field %] を
    [% IF oldvalue.defined %]
      <em>[% oldvalue.join(', ') FILTER html %]</em> から
    [% END %]
    [% IF newvalue.defined %]
      <em>[% newvalue.join(', ') FILTER html %]</em> へ
    [% END %]
    変更しようとしましたが、
    [% IF privs < 3 %]
      [% terms.bug %] の [% jpwords.bug_assignee %]
      [% IF privs < 2 %] もしくは [% jpwords.bug_reporter %] [% END %]
      もしくは
    [% END %]
    権限を持つ [% jpwords.user %] のみが [% jpwords.field %] を変更できます。

  [% ELSIF error == "illegal_change_deps" %]
    [% title = "許可されていない変更を行おうとしました" %]
    <strong>[% field_descs.$field FILTER html %]</strong>
    [% jpwords.field %] を変更しようとしましたが、変更を受ける全ての
    [% terms.bugs %] の変更権限がある [% jpwords.user %] のみが、この [% jpwords.field %] を変更できます。

  [% ELSIF error == "illegal_changed_in_last_x_days" %]
    [% title = "指定された $jpwords.search_inputs が無効です" %]
    <em>[% jpwords.search_days_since_bug_changed %]</em> の
    [% jpwords.field %] は単純な数字でなくてはいけません。
    指定された <tt>[% value FILTER html %]</tt> は適当ではありません。
    
  [% ELSIF error == "illegal_date" %]
    [% title = "指定された $jpwords.search_date は無効です" %]
    '<tt>[% date FILTER html %]</tt>' は有効な [% jpwords.date %] ではありません。
    [% IF format %]
      '<tt>[% format FILTER html %]</tt>' の形式で入力してください。
    [% END %]
    
  [% ELSIF error == "illegal_email_address" %]
    [% title = "指定された $jpwords. は無効です" %]
    指定された [% jpwords.mail_address %] (<b>[% addr FILTER html %]</b>) 
    は、[% jpwords.mail_address %] の文法検査で無効だと判断されました。
    [% IF default %]
      有効な [% jpwords.mail_address %] は、'@' を一つだけ含み、'.' を '@'
      の後ろに最低一つは含まなくてはいけません。
    [% ELSE %]
      [%+ Param('emailregexpdesc') %]
    [% END %]
    また、<tt>\ ( ) &amp; &lt; &gt; , ; : &quot; [ ]</tt>
    や空白文字(スペース等)を含むことはできません。

  [% ELSIF error == "illegal_frequency" %]
    [% title = "指定された更新頻度は高すぎます" %]
    なたが管理者ではないのであれば、[% minimum FILTER html %]
    日に一度以上の頻度で動作する series は作成できません。

  [% ELSIF error == "illegal_group_control_combination" %]
    [% title = "グループ制限の組み合わせが無効です" %]
    [% admindocslinks = {'groups.html' => 'プロダクトのグループの割り当て'} %]
    グループの組み合わせ &quot;[% groupname FILTER html %]&quot; は無効です。

  [% ELSIF error == "illegal_is_obsolete" %]
    [% title = "指定された検索条件が無効です" %]
    <em>添付が用済みであるかどうか</em> のフィールドの有効な値は 0 と 1のみです。

  [% ELSIF error == "illegal_query_name" %]
    [% title = "指定された検索名は無効です" %]
    検索の名前には次の文字を含むことはできません。
    &lt;, &gt;, &amp;.

  [% ELSIF error == "illegal_series_creation" %]
    [% admindocslinks = {'groups.html' => 'グループ権限'} %]
    [% docslinks = {'reporting.html' => 'レポート'} %]
    series を作成する権限がありません。
        
  [% ELSIF error == "illegal_series_edit" %]
    [% admindocslinks = {'groups.html' => 'グループ権限'} %]
    [% docslinks = {'reporting.html' => 'レポート'} %]
    この series を編集する権限がありません。
    実行には作成者であるか、管理者権限が必要です。

  [% ELSIF error == "illegal_time" %]
    [% title = "指定された時刻は無効です" %]
    '<tt>[% time FILTER html %]</tt>' は有効な時刻ではありません。
    [% IF format %]
      '<tt>[% format FILTER html %]</tt>' の形式で入力してください。
    [% END %]
        
  [% ELSIF error == "insufficient_data_points" %]
    [% docslinks = {'reporting.html' => 'レポート'} %]
    グラフを作成するために十分なデータが (まだ) ありません。

  [% ELSIF error == "invalid_attach_id" %]
    [% title = "添付 ID が無効です" %]
    添付 ID [% attach_id FILTER html %] が無効です。

  [% ELSIF error == "bug_id_does_not_exist" %]
    [% title = BLOCK %][% terms.Bug %] ID が無効です[% END %]
    [% terms.Bug %] #[% bug_id FILTER html %] は存在しません。

  [% ELSIF error == "improper_bug_id_field_value" %]
    [% title = BLOCK %]
      [% terms.Bug %] ID が[% IF bug_id %]無効です[% ELSE %]存在しません[% END %]
    [% END %]
    [% IF bug_id %]
      '[% bug_id FILTER html %]' は有効な [% terms.bug %] 番号
      [% IF Param("usebugaliases") %]
        もしくは [% terms.abug %] へのエイリアス
      [% END %] ではありません。
    [% ELSE %]
      [% IF field %]
        '[% field_descs.$field FILTER html %]' フィールドが空です。
      [% END %]
      適当な [% terms.bug %] 番号を入力してください。
    [% END %]

  [% ELSIF error == "invalid_changedsince" %]
    [% title = "'期間中に変更された' が無効です" %]
    '期間に変更された' の値 '[% changedsince FILTER html %]' は 0 以上の整数でなくてはいけません。

  [% ELSIF error == "invalid_content_type" %]
    [% title = "Content-Type が無効です" %]
    Content-Type <em>[% contenttype FILTER html %]</em> は無効です。
    Content-Type は <em>foo/bar</em> の形式で、<em>foo</em> には
    <em>application, audio, image, message, model, multipart, text, video</em>
    のいずれかでなくてはいけません。
    
  [% ELSIF error == "invalid_context" %]
    [% title = "コンテキストが無効です" %]
    コンテキスト [% context FILTER html %] は無効です (有効な値は数値か、
    "file" もしくは "patch" です)。

  [% ELSIF error == "invalid_datasets" %]
    [% title = "データセットが無効です" %]
    データセット <em>[% datasets FILTER html %]</em> は無効です。
    数値、文字、コロンのみが利用できます。

  [% ELSIF error == "invalid_format" %]
    [% title = "フォーマットが無効です" %]
    フォーマット "[% format FILTER html %]" は無効です (
    [% FOREACH my_format = formats %]
      "[% my_format FILTER html %]"
    [% END %]
    のいずれかでなければいけません)。

  [% ELSIF error == "invalid_group_ID" %]
    [% title = "指定されたグループ ID が無効です" %]
    指定されたグループは存在しません。

  [% ELSIF error == "invalid_group_name" %]
    [% title = "指定されたグループ名が無効です" %]
    指定されたグループ [% name FILTER html %] はここでは有効ではありません。

  [% ELSIF error == "invalid_maxrows" %]
    [% title = "最大行数が無効です" %]
    最大行数 '[% maxrows FILTER html %]' は無効です。
    正の整数でなくてはいけません。

  [% ELSIF error == "invalid_parameter" %]
    [% title = "パラメータが無効です" %]
    指定された値 [% name FILTER html %] は無効です: [% err FILTER html %].

  [% ELSIF error == "invalid_product_name" %]
    [% title = "プロダクト名が無効です" %]
    プロダクト名 '[% product FILTER html %]' は無効か存在しません。

  [% ELSIF error == "invalid_regexp" %]
    [% title = "無効な正規表現です" %]
    指定された正規表現は無効です。

  [% ELSIF error == "invalid_user_group" %]
    [% title = "ユーザグループは無効です" %]
    ユーザ '[% users.join(', ') FILTER html %]' は
    [% IF bug_id %]
      [% terms.bug %] '[% bug_id FILTER html %]' の
    [% ELSIF new %]
      新規 [% terms.bug %] に含めたり、
    [% ELSE %]
      変更しようとしている [% terms.bug %] 全ての
    [% END %]
    [% IF product %]
      '[% product FILTER html %]'
    [% END %]
    [%+ field_descs.product FILTER html %]
    を編集することはできません。

  [% ELSIF error == "invalid_username" %]
    [% title = "ユーザ名が無効です" %]
    <tt>[% name FILTER html %]</tt> は有効なユーザ名ではありません。
    ユーザ名を間違えているか、まだ [% terms.Bugzilla %]
    アカウントを作成していない可能性があります。

  [% ELSIF error == "invalid_username_or_password" %]
    [% title = "ユーザ名、もしくはパスワードが無効です" %]
    指定されたユーザ名、もしくはパスワードが無効です。

  [% ELSIF error == "keyword_already_exists" %]
    [% title = "指定されたキーワードは既に存在しています" %]
    [% name FILTER html %] という名前のキーワードは既に存在しています。

  [% ELSIF error == "keyword_blank_description" %]
    [% title = "キーワードの説明を入力してください" %]
    キーワードの説明は必須項目です。
     
  [% ELSIF error == "keyword_blank_name" %]
    [% title = "キーワード名を入力してください" %]
    キーワード名は必須項目です。
     
  [% ELSIF error == "keyword_invalid_name" %]
    [% title = "キーワード名が無効です" %]
    キーワード名にはカンマやスペースは利用できません。
     
  [% ELSIF error == "local_file_too_large" %]
    [% title = "ローカルファイルのサイズが大きすぎます" %]
    アップロードするファイルは
    [% Param('maxlocalattachment') %] MB 以下でなくてはいけません。

  [% ELSIF error == "login_needed_for_password_change" %]
    [% title = "ログイン名を入力してください" %]
    パスワード変更時にはログイン名を入力する必要があります。

  [% ELSIF error == "login_required_for_pronoun" %]
    [% title = "Login Name Required" %]
    検索 %user% はログインしなければ利用できません。
    %user% はあなたのログイン名を参照する必要がありますが、それができません。

  [% ELSIF error == "milestone_already_exists" %]
    [% title = "指定されたマイルストーンは既に存在しています" %]
    [% admindocslinks = {'products.html' => 'プロダクトの管理',
                         'milestones.html' => 'マイルストーン'} %]
    マイルストーン '[% name FILTER html %]' は プロダクト
    '[%- product FILTER html %]' に既に存在しています。

  [% ELSIF error == "milestone_blank_name" %]
    [% title = "マイルスートン名を入力してください" %]
    マイルストーン名は必須項目です。

  [% ELSIF error == "milestone_is_default" %]
    [% title = "既定のマイルストーンは削除できません" %]
    [% admindocslinks = {'products.html' => 'プロダクトの管理',
                         'milestones.html' => 'マイルストーン'} %]
    [% milestone.name FILTER html %] は '[% milestone.product.name FILTER html %]'
    の既定のマイルストーンです。そのため、削除することができません。

  [% ELSIF error == "milestone_name_too_long" %]
    [% title = "マイルストーン名が長すぎます" %]
    マイルストーン名は 20 文字以内でなくてはいけません。
    '[% name FILTER html %]' は長すぎます ([% name.length %] 文字です).

  [% ELSIF error == "milestone_required" %]
    [% title = "マイルストーンを指定してください" %]
    [% terms.bug %] [%+ bug.id FILTER html %] を担当する場合、
    ターゲットマイルストーンを選択してください。
    [%+ terms.abug %] を担当するにはいつ頃解決可能であるか、
    目処を立てなくてはいけません。

  [% ELSIF error == "milestone_sortkey_invalid" %]
    [% title = "マイルストーンのソート順が無効です" %]
    ソート順 '[% sortkey FILTER html %]' が
    [%+ constants.MIN_SMALLINT FILTER html %] 以上
    [%+ constants.MAX_SMALLINT FILTER html %] 以下の範囲ではありません。

  [% ELSIF error == "misarranged_dates" %]
    [% title = "指定された日付の範囲が間違っています" %]
    開始日 ([% datefrom FILTER html %]) が
    終了日 ([% dateto FILTER html %]) よりも後です。
    
  [% ELSIF error == "missing_attachment_description" %]
    [% title = "添付の説明が入力されていません" %]
    添付の説明は必須項目です。
    
  [% ELSIF error == "missing_category" %]
    [% title = "カテゴリが指定されていません" %]
    この series のカテゴリが指定されていません。

  [% ELSIF error == "missing_component" %]
    [% title = "コンポーネントがありません" %]
    [% admindocslinks = {'products.html'   => 'プロダクトの管理',
                         'components.html' => 'コンポーネントの作成'} %]
    プロダクト <em>[% product.name FILTER html %]</em> に [% terms.abug %]
    を登録するためには、最低一つはコンポーネントが存在していなくてはいけません。<br>
    [% IF user.in_group("editcomponents", product.id) %]
      <a href="editcomponents.cgi?action=add&amp;product=[% product.name FILTER url_quote %]">コンポーネントを作成してください</a>。
    [% ELSE %]
      [% Param("maintainer") %] に連絡をとり、このプロダクトにコンポーネントを追加してもらってください。
    [% END %]

  [% ELSIF error == "missing_content_type" %]
    [% title = "Content-Type の自動判別に失敗しました" %]
     [% terms.Bugzilla %] に添付ファイルの Content-Type を自動で判定するように要請されましたが、
     ブラウザからファイルをアップロードする際に情報がありませんでした。
     手動で入力してください。

  [% ELSIF error == "missing_content_type_method" %]
    [% title = "Content-Type の判定方法が指定されていません" %]
    <em>自動判定</em>、<em>リストから選択</em>、<em>手動入力</em>
    の中から、Content-Type の判別方法を指定してください。

  [% ELSIF error == "missing_cookie" %]
    [% title = "cookie がありません" %]
    最後の検索結果を保存していた cookie が無くなっているようです。
    <a href="query.cgi">検索フォーム</a> からもう一度検索を行ってください。

  [% ELSIF error == "missing_datasets" %]
    [% title = "データセットが選択されていません" %]
    [% docslinks = {'reporting.html' => 'レポート'} %]
    プロット用の一つ以上のデータセットを選択する必要があります。

  [% ELSIF error == "missing_email_type" %]
    [% title = "指定された検索条件が無効です" %]
    <tt>[% email FILTER html %]</tt> で検索するには一つ以上のフィールドを指定する必要があります。

  [% ELSIF error == "missing_frequency" %]
    [% title = "更新頻度が入力されていません" %]
    [% docslinks = {'reporting.html' => 'レポート'} %]
    この series に適当な更新頻度が入力されていません。

  [% ELSIF error == "missing_name" %]
    [% title = "名前が入力されていません" %]
    [% docslinks = {'reporting.html' => 'レポート'} %]
    この series の名前は必須項目です。

  [% ELSIF error == "missing_query" %]
    [% title = "指定された検索がありません" %]
    [% docslinks = {'query.html' => "$terms.bugs の検索",
                    'query.html#list' => "$terms.Bug リスト"} %]
    <em>[% queryname FILTER html %]</em> という名前の検索は
    [% IF sharer_id && sharer_id != user.id %]
      あなたのアカウントから利用できません。
    [% ELSE %]
      存在しません。
    [% END %]

  [% ELSIF error == "missing_resolution" %]
    [% title = "処理方法が指定されていません" %]
    [% terms.bugs %] を [%+ status FILTER upper FILTER html %]
    として処理するには有効な処理方法が必要です。

  [% ELSIF error == "move_bugs_disabled" %]
    [% title = BLOCK %][% terms.Bug %] の移動は無効化されています[% END %]
    [% terms.bug %] の移動は無効化されています。
    [% terms.abug %] を移動する必要がある場合は、[% Param("maintainer") %] に連絡してください。

  [% ELSIF error == "missing_subcategory" %]
    [% title = "サブカテゴリが指定されていません" %]
    この series にサブカテゴリが指定されていません。

  [% ELSIF error == "missing_version" %]
    [% title = "利用可能なバージョンが登録されていません" %]
    [% admindocslinks = {'versions.html' => 'バージョンの指定'} %]
    [% terms.abug %] を登録するには、プロダクト
    <em>[% product.name FILTER html %]</em>
    にバージョンが最低、一つは必要です。<br>
    [% IF user.in_group("editcomponents", product.id) %]
      <a href="editversions.cgi?action=add&amp;product=[% product.name FILTER url_quote %]">新しいバージョンを作成してください</a>。
    [% ELSE %]
      [% Param("maintainer") %] に連絡し、このプロダクトにバージョンを追加するように要請してください。
    [% END %]

  [% ELSIF error == "need_quip" %]
    [% title = "警句が入力されていません" %]
    [% docslinks = {'quips.html' => 'About quips'} %]
    警句をテキストフィールドに入力してください。

  [% ELSIF error == "new_password_missing" %]
    [% title = "新しいパスワードが入力されていません" %]
    新しいパスワードが入力されていません。

  [% ELSIF error == "no_axes_defined" %]
    [% title = "軸が定義されていません" %]
    [% docslinks = {'reporting.html' => 'Reporting'} %]
    プロットする軸が定義されていません。

  [% ELSIF error == "no_bugs_chosen" %]
    [% title = BLOCK %][% terms.Bugs %] が選択されていません[% END %]
    [% IF action == "modify" %]
      編集する
    [% ELSIF action == "view" %]
      表示する
    [% END %]
    [% terms.bugs %] が選択されていません。

  [% ELSIF error == "no_bug_ids" %]
    [% title = BLOCK %][% terms.Bugs %] が選択されていません[% END %]
    タグ [% tag FILTER html %] を
    [% IF action == "add" %] 追加 [% ELSE %] 削除 [% END %]
    する [% terms.Bugs %] が選択されていません。

  [% ELSIF error == "no_bugs_in_list" %]
    [% title = "タグを削除して良いですか?" %]
    タグ [% tag FILTER html %] から全ての [% terms.bugs %] を削除します。
    この操作を実行すると、完全にタグを削除します(やり直すことはできません)。
    本当に実行するかを確認してから
    <a href="buglist.cgi?cmdtype=dorem&amp;remaction=forget&amp;namedcmd=
    [%- tag FILTER url_quote %]">削除を実行</a>してください。

  [% ELSIF error == "no_bugs_to_remove" %]
    [% title = "タグが選択されていません" %]
    [% terms.bugs %] から削除するタグが選択されていません。

  [% ELSIF error == "no_dupe_stats" %]
    [% title = "重複する統計は見つかりませんでした" %]
    [% admindocslinks = {'extraconfig.html' => 'collecstats.pl ジョブの設定'} %]
    今日 ([% today FILTER html %]) か昨日に重複する統計は設定されていません。

  [% ELSIF error == "no_dupe_stats_error_today" %]
    [% title = "今日の重複データを読み込む際にエラーが発生しました" %]
    [% admindocslinks = {'extraconfig.html' => 'collecstats.pl ジョブの設定'} %]
    今日の重複のデータファイルを開く際にエラーが発生しました: [% error_msg FILTER html %]

  [% ELSIF error == "no_dupe_stats_error_whenever" %]
    [% title = "過去の重複データを読み込む際にエラーが発生しました" %]
    [% admindocslinks = {'extraconfig.html' => 'collecstats.pl ジョブの設定'} %]
    [% changedsince FILTER html %] 日前 ([% whenever FILTER html %])
    の重複データファイルを開く際にエラーが発生しました: [% error_msg FILTER html %]

  [% ELSIF error == "no_dupe_stats_error_yesterday" %]
    [% title = "昨日の重複データを読み込む際にエラーが発生しました" %]
    [% admindocslinks = {'extraconfig.html' => 'collecstats.pl ジョブの設定'} %]
    今日 ([% today FILTER html %]) の重複の統計データが存在せず、
    昨日のデータを開く際にもエラーが発生しました: [% error_msg FILTER html %]

  [% ELSIF error == "no_initial_bug_status" %]
    [% title = "$terms.Bug ステータスの初期値がありません" %]
    [% terms.bug %] を作成時に選択可能な [% terms.bug %] ステータスがありません。
    [% Param("maintainer") %] にこの問題を報告してください。

  [% ELSIF error == "no_new_quips" %]
    [% title = "新規 quips は無効です" %]
    [% admindocslinks = {'quips.html' => 'quip の利用方法の制御'} %]
    新しい quips を追加することはこのサイトでは許可されていません。

  [% ELSIF error == "no_page_specified" %]
    [% title = "ページが指定されていません" %]
    表示するページの ID が指定されていません。

  [% ELSIF error == "no_products" %]
    [% title = "プロダクトがありません" %]
    [% admindocslinks = {'products.html'   => 'プロダクトの設定',
                         'components.html' => 'プロダクトにコンポーネントを追加する',
                         'groups.html'     => 'グループセキュリティ'} %]
    入力する [% terms.bugs %] に対するプロダクトが定義されていないか、
    あなたのアカウントにはアクセスする権限がありません。

  [% ELSIF error == "no_valid_action" %]
    [% title = "有効な動作が指定されていません" %]
    [% field_descs.$field FILTER html %] を編集できません: 有効な動作が指定されていません

  [% ELSIF error == "number_not_numeric" %]
    [% title = "数値が必要です" %]
    The value '[% num FILTER html %]' in the 
    <em>[% field_descs.$field FILTER html %]</em> フィールドの値が数値ではありません。

  [% ELSIF error == "number_too_large" %]
    [% title = "指定された数値は大きすぎます" %]
    <em>[% field_descs.$field FILTER html %]</em> フィールドの値、'[% num FILTER html %]'
   は大きすぎます。'[% max_num FILTER html %]' までの数値を入力してください。

  [% ELSIF error == "number_too_small" %]
    [% title = "指定された数値は小さすぎます" %]
    <em>[% field_descs.$field FILTER html %]</em> フィールドの値、'[% num FILTER html %]'
    は小さすぎます。'[% min_num FILTER html %]' 以上の数値を入力してください。

  [% ELSIF error == "object_name_not_specified" %]
    [% type = BLOCK %][% PROCESS object_name %][% END %]
    [% title = BLOCK %][% type FILTER ucfirst FILTER html %] が指定されていません[% END %]
    [% type FILTER html %] を入力、もしくは選択してください。

  [% ELSIF error == "object_does_not_exist" %]
    [% type = BLOCK %][% PROCESS object_name %][% END %]
    [% title = BLOCK %][% type FILTER ucfirst FILTER html %] は無効です[% END %]
    [% IF product.defined %]
      '[% product.name FILTER html %]' プロダクトには
    [% END %].
    '[% name FILTER html %]' という名前の [% type FILTER html %] がありません。
    [% IF class == "Bugzilla::User" %]
      入力した名前が間違えているか、その人は [% terms.Bugzilla %] にはアカウントを登録していないのかもしれません。
    [% END %]

  [% ELSIF error == "old_password_incorrect" %]
    [% title = "(現在の) パスワードが違います" %]
    (現在の) パスワードが正しく入力されていません。

  [% ELSIF error == "old_password_required" %]
    [% title = "(現在の) パスワードが入力されていません" %]
    メールアドレスを変更する際には、(現在の) パスワードは必須項目です。

  [% ELSIF error == "password_change_requests_not_allowed" %]
    [% title = "パスワードの変更は許可されていません" %]
    このシステムではパスワードを変更できるように設定されていません。

  [% ELSIF error == "passwords_dont_match" %]
    [% title = "パスワードが一致しませんでした" %]
    入力された二つのパスワードが一致していません。

  [% ELSIF error == "password_too_long" %]
    [% title = "パスワードが長すぎます" %]
    入力されたパスワードは長すぎます。
    [%+ constants.USER_PASSWORD_MAX_LENGTH FILTER html %] 文字以内にしてください。

  [% ELSIF error == "password_too_short" %]
    [% title = "パスワードが短すぎます" %]
    入力されたパスワードは短すぎます。
    [%+ constants.USER_PASSWORD_MIN_LENGTH FILTER html %] 文字以上にしてください。

  [% ELSIF error == "patch_too_large" %]
    [% title = "パッチファイルが大きすぎます" %]
    添付しようとしたファイルは [% filesize FILTER html %] KB もあります。
    パッチのサイズは最大で [% Param('maxpatchsize') %] KB です。
    パッチを分割することを検討してください。

  [% ELSIF error == "product_access_denied" %]
    プロダクト '[% product FILTER html %]' は存在しないか、
    あなたのアカウントにはアクセスする権限がありません。

  [% ELSIF error == "product_doesnt_exist" %]
    [% title = "指定されたプロダクトは存在していません" %]
    プロダクト '[% product FILTER html %]' は存在していません。

  [% ELSIF error == "product_votes_per_bug_must_be_nonnegative" %]
    [% title = "最大投票数に負の数値は設定できません" %]
    [% admindocslinks = {'voting.html' => '投票機能の設定'} %]
    <em>'[% terms.Bug %] あたりの最大投票数'</em> フィールドに
    '[% maxvotesperbug FILTER html %]' は指定できません。
    値は '0' か、正の整数を入力してください。

  [% ELSIF error == "product_votes_per_user_must_be_nonnegative" %]
    [% title = "ユーザあたりの投票数に負の数値は設定できません" %]
    [% admindocslinks = {'voting.html' => '投票機能の設定'} %]
    <em>'ユーザ当たりの投票数'</em> フィールドに
    '[% votesperuser FILTER html %]' は指定できません。
    値は '0' か、正の整数を入力してください。

  [% ELSIF error == "product_votes_to_confirm_must_be_nonnegative" %]
    [% title = "承認するための票数に負の数値は設定できません" %]
    [% admindocslinks = {'voting.html' => '投票機能の設定'} %]
    <em>'承認のための票数'</em> フィールドに
    '[% votestoconfirm FILTER html %]' は指定できません。
    値は '0' か、正の整数を入力してください。

  [% ELSIF error == "product_cant_delete_description" %]
    [% title = "プロダクトの説明は削除できません" %]
    [% admindocslinks = {'products.html' => 'プロダクトの管理'} %]
    プロダクト '[% product FILTER html %]' の説明は削除できません。

  [% ELSIF error == "product_cant_delete_name" %]
    [% title = "プロダクト名は削除できません" %]
    [% admindocslinks = {'products.html' => 'プロダクトの管理'} %]
    プロダクト '[% product FILTER html %]' のプロダクト名は削除できません。

  [% ELSIF error == "product_name_already_in_use" %]
    [% title = "指定されたプロダクト名は既に利用されています" %]
    [% admindocslinks = {'products.html' => 'プロダクトの管理'} %]
    プロダクト名 '[% product FILTER html %]' は既に利用されています。
  
  [% ELSIF error == "product_name_diff_in_case" %]
    [% title = "指定されたプロダクト名は既存のものと大文字・小文字の差異しかありません" %]
    [% admindocslinks = {'products.html' => 'プロダクトの管理'} %]
    プロダクト名 '[% product FILTER html %]' は既に存在している
    '[% existing_product FILTER html %]' と大文字・小文字の違いしかありません。

  [% ELSIF error == "product_must_define_defaultmilestone" %]
    [% title = "新しい既定のマイルストーンを新規作成してください" %]
    [% admindocslinks = {'products.html' => 'プロダクトの管理',
                         'milestones.html' => 'マイルストーン'} %]
    [% IF classification %]
      [% classification_url_part = BLOCK %]&amp;classification=
        [%- classification FILTER url_quote %]
      [% END %]
    [% END %]
    プロダクト '[% product FILTER html %]' の既定のマイルストーンを設定する前に
    <a href="editmilestones.cgi?action=add&amp;product=
    [%- product FILTER url_quote %]
    [%- classification_url_part FILTER none %]">
    マイルストーン '[% defaultmilestone FILTER html %]'</a>
    を作成してください。

  [% ELSIF error == "product_admin_denied" %]
    [% title = "プロダクトにアクセスできません" %]
    あなたのアカウントはプロダクト '[% product FILTER html %]' を編集する権限がありません。

  [% ELSIF error == "product_blank_name" %]
    [% title = "プロダクト名を入力してください" %]
    [% admindocslinks = {'products.html' => 'プロダクトの管理'} %]
    プロダクト名は必須項目です。
  
  [% ELSIF error == "product_disabled" %]
    [% title = BLOCK %]指定されたプロダクトに [% terms.Bug %] の新規登録はできません[% END %]
    [% admindocslinks = {'products.html' => 'プロダクトの管理'} %]
    プロダクト <em>[% product.name FILTER html %]</em> への
    [% terms.abug %] の新規追加は無効化されています。

  [% ELSIF error == "product_edit_denied" %]
    [% title = "プロダクトの編集ができません" %]
    [% admindocslinks = {'products.html' => 'プロダクトの管理',
                         'groups.html'   => 'グループセキュリティー'} %]
    あなたのアカウントはプロダクト [%+ product FILTER html %] の
    [% terms.bugs %] を編集することはできません。

  [% ELSIF error == "product_has_bugs" %]
    [% title = BLOCK %]プロダクトに [% terms.Bugs %] が存在します[% END %]
    [% admindocslinks = {'products.html' => 'プロダクトの管理'} %]
    [% nb FILTER html %] 件の [%+ terms.bugs %] がこのプロダクトには存在しています。
    これらの [% terms.bugs %] を別のプロダクトに移動させてから削除してください。

  [% ELSIF error == "product_must_have_description" %]
    [% title = "プロダクトの説明を入力してください" %]
    [% admindocslinks = {'products.html' => 'プロダクトの管理'} %]
    プロダクト '[% product FILTER html %]' の説明は必須項目です。

  [% ELSIF error == "product_must_have_version" %]
    [% title = "プロダクトにバージョンを追加してください" %]
    [% admindocslinks = {'products.html' => 'プロダクトの管理',
                         'versions.html' => 'バージョンの管理'} %]
    プロダクト '[% product FILTER html %]' のバージョンは必須項目です。

  [% ELSIF error == "product_not_specified" %]
    [% title = "プロダクトが指定されていません" %]
    [% admindocslinks = {'products.html'   => 'プロダクトの管理',
                         'components.html' => 'コンポーネントの管理',
                         'milestones.html' => 'マイルストーンの管理',
                         'versions.html'   => 'バージョンの管理'} %]
    コンポーネント、マイルストーン、バージョン、もしくはプロダクトを編集しようとしましたが、
    プロダクトが指定されていません。

  [% ELSIF error == "query_name_exists" %]
    [% title = "検索名は既に利用されています" %]
    検索名 <em>[% name FILTER html %]</em> は既に利用されています。
    この名前を利用したい場合、保存されている同名の検索を
    <a href="buglist.cgi?cmdtype=dorem&amp;remaction=forget&amp;namedcmd=
    [%- name FILTER url_quote %]">削除</a> してください。

  [% ELSIF error == "query_name_missing" %]
    [% title = "検索名が入力されていません" %]
    [% docslinks = {'query.html#list' => "$terms.Bug lists"} %]
    検索名は必須項目です。

  [% ELSIF error == "query_name_too_long" %]
    [% title = "検索名が長すぎます" %]
    検索名は 64 文字以内で入力してください。

  [% ELSIF error == "quicksearch_unknown_field" %]
    [% title = "認識できない QuickSearch フィールドです" %]
    [% IF fields.unique.size == 1 %]
      フィールド <code>[% fields.first FILTER html %]</code> は有効なフィールドではありません。
    [% ELSE %]
      フィールド
      [% FOREACH field = fields.unique.sort %]
         <code>[% field FILTER html %]</code>
         [% ', ' UNLESS loop.last() %]
      [% END %]
      は有効なフィールドではありません。
    [% END %]
    有効なフィールド名は<a href="page.cgi?id=quicksearchhack.html">ヘルプにリストアップされています</a>。

  [% ELSIF error == "reassign_to_empty" %]
    [% title = "新しい担当者のアドレスが指定されていません" %]
    [% terms.abug %] を他のアカウントに担当を設定する場合、
    新しい担当者のアドレスを入力する必要があります。

  [% ELSIF error == "require_component" %]
    [% title = "コンポーネントが指定されていません" %]
    [% terms.bug %] を新規追加する際には、コンポーネントを選択しなくてはいけません。
    どのコンポーネントが適当か判断できないのであれば、想像して決めてください。

  [% ELSIF error == "require_new_password" %]
    [% title = "新しいパスワードが入力されていません" %]
    パスワードを変更する際には新しいパスワードは必須項目です。

  [% ELSIF error == "require_summary" %]
    [% title = "要約が入力されていません" %]
    [% terms.bug %] には要約が必須項目です。

  [% ELSIF error == "resolution_cant_clear" %]
    [% terms.Bug %] [%+ bug_id FILTER bug_link(bug_id) FILTER none %] は閉じられているので、
    解決方法をクリアすることはできません。

  [% ELSIF error == "resolution_not_allowed" %]
    [% title = "解決方法を設定できません" %]
    開かれている [% terms.bugs %] に解決方法は設定できません。

  [% ELSIF error == "saved_search_used_by_whines" %]
    [% title = "保存された検索は利用されています" %]
    [% docslinks = {'whining.html' => 'Whine について'} %]
    保存された検索 <em>[% search_name FILTER html %]</em> はすでに
    <a href="editwhines.cgi">Whining イベント</a> で
    [%+ subjects FILTER html %] という名前で利用されています。

  [% ELSIF error == "search_content_without_matches" %]
    [% title = "無効な検索です" %]
    内容フィールドは一致検索でのみ利用可能です。
    また、一致検索は内容フィールドを利用したときのみ利用可能です。

  [% ELSIF error == "series_already_exists" %]
    [% title = "series は既に存在しています" %]
    [% docslinks = {'reporting.html' => 'レポート'} %]
      series 名 <em>[% series.category FILTER html %] /
      [%+ series.subcategory FILTER html %] / 
      [%+ series.name FILTER html %]</em>
      は既に存在しています。
    
  [% ELSIF error == "sidebar_supports_mozilla_only" %]
    sidebar.cgi は Mozilla ベースのブラウザでのみ利用できます。
    <a href="http://www.mozilla.org">今すぐアップグレードしてください</a>(笑)

  [% ELSIF error == "still_unresolved_bugs" %]
    [% IF dependency_count == 1 %]
      [% terms.Bug %]# <a href="show_bug.cgi?id=[% dependencies.0.bug_id FILTER none %]">[% dependencies.0.bug_id FILTER none %]</a>
      は [% dependencies.0.dependencies FILTER html %] 件の未解決の
      [% IF dependencies.0.dependencies == 1 %]
        [% terms.bug %]
      [% ELSE %]
        [% terms.bugs %]
      [% END %] が依存しています。
      <a href="showdependencytree.cgi?id=[% dependencies.0.bug_id FILTER none %]&amp;hide_resolved=1">依存ツリー</a>
      を表示して確認してください。
    [% ELSE %]
      [% dependency_count FILTER none %] 件の開かれた未解決の [% terms.bugs %] が依存しています。
      <br>
      [% FOREACH bug = dependencies %]
        [% terms.Bug %]# <a href="show_bug.cgi?id=[% bug.bug_id FILTER none %]">[% bug.bug_id FILTER none %]</a>
        は [% bug.dependencies FILTER html %] 件の開かれた
        [% IF bug.dependencies == 1 %]
          [% terms.bug %]
        [% ELSE %]
          [% terms.bugs %]
        [% END %] が依存しています。
        (<a href="showdependencytree.cgi?id=[% bug.bug_id FILTER none %]&amp;hide_resolved=1">依存ツリー</a> を表示)<br>
      [% END %]
    [% END %]

  [% ELSIF error == "sudo_in_progress" %]
    [% title = "セッションを実行中です" %]
    sudo セッション (ターゲット [% target FILTER html %]) が実行中です。
    フッタにあるリンクでこのセッションを終了させてから新しいセッションを実行してください。

  [% ELSIF error == "sudo_password_required" %]
    [% title = "パスワードが必要です" %]
    sudo セッションを開始するには、あなたの [% terms.Bugzilla %] のパスワードが必要です。
    <a href="relogin.cgi?action=prepare-sudo&target_login=
    [%- target_login FILTER html %]&reason=
    [%- reason FILTER html %]">ログイン画面</a>で、あなたのパスワードを入力してください。

  [% ELSIF error == "sudo_preparation_required" %]
    [% title = "準備が必要です" %]
    sudo セッションを直接開始することはできません。
    <a href="relogin.cgi?action=prepare-sudo&target_login=
    [%- target_login FILTER html %]&reason=
    [%- reason FILTER html %]">通常のセッションを開始してから</a> 実行してください。

  [% ELSIF error == "sudo_protected" %]
    [% title = "ユーザは保護されています" %]
    ユーザ [% login FILTER html %] は sudo の対象にはできません。

  [% ELSIF error == "too_many_votes_for_bug" %]
    [% title = "投票数が多すぎます" %]
    [% admindocslinks = {'voting.html' => '投票機能の設定'} %]
    <tt>[% product FILTER html %]</tt> プロダクトでは、
    ひとつの [%+ terms.bug %] につき、
    最高 [% max FILTER html %] 票を投じることができます。
    しかし、[% votes FILTER html %] 票を投じようとしました。

  [% ELSIF error == "too_many_votes_for_product" %]
    [% title = "投票数が多すぎます" %]
    [% admindocslinks = {'voting.html' => '投票機能の設定'} %]
    <tt>[% product FILTER html %]</tt> プロダクトで [% votes FILTER html %]
    票を投じようとしましたが、このプロダクトでは最高 [%+ max FILTER html %]
    票しか投票できません。

  [% ELSIF error == "token_does_not_exist" %]
    [% title = "入力されたトークンは存在していません" %]
    入力されたトークンは存在していないか、期限切れか、既にキャンセルされています。

  [% ELSIF error == "too_soon_for_new_token" %]
    [% title = "新規トークン請求が早すぎます" %]
    [% IF type == "password" %]
      パスワード再設定
    [% ELSIF type == "account" %]
      アカウントの新規作成
    [% END %]
    用のトークンを再申請されましたが、前回の申請の直後には受け付けることができません。
    しばらく待ってから再申請してください。

  [% ELSIF error == "unknown_keyword" %]
    [% title = "指定されたキーワードは存在していません" %]
    <code>[% keyword FILTER html %]</code> は登録されたキーワードではありません。
    利用可能なキーワードは <a href="describekeywords.cgi">ヘルプにリストアップ</a> されています。

  [% ELSIF error == "unknown_tab" %]
    [% title = "指定されたタブは存在していません" %]
    <code>[% current_tab_name FILTER html %]</code> は有効なタブ名ではありません。

  [% ELSIF error == "version_already_exists" %]
    [% title = "入力されたバージョンは既に存在しています" %]
    [% admindocslinks = {'versions.html' => 'バージョンの管理'} %]
    プロダクト '[%- product FILTER html %]' に
    バージョン '[% name FILTER html %]' は既に存在しています。

  [% ELSIF error == "version_blank_name" %]
    [% title = "バージョン名を入力してください" %]
    バージョン名は必須項目です。

  [% ELSIF error == "version_has_bugs" %]
    [% title = BLOCK %]指定されたバージョンを利用している [% terms.Bugs %] が存在しています[% END %]
    [% nb FILTER html %] 件の [%+ terms.bugs %] がこのバージョンで登録されています。
    これらの [% terms.bugs %] を先に他のバージョンに変更してから削除してください。

  [% ELSIF error == "version_not_specified" %]
    [% title = "バージョンが指定されていません" %]
    バージョンを編集しようとしましたが、対象のバージョンが指定されていません。

  [% ELSIF error == "users_deletion_disabled" %]
    [% title = "ユーザアカウントを削除することはできません" %]
    [% admindocslinks = {'useradmin.html' => 'ユーザ管理'} %]
    ユーザアカウントの削除は許可されていません。

  [% ELSIF error == "user_has_responsibility" %]
    [% title = "ユーザアカウントを削除することができません" %]
    [% admindocslinks = {'useradmin.html' => 'ユーザ管理'} %]
    削除しようとしたユーザが [% terms.bug %] の既定の担当者
    [% IF Param('useqacontact') %]
      か、既定の QA コンタクト
    [% END %]
    になっているコンポーネントが存在しています。
    このため、このアカウントを削除することができません。

  [% ELSIF error == "user_login_required" %]
    [% title = "ログイン名を入力してください" %]
    [% admindocslinks = {'useradmin.html' => 'ユーザ管理'} %]
    ユーザを新規登録する際には、ログイン名は必須項目です。

  [% ELSIF error == "user_match_failed" %]
    [% title = "ユーザ名が一致しませんでした" %]
    <tt>[% name FILTER html %]</tt> は登録されていないか、
    あなたのアカウントにこのユーザを閲覧する権限がありません。

  [% ELSIF error == "votes_must_be_nonnegative" %]
    [% title = "指定された投票数が負の数値です" %]
    [% admindocslinks = {'voting.html' => '投票機能の設定'} %]
    [% terms.bug %] への投票数は '0' か 正の整数で入力してください。

  [% ELSIF error == "wrong_token_for_cancelling_email_change" %]
    [% title = "無効なトークンです" %]
    このトークンはメールアドレス変更のキャンセルには利用できません。

  [% ELSIF error == "wrong_token_for_changing_passwd" %]
    [% title = "無効なトークンです" %]
    このトークンはパスワード変更には利用できません。

  [% ELSIF error == "wrong_token_for_confirming_email_change" %]
    [% title = "無効なトークンです" %]
    このトークンはメールアドレスの変更には利用できません。

  [% ELSIF error == "wrong_token_for_creating_account" %]
    [% title = "無効なトークンです" %]
    このトークンはユーザアカウントの作成には利用できません。

  [% ELSIF error == "zero_length_file" %]
    [% title = "指定されたファイルは空です" %]
    添付されたファイルは空ファイルであるか、存在しないか、
    読み込む権限がありません。

  [% ELSIF error == "illegal_user_id" %]
    [% title = "指定されたユーザ ID は無効です" %]
    ユーザ ID '[% userid FILTER html %]' は妥当な整数でなくてはいけません。

  [% ELSE %]

    [%# Try to find hooked error messages %]
    [% error_message = Hook.process("errors") %]

    [% IF not error_message %]
      [% title = "エラーメッセージが登録されていませんでした" %]
      <code>[% error FILTER html %]</code> に該当するエラーメッセージは登録されていませんでした。
      [% Param("maintainer") %] にメールで連絡し、
      このエラーが表示された時の操作手順を説明してください。
    [% ELSE %]
      [% error_message FILTER none %]
    [% END %]
  [% END %]
[% END %]

[%# We only want HTML error messages for ERROR_MODE_WEBPAGE %]
[% USE Bugzilla %]
[% IF Bugzilla.error_mode != constants.ERROR_MODE_WEBPAGE %]
  [% IF Bugzilla.usage_mode == constants.USAGE_MODE_BROWSER %]
    [% error_message FILTER none %]
  [% ELSE %]
    [% error_message FILTER txt %]
  [% END %]
  [% RETURN %]
[% END %]

[% UNLESS header_done %]
  [% PROCESS global/header.html.tmpl %]
[% END %]

[% PROCESS global/docslinks.html.tmpl
   docslinks      = docslinks
   admindocslinks = admindocslinks
%]

<table cellpadding="20">
  <tr>
    <td id="error_msg" class="throw_error">
      [% error_message FILTER none %]
    </td>
  </tr>
</table>

<p>
  <b>戻るボタン</b> を利用し、戻って、再試行してください。
</p>

[%# If a saved search fails, people want the ability to edit or delete it. 
  # This is the best way of getting information about that possible saved
  # search from any error call location. %]

[% namedcmd = Bugzilla.cgi.param("namedcmd") %]
[% sharer_id = Bugzilla.cgi.param("sharer_id") %]
[% IF namedcmd AND error != "missing_query" 
               AND error != "saved_search_used_by_whines"
               AND !sharer_id %]
  <p>
    もしくは、保存してある検索 '[% namedcmd FILTER html %]' を
    <a href="buglist.cgi?cmdtype=dorem&amp;remaction=forget&amp;namedcmd=
                  [% namedcmd FILTER url_quote %]">削除</a>
                  
    [% FOREACH q = Bugzilla.user.queries %]
      [% IF q.name == namedcmd %]
        、もしくは <a href="query.cgi?[% q.url FILTER html %]">編集</a>
      [% END %]
    [% END %]
    することも可能です。
  </p>
[% END %]

[% PROCESS global/footer.html.tmpl %]

[% BLOCK object_name %]
  [% IF class == "Bugzilla::User" %]
    ユーザ
  [% ELSIF class == "Bugzilla::Component" %]
    コンポーネント
  [% ELSIF class == "Bugzilla::Version" %]
    バージョン
  [% ELSIF class == "Bugzilla::Milestone" %]
    マイルストーン
  [% ELSIF class == "Bugzilla::Status" %]
    ステータス
  [% END %]
[% END %]
