[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% bugidsummary = bug.bug_id _ ': ' _ bug.short_desc %]
[% attidsummary = attachment.id _ ': ' _ attachment.description %]
[% flagtype_name = flag ? flag.type.name : old_flag.type.name %]
[% statuses = { '+' => "承認" , '-' => '却下' , 'X' => "取り下げ" ,
                '?' => "新規申請" } %]

[% to_identity = "" %]
[% on_behalf_of = 0 %]
[% action = flag.status || 'X' %]

[% IF flag && flag.status == '?' %]
  [% subject_status = "requested" %]
  [% IF flag.setter_id == user.id %]
    [% to_identity = flag.requestee.identity _ " for" %]
  [% ELSE %]
    [% on_behalf_of = 1 %]
    [% IF flag.requestee %][% to_identity = " to " _ flag.requestee.identity %][% END %]
  [% END %]
[% ELSE %]
  [% IF old_flag && old_flag.status == '?' %]
    [% to_identity = old_flag.setter.identity _ "'s request for" %]
  [% END %]
  [% subject_status = statuses.$action %]
[% END %]
From: [% Param('mailfrom') %]
To: [% to %]
Subject: [% flagtype_name %] [%+ subject_status %]: [[% terms.Bug %] [%+ bug.bug_id %]] [% bug.short_desc %]
[%- IF attachment %] :
  [Attachment [% attachment.id %]] [% attachment.description FILTER clean_text %][% END %]
Date: [% date %]
X-Bugzilla-Type: request
[%+ INCLUDE "email/header-common.txt.tmpl" %]
[%+ threadingmarker %]

[%+ USE wrap -%]
[%- FILTER bullet = wrap(80) -%]

[% IF on_behalf_of %]
[% user.identity %] が [% flag.setter.identity %] の [% flagtype_name %] の要請を再割り当てしました
[% to_identity %]:
[% ELSE %]
[% user.identity %] が [%+ to_identity %] の [%+ flagtype_name %] を [% statuses.$action %]:
[% END %]

[% terms.Bug %] [%+ bugidsummary %]
[% END %]
[%+ urlbase %]show_bug.cgi?id=[% bug.bug_id %]
[% IF attachment %]

[% FILTER bullet = wrap(80) %]
添付 [% attidsummary %]
[%- END %]
[%+ urlbase %]attachment.cgi?id=[% attachment.id %]&action=edit
[%- END %]

[%- Hook.process('after_summary') -%]

[%- FILTER bullet = wrap(80) %]

[% USE Bugzilla %]
[%-# .defined is necessary to avoid a taint issue, see bug 509794. %]
[% IF Bugzilla.cgi.param("comment").defined && Bugzilla.cgi.param("comment").length > 0 %]
------- [% user.identity %] による追加のコメント
[%+ Bugzilla.cgi.param("comment") %]
[% END %]

[%- END %]
