[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

From: [% Param('mailfrom') %]
To: [% Param('maintainer') %]
Subject: [[% terms.Bugzilla %]] アカウントロック: [% locked_user.login %] ([% attempts.0.ip_addr %])
X-Bugzilla-Type: admin

アカウント [% locked_user.login %] において
IP アドレス [% attempts.0.ip_addr %] から多数回の (
[%- constants.MAX_LOGIN_ATTEMPTS +%]) ログイン失敗記録がありました。

ログインが試みられたのは以下の時間です。

[% FOREACH login = attempts %]
  [%+ login.login_time FILTER time %]
[% END %]

このアドレスから再度ログイン可能となるのは
[%+ unlock_at FILTER time %] です。
