[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

From: [% Param('mailfrom') %]
To: [% addressee %]
Subject: [[% terms.Bugzilla %]] 整合性確認結果
X-Bugzilla-Type: sanitycheck

[%+ urlbase %]sanitycheck.cgi

以下が整合性確認の結果です。
[% IF error_found %]
いくつかのエラーが発見されました。
[% ELSE %]
エラーは発見されませんでした。
[% END %]

[% output %]
