[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

Content-Type: text/plain
From: [% Param('mailfrom') %]
To: [% user.email %]
Subject: [[% terms.Bugzilla %]] あなたのアカウント [% user.login -%]
 が利用されました
X-Bugzilla-Type: admin

    [%+ sudoer.identity %] は [% terms.Bugzilla %] にアクセスするのに、
'sudo' 機能経由であなたのアカウントを利用しました。

[% IF reason %]
    [%+ sudoer.identity %] は以下の理由をあげています:

[% reason FILTER wrap_comment %]
[% ELSE %]
    [%+ sudoer.identity %] はその理由を述べていません。
[% END %]

    もし、この操作を受け入れられない場合、[%+ Param("maintainer") %] 
まで連絡してください。この機能の詳細については、以下を参照してください。
<[% urlbase %]page.cgi?id=sudo.html>
