[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]
From: [% Param("mailfrom") %]
To: [% email %][% Param("emailsuffix") %]
Subject: あなたの [% terms.Bugzilla %] の [% terms.bug %] リストに注目してください
X-Bugzilla-Type: whine

[このメールは自動生成です。]

[% terms.Bugzilla %] [% terms.bug %] 追跡システムであなたが担当者になっている
ひとつ以上の [% terms.bugs %] が要対応状態になっています。
([% urlbase %])

これらの [% terms.bugs %] は [% display_value("bug_status", "CONFIRMED") %] 状態で、
[% Param("whinedays") %] 日以上対応されていません。
これらについて対応し、初期処理を行ってください。

通常、これは以下のどれかを行うこととなります。

(1) [% terms.bug %] がすぐに対応できるものと決断し (たとえば、[% display_value("resolution", "INVALID") %]
    であるなど) 今すぐ対応する。
(2) [% terms.bug %] があなたのものでないと決断し、だれか担当者に割り振る。
    ヒント: 誰に割り振ればいいかわからなければ、コンポーネントが正しいかを確認し、
    "既定の担当者に戻す" を選択してください。
(3) [% terms.bug %] が自分のものであると判断したが、すぐに解決できない場合、
    [% get_status("IN_PROGRESS") %] にすることで [% terms.bug %] を受け入れてください。

全ての [% display_value("bug_status", "CONFIRMED") %] [%+ terms.bugs %] のリストを見るには、
以下の URL を開いてください。(必要ならブックマークしてください。)

 [% urlbase %]buglist.cgi?bug_status=CONFIRMED&assigned_to=[% email %]

もしくは、一般的な検索が以下からできます。
[%+ urlbase %]query.cgi

一番下に、あなたの [% display_value("bug_status", "CONFIRMED") %] [%+ terms.bugs %] になっている全ての
[% Param("whinedays") %] 日以上対応されていない [% terms.bug %] への個別のリンクをリスト
します。

これらの [% terms.bugs %] に対応しなければ、毎日メールを受け取ることになります !

[% FOREACH bug = bugs %]
 [%+ bug.summary %]
    -> [% urlbase %]show_bug.cgi?id=[% bug.id %]
[% END %]
