[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/header.html.tmpl title = "整合性確認"
                                   style_urls = ['skins/standard/admin.css'] %]

<div>
  <p>
    Bugzilla はあなたのデータベースの参照整合性を確認しています。
    完了まで数分かかります。
  </p>

  <p>
    もしエラーがあれば、<span class="alert">このように強調表示されます</span>。
    発見されたエラーによっては、修復するためのリンクが表示されます。
    修復後、このスクリプトが自動再実行されます。(そのため、最初の実行よりも時間がかかる
    ことを認識しておいてください。)
  </p>
</div>

<hr>
