[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% title = BLOCK %]フラグタイプ '[% flag_type.name FILTER html %]' の削除の確認[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  doc_section = "flags-overview.html#flags-delete"
%]

<p>
  [% IF flag_type.flag_count %]
    タイプ [% flag_type.name FILTER html %] のフラグが [% flag_type.flag_count %] 件あります。
  [% END %]
   もしこのタイプを削除すれば、これらのフラグも削除されます。
   この操作の代わりに
   <a href="editflagtypes.cgi?action=deactivate&amp;id=[% flag_type.id %]&amp;token=
           [%- token FILTER html %]">タイプを無効化する</a> こともできます。
   これを利用すれば、フラグタイプ[% IF flag_type.flag_count %]と、
   フラグ[% END %]は共にデータベースに残りますが、
   [% terms.Bugzilla %] の UI では表示されなくなります。
</p>

<table>
   <tr>
      <td colspan="2">
         本当にこのフラグタイプを削除してもよろしいですか?
      </td>
   </tr>
   <tr>
      <td>
         <a href="editflagtypes.cgi?action=delete&amp;id=[% flag_type.id %]&amp;token=
                 [%- token FILTER html %]">はい、削除します
         </a>
      </td>
      <td align="right">
         <a href="editflagtypes.cgi">
            いいえ、削除しません
         </a>
      </td>
   </tr>
</table>

[% PROCESS global/footer.html.tmpl %]
