[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frederic Buclin <LpSolit@gmail.com>
  #%]

[%# INTERFACE:
  # attachment: object of the attachment the user wants to delete.
  # reason: string; The reason provided by the user.
  # date: the date when the request to delete the attachment was made.
  #%]

添付 [% attachment.id %] の中身は
    [%+ user.identity %]
によって削除されました。
[% IF reason %]
以下の理由が提示されています。

[%+ reason %]
[% ELSE %]
削除理由は示されていません。
[% END %]

添付の削除のためのトークンは [% date FILTER time %] に発行されました。
