[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

[%# INTERFACE:
  # value: string; The field value being deleted.
  # bug_count: number; The number of bugs that have this field value.
  # value_count: number; The number of values left for this field, including
  #              this value.
  # field: object; the field the value is being deleted from.
  # param_name: string; The name of the parameter (defaultxxx) associated
  #             with the field.
  #%]

[% title = BLOCK %]
  '[% field.description FILTER html %]' ([% field.name FILTER html %]) フィールドから値 '[% value FILTER html %]' の削除
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

<table border="1" cellpadding="4" cellspacing="0">
<tr bgcolor="#6666FF">
  <th valign="top" align="left">フィールド</th>
  <th valign="top" align="left">値</th>
</tr>
<tr>
  <td valign="top">フィールド名:</td>
  <td valign="top">[% field.description FILTER html %]</td>
</tr>
<tr>
  <td valign="top">フィールド値:</td>
  <td valign="top">[% value FILTER html %]</td>
</tr>
<tr>
  <td valign="top">[% terms.Bugs %]:</td>
  <td valign="top">
[% IF bug_count %]
  <a title="'[% field.description FILTER html %]' が '[% value FILTER html %]' の [% terms.bugs %] のリスト"
     href="buglist.cgi?[% field.name FILTER url_quote %]=[%- value FILTER url_quote %]">[% bug_count FILTER html %]</a>
[% ELSE %]
  無し
[% END %]
  </td>
</tr>
</table>

<h2>確認</h2>

[% IF (param_name.defined && Param(param_name) == value) || bug_count || (value_count == 1) %]

  <p>'[% value FILTER html %]' 値は '[% field.description FILTER html %]' フィールドから以下の理由により、削除できません:</p>

  <ul class="warningmessages">
    [% IF param_name.defined && Param(param_name) == value %]
      <li>'[% value FILTER html %]' は '[% field.description FILTER html %]' フィールドの既定値です。
          [% IF user.groups.tweakparams %]
            まずこのフィールドの <a href="editparams.cgi?section=bugfields#
            [%- param_name FILTER url_quote %]">既定の値を変更</a> してから削除してください。
          [% END %]
    [% END %]

    [% IF bug_count %]
      <li>[% IF bug_count > 1 %] 
            [% bug_count FILTER html %] 件の [%+ terms.bugs %] 
          [% ELSE %]
            [% terms.bug %] が一件
          [% END %]
          この値を使用しています。
          <a title="'[% field.description FILTER html %]' が '[% value FILTER html %]' の [% terms.bugs %] のリスト"
             href="buglist.cgi?[% field.name FILTER url_quote %]=[% value FILTER url_quote %]">
            [% IF bug_count > 1 %]
              これらの [% terms.bugs %] 
            [% ELSE %]
              この [% terms.bug %]
            [% END %]
          </a>
          を先に別の値に変更しないと削除できません。
    [% END %]

    [% IF value_count == 1 %]
      <li>'[% value FILTER html %]' は '[%- field.description FILTER html %]'
          の最後の値です。そのため、削除することはできません。
    [% END %]
  </ul>

[% ELSE %]

  <p>本当にこの値を削除してもよろしいですか?</p>

  <form method="post" action="editvalues.cgi">
    <input type="submit" value="はい、削除します" id="delete">
    <input type="hidden" name="action" value="delete">
    <input type="hidden" name="field" value="[% field.name FILTER html %]">
    <input type="hidden" name="value" value="[% value FILTER html %]">
    <input type="hidden" name="token" value="[% token FILTER html %]">
  </form>

[% END %]

[% PROCESS admin/fieldvalues/footer.html.tmpl
  no_edit_link = 1
 +%]

[% PROCESS global/footer.html.tmpl %] 
