[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/header.html.tmpl
  title = "classification の削除"
%]

<table border=1 cellpadding=4 cellspacing=0>
<tr bgcolor="#6666ff">
  <th valign="top" class="left">フィールド</th>
  <th valign="top" class="left">値</th>

</tr><tr>
  <td valign="top">Classification:</td>
  <td valign="top">[% classification.name FILTER html %]</td>

</tr><tr>
  <td valign="top">説明:</td>
  <td valign="top">
    [% IF classification.description %]
      [% classification.description FILTER html_light %]
    [% ELSE %]
      <font color="red">説明がありません</font>
    [% END %]
  </td>

</tr><tr>
  <td valign="top">ソート順:</td>
  <td valign="top">[% classification.sortkey FILTER html %]</td>

</tr>
</table>

<h2>確認</h2>

<p>本当にこの classification を削除してもよろしいですか?</p>
<form method=post action="editclassifications.cgi">
  <input type=submit value="はい、削除します">
  <input type=hidden name="action" value="delete">
  <input type=hidden name="classification" value="[% classification.name FILTER html %]">
  <input type="hidden" name="token" value="[% token FILTER html %]">
</form>

[% PROCESS admin/classifications/footer.html.tmpl %] 

[% PROCESS global/footer.html.tmpl %] 
