[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # comp: object; Bugzilla::Component object representing the component the
  #               user wants to delete.
  # product: object; Bugzilla::Product object representing the product to
  #               which the component belongs.
  #%]

[% title = BLOCK %]'[% product.name FILTER html %]' プロダクトから
'[% comp.name FILTER html %]'を削除
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

<table id="admin_table">
  <tr class="column_header">
  <th>フィールド</th>
  <th>値</th>
</tr>
<tr>
  <td>コンポーネント</td>
  <td>[% comp.name FILTER html %]</td>
</tr>
<tr>
  <td>コンポーネントの説明</td>
  <td>[% comp.description FILTER html_light %]</td>
</tr>
<tr>
  <td>既定の担当者</td>
  <td>[% comp.default_assignee.login FILTER html %]</td>
</tr>
  
[% IF Param('useqacontact') %]
<tr>
  <td>既定の QA コンタクト</td>
  <td>[% comp.default_qa_contact.login FILTER html %]</td>
</tr>
[% END %]
  
<tr>
  <td>属するプロダクト</td>
  <td>[% product.name FILTER html %]</td>
</tr>

[% IF product.description %]
<tr>
  <td>プロダクトの説明</td>
  <td>[% product.description FILTER html_light %]</td>
</tr>
[% END %]

[% IF Param('usetargetmilestone') %]
<tr>
  <td>プロダクトのマイルストーンの URL</td>
  <td>
    <a href="[% product.milestone_url FILTER html %]">
      [% product.milestone_url FILTER html %]
    </a>
  </td>
[% END %]

</tr>
<tr>
  <td>[% terms.bugs %] を新規登録できるか</TD>
  <td>[% IF product.is_active && comp.isactive %]可能[% ELSE %]不可能[% END %]</td>
</tr>
<tr>
  <td>[% terms.Bugs %]</td>
  <td>
[% IF comp.bug_count %]
  <a title="コンポーネント '[% comp.name FILTER html %]' の [% terms.bugs %] リスト"
     href="buglist.cgi?component=[% comp.name FILTER uri %]&amp;product=
          [%- product.name FILTER uri %]">[% comp.bug_count %]</a>
[% ELSE %]
  無し
[% END %]
  </td>
</tr>
</table>

<h2>確認</h2>
  
[% IF comp.bug_count %]

  [% IF !Param("allowbugdeletion") %]
  <p class="confirmation">
    [% comp.bug_count %] 件の [%+ terms.bugs %] 
    がこのコンポーネントに登録されています。これらの
    [% terms.bugs %] 
    を他のコンポーネントに移動させなければ、削除することはできません。
  </p>
  [% ELSE %]

    <p class="confirmation">
      [% comp.bug_count %] 件の [%+ terms.bugs %] 
      がこのコンポーネントに登録されています! 
      このコンポーネントを削除すると、
      <b>全ての</b> 登録されている [% terms.bugs %] と
      その履歴が削除されます。
    </p>

  [% END %]

[% END %]

[% IF comp.bug_count == 0 || Param('allowbugdeletion') %]

  <p>本当にこのコンポーネントを削除してもよろしいですか?</p>
  
  <form method="post" action="editcomponents.cgi">
  <input type="submit" id="delete" value="はい、削除します">
  <input type="hidden" name="action" value="delete">
  <input type="hidden" name="product" value="[% product.name FILTER html %]">
  <input type="hidden" name="component" value="[% comp.name FILTER html %]">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  </form>

[% END %]

[% PROCESS admin/components/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %] 
