[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # comp: object; Bugzilla::Component object representing the component 
  # product: object; Bugzilla::Product object representing the product to
  #               which the component belongs.
  #%]

<hr>

<p>

[% IF comp && !no_edit_component_link %]
  コンポーネント <a 
  title="コンポーネント '[% comp.name FILTER html %]' の編集"
  href="editcomponents.cgi?action=edit&amp;product=
  [%- product.name FILTER uri %]&amp;component=[% comp.name FILTER uri %]">
   '[% comp.name FILTER html %]'</a> 
  を編集する。
[% END %]

[% IF !no_edit_other_components_link %]
プロダクト <a 
  title="プロダクト '[% product.name FILTER html %]' のコンポーネントを選択して編集"
  href="editcomponents.cgi?product=
  [%- product.name FILTER uri %]">'[% product.name FILTER html %]'</a>
  の他のコンポーネントを編集する。
[% END %]

プロダクト <a 
  title="プロダクト '[% product.name FILTER html %]' の編集"
  href="editproducts.cgi?action=edit&amp;product=
  [%- product.name FILTER uri %]">'[% product.name FILTER html %]'</a>
  を編集する。

</p>
