[%# -*- mode: html -*- %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Terry Weissman <terry@mozilla.org>
  #                 Jacob Steenhagen <jake@bugzilla.org>
  #                 Vitaly Harisov  <vitaly@rathedg.com>
  #                 Guy Pyrzak <guy.pyrzak@gmail.com>
  #%]

[%# INTERFACE:
  # release: a hash containing data about new releases, if any.
  #%]

[% PROCESS global/variables.none.tmpl %]


[% PROCESS global/header.html.tmpl
   title = "$terms.Bugzilla メインページ"
   header = "メインページ" 
   header_addl_info = "バージョン $constants.BUGZILLA_VERSION"
   style_urls = [ 'skins/standard/index.css' ]
%]


<script type="text/javascript">
<!--
function onLoadActions() {
  quicksearchHelpText('quicksearch_main', 'show');
  if( window.external.AddSearchProvider ){
    YAHOO.util.Dom.removeClass('quicksearch_plugin', 'bz_default_hidden');
  }
  document.getElementById('quicksearch_top').focus();
}
function addSidebar() {
  var sidebarname=window.location.host;
  if (!/bug/i.test(sidebarname))
    sidebarname="[% terms.Bugzilla %] "+sidebarname;
  window.sidebar.addPanel (sidebarname, "[% urlbase FILTER html %]sidebar.cgi", "");
}
var quicksearch_message = "[% terms.abug %] # もしくは検索語を入力";

function checkQuicksearch( form ) {
  if (form.quicksearch.value == '' || form.quicksearch.value == quicksearch_message ) { 
    alert('Please enter one or more search terms first.');
    return false; 
  }
  return true;         
}

function quicksearchHelpText(el_id, action){
  var el = document.getElementById(el_id);
  if ( action == "show") {
    if( el.value == "" ) {
      el.value = quicksearch_message
      YAHOO.util.Dom.addClass(el, "quicksearch_help_text");
    }
  } else {
    if( el.value == quicksearch_message ) {
      el.value = "";
      YAHOO.util.Dom.removeClass(el, "quicksearch_help_text");
    }
  }
}
YAHOO.util.Event.onDOMReady(onLoadActions);
//-->
</script>

[% IF release %]
  <div id="new_release">
    [% IF release.data %]
      [% IF release.deprecated %]
        <p>[% terms.Bugzilla %] [%+ release.deprecated FILTER html %] 
        はもはやサポートされていません。
        あなたのシステムの安全性のためにも、アップグレードを強くお勧めします。</p>
      [% END %]

      <p>新しい [% terms.Bugzilla %] のバージョン ([% release.data.latest_ver FILTER html %])
      が
      <a href="[% release.data.url FILTER html %]">[% release.data.url FILTER html %]</a>
      から利用可能です。<br>
      リリース日は [% release.data.date FILTER html %] です。</p>

      <p class="notice">
        このメッセージは管理者権限を持つログインユーザにのみ表示されます。
        このメッセージの表示に関しては、
      <a href="editparams.cgi?section=general#upgrade_notification_desc">パラメータ</a> 
        ページから設定できます。</p>
    [% ELSIF release.error == "cannot_download" %]
      <p>ローカルに XML ファイル '[% release.xml_file FILTER html %]' を作成できません。
      ウェブサーバの設定を見直して、ディレクトリに書き込み可能でサーバからウェブに接続可能かを確認してください。
      プロキシの内部にあるサーバの場合は、
      <a href="editparams.cgi?section=advanced#proxy_url_desc">proxy_url</a> パラメータが正しいか確認してください。</p>
    [% ELSIF release.error == "no_update" %]
      <p>ローカルの XML ファイル '[% release.xml_file FILTER html %]' をアップデートできません。
      ウェブサーバがこのファイルを編集できることを確認してください。</p>
    [% ELSIF release.error == "no_access" %]
      <p>ローカルの XML ファイル '[% release.xml_file FILTER html %]' を読み込めません。
      このファイルのパーミッションが正しく設定されているか確認してください。</p>
    [% ELSIF release.error == "corrupted" %]
      <p>ローカルの XML ファイル '[% release.xml_file FILTER html %]' は無効な XML 形式です。
      ファイルを消去し、このページを再読み込みしてください。</p>
    [% ELSIF release.error == "unknown_parameter" %]
      <p>'[% Param("upgrade_notification") FILTER html %]' は有効な通知の設定ではありません。
      <a href="editparams.cgi?section=general#upgrade_notification_desc">パラメータ</a> 
      設定ページから確認してください。</p>
    [% END %]
  </div>
[% END %]

<div id="page-index">
  <table>
    <tr>
      <td>
        <h1 id="welcome">[% terms.Bugzilla %] へようこそ</h1>
        <div class="intro">[% Hook.process('intro') %]</div>
        <a id="enter_bug" class="bz_common_actions"
           href="enter_bug.cgi"><span>[% terms.aBug %] 登録</span></a>
      
        <a id="query" class="bz_common_actions" 
           href="query.cgi"><span>検索</span></a>
      
        <a id="account" class="bz_common_actions"
          [% IF user.id %]
            href="userprefs.cgi"><span>ユーザ設定</span></a>
          [% ELSIF Param('createemailregexp')
                   && user.authorizer.user_can_create_account 
          %]
            href="createaccount.cgi"><span>新アカウント登録</span></a>
          [% ELSE %]
            href="?GoAheadAndLogIn=1"><span>ログイン</span></a>
          [% END %]

        <form id="quicksearchForm" name="quicksearchForm" action="buglist.cgi"
              onsubmit="return checkQuicksearch(this);">
          <div>
            <input id="quicksearch_main" type="text" name="quicksearch"
              onfocus="quicksearchHelpText(this.id, 'hide');"
              onblur="quicksearchHelpText(this.id, 'show');"
            >
            <input id="find" type="submit" value="簡易検索">
            <ul class="additional_links" id="quicksearch_links">
              <li>
                <a href="page.cgi?id=quicksearch.html">簡易検索ヘルプ</a>
              </li>
              <li class="bz_default_hidden" id="quicksearch_plugin">
                |
                <a href="javascript:window.external.AddSearchProvider('[% urlbase FILTER html %]search_plugin.cgi')">
                 簡易検索プラグインのインストール
                </a>
              </li>
            </ul>
            <ul class="additional_links">
              <li>
                <a href="[% docs_urlbase FILTER html %]using.html">
                  [%- terms.Bugzilla %] ユーザーズガイド</a>
              </li>
              <li>
                |
                <a href="page.cgi?id=release-notes.html"> リリースノート</a>
              </li>
            </ul>
          </div>
        </form>
        <div class="outro">[% Hook.process('outro') %]</div>
      </td>
    </tr>
  </table>
</div>

[% PROCESS global/footer.html.tmpl %]
