[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # release: a hash containing data about new releases, if any.
  #%]

[% PROCESS global/header.html.tmpl
   title = "$terms.Bugzilla メインページ"
   header = "メインページ" 
   header_addl_info = "バージョン $constants.BUGZILLA_VERSION"
%]

[% IF release %]
  <div id="new_release">
    [% IF release.data %]
      [% IF release.deprecated %]
        <p>Bugzilla [%+ release.deprecated FILTER html %] 
        はもはやサポートされていません。
        あなたのシステムの安全性のためにも、アップグレードを強くお勧めします。</p>
      [% END %]

      <p>新しい Bugzilla のバージョン ([% release.data.latest_ver FILTER html %])
      が
      <a href="[% release.data.url FILTER html %]">[% release.data.url FILTER html %]</a>
      から利用可能です。<br>
      リリース日は [% release.data.date FILTER html %] です。</p>

      <p class="notice">
        このメッセージは管理者権限を持つログインユーザにのみ表示されます。
        このメッセージの表示に関しては、
      <a href="editparams.cgi?section=general#upgrade_notification_desc">パラメータ</a> 
        ページから設定できます。</p>
    [% ELSIF release.error == "cannot_download" %]
      <p>リモートの <a href="[% constants.REMOTE_FILE FILTER html %]">
      [%~ constants.REMOTE_FILE FILTER html %]</a> がダウンロードできませんでした
      (理由: [% release.reason FILTER html %])。<br>
      リモート側に一時的に問題が発生しているか、
      あなたのウェブサーバからアクセスできていないかのどちらかです。
      プロキシがある環境の場合は、
       <a href="editparams.cgi?section=advanced#proxy_url_desc">proxy_url</a> パラメータを正しく設定してください。</p>
    [% ELSIF release.error == "no_write" %]
      <p>サーバローカルに '[% constants.LOCAL_FILE FILTER html %]' を作成できませんでした
      (理由: [% release.reason FILTER html %])。<br>
      ウェブサーバがこのディレクトリに書き込めることを確認してください。
    [% ELSIF release.error == "no_update" %]
      <p>ローカルの XML ファイル '[% constants.LOCAL_FILE FILTER html %]' をアップデートできません。
      ウェブサーバがこのファイルを編集できることを確認してください。</p>
    [% ELSIF release.error == "no_access" %]
      <p>ローカルの XML ファイル '[% constants.LOCAL_FILE FILTER html %]' を読み込めません。
      このファイルのパーミッションが正しく設定されているか確認してください。</p>
    [% ELSIF release.error == "corrupted" %]
      <p>ローカルの XML ファイル '[% constants.LOCAL_FILE FILTER html %]' は無効な XML 形式です。
      ファイルを消去し、このページを再読み込みしてください。</p>
    [% ELSIF release.error == "unknown_parameter" %]
      <p>'[% Param("upgrade_notification") FILTER html %]' は有効な通知の設定ではありません。
      <a href="editparams.cgi?section=general#upgrade_notification_desc">パラメータ</a> 
      設定ページから確認してください。</p>
    [% END %]
  </div>
[% END %]

<div id="page-index">
  <h1 id="welcome">[% terms.Bugzilla %] へようこそ</h1>
  <div class="intro">[% Hook.process('intro') %]</div>

  <div class="bz_common_actions">
    <ul>
      <li>
        <a id="enter_bug" href="enter_bug.cgi"><span>[% terms.aBug %] を登録</span></a>
      </li>
      <li>
        <a id="query" href="query.cgi"><span>検索</span></a>
      </li>
      <li>
        <a id="account"
           [% IF user.id %]
             href="userprefs.cgi"><span>ユーザ設定</span></a>
           [% ELSIF Param('createemailregexp')
                    && user.authorizer.user_can_create_account 
           %]
             href="createaccount.cgi"><span>新規アカウント作成</span></a>
           [% ELSE %]
             href="?GoAheadAndLogIn=1"><span>ログイン</span></a>
           [% END %]
      </li>
      [% IF Param("docs_urlbase") %]
        <li>
          <a id="help" href="[% docs_urlbase FILTER html %]using.html"><span>ドキュメント</span></a>
        </li>
      [% END %]
    </ul>
  </div>

  <div>
    <form id="quicksearchForm" name="quicksearchForm" action="buglist.cgi">
      <input id="quicksearch_main" name="quicksearch" title="簡易検索"
             placeholder="[% terms.abug %] # もしくは検索語を入力してください"
             autofocus required>
      <input id="find" type="submit" value="簡易検索">
      <a href="page.cgi?id=quicksearch.html" title="簡易検索ヘルプ">[?]</a>
    </form>

    <ul class="additional_links">
      [% Hook.process('additional_links') %]
    </ul>
  </div>

  <div id="common_queries">
    <h4>よく利用される検索:</h4>
    <ul>
      [% IF user.id %]
        <li>
          [% title = BLOCK %]自分が担当で活動中の [% terms.bugs %][% END %]
          <a href="buglist.cgi?f1=assigned_to&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---">
            [% title FILTER html %]</a> ([% assignee_count FILTER html %])
          <a href="buglist.cgi?f1=assigned_to&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---&amp;ctype=atom&amp;title=[% title FILTER uri %]"
             class="rss">&nbsp;</a>
        </li>
        <li>
          [% title = BLOCK %]自分が報告した活動中の [% terms.bugs %][% END %]
          <a href="buglist.cgi?f1=reporter&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---">
            [% title FILTER html %]</a> ([% reporter_count FILTER html %])
          <a href="buglist.cgi?f1=reporter&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---&amp;ctype=atom&amp;title=[% title FILTER uri %]"
             class="rss">&nbsp;</a>
        </li>
        [% IF Bugzilla.has_flags %]
          <li>
            [% title = BLOCK %]自分に要請されているフラグ[% END %]
            <a href="request.cgi?action=queue&amp;requestee=[% user.login FILTER uri %]&amp;group=type&amp;do_union=0">
              [% title FILTER html %]</a> ([% requestee_count FILTER html %])
            <a href="buglist.cgi?f1=requestees.login_name&amp;o1=equals&amp;v1=%25user%25&amp;ctype=atom&amp;title=[% title FILTER uri %]"
               class="rss">&nbsp;</a>
          </li>
        [% END %]
      [% END %]

      <li>
        <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=24h">過去24時間で</a>
        [% title = BLOCK %]過去24時間で報告された [% terms.Bugs %][% END %]
        <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=24h&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
        | <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=7d">過去7日で</a>
        [% title = BLOCK %]過去7日で報告された [% terms.Bugs %][% END %]
        <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=7d&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
        報告された [% terms.Bugs %] 
      </li>
      <li>
        <a href="buglist.cgi?chfieldfrom=24h">過去24時間で</a>
        [% title = BLOCK %]過去24時間で変更された [% terms.Bugs %][% END %]
        <a href="buglist.cgi?chfieldfrom=24h&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
        | <a href="buglist.cgi?chfieldfrom=7d">過去7日で</a>
        [% title = BLOCK %]過去7日で変更された [% terms.Bugs %][% END %]
        <a href="buglist.cgi?chfieldfrom=7d&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
        変更された [% terms.Bugs %]
      </li>
    </ul>
  </div>

  <div class="outro">[% Hook.process('outro') %]</div>
</div>

[% PROCESS global/footer.html.tmpl %]
