[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% INCLUDE global/header.html.tmpl
  title = "ジョブキューステータス"
  style_urls = [ "skins/standard/admin.css" ]
%]

[% IF jobs.size %]

  <p class="report_information">
    [% IF too_many_jobs %]
      [% job_count FILTER html %] 個のジョブが見つかりました。
      [% constants.JOB_QUEUE_VIEW_MAX_JOBS FILTER html %] 個のジョブ分の結果を表示します。
    [% ELSE %]
      [% jobs.size FILTER none %] 個のジョブがキューに入っています。
    [% END %]
  </p>

  <table id="report" class="hover" cellspacing="0" border="0" width="100%">
  <tr id="report-header">
    <th>次回再開時間</th>
    <th>エラー数</th>
    <th>エラー時間</th>
    <th>エラーメッセージ</th>
    <th>Job</th>
  </tr>
  [% FOREACH job IN jobs %]
    <tr class="report item [% loop.count % 2 == 1 ? "report_row_odd" : "report_row_even" %]">
      <td nowrap>
        [% IF job.grabbed_until %]
          [% time2str("%Y-%m-%d %H:%M:%S %Z", job.grabbed_until) FILTER html %]
        [% ELSE %]
          [% time2str("%Y-%m-%d %H:%M:%S %Z", job.run_time) FILTER html %]
        [% END %]
      </td>
      <td>
        [% job.error_count || "-" FILTER html %]
      </td>
      <td nowrap>
        [% IF job.error_count %]
          [% time2str("%Y-%m-%d %H:%M:%S %Z", job.error_time) FILTER html %]
        [% ELSE %]
          -
        [% END %]
      </td>
      <td>
        [% IF job.grabbed_until %]
          延期
        [% ELSIF job.error_count %]
          [% job.error_message FILTER html %]
        [% ELSE %]
          -
        [% END %]
      </td>
      <td>[% job.subject || '-' FILTER html %]</td>
    </tr>
  [% END %]
  </table>

[% ELSE %]

  <p class="report_information">
    キューにジョブはありません。
  </p>

[% END %]

[% INCLUDE global/footer.html.tmpl %]
