[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
  
[% PROCESS global/header.html.tmpl
   title = "sudo の開始"
   style_urls = ['skins/standard/admin.css']
   doc_section = "administration.html#impersonating-users"
 %]
 
[% DEFAULT target_login = "" %]

<p>
  Bugzilla の <b>sudo</b> 機能では、短期間 sudo セッションの中
  でほかのユーザになることができます。sudo セッション継続中は全ての操作が
  対象となるユーザがログインして行っているように実行されます。
</p>

<p class="areyoureallyreallysure">
  これは非常に有用な機能で、利用には注意が必要です。
  通常より操作を注意して行ってください。
</p>

<form action="relogin.cgi" method="POST">
  <p>
    開始するには
    <label for="target_login">対象のユーザ (<u>u</u>) を</label>:
    [% IF Param('usemenuforusers') %]
      選択
    [% ELSE %]
      入力
    [% END %]
    してください :
    [% INCLUDE global/userselect.html.tmpl
       id => "target_login"
       name => "target_login"
       value => target_login_default
       accesskey => "u"
       size => 30
    %]
  </p>
  
  [% IF !Param('usemenuforusers') %]
    <p>
      ユーザ名は確実に入力してください。検索は行われません。
    </p>
  [% END %]
  
  <p>
    次に、<label for="reason">なぜこの操作が必要か</label> の理由を述べてください :<br>
    <input type="text" id="reason" name="reason" size="80" maxlength="200"
           value="[% reason_default FILTER html %]">
  </p>
  
  <p>
    ここに入力した理由は対象のユーザにメールで送信されます。
    これを空白にしたとしても、対象のユーザは操作が行われたことを知るでしょう。
  </p>
  
  [% IF user.authorizer.can_login %]
    <p>
      最後に、<label for="Bugzilla_password">あなたの [% terms.Bugzilla %] パスワード</label>
      を入力してください :
      <input type="hidden" name="Bugzilla_login" value="
      [%- user.login FILTER html %]">
      <input type="password" id="Bugzilla_password" name="Bugzilla_password" size="20">
      <br>
      これには二つの理由があります。ひとつには、あなたのすでにログイン中のアカウントで、
      だれかが変更を加えようとするのを防ぐため。二つ目に、本当にこの機能が必要なのか、
      あなたが考える時間を作るためです。
    </p>
  [% END %]
  
  <p>
    セッションを開始するには次のボタンをクリックしてください :
    <input type="submit" id="begin_sudo" value="開始">
    <input type="hidden" name="action" value="begin-sudo">
    <input type="hidden" name="token" value="[% token FILTER html %]">
  </p>

</form>

[% PROCESS global/footer.html.tmpl %]
