[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # value: Bugzilla::Field::Choice; The field value being deleted.
  # value_count: number; The number of values available for this field.
  # field: object; the field the value is being deleted from.
  #%]

[% title = BLOCK %]
  '[% field.description FILTER html %]' ([% field.name FILTER html %]) 
  フィールドから値 '[% value.name FILTER html %]' の削除
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

<table border="1" cellpadding="4" cellspacing="0">
<tr bgcolor="#6666FF">
  <th valign="top" class="left">フィールド</th>
  <th valign="top" class="left">値</th>
</tr>
<tr>
  <td valign="top">フィールド名:</td>
  <td valign="top">[% field.description FILTER html %]</td>
</tr>
<tr>
  <td valign="top">フィールド値:</td>
  <td valign="top">[% value.name FILTER html %]</td>
</tr>
<tr>
  <td valign="top">[% terms.Bugs %]:</td>
  <td valign="top">
[% IF value.bug_count %]
  <a title="[%- field.description FILTER html %]' が '
            [%- value.name FILTER html %]' である [% terms.bugs %] のリスト"
     href="buglist.cgi?[% field.name FILTER uri %]=
           [%- value.name FILTER uri %]">
   [%- value.bug_count FILTER html %]</a>
[% ELSE %]
  無し
[% END %]
  </td>
</tr>
</table>

<h2>確認</h2>

[% IF value.is_default || value.bug_count || (value_count == 1)
      || value.controls_visibility_of_fields.size
      || value.controlled_values_array.size 
%]

  <p>申し訳ありませんが、下記の理由により、
    '[% value.name FILTER html %]' の値は
    '[% field.description FILTER html %]' フィールドから削除できません:</p>

  <ul class="warningmessages">
    [% IF value.is_default %]
      <li>'[% value.name FILTER html %]' は
        '[% field.description FILTER html %]' フィールドの既定値です。
        [% IF user.in_group('tweakparams') %]
          先に<a href="editparams.cgi?section=bugfields">既定値を変更</a> 
          してからこの値を削除する必要があります。
        [% END %]
      </li>
    [% END %]

    [% IF value.bug_count %]
      <li>
        [% IF value.bug_count > 1 %]
          [% value.bug_count FILTER html %] 件の [%+ terms.bugs %] が
        [% ELSE %]
          [% terms.bug %] が 1 件
        [% END %]
        この値を使用しています。
          <a title="[%- field.description FILTER html %]' が '
                    [%- value.name FILTER html %]'
                    である [% terms.bugs %] の一覧"
             href="buglist.cgi?[% field.name FILTER uri %]=
                   [%- value.name FILTER uri %]">
            [% IF value.bug_count > 1 %]
              これらの [% terms.bugs %] 
            [% ELSE %]
              この [% terms.bug %]
            [% END %]
          </a>
          を先に別の値に変更しないと削除できません。
        </li>
    [% END %]

    [% IF value_count == 1 %]
      <li>'[% value.name FILTER html %]' は
        '[%- field.description FILTER html %]' の最後の値ですので削除できません。
      </li>
    [% END %]

    [% IF value.controls_visibility_of_fields.size %]
      <li>この値は次のフィールドを表示するかを制御しています:<br>
        [% FOREACH field = value.controls_visibility_of_fields %]
          <a href="editfields.cgi?action=edit&name=
                   [%- field.name FILTER uri %]">
            [%- field.description FILTER html %] 
            ([% field.name FILTER html %])</a><br>
        [% END %]
      </li>
    [% END %]

    [% IF value.controlled_values_array.size %]
      <li>この値は次の他のフィールドの値を表示するかどうかを制御しています:<br>
       [% FOREACH field_name = value.controlled_values.keys %]
         [% FOREACH controlled = value.controlled_values.${field_name} %]
           <a href="editvalues.cgi?action=edit&field=
                    [%- controlled.field.name FILTER uri %]&value=
                    [%- controlled.name FILTER uri %]">
             [% controlled.field.description FILTER html %]
             ([% controlled.field.name FILTER html %]):
             [%+ controlled.name FILTER html %]</a><br>
         [% END %]
       [% END %]
      </li>
    [% END %]
  </ul>

[% ELSE %]

  <p>本当にこの値を削除してもよろしいですか?</p>

  <form method="post" action="editvalues.cgi">
    <input type="submit" value="はい、削除します" id="delete">
    <input type="hidden" name="action" value="delete">
    <input type="hidden" name="field" value="[% field.name FILTER html %]">
    <input type="hidden" name="value" value="[% value.name FILTER html %]">
    <input type="hidden" name="token" value="[% token FILTER html %]">
  </form>

[% END %]

[% PROCESS admin/fieldvalues/footer.html.tmpl
  no_edit_link = 1
 +%]

[% PROCESS global/footer.html.tmpl %] 
