[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

テンプレートフックはこのディレクトリに配置します。
テンプレートフックは、通常の [%+ terms.Bugzilla %] テンプレートから、
[[% '%' %] Hook.process('some-hook') %] のように呼び出されます。
より詳細に関しては、B[% %]ugzilla::Extension のドキュメントを参照してください。
(もしくは、"perldoc B[% %]ugzilla::Extension" を [%+ terms.Bugzilla %] 
のディレクトリで行うことで見ることもできます。)
