[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # name: string; The name of the extension.
  #%]

# このファイルの内容は、Mozilla Public Licence Version 2.0 
# でライセンスされています。このライセンスに従わない場合、このファイルを利用す
# ることはできません。ライセンスのコピーは http://mozilla.org/MPL/2.0/ から入
# 手できます。
#
# このソースコードは、Mozilla Public Licence Version 2.0 に定義されている
# "Incompatible With Secondary Licenses" に基づきます。
