[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # name: string; The name of the extension.
  #%]

# -*- Mode: perl; indent-tabs-mode: nil -*-
#
# このファイルの内容は、Mozilla Public Licence Version 1.1 (以下、"ライセンス")
# でライセンスされています。このライセンスに従わない場合、このファイルを利用す
# ることはできません。ライセンスのコピーは http://www.mozilla.org/MPL/ から入
# 手できます。
#
# このランセンスの元で配布されているソフトウェアは、"ありのまま"に配布されて
# おり、限られたもしくは無制限に限らず、どのような種類の保障もありません。各
# 言語でのライセンスを参照し、ライセンスで与えられている権利や制限を理解して
# ください。
#
# このファイルは [%+ terms.Bugzilla %] の [% name %] 拡張です。
#
# オリジナルの開発者は "YOUR NAME" です。
# オリジナルの開発者によって作成された部分は
# Copyright (C) [% year %] オリジナル開発者 にあり、権利は保持されています。
#
# 貢献者:
#   YOUR NAME <YOUR EMAIL ADDRESS>
