[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # name: string; the name of the extension.
  #%]

[% USE String('#') %]
[% name %]
[%+ String.repeat(name.length) %]

[% name %] 拡張のサンプルドキュメントファイルです。他の Bugzilla ドキュメント
と同じく、
`reStructured Text (reST) 形式 <http://sphinx-doc.org/latest/rest.html>`_
で記述されており、
`Sphinx <http://sphinx-doc.org/>`でコンパイルします。

ドキュメントを自分で :file:`makedocs.pl` でコンパイルした場合、このファイルは、
自動的に拡張機能の章に挿入されます。
