[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

通常のテンプレートはこのディレクトリに配置されます。
テンプレートは、以下のようにコードから読むことができます。

use Bugzilla::Error;
my $template = Bugzilla->template;
$template->process('[% name FILTER lower %]/some-template.html.tmpl')
  or ThrowTemplateError($template->error());

これが、このディレクトリにある some-template.html.tmpl というテンプレート
ファイルの呼び出し方です。

注意: あなたのテンプレートに付けたフルパスが、Bugzilla や、
ほかの拡張にすでに存在するテンプレートと重ならないように注意してください。
重なると、それらのテンプレートを上書きすることになります。これが、システム
が '[% name FILTER lower %]' ディレクトリを作成している理由であり、衝突な
しにテンプレートを作成することが可能になります。
