[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

ウェブからアクセス可能なファイル、たとえば JavaScript, CSS, 画像などのファイルは、
このディレクトリにおいてください。HTML から直接参照することが可能です。
たとえば、"style.css" ファイルを拡張機能 "Foo" から呼び出す場合は、
"extensions/Foo/web/style.css" にファイルを置き、HTML を次のようにしてください。

<link href="extensions/Foo/web/style.css" rel="stylesheet" type="text/css">
