[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # This template has no interface.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
           title = "全ての投票を削除しますか?"
 %]

<p>
  あなたは全ての [% terms.bug %] 投票を削除しようとしています。
  本当に全ての投票した [% terms.bug %] の票を取り除きますか?
</p>

<form action="votes.cgi" method="post">
    <input type="hidden" name="action" value="vote">
  <input type="hidden" name="token" value="[% issue_hash_token(['vote']) FILTER html %]"> 
  <p>
    <input type="radio" name="delete_all_votes" value="1">
    はい。削除します。
  </p>
  <p>
    <input type="radio" name="delete_all_votes" value="0" checked="checked">
    いいえ。戻って自分の投票を確認します。
  </p>
  <p>
    <input type="submit" id="vote" value="実行">
  </p>
</form>

[% PROCESS global/footer.html.tmpl %]
