[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # settings:      a hash of hashes, keyed by setting name.
  #                Each hash contains:
  #                 is_enabled    - boolean
  #                 default_value - string (global default for this setting)
  #                 value         - string (user-defined preference)
  #                 is_default    - boolean (true if user has no preference)
  #%]

[% PROCESS global/header.html.tmpl
  title = "既定の設定"
  style_urls = ['skins/standard/admin.css']
%]

[% PROCESS "global/setting-descs.none.tmpl" %]

<p>
ここでは既定の設定を変更できます。
ここで設定した各設定の既定値はログインしていない全てのユーザで、
ユーザ自身が値を設定していない場合に適用されます。
</p>
<div>
'有効' のチェックボックスでこの設定がユーザによって設定可能かどうかを制御できます。
<ul>
  <li>チェックが入っている場合、ユーザ自身が望む設定に変更することができます。</li>
  <li>チェックが入っていない場合、全員に既定値が自動的に適用されます。</li>
</ul>
</div>

    <form id="settings" method="post" action="editsettings.cgi">
      <table id="admin_table">
        <tr class="column_header">
        <th>設定項目</th>
        <th>既定値</th>
        <th>有効</th>
      </tr>

        [% FOREACH name = settings.keys.sort %]
          [% checkbox_name = name _ '-enabled' %]
          <tr>
            <td>
              [% setting_descs.$name OR name FILTER html %]
            </td>
            <td>
              <select name="[% name FILTER html %]" id="[% name FILTER html %]">
                [% FOREACH x = settings.${name}.legal_values %]
                    <option value="[% x FILTER html %]"
                      [% " selected=\"selected\"" IF x == settings.${name}.default_value %]>
                      [% setting_descs.${x} OR x FILTER html %]
                    </option>
                [% END %]
              </select>
            </td>
            <td class="center">
              <input type="checkbox"
                name="[% checkbox_name FILTER html %]"
                id="[% checkbox_name FILTER html %]"
                [% " checked=\"checked\"" IF settings.${name}.is_enabled %]>
            </td>
          </tr>
      [% END %]
      </table>

    <input type="hidden" name="action" value="update">
    <input type="hidden" name="token" value="[% token FILTER html %]">
    <input type="submit" id="update" value="変更を保存">
  </form>

[% PROCESS global/footer.html.tmpl %]
