[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # settings:      a hash of hashes, keyed by setting name.
  #                Each hash contains:
  #                 is_enabled    - boolean
  #                 default_value - string (global default for this setting)
  #                 value         - string (user-defined preference)
  #                 is_default    - boolean (true if user has no preference)
  #%]

[% PROCESS global/header.html.tmpl
   title = "既定の設定"
 %]

[% PROCESS "global/setting-descs.none.tmpl" %]

<p>
ここでは既定の設定を変更できます。
</p>
<p>
ここで設定した各設定の既定値はログインしていない全てのユーザで、
ユーザ自身が値を設定していない場合に適用されます。
</p>
<p>
'有効' のチェックボックスでこの設定がユーザによって設定可能かどうかを制御できます。<br>
チェックが入っている場合、この設定はユーザの環境設定ページに表示され、
ユーザ自身が望む設定に変更することができます。<br>
チェックが入っていない場合、この設定はユーザの環境設定ページには表示されません。
また、全員に既定値が自動的に適用されます。
</p>
<hr>

[% IF settings.size %]
    <form name="adminsettingform" method="post" action="editsettings.cgi">
      <table border="1" cellpadding="4">
      <tr>
        <th>設定項目</th>
        <th>既定値</th>
        <th>有効</th>
      </tr>

      [% FOREACH name = settings.keys %]
          [% checkbox_name = name _ '-enabled' %]
          <tr>
            <td align="right">
              [% setting_descs.$name OR name FILTER html %]
            </td>
            <td>
              <select name="[% name FILTER html %]" id="[% name FILTER html %]">
                [% FOREACH x = settings.${name}.legal_values %]
                    <option value="[% x FILTER html %]"
                      [% " selected=\"selected\"" IF x == settings.${name}.default_value %]>
                      [% setting_descs.${x} OR x FILTER html %]
                    </option>
                [% END %]
              </select>
            </td>
            <td align="center">
              <input type="checkbox"
                name="[% checkbox_name FILTER html %]"
                id="[% checkbox_name FILTER html %]"
                [% " checked=\"checked\"" IF settings.${name}.is_enabled %]>
              <br>
            </td>
          </tr>
      [% END %]
      </table>

    <input type="hidden" name="action" value="update">
    <input type="hidden" name="token" value="[% token FILTER html %]">
    <table>
      <tr>
        <td width="150"></td>
        <td>
          <input type="submit" id="update" value="変更を保存">
        </td>
      </tr>
    </table>
  
  </form>
[% ELSE %]
  変更可能な設定がありません。
[% END %]

[% PROCESS global/footer.html.tmpl %]
