[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% title = BLOCK %]
  プロダクト '[%- product.name FILTER html %]' のグループによる制限を確認してください
[% END %]

[% PROCESS global/header.html.tmpl title = title %]

[% FOREACH group = mandatory_groups %]
<P>
グループ '[% group.name FILTER html %]' はグループが新たに制限を加えるため、[% group.count %] 件の [%+ terms.bugs %] が更新されます。
[% END %]

[% FOREACH group = na_groups %]
<P>
グループ '[% group.name FILTER html %]' はグループの制限が削除されるため、[% group.count %] 件の [% terms.bugs %] が更新されます。
[% END %]
<form action="editproducts.cgi" method="post" >

  [% PROCESS "global/hidden-fields.html.tmpl" exclude="^Bugzilla_(login|password)$" %]

  <p>
     上記の内容を含む変更を行うのであれば "続行" をクリックしてください。
     もし、この変更を行いたくないのであれば、"戻る" を使って前のページに戻ってください。
  </p>
  <input type="hidden" name="confirmed" value="confirmed">
  <input type="submit" id="update" value="続行">
</form>


[% PROCESS global/footer.html.tmpl %]


