[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # product: Bugzilla::Product object; the product.
  # changes: Hashref with changes made to the product group controls.
  #%]

[% title = BLOCK %]
    [% product.name FILTER html %] のグループによる制限を更新
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
%]

[% IF changes._group_controls.now_na.size %]
  [% FOREACH g = changes._group_controls.now_na %]
    <p>
    このプロダクトには適用されなくなったグループ '[% g.name FILTER html %]' 
    から [% terms.bugs %] を削除しています。<br>
    [% IF g.bug_count == 1 %]
      一件の [% terms.bug %] を削除しました。
    [% ELSE %]
      [% g.bug_count FILTER html %] 件の [%+ terms.bugs %] を削除しました。
    [% END %]
    </p>
  [% END %]
[% END %]

[% IF changes._group_controls.now_mandatory.size %]
  [% FOREACH g = changes._group_controls.now_mandatory %]
    <p>
    このプロダクトに必ず適用されるグループ '[% g.name FILTER html %]' に 
    [% terms.bugs %] を追加しています。<br>
    [% IF g.bug_count == 1 %]
      一件の [% terms.bug %] を追加しました。
    [% ELSE %]
      [% g.bug_count FILTER html %] 件の [%+ terms.bugs %] を追加しました。
    [% END %]
    </p>
  [% END %]
[% END %]

<p>グループによる制限を更新しました。</p>

[% PROCESS admin/products/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %]
