[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% title = "パスワード変更" %]
[% PROCESS global/header.html.tmpl %]

<p>
  パスワードを変更するには、新しいパスワードを 2 回入力してください。
</p>

<form method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="chgpw">
  <table>
    <tr>
      <th>新しいパスワード:</th>
      <td>
        <input type="password" name="password">
        (最低 [% constants.USER_PASSWORD_MIN_LENGTH FILTER none %] 文字)
      </td>
    </tr>
    
    <tr>
      <th>新しいパスワードの確認:</th>
      <td>
        <input type="password" name="matchpassword">
      </td>
    </tr>
    
    <tr>
      <th>&nbsp;</th>
      <td>
        <input type="submit" id="update" value="変更">
      </td>
    </tr>
  </table>
</form>

[% PROCESS global/footer.html.tmpl %]
