[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% title = "パスワード変更" %]
[% PROCESS global/header.html.tmpl %]

[% password_complexity = Param('password_complexity') %]
<p>
  パスワードを変更するには、新しいパスワードを 2 回入力してください。<br>
</p>

<ul>
  <li>パスワードは最低でも [% constants.USER_PASSWORD_MIN_LENGTH FILTER none %] 文字必要です。</li>
  [% IF password_complexity == "mixed_letters" %]
    <li>パスワードには大文字、小文字がそれぞれ最低一文字必要です。</li>
  [% ELSIF password_complexity == "letters_numbers" %] 
    <li>パスワードには大文字、小文字、数字がそれぞれ最低一文字必要です。</li>
  [% ELSIF password_complexity == "letters_numbers_specialchars" %]
    <li>パスワードには英文字、数字、特殊文字がそれぞれ最低一文字必要です。</li>
  [% END %]
</ul>

<form method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="chgpw">
  <table>
    <tr>
      <th>新しいパスワード:</th>
      <td>
        <input type="password" name="password">
      </td>
    </tr>
    
    <tr>
      <th>新しいパスワードの確認:</th>
      <td>
        <input type="password" name="matchpassword">
      </td>
    </tr>
    
    <tr>
      <th>&nbsp;</th>
      <td>
        <input type="submit" id="update" value="変更">
      </td>
    </tr>
  </table>
</form>

[% PROCESS global/footer.html.tmpl %]
