[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/header.html.tmpl
   title = "添付の表示と追加"
 %]

<form name="choose-id" method="get" action="attachment.cgi">
  <p>以下に ID を入力して添付にアクセスします。</p>
  <p>添付 ID: <input name="id" size="6" autofocus required>
  <button name="action" value="edit" id="edit">詳細</button>
  <button name="action" value="view" id="view">見る</button>
  </p>
</form>

<form method="get" action="show_bug.cgi">
  <p>もしくは、[% terms.bug %] 報告に関連した添付のリストを表示します。</p>
  <p>[% terms.Bug %] ID: <input name="id" size="6" required>
  <input type="submit" name="action" value="表示" id="action">
  </p>
</form>

<form method="get" action="attachment.cgi">
  <p>もしくは、[% terms.bug %] ID を入力して新規作成します。</p>
  <p>[% terms.Bug %] ID: <input name="bugid" size="6" required>
    <button name="action" value="enter" id="action">新規添付の作成</button>
  </p>
</form>

[% PROCESS global/footer.html.tmpl %]
