[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # a: attachment object; attachment the user wants to delete.
  # token: string; The token used to identify the session.
  #%]

[% title = BLOCK %]
  [% terms.Bug %] [%+ a.bug_id FILTER html %]
  の添付 [% a.id FILTER html %] を削除する
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
  doc_section = "using/editing.html#attachments"
%]

<table id="admin_table">
  <tr class="column_header">
    <th>項目</th>
    <th>値</th>
  </tr>
  <tr>
    <td>添付 ID:</td>
    <td>
      <a href="attachment.cgi?id=[% a.id FILTER html %]">[% a.id FILTER html %]</a>
    </td>
  </tr>
  <tr>
    <td>ファイル名:</td>
    <td>[% a.filename FILTER html %]</td>
  </tr>
  <tr>
    <td>説明:</td>
    <td>[% a.description FILTER html %]</td>
  </tr>
  <tr>
    <td>関連する [% terms.Bug %]:</td>
    <td>[% a.bug_id FILTER bug_link(a.bug_id) FILTER none %]</td>
  </tr>
  <tr>
    <td>登録者:</td>
    <td>[% a.attacher.identity FILTER html %]</td>
  </tr>
  <tr>
    <td>登録日:</td>
    <td>[% a.attached FILTER time %]</td>
  </tr>
</table>

<h2>確認</h2>

<p class="confirmation">
      添付の中身の削除は<b>復元できない</b>作業です。
</p>

<p>本当にこの添付を削除しますか ?</p>

<form action="attachment.cgi" method="POST">
  <label for="reason">削除理由:</label>
  <input type="text" id="reason" name="reason" value="" size="80" maxlength="200">
  <br>
  <input type="submit" value="削除します" id="delete">
  <input type="hidden" name="action" value="delete">
  <input type="hidden" name="id" value="[% a.id FILTER html %]">
  <input type="hidden" name="token" value="[% token FILTER html %]">
</form>

<p>
  削除をやめて
  [%+ "$terms.bug " _ a.bug_id FILTER bug_link(a.bug_id) FILTER none %]
  に戻ります。
</p>

[% PROCESS global/footer.html.tmpl %]
