[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  #                 Frederic Buclin <LpSolit@gmail.com>
  #%]

[% PROCESS global/variables.none.tmpl %]

[%# Define strings that will serve as the title and header of this page %]
[% title = BLOCK %]
  [% terms.Bug %] [%+ attachment.bug_id %] の添付 [% attachment.id %] の詳細
[% END %]
[% header = BLOCK %]
  [% "$terms.Bug ${attachment.bug_id}" FILTER bug_link(attachment.bug_id) FILTER none %]
  添付 [% attachment.id %] の詳細
[% END %]
[% subheader = BLOCK %][% attachment.bug.short_desc FILTER html %][% END %]

[% PROCESS global/header.html.tmpl
  title = title
  header = header
  subheader = subheader
  doc_section = "attachments.html"
  javascript_urls = ['js/attachment.js'];
%]

[%# No need to display the Diff button and iframe if the attachment is not a patch. %]
[% patchviewerinstalled = (patchviewerinstalled && attachment.ispatch) %]

<form method="post" action="attachment.cgi" onsubmit="normalizeComments();">
  <input type="hidden" name="id" value="[% attachment.id %]">
  <input type="hidden" name="action" value="update">
  <input type="hidden" name="contenttypemethod" value="manual">
  <input type="hidden" name="delta_ts" value="[% attachment.modification_time FILTER html %]">
  [% IF user.id %]
    <input type="hidden" name="token" value="[% issue_hash_token([attachment.id, attachment.modification_time]) FILTER html %]">
  [% END %]

  <table class="attachment_info" width="100%">

    <tr>
      <td width="25%">
        <small>
        <b><label for="description">説明</label>:</b><br>
          [% INCLUDE global/textarea.html.tmpl
            id             = 'description'
            name           = 'description'
            minrows        = 3
            cols           = 25
            wrap           = 'soft'
            defaultcontent = attachment.description
          %]<br>

        [% IF attachment.isurl %]
            <input type="hidden" name="filename"
                   value="[% attachment.filename FILTER html %]">
            <input type="hidden" name="contenttypeentry"
                   value="[% attachment.contenttype FILTER html %]">
        [% ELSE %]
          <b><label for="filename">ファイル名</label>:</b><br>
            <input type="text" size="20" id="filename" name="filename"
                   value="[% attachment.filename FILTER html %]"><br>
          <b>サイズ:</b>
          [% IF attachment.datasize %]
            [%+ attachment.datasize FILTER unitconvert %]
          [% ELSE %]
            <em>削除済み</em>
          [% END %]<br>

          <b><label for="contenttypeentry">MIME 型</label>:</b><br>
            <input type="text" size="20"
                   id="contenttypeentry" name="contenttypeentry"
                   value="[% attachment.contenttype FILTER html %]"><br>

          <input type="checkbox" id="ispatch" name="ispatch" value="1"
                 [%+ 'checked="checked"' IF attachment.ispatch %]>
          <label for="ispatch">パッチ</label>
        [% END %]
          <input type="checkbox" id="isobsolete" name="isobsolete" value="1"
                 [%+ 'checked="checked"' IF attachment.isobsolete %]>
          <label for="isobsolete">用済み</label>
          [% IF (Param("insidergroup") && user.in_group(Param("insidergroup"))) %]
            <input type="checkbox" id="isprivate" name="isprivate" value="1"
                   [% " checked" IF attachment.isprivate %]>
            <label for="isprivate">プライベート</label><br>
          [% END %]
          <br>
        </small>

        [% IF attachment.flag_types.size > 0 %]
          [% PROCESS "flag/list.html.tmpl" bug_id = attachment.bug_id
                                           attach_id = attachment.id
                                           flag_types = attachment.flag_types
          %]<br>
        [% END %]

        <div id="smallCommentFrame">
          <b><small><label for="comment">コメント</label>
          ([% terms.bug %] の):</small></b><br>
            [% INCLUDE global/textarea.html.tmpl
              id      = 'comment'
              name    = 'comment'
              minrows = 5
              cols    = 25
              wrap    = 'soft'
            %]<br>
        </div>

        <input type="submit" value="Submit" id="update"><br><br>
        <strong>操作:</strong>
        <a href="attachment.cgi?id=[% attachment.id %]">見る</a>
        [% IF attachment.ispatch && patchviewerinstalled %]
         | <a href="attachment.cgi?id=[% attachment.id %]&amp;action=diff">Diff</a>
        [% END %]
        [% IF Param("allow_attachment_deletion")
              && user.in_group('admin')
              && attachment.datasize > 0 %]
          | <a href="attachment.cgi?id=[% attachment.id %]&amp;action=delete">削除</a>
        [% END %]
      </td>

      [% IF !attachment.datasize %]
        <td width="75%"><b>この添付の中身は削除済みです。</b></td>
      [% ELSIF attachment.isurl %]
        <td width="75%">
          <a href="[% attachment.data FILTER html %]">
            [% IF attachment.datasize < 120 %]
              [% attachment.data FILTER html %]
            [% ELSE %]
              [% attachment.data FILTER truncate(80) FILTER html %]
              &nbsp;...
              [% attachment.data.match(".*(.{20})$").0 FILTER html %]
            [% END %]
          </a>
        </td>
      [% ELSIF !Param("allow_attachment_display") %]
        <td id="view_disabled" width="50%">
          <p><b>
            この添付は [% terms.Bugzilla %] のセキュリティー制限により、
            あなたのブラウザでは表示することができません。
          </b></p>
          <p><b>
            添付を見るには、
            <a href="attachment.cgi?id=[% attachment.id %]">ダウンロード</a> する必要があります。
          </b></p>
        </td>
      [% ELSIF attachment.is_viewable %]
        <td width="75%">
          [% INCLUDE global/textarea.html.tmpl
            id      = 'editFrame'
            name    = 'comment'
            style   = 'height: 400px; width: 100%; display: none'
            minrows = 10
            cols    = 80
            wrap    = 'soft'
            defaultcontent = (attachment.contenttype.match('^text\/')) ?
                               attachment.data.replace('(.*\n|.+)', '>$1') : undef
          %]
          <iframe id="viewFrame" src="attachment.cgi?id=[% attachment.id %]" style="height: 400px; width: 100%;">
            <b>あなたのブラウザが IFRAME をサポートしていないので、添付の詳細をここで見ることができません。
            <a href="attachment.cgi?id=[% attachment.id %]">別のページで見てください</a>。</b>
          </iframe>
          <script type="text/javascript">
            <!--
            var patchviewerinstalled = 0;
            var attachment_id = [% attachment.id %];
            if (typeof document.getElementById == "function") {
[% IF patchviewerinstalled %]
              var patchviewerinstalled = 1;
              document.write('<iframe id="viewDiffFrame" style="height: 400px; width: 100%; display: none;"><\/iframe>');
[% END %]
              document.write('<button type="button" id="editButton" onclick="editAsComment(patchviewerinstalled);"添付をコメントに引用して編集<\/button>');
              document.write('<button type="button" id="undoEditButton" onclick="undoEditAsComment(patchviewerinstalled);" style="display: none;">コメントとしての編集をやめる<\/button>');
              document.write('<button type="button" id="redoEditButton" onclick="redoEditAsComment(patchviewerinstalled);" style="display: none;">コメントとしての編集を再開する<\/button>');
[% IF patchviewerinstalled %]
              document.write('<button type="button" id="viewDiffButton" onclick="viewDiff(attachment_id, patchviewerinstalled);">Diff 形式で添付を見る<\/button>');
[% END %]
              document.write('<button type="button" id="viewRawButton" onclick="viewRaw(patchviewerinstalled);" style="display: none;">Raw 形式で添付を見る<\/button>');
            }
            //-->
          </script>
        </td>
      [% ELSE %]
        <td id="noview" width="50%">
          <p><b>
            この添付はあなたのブラウザでは見ることができません。
            この MIME 型 ([% attachment.contenttype FILTER html %]) はブラウザでは表示できません。
          </b></p>
          <p><b>
            <a href="attachment.cgi?id=[% attachment.id %]">添付をダウンロード</a>
          </b></p>
        </td>
      [% END %]

    </tr>

  </table>

  この [% terms.Bug %] への添付:
  [% FOREACH a = attachments %]
    [% IF a == attachment.id %]
      [%+ a %]
    [% ELSE %]
      <a href="attachment.cgi?id=[% a %]&amp;action=edit">[% a %]</a>
    [% END %]
    [% " |" UNLESS loop.last() %]
  [% END %]

</form>

<br>

[% PROCESS global/footer.html.tmpl %]
