[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # operations: array; bug activity since the user last displayed the attachment form,
  #   used by bug/activity/table.html.tmpl to display recent changes that will
  #   be overwritten if the user submits these changes.  See that template
  #   for further documentation.
  # attachment: object; the attachment being changed.
  #%]

[%# The global Bugzilla->cgi object is used to obtain form variable values. %]
[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[% PROCESS global/header.html.tmpl title = "空中衝突 !" %]

<h1>衝突が検出されました !</h1>

<p>
  他の誰かが
  [% "$terms.bug $attachment.bug_id" FILTER bug_link(attachment.bug_id) FILTER none %] の
  <a href="attachment.cgi?id=[% attachment.id %]&amp;action=edit">添付 [% attachment.id %]</a>
  に同時に変更を加えようとしました。変更は
</p>

<p>
  [% PROCESS "bug/activity/table.html.tmpl" incomplete_data=0 %]
</p>

[% IF cgi.param("comment") %]
<p>
  あなたのコメントは:<br>
  <blockquote><pre class="bz_comment_text">
    [% cgi.param("comment") FILTER html %]
  </pre></blockquote>
</p>
[% END %]

<p>
次の選択が可能です:
</p>

<ul>
  <li>
    <form method="post" action="attachment.cgi">
      [% PROCESS "global/hidden-fields.html.tmpl" exclude="^Bugzilla_(login|password)$" %]
      <input type="submit" id="process" value="変更を実行します">
        上記の全ての変更を上書きします。
    </form>
  </li>
  <li>
    変更をやめ
    <a href="attachment.cgi?id=[% attachment.id %]&amp;action=edit">
    添付 [% attachment.id %]</a> に戻ります
  </li>
</ul>

[% PROCESS global/footer.html.tmpl %]
