[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% filtered_summary = bugsummary FILTER html %]
[% header = BLOCK %][% "$terms.Bug $bug.id" FILTER bug_link(bug) FILTER none %]
の全ての添付を見る[% END %]

[% title = BLOCK %]
  [% terms.Bug %] [%+ bug.bug_id FILTER html %] の全ての添付を見る
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  header = header
  subheader = filtered_summary
  style_urls = ['skins/standard/bug.css']
%]

[% IF hide_obsolete %]
  <div id="hidden_obsolete_message">
    用済みの添付は隠されています。(用済みを含む)全ての添付を見るには、
    <a href="attachment.cgi?bugid=[% bug.id FILTER html %]&amp;action=viewall">全てを表示クリック</a>
    してください。
  </div>
[% END %]

[% FOREACH a = attachments %]

<div class="viewall_frame_container">
  <table class="viewall_desc">
    <tr>
      <th colspan="6" class="bz_attach_footer">添付 #[% a.id %]</th>
    </tr>
    <tr>
      <td>
        [% a.description FILTER html FILTER obsolete(a.isobsolete) %]
      </td>

      <td>
        [% IF a.ispatch %]
          <i>パッチ</i>
        [% ELSE %]
          [% a.contenttype FILTER html %]
        [% END %]
      </td>

      <td>[% a.attached FILTER time %]</td>
      <td>[% a.datasize FILTER unitconvert %]</td>

      <td>
        [% IF a.flags.size == 0 %]
          <i>フラグなし</i>
        [% ELSE %]
          [% FOREACH flag = a.flags %]
            [% flag.setter.nick FILTER html %]:
            [%+ flag.type.name FILTER html %][% flag.status %]
            [% IF flag.status == "?" && flag.requestee %]
              ([% flag.requestee.nick FILTER html %])
            [% END %]
            [% ", " IF !loop.last %]
          [% END %]
        [% END %]
      </td>

      <td>
        <a href="attachment.cgi?id=[% a.id %]&amp;action=edit">詳細</a>
      </td>
    </tr>
  </table>

  [% IF a.is_viewable %]
+    [% IF a.contenttype == "text/html" %]
     [%# For security reasons (clickjacking, embedded scripts), we never
        # render HTML pages from here. The source code is displayed instead. %]
       [% INCLUDE global/textarea.html.tmpl
         minrows = 10
         cols    = 80
         defaultcontent = a.data
         readonly = 'readonly'
         classes = 'viewall_frame'
      %]
    [% ELSE %]
      <iframe src="attachment.cgi?id=[% a.id %]" class="viewall_frame" sandbox>
        <b>あなたのブラウザが IFRAME をサポートしていないため、添付をこのページ内で見ることはできません。
        <a href="attachment.cgi?id=[% a.id %]">添付を別々のページで見る</a>。</b>
      </iframe>
    [% END %]
  [% ELSE %]
    <p><b>
      MIME 型が text/* image/* や application/vnd.mozilla.* でないため、添付を見ることができません。
      <a href="attachment.cgi?id=[% a.id %]">添付をダウンロードする</a>。
    </b></p>
  [% END %]
</div>

[% END %]

[% PROCESS global/footer.html.tmpl %]
