[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # group: The Bugzilla::Group being changed.
  # regexp: the regexp according to which the update is performed.
  #%]

[% IF regexp %]
  [% title = "確認: 正規表現に該当する明示されたユーザを除外しますか?" %]
[% ELSE %]
  [% title = "確認: すべての明示されたユーザを削除しますか?" %]
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  doc_section = "groups.html"
%]

[% IF regexp %]
  <p>このオプションにより、ログイン名が次の正規表現に該当するすべてのユーザが、
    '[% group.name FILTER html %]' から削除されます :
    '[% regexp FILTER html %]'</p>
[% ELSE %]
  <p>このオプションにより、[% group.name FILTER html %] グループのすべての
    明示されたユーザが削除されます。</p>
[% END %]
  
<p>一般的に、この操作は Bugzilla 2.16 以前からアップグレードする際に
  作成されるグループにのみ行う必要があります。
  このオプションは、より詳細な情報についてドキュメントを参照し、
  <b>かなり注意して</b> 実行してください。
</p>
    
<form method="post" action="editgroups.cgi">
  <input type="hidden" name="group_id" value="[% group.id FILTER html %]">
  <input type="hidden" name="regexp" value="[% regexp FILTER html %]">
  <input type="hidden" name="action" value="remove_regexp">
  
  <input name="token" type="hidden" value="[% token FILTER html %]">
  <input id="confirm" name="confirm" type="submit" value="実行">
  <p>Or <a href="editgroups.cgi">グループ編集ページに戻る</a>.</p>
</form>
    
[% PROCESS global/footer.html.tmpl %] 
