[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # none
  #%]

[% PROCESS global/header.html.tmpl
  title = "グループの追加"
  subheader = "この画面で新規グループ追加を行えます。"
  style_urls = ['skins/standard/admin.css']
  doc_section = "administration.html#creating-groups"
%]

<form method="post" action="editgroups.cgi">
  <table id="admin_table_edit">
    <tr>
      <th>新しい名前:</th>
      <td><input size="60" maxlength="255" name="name"></td>
    </tr>
    <tr>
      <th>説明:</th>
      <td><input size="60" name="desc"></td>
    </tr>
    <tr>
      <th>含める正規表現:</th>
      <td><input size="60" name="regexp"></td>
    </tr>
    <tr>
      <th>Icon URL:</th>
      <td><input type="text" size="60" id="icon_url" name="icon_url"></td>
    </tr>
    <tr>
      <th>[% terms.Bugs %] で利用する:</th>
      <td><input type="checkbox" name="isactive" value="1" checked></td>
    </tr>
    [% Hook.process('field') %]
  </table>

  <input type="checkbox" id="insertnew" name="insertnew" value="1"
    [% IF Param("makeproductgroups") %] checked[% END %]>
  <label for="insertnew">すべての既存のプロダクトに新規グループを導入する。</label>
  <p>
  <input type="submit" id="create" value="追加">
  <input type="hidden" name="action" value="new">
  <input type="hidden" name="token" value="[% token FILTER html %]">
</form>

<hr>
<p><b>名前</b> は B[%%]ugzilla->user->in_group() 関数で利用され、
特定のグループに対する独自 cgi を書くときに利用できます。
また、メールで登録した [% terms.bugs %] をある [% terms.abug %] グループに限る
ときにも利用可能です。</p>

<p><b>説明</b> は [% terms.bug %] 報告で、グループに該当するユーザに対して表示され、
[% terms.bug %] を同じグループのみに制限するかどうかを指定できます。</p>

<p><b>含める正規表現</b> はオプションです。もし設定されていれば、この正規表現に
メールアドレスが合致するユーザは自動的に権限を取得します。</p>

<p><b>[% terms.Bugs %] で利用する</b> フラグは、グループを [% terms.bugs %] に
アクセスできるユーザに制限するために利用するかどうかをしめします。
これを設定しなければ、[% terms.bugs %] をこのグループに加えることはできなくなりますが、
[% terms.bugs %] がすでにグループに制限されていればそのままです。
グループを削除するよりこちらを利用する方が、グループの所属数を増やさなくて済む手軽な方法です。
<b>注: グループを作成した場合、[% terms.bugs %] に利用できる
ように設定したいでしょうから、これは有効なままにしてください。</b></p>

<p>
  <b>アイコン URL</b> はオプションです。グループを特定するために利用されるアイコンの
  URL を指定します。サイトのベース URL への相対 URL と絶対 URL の双方が利用できます。
  アイコンは [% terms.bugs %] のコメントの表示でコメント投稿者の名前のあとに表示されます。
</p>

[% IF Param("makeproductgroups") %]
  <p>既定では、新規グループは既存のプロダクトにのみ関連付けることができます。
  "すべての既存のプロダクトに新規グループを導入する。" のチェックをはずすと、
  これは行われず、プロダクトに追加したものについてのみグループが表示されるようになります。</p>
[% ELSE %]
  <p>"すべての既存のプロダクトに新規グループを導入する。" オプションを選択すると、
  既存のすべてのプロダクトにこのグループが関連付けられます。選択しない場合は、
  これは行われず、プロダクトに追加したものについてのみグループが表示されるようになります。</p>
[% END %]


<p><a href="editgroups.cgi">グループの一覧</a>に戻る。</p>

[% PROCESS global/footer.html.tmpl %] 
