[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@syndicomm.com>
  #                 Joel Peshkin <bugreport@peshkin.net>
  #                 Jacob Steenhagen <jake@bugzilla.org>
  #                 Vlad Dascalu <jocuri@softhome.net>
  #%]

[%# INTERFACE:
  # gid: number. The group ID.
  # name: string. The name of the group.
  # description: string. The description of the group.
  # hasusers: boolean int. True if the group includes users in it.
  # hasbugs: boolean int. True if the group includes bugs in it.
  # hasproduct: boolean int. True if the group is binded to a product.
  # hasflags: boolean int. True if the group is used by a flag type.
  # shared_queries: int. Number of saved searches being shared with this group.
  # buglist: string. The list of bugs included in this group.
  #%]


[% PROCESS global/header.html.tmpl
  title = "グループの削除"
  doc_section = "groups.html"
%]

<table border="1">
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>説明</th>
  </tr>
  <tr>
    <td>[% gid FILTER html %]</td>
    <td>[% name FILTER html %]</td>
    <td>[% description FILTER html_light %]</td>
  </tr>
</table>

<form method="post" action="editgroups.cgi">
  [% IF hasusers %]
    <p><b>まだこのグループに所属しているユーザが居ます。
    これらのユーザが所属している間は削除することができません。</b>

    <br><a href="editusers.cgi?action=list&amp;groupid=[% gid FILTER html %]&amp;grouprestrict=1">該当するユーザを表示する</a>
     - <input type="checkbox" name="removeusers">このグループから全てのユーザを削除する。</p>
  [% END %]

  [% IF hasbugs %]
    <p><b>まだこのグループからのみ閲覧可能な [% terms.bug %] レポートがあります。
    このグループを利用している [% terms.bugs %] がある間は削除することができません。</b>

    <br><a href="buglist.cgi?bug_id=[% buglist FILTER html %]">該当する [% terms.bugs %] を表示する</a>
     - <input type="checkbox" name="removebugs">このグループから全ての [% terms.bugs %] を削除する。</p>

    <p><b>※注意:</b> このチェックボックスを使うことで、該当する [% terms.bugs %]
    を公開することは可能です。しかし、このチェックボックスをオンにする前に、
    このグループの [% terms.bugs %] を全て確認することを <b>強く</b> 推奨します。</p>
  [% END %]

  [% IF hasproduct %]
    <p><b>このグループは <U>[% name FILTER html %]</U> に関連づけられています。
    このグループがプロダクトに関連づけられている間は削除することができません。</b>

    <br><input type="checkbox" name="unbind">このグループを強制的に削除し、
    プロダクト <U>[% name FILTER html %]</U> を公開します。</p>
  [% END %]

  [% IF hasflags %]
    <p><b>このグループで承認可能なフラグタイプがあります。
    このグループがフラグタイプから利用されている間は削除することができません。</b>

    <br><a href="editflagtypes.cgi?action=list&amp;group=[% gid FILTER html %]">該当のフラグタイプを表示する</a>
     - <input type="checkbox" name="removeflags">このグループから全てのフラグタイプを削除する。</p>
  [% END %]

  [% IF shared_queries %]
    <p>
      <b>このグループで共有されている [% shared_queries %] 個の "保存した検索" があります。</b>
      このグループを削除した場合、
      [% IF shared_queries > 1 %]
        それら
      [% ELSE %]
        それ
      [% END %]
      はプライベートなものになります。
    </p>
  [% END %]

  <h2>確認</h2>

  <p>本当にこのグループを削除してもよろしいですか?</p>
  [% IF (hasusers || hasbugs || hasproduct || hasflags) %]
    <p><b>上記のチェックボックス全てにチェックを入れるか、
          指摘された問題を解決しなければ処理できません。</b></p>
  [% END %]

  <p>
    <input type="submit" id="delete" value="はい、削除します">
    <input type="hidden" name="action" value="delete">
    <input type="hidden" name="group" value="[% gid FILTER html %]">
    <input type="hidden" name="token" value="[% token FILTER html %]">
  </p>
</form>

<a href="editgroups.cgi">グループの一覧</a> に戻る。

[% PROCESS global/footer.html.tmpl %] 
