[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frederic Buclin <LpSolit@gmail.com>
  #%]
[%
   title = "$terms.Bug 移動"
   desc = "他のサイトとの間で $terms.bugs を移動させるためのパラメータの設定"
%]

[% param_descs = {
  "move-enabled" => "有効なら、$terms.Bugzilla は特定のユーザに $terms.bugs を指定" _
                    "されたデータベースへ移動させることを許可します。",

  "move-button-text" => "移動ボタンに表示されるテキストです。$terms.bug の移動先" _
                        "の情報を設定してください。",

  "move-to-url" => "$terms.bugs を移動可能な先として許される URI の指定",

  "move-to-address" => "${terms.bugs} を移動する時、ターゲットへメールが送信されます。" _
                       "ここに移動先が ${terms.bugs} を受け取るメールアドレスを指定してください。",

  "moved-from-address" => "${terms.bugs} を移動させるとき、ターゲットへメールが送信されます。"
                          "メールの送信元、そしてエラーメールが戻るアドレスを指定してください。",

  movers => "$term.bugs を移動させる権限、もしくは移動させた ${terms.bugs} " _
            "を再び開く権限 (移動が失敗した時のため) を持つユーザのリストです。",

  "moved-default-product" => "他のサイトから移動してきた $terms.bugs の割当先の" _
                             "既定のプロダクトの名前です。",

  "moved-default-component" => "移動してきた $terms.bugs の既定のコンポーネントです。",
}

%]
