[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # voting_user: hash containing a 'login' field
  #
  # products: list of hashes containing details of products relating to
  #           voting: 
  #            name: name of product
  #            bugs: list of bugs the user has voted for
  #            bug_ids: list of bug ids the user has voted for
  #            onevoteonly: one or more votes allowed per bug?
  #            total: users current vote count for the product
  #            maxvotes: max votes allowed for a user in this product
  #            maxperbug: max votes per bug allowed for a user in this product
  #
  # bug_id: number; if the user is voting for a bug, this is the bug id
  #
  # canedit: boolean; Should the votes be presented in a form, or readonly? 
  #
  # all_bug_ids: List of all bug ids the user has voted for, across all products
  #%]

[% PROCESS global/variables.none.tmpl %]

[% IF !header_done %]
  [% subheader = voting_user.login FILTER html %]
  [% IF canedit %]
    [% title = "投票変更" %]
    [% IF bug_id %]
      [%# We .select and .focus the input so it works for textbox and 
          checkbox %]
      [% onload = "document.forms['voting_form'].bug_" _ bug_id _
                  ".select();document.forms['voting_form'].bug_" _ bug_id _
                  ".focus()" %]
    [% END %]
  [% ELSE %]
    [% title = "投票表示" %]
  [% END %]
  [% PROCESS global/header.html.tmpl
             style_urls = [ "skins/standard/voting.css" ] 
  %]
[% ELSE %]
  <hr>
[% END %]

[% IF votes_recorded %]
  <p>
    <font color="red">
      あなたの投票への変更は保存されました。
    </font>
  </p>
[% ELSE %]
  <br>
[% END %]

[% IF products.size %]
  <form name="voting_form" method="post" action="votes.cgi">
    <input type="hidden" name="action" value="vote">
    <table cellspacing="4">
      <tr>
        <td></td>
        <th>投票数</th>
        <th>[% terms.Bug %] #</th>
        <th>要約</th>
      </tr>

      [% onevoteproduct = 0 %]
      [% multivoteproduct = 0 %]
      [% FOREACH product = products %]
        [% IF product.onevoteonly %]
          [% onevoteproduct = 1 %]
        [% ELSE %]
          [% multivoteproduct = 1 %]
        [% END %]
        <tr>
          <th>[% product.name FILTER html %]</th>
          <td colspan="2" ><a href="buglist.cgi?bug_id=
              [%- product.bug_ids.join(",") FILTER url_quote %]">([% terms.bug %] リスト)</a>
          </td>
          <td>
            [% IF product.maxperbug < product.maxvotes AND
                  product.maxperbug > 1 %]
              <font size="-1">
                (注: このプロダクトでは最大 [% product.maxperbug %] 票
                がひとつの [% terms.bug %] に対して許可されています。)
              </font>
            [% END %]
          </td>
        </tr>

        [% FOREACH bug = product.bugs %]
          <tr [% IF bug.id == bug_id && canedit %] 
            class="bz_bug_being_voted_on" [% END %]>
            <td>[% IF bug.id == bug_id && canedit %]票数を入力 &rarr;
              [%- END %]</td>
            <td align="right"><a name="vote_[% bug.id %]">
              [% IF canedit %]
                [% IF product.onevoteonly %]
                  <input type="checkbox" name="[% bug.id %]" value="1"
                    [% " checked" IF bug.count %] id="bug_[% bug.id %]">
                [% ELSE %]
                  <input name="[% bug.id %]" value="[% bug.count %]"
                         size="2" id="bug_[% bug.id %]">
                [% END %]
              [% ELSE %]
                [% bug.count %]
              [% END %]
            </a></td>
            <td align="center">
              [% bug.id FILTER bug_link(bug.id) FILTER none %]
            </td>
            <td>
              [% bug.summary FILTER html %]
              (<a href="votes.cgi?action=show_bug&amp;bug_id=[% bug.id %]">投票を表示</a>)
            </td>
          </tr>
        [% END %]

        <tr>
          <td></td>
          <td colspan="3">[% product.total %] 票を、最大有効票数 [% product.maxvotes %]
            に対して利用済みです。
            <br>
            <br>
          </td>
        </tr>
      [% END %]
    </table>

    [% IF canedit %]
      <input type="submit" value="投票を変更する" id="change"> か
      <a href="buglist.cgi?bug_id=[% all_bug_ids.join(",") FILTER url_quote %]">全てを
        [% terms.bug %] リストとしてみる</a>
      <br>
      <br>
      投票の変更には、
      [% IF multivoteproduct %]
        新しい票数を入力 (0 は投票なしを意味します)
        [% " するか " IF onevoteproduct %]
      [% END %]
      [% IF onevoteproduct %]
        チェックボックスを変更
      [% END %]
      し、<b>投票を変更する</b> をクリックしてください。
    [% ELSE %]
       <a href="buglist.cgi?bug_id=[% all_bug_ids.join(",") FILTER url_quote %]">全てを
         [% terms.bug %] リストとしてみる</a>
    [% END %]
  </form>
[% ELSE %]
  <p>
    [% IF canedit %]
    あなたは
    [% ELSE %]
    このユーザは
    [% END %]
    どの [% terms.bugs %] に対しても投票していません。
  </p>
[% END %]

<p>
  <a href="page.cgi?id=voting.html">投票機能のヘルプ</a>。
</p>

[% PROCESS global/footer.html.tmpl %]
