[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # product: object; Bugzilla::Product object representing the product to
  #               which the version belongs.
  # version: object; Bugzilla::Version object representing the
  #                    version the user wants to delete.
  #%]

[% title = BLOCK %]プロダクト '[% product.name FILTER html %]' のバージョンを削除
  [% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

<table id="admin_table">
  <tr class="column_header">
  <th>項目</th>
  <th>値</th>
</tr>
<tr>
  <td>バージョン</td>
  <td>[% version.name FILTER html %]</td>
</tr>
<tr>
  <td>プロダクトのバージョン</td>
  <td>[% product.name FILTER html %]</td>
</tr>
<tr>
  <td>[% terms.Bugs %]</td>
  <td>
[% IF version.bug_count %]
  <a title="バージョン [% version.name FILTER html %] が目標の [% terms.bugs %] リスト"
     href="buglist.cgi?version=[% version.name FILTER uri %]&amp;product=
          [%- product.name FILTER uri %]">
          [%- version.bug_count FILTER none %]</a>
[% ELSE %]
  なし
[% END %]
  </td>
</tr>
</table>

<h2>確認</h2>

[% IF version.bug_count %]
  <p class="confirmation">
  このバージョンを利用している
    [% version.bug_count FILTER none %] [%+ terms.bug %] 
  が残っています。これらの
    [% terms.bug %] 
  を他のバージョンに移動するか削除する必要があります。
  </p>
[% ELSE %]

  <p>本当にこのバージョンを削除しますか ?</p>
  
  <form method="post" action="editversions.cgi">
    <input type="submit" id="delete" value="はい、削除します">
    <input type="hidden" name="action" value="delete">
    <input type="hidden" name="product" value="[% product.name FILTER html %]">
    <input type="hidden" name="version" value="[% version.name FILTER html %]">
    <input type="hidden" name="token" value="[% token FILTER html %]">
  </form>

[% END %]

[% PROCESS admin/versions/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %] 
