[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # keyword: A Bugzilla::Keyword object.
  #%]

[% PROCESS global/header.html.tmpl
  title = "キーワードの削除"
  style_urls = ['skins/standard/admin.css']
%]

<h2>確認</h2>

<p class="confirmation">
  このキーワード <em>[% keyword.name FILTER html %]</em> は
  [% IF keyword.bug_count == 1 %]
    ひとつの [% terms.bug %] 
  [% ELSIF keyword.bug_count > 1 %]
    [% keyword.bug_count FILTER html %] 件の [%+ terms.bugs %] 
  [% END %]
  で利用されています。
</p>

<p>
  本当にこのキーワードを削除してもよろしいですか?
</p>

<form method="post" action="editkeywords.cgi">
  <input type="hidden" name="id" value="[% keyword.id FILTER html %]">
  <input type="hidden" name="action" value="delete">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  <input type="submit" id="delete" value="はい、削除します">
</form>

<p><a href="editkeywords.cgi">他のキーワードを編集する</a>。</p>

[% PROCESS global/footer.html.tmpl %] 
