[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE
  # none
  # 
  # Param("maintainer") is used to display the maintainer's email.
  # Param("emailsuffix") is used to pre-fill the email field.
  #%]

[% title = BLOCK %]
  新規 [% terms.Bugzilla %] アカウントの作成
[% END %]

[% PROCESS global/header.html.tmpl
           title = title
           onload = "document.forms['account_creation_form'].login.focus();" %]

<p>
  [% terms.Bugzilla %] アカウントを作成するためには、
  To create a [% terms.Bugzilla %] account, all you need to do is to enter
[% IF Param('emailsuffix') == '' %]
  正当なメールアドレスを入力する必要があります。
[% ELSE %]
  [% Param('emailsuffix') %] がつく、
  あなたがメールを受信できるメールアドレスとなるアカウント名を入力する必要があります。
[% END %]
  このメールアドレスに、あなたのアカウントを生成するかどうかの確認メールが送信されます。
  <b>メールを受信するまでログインはできません。</b>
  もし、ある程度の時間がたってもメールを受信しなかった場合は、
  この [% terms.Bugzilla %] サイトのメンテナ
  <a href="mailto:[% Param("maintainer") %]">[% Param("maintainer") %]</a>
  まで連絡を取ってください。
</p>

<p>
  より詳細な情報が必要となったときにコンタクトが取れるようにするため、
  新規 [% terms.bugs %] の報告やコメントの追加を行うにはユーザアカウントが必要です。
  これにより [% terms.bugs %] へのコメントや変更が誰により行われたかが
  明確に他のユーザにわかるようになります。<b>あなたのメールアドレスは、
  ログインしていないユーザには<u>決して</u>表示されることはありません。
  登録済みユーザのみが見ることができます。
</p>

[% IF Param('createemailregexp') == '.*' && Param('emailsuffix') == '' %]
<p>
  <b>プライバシーのための重要なお知らせ:</b>
  [% terms.Bugzilla %] は開かれた [% terms.bug %] 追跡システムです。
  メールアドレスを含む、ほぼすべての [% terms.bugs %] の動きは登録済みユーザから見る
  ことができます。サブメールアカウントや、フリーウェブメールサービス (Gmail、
  Yahoo、Hotmail、など) を利用することを、spam を増やさないためにも、
  <b>推奨</b> します。
</p>
[% END %]

<form id="account_creation_form" method="get" action="createaccount.cgi">
  <table>
    <tr>
      <td align="right">
        <b>
          [% IF Param('emailsuffix') %]
            ログイン名:
          [% ELSE %]
            メールアドレス:
          [% END %]
        </b>
      </td>
      <td>
        <input size="35" id="login" name="login">
        [% Param('emailsuffix') FILTER html %]
      </td>
    </tr>
  </table>
  <br>
  <input type="hidden" id="token" name="token" value="[% issue_hash_token(['create_account']) FILTER html %]">
  <input type="submit" id="send" value="送信">
</form>

[% PROCESS global/footer.html.tmpl %]
