[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # login: string. The user's Bugzilla login email address.
  #%]

[% title = BLOCK %]
  新規ユーザアカウント '[% login FILTER html %]' の作成要請が処理されました
[% END %]

[% PROCESS global/header.html.tmpl title = title %]

<p>
  アカウント作成を続行するためのリンクがかかれた確認メールが送信されました。
  このリンクは、
  [% constants.MAX_TOKEN_AGE FILTER html %] 日以内に利用されなければ無効になります。
</p>

[% PROCESS global/footer.html.tmpl %] 
