[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # otheruser: Bugzilla User Object; The user whose profile activity
  #                                  we are viewing.
  #
  # listselectionvalues: selection values to recreate the current user list.
  #
  # profile_changes: An array of hashes containing the following fields:
  # 
  #   who: string; login name of who made the change
  #   activity_when: string; when the change was made
  #   what: string; the description of the field which was changed
  #   removed: string; the removed value (maybe empty string)
  #   added: string; the added value (maybe empty string)
  #%]

[% title = BLOCK %]
  '[% otheruser.identity FILTER html %]' アカウントの履歴
[% END %]


[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

[% PROCESS admin/users/listselectvars.html.tmpl
  listselectionvalues = listselectionvalues
%]

[% columns =
  [{name               => 'who'
    heading            => '設定者'
   }
   {name               => 'activity_when'
    heading            => '日時'
   }
   {name               => 'what'
    content_use_field  => 1
    heading            => '内容'
   }
   {name               => 'removed'
    heading            => '削除'
   }
   {name               => 'added'
    heading            => '追加'
   }
  ]
%]

[% PROCESS admin/table.html.tmpl
  columns = columns
  data    = profile_changes
%]

<p><a href="editusers.cgi?action=edit&amp;userid=
  [%- otheruser.id FILTER uri %]"
  title="ユーザ '[% otheruser.login FILTER html %]' を編集">このユーザを編集</a> または
  <a title="ユーザを検索" href="editusers.cgi">ほかのアカウントを検索</a>
  [% IF listselectionvalues.matchtype != 'exact' %]
    または <a title="ユーザリストに戻る"
       href="editusers.cgi?action=list[% INCLUDE listselectionurlparams %]">
    ユーザリストに戻る</a>
  [% END %]
</p>

[% PROCESS global/footer.html.tmpl %] 
