[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# Migration note: this file corresponds to the old Param
  # 'entryheaderhtml'
  #%]

[%# You can make the output of this template product-specific by using
  # Template Toolkit IF statements.  The current product name is stored in
  # the 'product' variable.
  #%]

[% terms.abug %] を報告する前に、必ず
<a href="page.cgi?id=bug-writing.html">
[% terms.bug %] 報告ガイドライン</a> を読み、
<a href="duplicates.cgi">最もよく報告される [% terms.bugs %]</a> のリストを確認し、
[% terms.bug %] を <a href="query.cgi">検索</a> 
してください。