[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@syndicomm.com>
  #                 Joel Peshkin <bugreport@peshkin.net>
  #                 Jacob Steenhagen <jake@bugzilla.org>
  #                 Vlad Dascalu <jocuri@softhome.net>
  #%]

[%# INTERFACE:
  # groups: array with group objects having the properties:
  #   - id: number. The ID of the group.
  #   - name: string. The name of the group.
  #   - description: string. The description of the group.
  #   - userregexp: string. The user regexp for the given group.
  #   - isactive: boolean int. Specifies if the group is active or not.
  #   - isbuggroup: boolean int. Specifies if it can be used for bugs.
  #%]

[% PROCESS global/header.html.tmpl
  title = "グループの一覧"
  subheader = "このページでユーザをメンバーとするグループを編集することができます"
  doc_section = "groups.html"
%]

[% edit_contentlink = "editgroups.cgi?action=changeform&amp;group=%%id%%" %]
[% del_contentlink = "editgroups.cgi?action=del&amp;group=%%id%%" %]

[% columns =
  [{name               => 'name'
    heading            => '名前'
    contentlink        => edit_contentlink
   }
   {name               => 'description'
    heading            => '説明'
    allow_html_content => 1
   }
   {name               => 'userregexp'
    heading            => '含める正規表現'
   }
   {name               => 'is_active_bug_group'
    heading            => "$terms.Bugs で利用"
    align              => 'center'
   }
   {name               => 'type'
    heading            => '型'
    align              => 'center'
   }
   {name               => 'action'
    heading            => '操作'
   }
  ]
%]

[% overrides.is_active_bug_group = [ {
     match_value => "0"
     match_field => 'is_active_bug_group'
     override_content => 1
     content => "&nbsp;"
   },
   {
     match_value => "1"
     match_field => 'is_active_bug_group'
     override_content => 1
     content => "X"
   }]
   overrides.userregexp = [ {
     match_value => ""
     match_field => 'userregexp'
     override_content => 1
     content => "&nbsp;"
   }]
   overrides.action = [ {
     match_value => Param("chartgroup")
     match_field => 'name'
     override_content => 1
     content => "('chartgroup' として利用)"
   },
   {
     match_value => Param("insidergroup")
     match_field => 'name'
     override_content => 1
     content => "('insidergroup' として利用)"
   },
   {
     match_value => Param("timetrackinggroup")
     match_field => 'name'
     override_content => 1
     content => "('timetrackinggroup' として利用)"
   },
   {
     match_value => Param("querysharegroup")
     match_field => 'name'
     override_content => 1
     content => "('querysharegroup' として利用)"
   },
   {
     match_value => "1"
     match_field => 'isbuggroup'
     override_content => 1
     content => "削除"
     override_contentlink => 1
     contentlink => del_contentlink
   }]
   overrides.type = [ {
     match_value => "0"
     match_field => 'isbuggroup'
     override_content => 1
     content => "システム"
   },
   {
     match_value => "1"
     match_field => 'isbuggroup'
     override_content => 1
     content => "ユーザ"
   }]
%] 

[% PROCESS admin/table.html.tmpl
  columns = columns
  data    = groups
  overrides = overrides
%]

<p><a href="editgroups.cgi?action=add">Add Group</a></p>

<p>
<b>名前</b> は B<!-- blah -->ugzilla->user->in_group() 関数で利用され、
特定のグループに対する独自 cgi を書くときに利用できます。
また、メールで登録した [% terms.bugs %] をある [% terms.abug %] グループに限る
ときにも利用可能です。
</p>

<p>
<b>説明</b> は [% terms.bug %] 報告で、グループに該当するユーザに対して表示され、
[% terms.bug %] を同じグループのみに制限するかどうかを指定できます。
</p>

<p>
<b>含める正規表現</b> はオプションです。もし設定されていれば、この正規表現に
メールアドレスが合致するユーザは自動的に権限を取得します。
末尾に '$' を付けることを忘れないように注意してください。
例えば、'@mycompany\.com$' としなくてはいけません。
</p>

<p>
<p><b>[% terms.Bugs %] で利用する</b> フラグは、グループを [% terms.bugs %] に
アクセスできるユーザに制限するために利用するかどうかをしめします。
これを設定しなければ、[% terms.bugs %] をこのグループに加えることはできなくなりますが、
[% terms.bugs %] がすでにグループに制限されていればそのままです。
[% terms.bug %] を制限するためのグループの整理されたリストで、ユーザのリストを管理するのと同様に、
グループを削除するよりこちらを利用する方が、グループの所属数を増やさなくて済む手軽な方法です。
</p>

<p>
  <b>型</b> フィールドはシステムグループを識別できます。
</p>

[% PROCESS global/footer.html.tmpl %]
