[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Marc Schumann.
  # Portions created by Marc Schumann are Copyright (c) 2008 Marc Schumann.
  # All rights reserved.
  #
  # Contributor(s): Marc Schumann <wurblzap@gmail.com>
  #%]

[%# NOTE: Everywhere you use this template, you must call 
  # "FILTER remove('^X')" on the result. This is unfortunately the only way
  # to preserve leading whitespace in comments.
  #%]

[%# INTERFACE:
  #   comment: A Bugzilla::Comment object.
  #   is_bugmail: boolean; True if this comment is going into a plain-text
  #               bugmail.
  #%]

[%# Please don't use field-descs here. It can slow down Bugzilla. %]
[% PROCESS 'global/variables.none.tmpl' %]

[% SET comment_body = comment.body %]

[% IF comment.type == constants.CMT_DUPE_OF %]
X[% comment_body %]

*** この [% terms.bug %] は [% terms.bug %] [%+ comment.extra_data %] の重複として処理されました。 ***
[% ELSIF comment.type == constants.CMT_HAS_DUPE %]
*** [% terms.Bug %] [%+ comment.extra_data %] がこの [% terms.bug %] の重複と処理されました。 ***
[% ELSIF comment.type == constants.CMT_POPULAR_VOTES %]
*** この [% terms.bug %] は投票数によって承認されました。 ***
[% ELSIF comment.type == constants.CMT_MOVED_TO %]
X[% comment_body %]

[%+ terms.Bug %] は [% Param("move-to-url") %] に移動しました。
移動が成功した場合、[% comment.extra_data %] は、他のデータベースにおける
新しい [% terms.bug %] 番号を含むメールを受け取るでしょう。
全てうまくいけば、新しい [% terms.bug %] へのリンクをここへ貼り付けてください。
そうでなければ、この [% terms.bug %] を再開してください。
[% ELSIF comment.type == constants.CMT_ATTACHMENT_CREATED %]
attachment [% comment.extra_data %] を追加
[% IF is_bugmail %]
  --> [% urlbase _ "attachment.cgi?id=" _ comment.extra_data %]
[% END %]
[%+ comment.attachment.description %]

[%+ comment.body %]
[% ELSIF comment.type == constants.CMT_ATTACHMENT_UPDATED %]
attachment [% comment.extra_data %] へのコメント
[% IF is_bugmail %]
  --> [% urlbase _ "attachment.cgi?id=" _ comment.extra_data %]
[% END %]
[%+ comment.attachment.description %]

[%+ comment.body %]
[% END %]
