[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gavin Shelley <bugzilla@chimpychompy.org>
  #%]

[%# INTERFACE:
  #
  # old_product : Bugzilla::Product Object; old product.
  # product : Bugzilla::Product Object; new product.
  #
  # classification: Bugzilla::Classification Object; The product classification (may be empty or missing)
  #
  # checkvotes: boolean; is true if vote related fields have changed. If so, 
  #             then the following parameters will be specified:
  #
  # toomanyvotes: list of hashes, each one with an 'id' and a 'name' hash key
  #               detailing the bug id and the username of users who had too
  #               many votes for a bug
  #
  # toomanytotalvotes: list of hashes, each one with an 'id' and a 'name' hash key
  #                    detailing the bug id and the username of users who had
  #                    too many total votes
  #
  # confirmedbugs: list of bug ids, which were confirmed by votes
  #
  # changer: string; login of the user making the changes, used for mailing
  #          bug changes if necessary
  #
  #%]

[% IF classification %]
  [% classification_url_part = BLOCK %]&amp;classification=
     [%- classification.name FILTER url_quote %]
  [% END %]
  [% classification_text = BLOCK %] 
    classification '[% classification.name FILTER html %]' の
  [% END %]
[% END %]

[% title = BLOCK %][% classification_text FILTER none %] プロダクト '[% product.name FILTER html %]' 
                   を変更しました[% END %]
[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]
[% updated = 0 %]

[% IF product.name != old_product.name %]
  <p>
  プロダクト名を '[% old_product.name FILTER html %]' から
  <a href="editproducts.cgi?action=edit&amp;product=
  [%- product.name FILTER url_quote %]
  [%- classification_url_part FILTER none %]">[% product.name FILTER html %]</a> に変更しました。
  </p>
  [% updated = 1 %]
[% END %]


[% IF product.description != old_product.description %]
  <p>
    変更後の説明:
  </p>
  <p style="margin: 1em 3em 1em 3em">[% product.description FILTER html_light %]</p>
  [% updated = 1 %]
[% END %]

[% IF product.disallow_new != old_product.disallow_new %]
  <p>
  [% terms.bugs %] の新規報告が
  [% IF product.disallow_new %]
    不可能
  [% ELSE %]
    可能
  [% END %]
  になりました。
  </p>
  [% updated = 1 %]
[% END %]

[% IF product.milestone_url != old_product.milestone_url %]
  <p>
  マイルストーンの URL が
  [% IF old_product.milestone_url != '' %]
    <br> <a href="[%- old_product.milestone_url FILTER html %]">
    [%- old_product.milestone_url FILTER html %]</a> から
  [% END %]
  [% IF product.milestone_url != '' %]
     <br><a href="[%- product.milestone_url FILTER html %]">
     [%- product.milestone_url FILTER html %]</a>
  [% ELSE %]
    空
  [% END %]
  に変更されました。
  </p>
  [% updated = 1 %]
[% END %]

[% IF product.default_milestone != old_product.default_milestone %]
  <p>
  既定のマイルストーンが '[% old_product.default_milestone FILTER html %]' から
  '[% product.default_milestone FILTER html %]' に変更されました。
  </p>
  [% updated = 1 %]
[% END %]
  
[% IF product.votes_per_user != old_product.votes_per_user %]
  <p>
  一人当たりの最大投票数 が
  [%+ old_product.votes_per_user FILTER html %] から
  [%+ product.votes_per_user FILTER html %] に変更されました。
  </p>
  [% updated = 1 %]
[% END %]

[% IF product.max_votes_per_bug != old_product.max_votes_per_bug %]
  <p>
  一つの [% terms.Bug %] あたりの一人の最大投票数 が
  [%+ old_product.max_votes_per_bug FILTER html %] から
  [%+ product.max_votes_per_bug FILTER html %] に変更されました。
  </p>
  [% updated = 1 %]
[% END %]

[% IF product.votes_to_confirm != old_product.votes_to_confirm %]
  <p>
  確認されたとみなす票数 が
  [%+ old_product.votes_to_confirm FILTER html %] から
  [%+ product.votes_to_confirm FILTER html %] に変更されました。
  </p>
  [% updated = 1 %]
[% END %]

[% UNLESS updated %]
  <p>'[% product.name FILTER html %]' は変更されませんでした。</p>
[% END %]

[%# Note that this display of changed votes and/or confirmed bugs is
    not very scalable. We could have a _lot_, and we just list them all.
    One day we should limit this perhaps, or have a more scalable display %]


[% IF checkvotes %]
  <hr>

  <p>一つの [% terms.Bug %] あたりの一人の最大投票数 に対して多すぎる投票が無いか確認しています...<br>
  [% IF toomanyvotes.size > 0 %]
    [% FOREACH detail = toomanyvotes %]
      &rarr;[% terms.bug %] <a href="show_bug.cgi?id=
     [%- detail.id FILTER url_quote %]">
     [%- detail.id FILTER html %]</a> への投票が [% detail.name FILTER html %] から削除されました。<br>
    [% END %]
  [% ELSE %]
    &rarr;問題ありませんでした。
  [% END %]
  </p>

  <p>一人当たりの最大投票数 が多すぎるアカウントが無いか確認しています...<br>
  [% IF toomanytotalvotes.size > 0 %]
    [% FOREACH detail = toomanytotalvotes %]
      &rarr;[% terms.bug %] <a href="show_bug.cgi?id=
     [%- detail.id FILTER url_quote %]">
     [%- detail.id FILTER html %]</a> への投票が [% detail.name FILTER html %] から削除されました。<br>
    [% END %]
  [% ELSE %]
    &rarr;問題ありませんでした。
  [% END %]
  </p>

  <p>投票により確認されたとみなすことができる [% terms.bugs %] が無いか確認しています...<br>
  [% IF confirmedbugs.size > 0 %]
    [% FOREACH id = confirmedbugs %]

      [%# This is INCLUDED instead of PROCESSED to avoid variables getting
          overwritten, which happens otherwise %]
      [% INCLUDE bug/process/results.html.tmpl
        type = 'votes'
        mailrecipients = { 'changer' => changer }
        header_done = 1
        id = id
      %]
    [% END %]
  [% ELSE %]
    &rarr;ありませんでした。
  [% END %]
  </p>

[% END %]

[% PROCESS admin/products/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %]
