[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Terry Weissman <terry@mozilla.org>
  #                 Gervase Markham <gerv@gerv.net>
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]
[% PROCESS global/header.html.tmpl 
  title = "$terms.Bug フィールド" 
  style_urls = ['skins/standard/page.css']
%]

<p>このページでは、[% terms.abug %] 
  で表示されるさまざまなフィールドについて説明しています。</p>

<table class="field_value_explanation">
  <thead>
  <tr>
    <td id="bug_status">
      <h2>[% field_descs.bug_status FILTER upper FILTER html %]</h2>
    </td>

    <td id="resolution">
      <h2>[% field_descs.resolution FILTER upper FILTER html %]</h2>
    </td>
  </tr>

  <tr>
    <td>[% field_descs.bug_status FILTER html %] フィールドは
      [% terms.bug %] の現在の状況を表します。
      特定のステータス間遷移のみが許可されます。</td>

    <td>[% field_descs.resolution FILTER html %] フィールドは
      [% terms.bug %] がどのように処理されたかを表します。</td>
  </tr>
  </thead>

  <tbody>
  <tr class="header_row">
    <td colspan="2">活動中の [% terms.Bugs %]</td>
  </tr>
  <tr>
    <td>
      <dl>
        <dt>
          [% display_value("bug_status", "UNCONFIRMED") FILTER html %]
        </dt>
        <dd>
          この [% terms.bug %] は最近データベースに追加されました。
          誰もまだ [% terms.bug %] が有効かを確認していません。
          "canconfirm" 権限を持つユーザはこの [% terms.bug %] を承認でき、
          ステータスを <b>[% display_value("bug_status", "NEW") FILTER html %]</b> に変更可能です。
          もしくは、直接解決し、<b>[% display_value("bug_status", "RESOLVED") FILTER html %]</b> 
          とすることも可能です。
        </dd>

        <dt>
          [% display_value("bug_status", "NEW") FILTER html %]
        </dt>
        <dd>
          この [% terms.bug %] は有効なもので最近追加されました。
          このステータスの [%+ terms.Bugs %] は、誰かがこれについて作業を始めた時に
          <b>[% display_value("bug_status", "ASSIGNED") FILTER html %]</b> 
          となり、解決され
          <b>[% display_value("bug_status", "RESOLVED") FILTER html %]</b>
          となるでしょう。
        </dd>

        <dt>
          [% display_value("bug_status", "ASSIGNED") FILTER html %]
        </dt>
        <dd>
          この [% terms.bug %] は未解決ですが、この [% terms.bug %] 
          について作業をしている、ある担当者に割り当てられています。
          この段階からは、[% terms.bugs %] は他の担当者に再割り当てされ、
          <b>[% display_value("bug_status", "NEW") FILTER html %]</b> となるか、
          解決され <b>[% display_value("bug_status", "RESOLVED") FILTER html %]</b> となるでしょう。
        </dd>

        <dt>
          [% display_value("bug_status", "REOPENED") FILTER html %]
        </dt>
        <dd>
          この [% terms.bug %] は一度解決されましたが、解決方法が正しくありませんでした。
          たとえば、<b>[% display_value("resolution", "WORKSFORME") FILTER html %]</b> [% terms.bug %]
          がより詳細な情報が得られ、再現するようになれば
          <b>[% display_value("bug_status", "REOPENED") FILTER html %]</b> となるでしょう。
          この段階からは、[% terms.bugs %] は <b>[% display_value("bug_status", "ASSIGNED") FILTER html %]</b> 
          となるか、<b>[% display_value("bug_status", "RESOLVED") FILTER html %]</b> となるでしょう。
        </dd>
      </dl>
    </td>

    <td>
      解決していません。全ての "未解決" 状態の [% terms.bugs %] は解決方法が空白です。
    </td>
  </tr>

  <tr class="header_row">
    <td colspan="2">閉じられた [% terms.Bugs %]</td>
  </tr>

  <tr>
    <td>
      <dl>
        <dt>
          [% display_value("bug_status", "RESOLVED") FILTER html %]
        </dt>
        <dd>
          解決策が適用され、QA の確認待ちの状態です。
          この段階からは、[% terms.bugs %] は再開され
          <b>[% display_value("bug_status", "REOPENED") FILTER html %]</b> となるか、確認され
          <b>[% display_value("bug_status", "VERIFIED") FILTER html %]</b> となるか、
          問題がなくなり閉じられて <b>[% display_value("bug_status", "CLOSED") FILTER html %]</b>
          となるかでしょう。
        </dd>

        <dt>
          [% display_value("bug_status", "VERIFIED") FILTER html %]
        </dt>
        <dd>
          QA が [% terms.bug %] の解決方法を確認し、とられた解決方法に同意しました。
          [% terms.Bugs %] は、報告対象のプロダクトが提供されている間はこのステータスで、
          それ以後は <b>[% display_value("bug_status", "CLOSED") FILTER html %]</b> となるでしょう。
        </dd>

        <dt>
          [% display_value("bug_status", "CLOSED") FILTER html %]
        </dt>
        <dd>
          [% terms.bug %] は無効と考えられていますが、解決方法は正しいです。
          作業したい [% terms.bugs %] があれば、まず
          <b>[% display_value("bug_status", "REOPENED") FILTER html %]</b> する必要があります。
        </dd>
      </dl>
    </td>

    <td>
      <dl>
        <dt>
          [% display_value("resolution", "FIXED") FILTER html %]
        </dt>
        <dd>
          この [% terms.bug %] の解決策はツリーにチェックインされ試験されました。
        </dd>

        <dt>
          [% display_value("resolution", "INVALID") FILTER html %]
        </dt>
        <dd>
          述べられている問題は [% terms.abug %] ではありません。
        </dd>

        <dt>
          [% display_value("resolution", "WONTFIX") FILTER html %]
        </dt>
        <dd>
          述べられている問題は [% terms.abug %] ですが修正されることはありません。
        </dd>

        <dt>
         [% display_value("resolution", "DUPLICATE") FILTER html %]
        </dt>
        <dd>
          [% terms.abug %] が
          <b>[% display_value("resolution", "DUPLICATE") FILTER html %]</b>
          とされた場合、どの [% terms.bug %] の重複となったかが、
          解決方法の次に表示されます。
        </dd>

        <dt>
          [% display_value("resolution", "WORKSFORME") FILTER html %]
        </dt>
        <dd>
          この [% terms.bug %] を再現しようとする試みは全て失敗し、
          コードからも述べられた動作が起こる原因が判明しませんでした。
          より情報が出てくれば、[% terms.bug %] が再開されることもあります。
        </dd>

        [% IF Param('move-enabled') %]
          <dt>
            [% display_value("resolution", "MOVED") FILTER html %]
          </dt>
          <dd>
            問題は他の [% terms.bugs %] データベースで扱われているプロダクトに関連する
            [% terms.bugs %] です。
            この [% terms.bug %] はそのデータベースに移動しました。
          </dd>
        [% END %]
      </dl>
    </td>
  </tr>
 </tbody>
</table>

<h2>その他のフィールド</h2>

[% PROCESS "bug/field-help.none.tmpl" %]

[% SET field_help_map = {} %]
[% FOREACH field = bug_fields.keys %]
  [% SET field_desc = field_descs.$field %]
  [% field_help_map.$field_desc = { help  => help_html.$field, 
                                    field => field } %]
[% END %]

[%# These are fields that don't need to be documented, either because
  # they have docs somewhere else in the UI, or they don't show up on bugs. 
  # %]
[% SET skip_fields = [ 
  'days_elapsed', 
  'everconfirmed',
  'reporter_accessible',
  'cclist_accessible',
  'bug_group',
  'commenter',
  'owner_idle_time',
  'bug_status',
  'resolution',
] %]

<dl class="field_descriptions">
[% FOREACH field_desc = field_help_map.keys.sort %]
  [% SET field = field_help_map.${field_desc}.field %]
  [% SET field_object = bug_fields.$field %]

  [% NEXT IF field_object.obsolete %]
  [% NEXT IF !user.is_timetracker AND field_object.is_timetracking %]

  [% NEXT IF field == 'status_whiteboard' AND !Param('usestatuswhiteboard') %]
  [% NEXT IF field == 'target_milestone' AND !Param('usetargetmilestone') %]
  [% NEXT IF field == 'alias' AND !Param('usebugaliases') %]

  [%# For now we don't have help for attachment fields and so on. %]
  [% NEXT IF field.match('\.') %]

  [% NEXT IF skip_fields.contains(field) %]

  <dt id="[% field FILTER html %]">[% field_desc FILTER html %]</dt>
    <dd>
      [% SET help_text = field_help_map.${field_desc}.help %]
      [% help_text FILTER none %]
    </dd>
[% END %]
</dl>

[% PROCESS global/footer.html.tmpl %]
