[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% INCLUDE global/header.html.tmpl title = "リンク化表示" %]

<p>
  このフォームにコメントを入力すると、標準的な Bugzilla のコメントのように
  マークアップされて表示されます。マークアップは、有効な [% terms.bug %] 番号、
  URL、メールアドレス、その他 HTML リンクに置換できるもの、が対象です。
</p>

<form action="page.cgi" method="post">
  [% INCLUDE global/textarea.html.tmpl
    name    = 'text'
    minrows = 20
    cols    = constants.COMMENT_COLS
  %]
  <br>
  <input type="hidden" name="id" value="linked.html">
  <input type="submit" id="linkify" value="表示">
</form>

[% INCLUDE global/footer.html.tmpl %]
