[%# this source code form is subject to the terms of the mozilla public
  # license, v. 2.0. if a copy of the mpl was not distributed with this
  # file, you can obtain one at http://mozilla.org/mpl/2.0/.
  #
  # this source code form is "incompatible with secondary licenses", as
  # defined by the mozilla public license, v. 2.0.
  #%]

[% INCLUDE global/header.html.tmpl
  title = "Markdown 書式ガイド"
  bodyclasses = ['narrow_page']
 %]

<h2>Markdown とは?</h2>

  Markdown は軽量マークアップ言語の一つで、 [%+ terms.comments %] をテキスト
  で記述し HTML として表示できます。[%+ terms.Bugzilla %] での Markdown
  では以下の書式を利用可能です。

  <ul>
    <li><a href="#headers">ヘッダ</a></li>
    <li><a href="#blockquotes">引用</a></li>
    <li><a href="#emphasis">強調</a></li>
    <li><a href="#lists">リスト</a></li>
    <li><a href="#code">コード</a></li>
    <li><a href="#strikethroughs">取り消し</a></li>
    <li><a href="#links">リンク</a></li>
  </ul>

<h2 id="headers">ヘッダ</h2>

  ヘッダには2種類あります。一つ目は(最上レベルのヘッダの)等号記号、二つ目は
  (2段目のレベルのヘッダの)ダッシュです。

  <p>
    <pre>
      <code>
        H1 ヘッダです
        =============

        H2 ヘッダです
        -------------
      </code>
    </pre>
  </p>

  また、それ以外にも行先頭にシャープ記号を入れることで、ヘッダレベル1から6まで
  を指定できます。

  <p>
    <pre>
      <code>
        # 最も大きいヘッダです (H1 レベル)
        ### より小さいヘッダです (H3 レベル)
        ###### 最小のヘッダです (H6 レベル)
     </code>
   </pre>
  </p>

<h2 id="blockquotes">引用</h2>

  大なり記号 (<code>&gt;</code>) を行先頭に入れることで、その行が引用形式になります。

  <p>
    <pre>
      <code>
        &gt; 引用とする行
      </code>
    </pre>
  </p>

<h2 id="emphasis">強調</h2>

  1文字のアンダースコアかアスタリスクを前後に入れるとイタリックになります。
  2文字にすると太字になります。

  <p>
    <pre>
      <code>
        _イタリックになります_
        *これもイタリックになります*

        __こうすると太字になります__
        **これも太字になります**
      </code>
    </pre>
  </p>

  は次のように表示されます

  <p>
    <pre>
      <em>イタリックになります</em>
      <em>これもイタリックになります</em>
      <br>
      <strong>こうすると太字になります</strong>
      <strong>これも太字になります</strong>
    </pre>
  </p>

  混乱を避けるためにネストする際には別の記号を組み合わせてください。

  <p>
    <pre>
      <code>
        _この [% terms.bug %] は早急に解決される **べきだ**。_
      </code>
    </pre>
  </p>

  <strong>注:</strong> [% terms.Bugzilla %] は複数の書式指定子を含む単語
  (<code>multiple_underscore_in_a_word</code>のような) は無視します。
  この機能はプログラム中の変数などを処理しないようにするためです。
  もし、利用しようとしている強調したい単語がこれに該当している場合、
  アンダースコア (<code>_</code>) ではなくアスタリスク (<code>*</code>) 
  を利用してください。

<h2 id="lists">リスト</h2>

  Markdown では数字つき・数字なしの両方のリストが利用可能です。

  <h3>数字なしリスト</h3>

    アスタリスク (<code>*</code>)、プラス (<code>+</code>)、ハイフン
    (<code>-</code>) を利用すると数字なしのリストができます。

    <p>
      <pre>
        <code>
          + 一つ目
          + 二つ目
          + 三つ目
        </code>
      </pre>
    </p>

  <h3>番号つきリスト</h3>

    数字ピリオドをつけたものを行頭に置くと、番号つきリストになります。

    <p>
      <pre>
        <code>
          1. 一つ目
          4. 二つ目
          3. 三つ目
        </code>
      </pre>
    </p>

    <strong>注:</strong> 先頭につけた数字は表示には影響せず、自動的に降られた
    番号で表示されます。先頭の数字は番号つきリストであることを示すためだけのものです。<br>

    <p>
      これらのリストはネスト可能です。
    </p>

    <p>
      <pre>
        <code>
          1. 一つ目
          4. 二つ目
          3. 三つ目
            * 一つ目のサブアイテム
            * 二つ目のサブアイテム
          5. 四つ目
        </code>
      </pre>
    </p>

<h2 id="code">コード</h2>

  文章の一部をコードとして表示したい場合、一つ以上のバッククォート (<code>`</code>) 
  で開始し、同じ数のバッククォートで閉じてください。

  <p>
    <pre>
      <code>`printf` 関数のマニュアルを参照。</code>
    </pre>
  </p>

  数行のコードに適用したい場合、3つ以上のバッククォートを行頭において、
  その次の行からコードを記述し、同じ数のバッククォートの行で閉じてください。

  <p>
    <pre>
      <code>
        これが関数です
        ```
        int sum(int x, int y) {
          return x + y;
        }
        ```
      </code>
    </pre>
  </p>

  もしくは、タブまたは、[% constants.MARKDOWN_TAB_WIDTH FILTER html %] 以上の
  半角空白をそれぞれの行の先頭におくことでそれらの行全体をコードとして表示できます。
  間違えて、通常の行がこのためにコードブロックとして取り扱われないように注意して
  ください。

<h2 id="strikethroughs">取り消し</h2>

  二つのチルダの組で囲まれた文字列は取り消しされます。

  <p>
    <pre>
      <code>
        モジュール ~~Foo~~ は削除されました。
      </code>
    </pre>
  </p>

<h2 id="links">リンク</h2>

  文字列中の URL やメールアドレスは自動的にリンクされます。それ以外にも、
  リンク文字列とタイトルつきのリンクを定義できます。また、インラインと
  リファレンスの両方の形式で定義できます。インラインで定義する場合、
  リンク文字列を角括弧に入れ、その直後に括弧に入れた URL と <em>必要なら</em>
  クォートで囲んだタイトルをおいてください。

  <p>
    <pre>
      <code>
        これは [Bugzilla](http://www.bugzilla.org "Bugzilla ホームページを見る")、
        [% terms.bug %] 追跡システムです。
        この [サンプルリンク](http://www.example.com) にはタイトルはありません。
      </code>
    </pre>
  </p>

  リファレンス形式で定義する場合、リンクを [% terms.comment %] 中に
  次の形式で記述してください。

  <p>
    <pre>
      <code>
        [bz]: http://www.bugzilla.org "Bugzilla ホームページ"
        [mz]: http://www.mozilla.org (Mozilla ホームページ)
      </code>
    </pre>
  </p>

  それぞれのリンクが、それに続く URL とあればクォートかカッコで囲まれ
  たタイトルが、角括弧内の固有の ID で定義されます。これを利用して、
  角括弧で囲まれたリンク文字列の後ろに角括弧で囲んだ ID を書くことでリンク
  を記述できます。

  <p>
    <pre>
      <code>
        [Bugzilla][bz] はオープンソースのサーバソフトウェアで、グループでの
        ソフトウェア開発の管理用に作成されています。 [Mozilla][mz] は [Bugzilla][bz] 
        を Firefox やその他のプロジェクトの課題追跡に利用しています。
      </code>
    </pre>
  </p>

[% PROCESS global/footer.html.tmpl %]
