[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): N.N.
  #                 Marc Schumann <wurblzap@gmail.com>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% INCLUDE global/header.html.tmpl
   title  = "$terms.Bugzilla 簡易検索 (ハッカー向け)",
   style  = 'th {text-align: left}'
   onload = 'document.forms[\'f\'].quicksearch.focus()'
 %]

<p>
  検索対象のひとつ以上の単語 (もしくは単語の断片) を入力してください :
</p>

<form name="f" action="buglist.cgi" method="get"
      onsubmit="if (this.quicksearch.value == '')
                { alert('ひとつ以上の検索語を入力してください。');
                  return false; } return true;">
  <input type="text" size="40" name="quicksearch">
  <input type="submit" value="検索" id="find">
  <input type="submit" name="load" value="検索フォーム読み込み" id="load">
</form>

<p>
  これは、大文字小文字を無視する &ldquo;全てが部分一致の&rdquo; 空白区切りの単語による検索です。
  初期状態では、要約、キーワード、プロダクト、コンポーネント、ステータスホワイトボード、
  が検索対象のフィールドです。
  URL などを検索対象に含める場合は、フィールドを検索に追加してください。
</p>
<p>
  &ldquo;検索語&rdquo; の一般的な形式は、
  <tt>field1,&hellip;,fieldN:value1,&hellip;,valueM</tt> です。
  [% terms.bug %] のうち、最低ひとつのフィールドの部分文字列が検索語に一致するような、
  検索語があるものが返ります。
  たとえば、<tt>assignee,reporter,qa:ibm,sun</tt> は、担当者、報告者か QA コンタクトが、
  <tt>ibm</tt> もしくは <tt>sun</tt> を含むログイン名を持つ [% terms.bugs %] を返します。
  もし、<tt>value1,&hellip;,valueM</tt> だけの場合、プレフィックスが初期値の
  <tt>summary,keywords,product,component,statuswhiteboard:</tt>
  であるとして上記のように検索されます。
  <tt>-<i>word</i></tt> を <tt><i>word</i></tt> の論理否定として利用可能です。
</p>
<p>
  以下が検索可能なフィールドの完全なリストです。(ショートカットは入力速度のために用意されています。)
</p>

<table border="1">
<thead>
<tr>
  <th>既定の検索対象か</th>
  <th>ショートカット</th>
  <th>フィールド名</th>
  <th>エイリアス</th>
  <th>説明</th>
</tr>
</thead>

<!-- Status, Resolution, Platform, OS, Priority, Severity -->

<tr>
  <td>&nbsp;</td>
  <td rowspan="2">
    <tt>UNCO,NEW,&hellip;,CLOS,<br>FIX,DUP,&hellip;<i>(先頭に)</i></tt>
  </td>
  <td><tt>status</tt></td>
  <td>&nbsp;</td>
  <td>
    <a href="page.cgi?id=fields.html#status">ステータス</a>
    <i>(&ldquo;bug_status&rdquo;)</i>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><tt>resolution</tt></td>
  <td>&nbsp;</td>
  <td><a href="page.cgi?id=fields.html#resolution">解決方法</a></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><i>as-is</i></td>
  <td><tt>platform</tt></td>
  <td>&nbsp;</td>
  <td>
    <a href="page.cgi?id=fields.html#rep_platform">プラットフォーム</a>
    <i>(&ldquo;rep_platform&rdquo;)</i>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>os</tt></td>
  <td><tt>opsys</tt></td>
  <td>
    <a href="page.cgi?id=fields.html#op_sys">OS</a>
    <i>(&ldquo;op_sys&rdquo;)</i>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><tt>p1,p2</tt> <i>or</i> <tt>p1-2</tt></td>
  <td><tt>priority</tt></td>
  <td><tt>pri</tt></td>
  <td><a href="page.cgi?id=fields.html#priority">重要度</a></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><tt>blo,cri,&hellip;,enh</tt></td>
  <td><tt>severity</tt></td>
  <td><tt>sev</tt></td>
  <td>
    <a href="page.cgi?id=fields.html#bug_severity">深刻度</a>
    <i>(&ldquo;bug_severity&rdquo;)</i>
  </td>
</tr>

<!-- People: AssignedTo, Reporter, QA Contact, CC, Added comment -->
<!-- Added comment is missing!!!! -->

<tr>
  <td>&nbsp;</td>
  <td><b>@</b><i>assignee</i></td>
  <td><tt>assignedto</tt></td>
  <td><tt>assignee</tt></td>
  <td>
    <a href="page.cgi?id=fields.html#assigned_to">担当者</a>
    <i>(&ldquo;assigned_to&rdquo;)</i>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>reporter</tt></td>
  <td><tt>rep</tt></td>
  <td>報告者 (ログイン名)</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>qa</tt></td>
  <td><tt>qacontact</tt></td>
  <td>QA コンタクト (ログイン名) <i>(&ldquo;qa_contact&rdquo;)</i></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>cc</tt></td>
  <td>&nbsp;</td>
  <td>CC (ログイン名)</td>
</tr>

<!-- Product, Version, Component, Target Milestone -->

<tr>
  <td><i>yes</i></td>
  <td rowspan="2"><b>:</b><i>area</i></td>
  <td><tt>product</tt></td>
  <td><tt>prod</tt></td>
  <td>プロダクト (列挙型)</td>
</tr>
<tr>
  <td><i>yes</i></td>
  <td><tt>component</tt></td>
  <td><tt>comp</tt></td>
  <td><a href="describecomponents.cgi">コンポーネント</a></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>version</tt></td>
  <td><tt>ver</tt></td>
  <td>バージョン (列挙型)</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>milestone</tt></td>
  <td><tt>target, targetmilestone</tt></td>
  <td>ターゲットマイルストーン <i>(&ldquo;target_milestone&rdquo;)</i></td>
</tr>

<!-- Summary, Description, URL, Status whiteboard, Keywords -->

<tr>
  <td><i>yes</i></td>
  <td>&nbsp;</td>
  <td><tt>summary</tt></td>
  <td><tt>shortdesc</tt></td>
  <td>
    [% terms.Bug %] 要約 (短い説明)
    <i>(&ldquo;short_desc&rdquo;)</i>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>description</tt></td>
  <td><tt>desc, longdesc<!--, comment--></tt></td>
  <!-- reserve "comment" for "added comment" login search?! -->
  <td>[% terms.Bug %] 解説 / コメント (長い説明)</td>
</tr>
<tr>
  <td><i>depends</i></td>
  <td>&nbsp;</td>
  <td><tt>url</tt></td>
  <td>&nbsp;</td>
  <td>URL <i>(&ldquo;bug_file_loc&rdquo;)</i></td>
</tr>
<tr>
  <td><i>yes</i></td>
  <td>&nbsp;</td>
  <td><tt>statuswhiteboard</tt></td>
  <td><tt>sw, whiteboard</tt></td>
  <td>ステータスホワイトボード <i>(&ldquo;status_whiteboard&rdquo;)</i></td>
</tr>
<tr>
  <td><i>yes</i></td>
  <td><b>!</b><i>keyword</i></td>
  <td><tt>keywords</tt></td>
  <td><tt>kw</tt></td>
  <td><a href="describekeywords.cgi">キーワード</a></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>group</tt></td>
  <td>&nbsp;</td>
  <td>グループ</td>
</tr>

<!-- Flags -->

<tr>
  <td>&nbsp;</td>
  <td rowspan="2"><i>flag</i><b>?</b><i>requestee</i></td>
  <td><tt>flag</tt></td>
  <td>&nbsp;</td>
  <td>フラグ名と状態 (+, - or ?)</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><tt>requestee</tt></td>
  <td><tt>req</tt></td>
  <td>フラグ要請者 (ログイン名)</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>setter</tt></td>
  <td><tt>set</tt></td>
  <td>フラグ設定者 (ログイン名)</td>
</tr>

<!-- Attachments -->

<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>attachmentdesc</tt></td>
  <td><tt>attachdesc</tt></td>
  <td>
    添付説明
    <i>(&ldquo;attachments.description&rdquo;)</i>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>attachmentdata</tt></td>
  <td><tt>attachdata</tt></td>
  <td>添付データ <i>(&ldquo;attach_data.thedata&rdquo;)</i></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>attachmentmimetype</tt></td>
  <td><tt>attachmimetype</tt></td>
  <td>添付型 (mime-type) <i>(&ldquo;attachments.mimetype&rdquo;)</i></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>votes</tt></td>
  <td>&nbsp;</td>
  <td>
    投票数<br>
    (votes:<i>N</i> や votes&gt;=<i>N</i> は "最低 N 票",
    votes&gt;<i>N</i> は "N 票以上")
  </td>
</tr>
</table>

<p>
  有用な短縮語の例
</p>
<table border="1">
<thead>
<tr>
  <th>形式</th>
  <th>意味と例</th>
</tr>
</thead>

<!--
<tr>
  <td><i>STAT</i> <i>(as first word)</i></td>
  <td><b>status,resolution:</b> <i>STAT</i></td>
</tr>
<tr>
  <td></td>
  <td></td>
</tr>
<tr>
  <td><tt>ALL</tt> <i>(as first word)</i></td>
  <td><i>include all resolved [% terms.bugs %] in your search</i></td>
</tr>
<tr>
  <td><tt>+DUP,FIXED</tt> <i>(as first word)</i></td>
  <td><i>include DUPLICATE and FIXED [% terms.bugs %] in your search</i></td>
</tr>
-->

<tr>
  <td><b>:</b><i>area</i></td>
  <td><b>product,component:</b><i>area</i></td>
</tr>
<tr>
  <td><i>sev</i></td>
  <td><b>severity:</b><i>sev</i></td>
</tr>
<tr>
  <td><tt>blo,cri,maj</tt></td>
  <td><i>severe [% terms.bugs %]</i></td>
</tr>
<tr>
  <td><tt>enh</tt></td>
  <td><i>enhancement requests</i></td>
</tr>
<tr>
  <td><b>p</b><i>level</i></td>
  <td><b>priority:</b><i>level</i></td>
</tr>
<tr>
  <td><tt>p1</tt></td>
  <td><i>very high-priority [% terms.bugs %]</i></td>
</tr>
<tr>
  <td><tt>p1-2</tt></td>
  <td><i>high-priority [% terms.bugs %]</i></td>
</tr>
<tr>
  <td><b>@</b><i>assignee</i></td>
  <td><b>assignedto:</b><i>assignee</i></td>
</tr>
<tr>
  <td><b>!</b><i>keyword</i></td>
  <td><b>keywords:</b><i>keyword</i></td>
</tr>
<tr>
  <td><i>flag</i><b>?</b><i>requestee</i></td>
  <td><b>flag:</b><i>flag?</i> <b>requestee:</b><i>requestee</i></td>
</tr>
</table>

<p>
  より詳細には、
  <a href="page.cgi?id=quicksearch.html">導入ページ</a> の
  <a href="page.cgi?id=quicksearch.html#features">&ldquo;機能&rdquo;</a>
  の節を参照してください。
</p>

[% PROCESS global/footer.html.tmpl %]
