[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% SET title = "$terms.Bugzilla 4.4 リリースノート" %]
[% INCLUDE global/header.html.tmpl 
  title = title
  style_urls = ['skins/standard/page.css'] 
%]

<h1>[% title FILTER html %]</h1>

<ul class="bz_toc">
  <li><a href="#v44_introduction">導入</a></li>
  <li><a href="#v44_point">4.4.x リリースでの更新点</a></li>
  <li><a href="#v44_req">動作環境</a></li>
  <li><a href="#v44_feat">新機能と改善点</a></li>
  <li><a href="#v44_issues">既知の問題点</a></li>
  <li><a href="#v44_upgrading">以前のバージョンからアップグレードする際の注意点</a></li>
  <li><a href="#v44_code_changes">カスタマイズ・拡張機能に影響するコードの変更</a></li>
  <li><a href="#v44_previous">以前のバージョンのリリースノート</a></li>
</ul>

<h2 id="v44_introduction">Introduction</h2>

<p>Welcome to [% terms.Bugzilla %] 4.4! It has been over a year since we
  released [% terms.Bugzilla %] 4.2 on February 2012, and this new major
  release comes with several new features and improvements. This release
  contains major improvements to WebServices, which were our main target in
  this release, a rewritten tagging system, a real MIME type auto-detection for
  attachments, improved support for Oracle, performance improvements and lots
  of other enhancements.</p>

<p>If you're upgrading, make sure to read <a href="#v44_upgrading">Notes On
  Upgrading From a Previous Version</a>. If you are upgrading from a release
  before 4.2, make sure to read the release notes for all the
  <a href="#v44_previous">previous versions</a> in between your version and
  this one, <strong>particularly the Upgrading section of each version's
  release notes</strong>.</p>

<h2 id="v44_point">Updates in this 4.4.x Release</h2>

<h3>4.4.4</h3>

<p>このリリースでは [% terms.Bugzilla %] 4.4.3 で修正された
  <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=968576">セキュリティー [% terms.bug %] 968576</a>
  でレグレッションした [% terms.bug %] において URL が正常に表示されなくなる問題を修正したものです。
  (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=998323">[% terms.Bug %] 998323</a>)</p>

<h3>4.4.3</h3>

<p>このリリースでは二つのセキュリティー問題への修正を含みます。詳細に関しては、
  <a href="http://www.bugzilla.org/security/4.0.11/">セキュリティーアドバイザリ</a>
  を参照してください。</p>

<p>加えて、以下の[% terms.bug %]修正がこのリリースでは行われました。</p>

<ul>
  <li><kbd>User.login</kbd> ウェブサービスメソッドが認証呼び出しに必要な
    <kbd>token</kbd> 引数の値を返すようになりました。セキュリティー上の理由から、
    このメソッドではログインクッキーが生成されなくなりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=893195">[% terms.Bug %] 893195</a>)</li>
  <li><kbd>User.get</kbd> ウェブサービスメソッドにおいて、<kbd>match</kbd>
    条件においてアカウント名を返す際に <kbd>maxusermatches</kbd> パラメータが
    適用されるようになりました。以前はこのメソッドは全ての合致したアカウントを返していました。
    <kbd>User.get</kbd> メソッドにおいてより制限するためには、
    <kbd>limit</kbd> 引数が利用できるようになりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=962060">[% terms.Bug %] 962060</a>)</li>
  <li>sudo クッキーが JavaScript からアクセスできなくなりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=966676">[% terms.Bug %] 966676</a>)</li>
  <li>解決済みの [% terms.bugs %] を大量に含む巨大な依存ツリーがより高速に
    表示されるようになりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=961789">[% terms.Bug %] 961789</a>)</li>
</ul>

<h3>4.4.2</h3>

<p>以下の重要な修正・変更がこのリリースで追加されました :</p>

<ul>
  <li><kbd>checksetup.pl</kbd> が DBI 1.630 (1.63) を 1.614 より古いバージョンと
    検出し、アップグレードが完了しませんでした。Perl 5.10.0 およびそれより以前
    を利用している場合、
    <a href="http://search.cpan.org/~jpeacock/version/lib/version.pod">version</a>
    モジュールがインストールされていることを <kbd>checksetup.pl</kbd> の実行前に
    確認してください。Perl 5.10.1 以降を利用の場合は、このモジュールは
    インストール済みですので対処は不要です。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=938300">[% terms.Bug %] 938300</a>)</li>
  <li>[% terms.Bugzilla %] 4.4 もしくは 4.4.1 へアップグレードする際に
    <kbd>longdescs.comment_id</kbd> に関するエラーが MySQL 5.0 と 5.1 
    を利用している場合に発生していました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=870369">[% terms.Bug %] 870369</a>)</li>
  <li>ユニコード文字列を名前に含む保存された検索は、Digest::SHA 5.82 
    とそれ以降の環境において動作していませんでした。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=964113">[% terms.Bug %] 964113</a>)</li>
  <li>[% terms.Bugzilla %] 4.4.1 におけるレグレッションにより、<kbd>email_in.pl</kbd>
    が "無効なトークン" エラーメッセージにより失敗していました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=928331">[% terms.Bug %] 928331</a> and
    <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=930013">[% terms.bug %] 930013</a>)</li>
  <li>PROJECT 環境変数が mod_perl 有効な環境においても正常に処理されるように
    なりました。(この変数は同じコードベースで複数のサイトを実行可能にします。)
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=843457">[% terms.Bug %] 843457</a>)</li>
  <li>コンポーネントに依存して利用される必須のカスタムフィールドについて、
    [% terms.bug %] の新規登録時に正しく要求されるようになりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=895813">[% terms.Bug %] 895813</a>)</li>
  <li>Windows 8.1 が新規 [% terms.bugs %] の登録時に認識されるようになりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=928092">[% terms.Bug %] 928092</a>)</li>
  <li>[% terms.Bugzilla %] は <kbd>shutdownhtml</kbd> が設定されており、
    クッキーを利用しない認証形式の場合でもクラッシュしなくなりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=748095">[% terms.Bug %] 748095</a>)</li>
  <li><kbd>importxml.pl</kbd> は <kbd>maxattachmentsize</kbd> と
    <kbd>maxlocalattachment</kbd> パラメータを [% terms.bugs %] インポートの際に
    無視されなくなりました。これにより、大きな添付はパラメータが設定されて
    いる場合は <kbd>data/attachments/</kbd> に保存されるようになりました。
    添付がウェブブラウザから見られるようにするため、このスクリプトはウェブ
    サーバユーザ (apache など) のユーザで実行する必要があります。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=360231">[% terms.Bug %] 360231</a>)</li>
  <li>SQLite 利用下でのデフォルトの日時形式が修正されました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=938161">[% terms.Bug %] 938161</a>)</li>
</ul>

<h3>4.4.1</h3>

<p>このリリースではいくつかのセキュリティー問題への修正を含みます。詳細に関しては、
  <a href="http://www.bugzilla.org/security/4.0.10/">セキュリティーアドバイザリ</a>
  を参照してください。</p>

<p>加えて、以下の[% terms.bug %]修正がこのリリースでは行われました。</p>

<ul>
  <li><kbd>checksetup.pl</kbd> が、無効なバージョン形式を持つ Perl モジュールにおいて
    "不明なバージョン形式 (非数値データ)" というエラーで失敗することがなくなりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=781672">[% terms.Bug %] 781672</a>)</li>
  <li>Internet Explorer 11 および Konqueror といった KHTML ベースのブラウザにおいて、
    [% terms.bugs %] リストが正常に表示されるようになりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=902515">[% terms.Bug %] 902515</a> および
    <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=914262">[% terms.bug %] 914262</a>)</li>
  <li>複数の [% terms.bugs %] を一度に編集し新規プロダクトに移動する際に、
    [% terms.bugs %] が古いプロダクトでグループ制限を持っていた場合でも
    新規プロダクトでグループ制限が解除されていました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=769134">[% terms.Bug %] 769134</a>)</li>
  <li><kbd>password_complexity</kbd> パラメータが 'letters_numbers_specialchars'
    に設定されている場合に、数字および特殊文字のみが含まれるパスワードが有効でした。
    現在は、英文字が入っていることも検証されます。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=897264">[% terms.Bug %] 897264</a>)</li>
  <li>巨大な依存関係グラフがより拘束に表示されます。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=917370">[% terms.Bug %] 917370</a>)</li>
  <li>多数の投票を行ったユーザでも、"投票" ページがより高速に表示されます。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=851267">[% terms.Bug %] 851267</a>)</li>
  <li>"わたしのリクエスト" ページでの要請者・被要請者フィールドのクエリにおいて、
    AND/OR の演算子が全てのフィールドに適用されていたのが修正されました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=891311">[% terms.Bug %] 891311</a>)</li>
  <li>MySQL のように DB サーバが大文字・小文字を区別しない比較を行う場合、
    トークンおよびログインクッキーがそれらの区別なしに比較されていました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=906745">[% terms.Bug %] 906745</a> および
    <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=907438">[% terms.bug %] 907438</a>)</li>
  <li>(X-Frame-Options といった) 全てのセキュリティーヘッダが XML-RPC でも帰るようになりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=787328">[% terms.Bug %] 787328</a>)</li>
  <li>任意でない自由記述のカスタムフィールドがあり空白である場合に Oracle 
    環境で新規 [% terms.bug %] 報告時にクラッシュしていました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=919475">[% terms.Bug %] 919475</a>)</li>
  <li>Oracle 環境下で <kbd>importxml.pl</kbd> を利用しての [% terms.bugs %] のインポートが不可能でした。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=848063">[% terms.Bug %] 848063</a>)</li>
</ul>


<h2 id="v44_req">Minimum Requirements</h2>

<p>Any requirements that are new since 4.2 will look like
  <span class="req_new">this</span>.</p>

<ul>
  <li><a href="#v44_req_perl">Perl</a></li>
  <li><a href="#v44_req_mysql">For MySQL Users</a></li>
  <li><a href="#v44_req_pg">For PostgreSQL Users</a></li>
  <li><a href="#v44_req_oracle">For Oracle Users</a></li>
  <li><a href="#v44_req_sqlite">For SQLite Users</a></li>
  <li><a href="#v44_req_modules">Required Perl Modules</a></li>
  <li><a href="#v44_req_optional_mod">Optional Perl Modules</a></li>
  <li><a href="#v44_req_apache">Optional Apache Modules</a></li>
</ul>

<h3 id="v44_req_perl">Perl</h3>

<p>Perl v5.8.1</p>

<p><strong>IMPORTANT:</strong> This is the last major release to support
  Perl 5.8.x! The next major release, [% terms.Bugzilla %] 5.0, will require
  Perl 5.10.1 as a minimum.</p>

[% INCLUDE db_req db='mysql' %]

[% INCLUDE db_req db='pg' dbd_new => 1 %]

[% INCLUDE db_req db='oracle' %]

[% INCLUDE db_req db='sqlite' %]

<h3 id="v44_req_modules">Required Perl Modules</h3>

[% INCLUDE req_table reqs = REQUIRED_MODULES
                     updated = ['TimeDate', 'DBI', 'Email-Send', 'List-MoreUtils'] %]

<h3 id="v44_req_optional_mod">Optional Perl Modules</h3>

<p>The following perl modules, if installed, enable various
  features of [% terms.Bugzilla %]:</p>

[% INCLUDE req_table reqs = OPTIONAL_MODULES
                     new  = ['Net-SMTP-SSL', 'HTML-FormatText-WithLinks',
                             'File-MimeInfo', 'IO-stringy']
                     updated = ['TheSchwartz']
                     include_feature = 1 %]

<h3 id="v44_req_apache">Optional Apache Modules</h3>

<p>If you are using Apache as your webserver, [% terms.Bugzilla %] can
  take advantage of some Apache features if you have the below Apache
  modules installed and enabled. Currently,
  <a href="#v40_feat_js_css_update">certain [% terms.Bugzilla %] features</a>
  are enabled only if you have all of the following modules installed
  and enabled:</p>

<ul>
  <li>mod_headers</li>
  <li>mod_expires</li>
  <li>mod_env</li>
</ul>

<p>On most systems (but not on Windows), <kbd>checksetup.pl</kbd> is able to
  tell whether or not you have these modules installed, and it will tell
  you.</p>


<h2 id="v44_feat">New Features and Improvements</h2>

<ul>
  <li><a href="#v44_feat_search">Allow Multiple Search Criteria to Match one Field</a></li>
  <li><a href="#v44_feat_search_perf">Improved Performance for Searches</a></li>
  <li><a href="#v44_feat_bug_tags">Overhaul of the Tagging System</a></li>
  <li><a href="#v44_feat_mimetype_autodetect">Auto-Detection of the Attachment MIME Type</a></li>
  <li><a href="#v44_feat_saved_reports">Saving Tabular and Graphical Reports</a></li>
  <li><a href="#v44_feat_whining">Custom Columns in Whine Emails</a></li>
  <li><a href="#v44_feat_webservices">Improved WebServices</a></li>
  <li><a href="#v44_feat_apache_config">New Apache Configuration</a></li>
  <li><a href="#v44_feat_other">Other Enhancements and Changes</a></li>
</ul>

<h3 id="v44_feat_search">Allow Multiple Search Criteria to Match one Field</h3>

<p>
  In the "Advanced Search" page, it is now possible to build queries using
  multiple custom search criteria against the same field. In [% terms.Bugzilla %]
  4.2 and older, queries of the form
  <br><br>
  <kbd>"Status changed to VERIFIED" AND "Status changed by foo@bar.com"</kbd>
  <br><br>
  were returning all [% terms.bugs %] which had their status changed to VERIFIED
  by some user and which were edited by foo@bar.com once, but both actions could
  be independent. In [% terms.Bugzilla %] 4.4, you can now decide if both
  criteria must match the exact same action or not, i.e. if you want
  [%+ terms.bugs %] whose status has been set to VERIFIED by foo@bar.com himself.
  In the same way, queries of the form
  <br><br>
  <kbd>"Flags changed to approval+" AND "Flags changed by foo@bar.com"</kbd>
  <br><br>
  can now return [% terms.bugs %] for which the approval flag has been set to
  "+" by foo@bar.com himself. In previous versions, both actions were treated
  independently and [% terms.bugs %] for which foo@bar.com set the approval flag
  to "?" and which is then set to "+" by someone else were also returned.
</p>
<p>
  This new feature gives you the ability to build more accurate queries and to
  get more relevant results.
</p>

<h3 id="v44_feat_search_perf">Improved Performance for Searches</h3>

<p>
  The search system got a performance boost which in some cases decreases the
  time spent to run queries from several minutes to a few seconds only.
  The more complex your queries are, the more visible the performance win
  should be.
</p>

<h3 id="v44_feat_bug_tags">Overhaul of the Tagging System</h3>

<p>
  The old tagging system which was in the footer of all pages had severe design
  and usability limitations and has been replaced by a shiny new one which lets
  you tag [% terms.bugs %] from the [% terms.bug %] report directly. Tags now
  mostly work like keywords, but with two major differences. First of all, they
  are personal, meaning that tags you set on [% terms.bugs %] are only visible
  by you, and nobody else is notified nor can see which tags you set. This
  behavior is the same as the old tagging system and so this feature didn't
  change. The second major difference is that the list of available tags is
  unlimited and is in no way hardcoded by administrators. You can type either
  a new tag of your choice, or you can select one from an auto-generated list
  of tags which you already used in other [% terms.bugs %]. Again, this feature
  was already present in the old tagging system, but its usability has been
  greatly improved. In particular, this means that tags are now displayed in
  [%+ terms.bug %] reports directly, so that you immediately know which tags
  you already set for that [% terms.bug %]. This feature is new in this release.
</p>
<p>
  Another new feature is that your personal tags can now be listed in buglists.
  They can also be used as search criteria in your queries. If you decide to
  share a saved search which uses tags as criteria, this will work too! Note
  that when you add a new tag, no saved search based on this tag is created
  anymore, as you can easily create it yourself if you really need it.
</p>
<p>
  The tags set with the old tagging system are automatically migrated to the
  new system.
</p>

<h3 id="v44_feat_mimetype_autodetect">Auto-Detection of the Attachment MIME Type</h3>

<p>
  When a user uploads a new attachment and lets the "Content Type" field set to
  "auto-detect", [% terms.Bugzilla %] now does its own MIME type detection
  if the web browser tells him that the attachment is of type
  "application/octet-stream", in an attempt to make a better guess than the web
  browser. In all other cases, [% terms.Bugzilla %] still trusts what the browser
  tells him.
</p>
<p>
  Check the <a href="#v44_req_optional_mod">list of optional Perl modules</a> to
  know which modules to install in order to enable MIME type sniffing.
</p>

<h3 id="v44_feat_saved_reports">Saving Tabular and Graphical Reports</h3>

<p>
  It is now possible to save tabular and graphical reports in the same way as
  you save searches. Saved reports will appear in the footer of pages, below
  saved searches.
</p>
<p>
  Unlike saved searches, it is not yet possible to share saved reports with
  other users.
</p>

<h3 id="v44_feat_whining">Custom Columns in Whine Emails</h3>

<p>
  The list of columns to display in buglists contained in emails sent by the
  whining system on a regular basis is no longer hardcoded. If the saved
  search used for whining emails contains a list of columns, these columns are
  used to be displayed in the emails. If no custom list is found, the default
  column list is used instead.
</p>
<p>
  This means that depending on the kind of email notifications you want, you
  can fully customize data to return, on a per saved search basis!
</p>

<h3 id="v44_feat_webservices">Improved WebServices</h3>

<p>
  This release got major improvements in its WebServices interface. Many new
  methods have been implemented to let third-party applications interact with
  [%+ terms.Bugzilla %] even more closely. For instance, it is now possible to
  know what parameters are set to using <kbd>B[%%]ugzilla.parameters</kbd>.
  It is now also possible to update tags, products, groups or user accounts
  using our API.
<p>
<p>
  Several existing methods have also been improved to return data which
  weren't available till now, such as [% terms.bug %] and attachment flags
  using <kbd>B[%%]ug.get</kbd>, <kbd>B[%%]ug.attachments</kbd> or
  <kbd>Product.get</kbd>. Users can also get their saved searches and reports
  using <kbd>User.get</kbd>; and much more, see the
  <a href="#v44_feat_webservices_details">detailed list</a> below.
</p>

<h3 id="v44_feat_apache_config">New Apache Configuration</h3>

<p>
  For improved security, [% terms.Bugzilla %] now prevents directory browsing
  by default. If you run [% terms.Bugzilla %] under Apache (as most people do),
  you most likely require a <strong>new Apache configuration</strong> for this
  version of [% terms.Bugzilla %]. See the
  <a href="#v44_upgrading">Notes On Upgrading From a Previous Version</a>
  section for details.
</p>

<h3 id="v44_feat_other">Other Enhancements and Changes</h3>

<h4>Enhancements for Users</h4>

<ul>
  <li><strong>[% terms.Bugs %]:</strong> It is now possible to add yourself to
    the CC list when uploading an attachment and when editing an existing one.</li>
  <li><strong>[% terms.Bugs %]:</strong> There is a new user preference to be
    automatically added to the CC list of [% terms.bugs %] for which a flag
    request is addressed to you (the flag has you as the requestee).</li>
  <li><strong>[% terms.Bugs %]:</strong> Changes to the CC list no longer
    causes midair collisions.</li>
  <li><strong>[% terms.Bugs %]:</strong> There is now a <em>(take)</em> link
    besides the QA Contact field to easily set yourself as QA contact.</li>
  <li><strong>[% terms.Bugs %]:</strong> [% terms.Bugs %] are no longer
    reassigned to the default assignee when moving the [% terms.bug %] into
    another product or component if the current assignee is not the default
    one. Same goes for the QA contact.</li>
  <li><strong>[% terms.Bugs %]:</strong> When reporting a new [% terms.bug %],
    flags which are not available for the selected component and those which
    the reporter cannot edit are now hidden instead of being disabled. For
    existing [% terms.bugs %], unset flags are also hidden by default. Clicking
    the <em>(set flags)</em> or <em>(more flags)</em> link will make them
    appear.</li>
  <li><strong>[% terms.Bugs %]:</strong> When viewing [% terms.abug %], the list
    of duplicated [% terms.bugs %] is now listed near the top of the page.</li>
  <li><strong>[% terms.Bugs %]:</strong> Private comments now always remain
    visible to their author. Previously, the author of a comment couldn't see
    it anymore if the comment was marked private and the author isn't in the
    insider group.</li>
  <li><strong>[% terms.Bugs %]:</strong> The See Also field now supports URLs
    pointing to GitHub by default. If the new MoreBugUrl extension included in
    this release is enabled, then you can also add URLs pointing to:
    b[%%]ugs.php.net, RT, appspot.com (Rietveld), Review Board, and
    getsatisfaction.com.</li>
  <li><strong>Searches:</strong> The alias of [% terms.bugs %] you cannot see
    are no longer resolved to their [% terms.bug %] ID, meaning that it is no
    longer possible to connect an alias with its ID unless you can see the
    [%+ terms.bug %].</li>
  <li><strong>Searches:</strong> Custom multi-select fields are now available
    in the "Search By Change History" section of the query page.</li>
  <li><strong>Searches:</strong> The <em>changed by</em> operator in boolean
    charts now accepts pronouns.</li>
  <li><strong>Searches:</strong> The requester and requestee fields in boolean
    charts now accept pronouns.</li>
  <li><strong>Searches:</strong> It is now possible to hide the description of
    queries appearing at the top of buglists.</li>
  <li><strong>Requests:</strong> The "My Requests" page now displays an AND/OR
    radio button to define the interaction between the requester and requestee
    fields.</li>
  <li><strong>Email Notifications:</strong> There is a new user preference to
    not prepend "New:" to the subject of [% terms.bug %]mails when reporting
    a new [% terms.bug %]. Some email clients couldn't thread emails correctly
    due to this.</li>
  <li><strong>Email Notifications:</strong> There is a new email event to get
    notifications when the product or component of [% terms.abug %] changes.</li>
  <li><strong>Email Notifications:</strong> All [% terms.bug %]mails now have
    a <em>X-Bugzilla-Flags</em> email header, listing currently set flags.</li>
  <li><strong>Email Notifications:</strong> All [% terms.bug %]mails now have
    a <em>X-Bugzilla-Version</em> email header with the current product
    version.</li>
  <li><strong>Whining:</strong> The sort order of the saved search is used to
    sort [% terms.bugs %] in the emails.</li>
  <li><strong>User Accounts:</strong> To confirm an email address change, the
    password is now requested instead of the old email address.</li>
  <li><strong>Graphical Reports:</strong> The size of graphical reports is now
    set dynamically to fit within the window of the web browser.
    The Taller/Thinner/Fatter/Shorter links are now gone.</li>
  <li><strong>Incoming Emails:</strong> <kbd>email_in.pl</kbd> now accepts
    HTML-only emails to create and edit [% terms.bugs %] by email.</li>
  <li><strong>Incoming Emails:</strong> When creating a new [% terms.bug %],
    <kbd>email_in.pl</kbd> will look at the <em>Importance</em> and
    <em>X-Priority</em> email headers to increase or decrease the initial
    priority of the [% terms.bug %], unless the priority is already explicitly
    set in the email itself.</li>
  <li><strong>Skins:</strong> [% terms.Bugzilla %] no longer fetches all skins
    available when viewing a page. It only loads the skin selected by the user
    in his preferences, which results in less requests to the server.</li>
</ul>

<h4>Enhancements for Administrators and Developers</h4>

<ul>
  <li><strong>License:</strong> The [% terms.Bugzilla %] code is now released
    under the MPL 2.0 license (previously was MPL 1.1).</li>
  <li><strong>Installation:</strong> On mod_perl, templates now remain in
    memory for one hour, which can cause an increase in memory requirements.
    This also means that it can take up to one hour before changes in templates
    become active (unless you restart Apache).</li>
  <li><strong>Installation:</strong> Running
    <kbd>checksetup.pl --make-admin=foo@bar.com</kbd> now automatically
    re-enables the user account if it was disabled.</li>
  <li><strong>Configuration:</strong> A new parameter <em>smtp_ssl</em> can be
    turned on to enable SSL connections to the SMTP server to send email
    notifications.</li>
  <li><strong>Administration:</strong> Custom fields now have a new <em>Long
    description</em> attribute to better describe what the custom field is
    about. This description then appears as a tooltip when hovering the custom
    field in [% terms.bug %] reports.</li>
  <li><strong>Administration:</strong> When creating a new product, the form
    lets you add a component at the same time.</li>
  <li><strong>Administration:</strong> When viewing a user account in
    <kbd>editusers.cgi</kbd>, the date of the last login is displayed. Users
    who did not log in since you upgraded to 4.4 will have this field empty.</li>
  <li><strong>Administration:</strong> It is now possible to exclude disabled
    user accounts when running a query in <kbd>editusers.cgi</kbd>.</li>
  <li><strong>Administration:</strong> The default CC list is now also displayed
    when listing components in <kbd>editcomponents.cgi</kbd>.</li>
  <li><strong>Administration:</strong> Target milestones can now be 64 characters
    long, for consistency with versions (previously was limited to 20 characters
    only).</li>
  <li><strong>Administration:</strong> The result code returned by
    <kbd>contrib/bugzilla-queue.rhel</kbd> when it's not running is now 2
    instead of 0.</li>
  <li><strong>Database:</strong> Support for MySQL 5.6 has been added.</li>
  <li><strong>Database:</strong> Support for Oracle has been greatly improved.</li>
  <li><strong>Security:</strong> For improved security, the
    "X-Content-Type-Options:&nbsp;nosniff" and "X-XSS-Protection:&nbsp;block"
    headers are now sent with every response.</li>
  <li><strong>Security:</strong> Tokens are now generated using HMAC SHA-256
    instead of MD5.</li>
  <li><strong>Documentation:</strong> The documentation is now generated with
    <kbd>xmlto</kbd> and <kbd>dblatex</kbd> instead of <kbd>jade</kbd>.</li>
</ul>

<h4 id="v44_feat_webservices_details">WebService Changes</h4>

<ul>
  <li>Several new methods have been added: <kbd>B[%%]ug.update_tags</kbd>,
    <kbd>B[%%]ugzilla.parameters</kbd>, <kbd>B[%%]ugzilla.last_audit_time</kbd>,
    <kbd>Classification.get</kbd>, <kbd>Group.update</kbd>,
    <kbd>Product.update</kbd>, <kbd>User.update</kbd>.</li>
  <li><kbd>B[%%]ug.add_attachment</kbd> now only returns the ID of the newly
    created attachments instead of all the attachment data.</li>
  <li><kbd>B[%%]ug.attachments</kbd> now also returns the <kbd>size</kbd> field
    containing the size of the attachment.</li>
  <li><kbd>B[%%]ug.attachments</kbd> and <kbd>B[%%]ug.get</kbd> now return
    data about flags.</li>
  <li><kbd>B[%%]ug.comments</kbd> now also returns <kbd>creation_time</kbd>
    which is exactly the same as <kbd>time</kbd>, but is provided for
    consistency with <kbd>B[%%]ug.get</kbd> and <kbd>B[%%]ug.attachments</kbd>.
    The <kbd>time</kbd> field may be deprecated and removed in a future release,
    so you should use <kbd>creation_time</kbd> instead.</li>
  <li><kbd>B[%%]ug.comments</kbd> now also returns the <kbd>count</kbd> field
    containing the comment ID relative to the [% terms.bug %] it belongs to.
    This is the same comment ID as the one you can see in [% terms.bug %]
    reports.</li>
  <li>It is now possible to create new [% terms.bugs %] with a closed status with
    <kbd>B[%%]ug.create</kbd>.</li>
  <li>The <kbd>bug_status</kbd> field returned by <kbd>B[%%]ug.fields</kbd> now
    also includes [% terms.bug %] statuses available on [% terms.bug %] creation.</li>
  <li><kbd>B[%%]ug.fields</kbd> now also returns keyword descriptions, not only
    their names.</li>
  <li><kbd>B[%%]ug.fields</kbd> now also returns the <kbd>is_active</kbd> field
    for product-specific fields.</li>
  <li>For users in the timetracking group, <kbd>B[%%]ug.get</kbd> now also
    returns the <kbd>actual_time</kbd> field with the total number of hours
    spent in the [% terms.bug %].</li>
  <li>Field names returned in the <kbd>field_name</kbd> field of the
    <kbd>B[%%]ug.history</kbd> method have changed to be consistent with other
    methods.</li>
  <li>The <kbd>B[%%]ug.search</kbd> method was returning all visible [% terms.bugs %]
    when called with no arguments, ignoring the <kbd>max_search_results</kbd>
    and <kbd>search_allow_no_criteria</kbd> parameters. This has been fixed.</li>
  <li><kbd>Product.get</kbd> now also returns the <kbd>flag_types</kbd> field
    containing all the relevant data for attachment and [% terms.bug %] flag types.</li>
  <li><kbd>Product.get</kbd> now throws an error if neither <kbd>ids</kbd> nor
    <kbd>names</kbd> is passed to the method.</li>
  <li>When requesting data for your own account using <kbd>User.get</kbd>,
    this method now returns two additional fields: <kbd>saved_searches</kbd>
    and <kbd>saved_reports</kbd> containing all your saved searches and
    graphical and tabular reports.</li>
  <li><kbd>User.get</kbd> now also returns the <kbd>groups</kbd> field
    containing the list of groups the user belongs to. The list is filtered
    based on your privileges.</li>
</ul>


<h2 id="v44_issues">Outstanding Issues</h2>

<ul>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=89822">
    [%- terms.Bug %] 89822</a>: When changing multiple [% terms.bugs %] at
    the same time, there is no "mid-air collision" protection.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=276230">
    [%- terms.Bug %] 276230</a>: The support for restricting access to
    particular Categories of New Charts is not complete. You should treat the
    <em>chartgroup</em> parameter as the only access mechanism available.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=584742">
    [%- terms.Bug %] 584742</a>: When viewing [% terms.abug %], WebKit-based
    browsers can automatically reset a field's selected value when the field
    has disabled values.</li>
</ul>


<h2 id="v44_upgrading">Notes On Upgrading From a Previous Version</h2>

<h3>IMPORTANT: Apache Configuration Change</h3>

<p>
  For improved security, [% terms.Bugzilla %] now prevents directory browsing
  by default. In order to do that, the root <kbd>bugzilla/.htaccess</kbd> file
  now contains the <kbd>Options -Indexes</kbd> directive. By default, this
  directive is not allowed in <kbd>.htaccess</kbd> and so you must configure
  Apache to allow it. To do that, add <kbd>Options</kbd> to the
  <kbd>AllowOverride</kbd> directive in <kbd>httpd.conf</kbd>. This means you
  should now have something like this:
  <p>
    <kbd>AllowOverride Limit FileInfo Indexes Options</kbd>
  </p>
  Check the
  <a href="http://www.bugzilla.org/docs/4.4/en/html/configuration.html#http-apache">documentation</a>
  for more information about how to configure Apache.
</p>

<h2 id="v44_code_changes">Code Changes Which May Affect Customizations and Extensions</h2>

<ul>
  <li>The <em>usebugaliases</em> parameter has been removed. Aliases are now
    always available.</li>
  <li>There is a new code hook <kbd>admin_editusers_action</kbd> to alter the
    way <kbd>editusers.cgi</kbd> works.</li>
  <li>There is a new code hook <kbd>buglist_column_joins</kbd> to alter the way
    tables and columns are joined in queries. In combination with the
    <kbd>buglist_columns</kbd> hook, this permits to customize the list of
    columns to display in buglists.</li>
  <li>There is a new code hook <kbd>bug_start_of_update</kbd> which is called
    after <kbd>object_end_of_update</kbd> but before <kbd>bug_end_of_update</kbd>
    for a better control on how to update [% terms.bugs %].</li>
  <li>There is a new code hook <kbd>bug_url_sub_classes</kbd> to support
    additional URLs in the See Also field.</li>
  <li>There is a new code hook <kbd>error_catch</kbd> to catch errors thrown
    by [% terms.Bugzilla %] and to take the appropriate actions.</li>
  <li>There is a new code hook <kbd>path_info_whitelist</kbd> to whitelist
    scripts which should still get the Path-Info information from URLs. By
    default, Path-Info is now removed before being passed to CGI scripts.</li>
  <li>It is now illegal to have a product with no components and no versions.
    Trying to delete the last component or version of a product is now
    rejected.</li>
  <li>Trying to set the component, target milestone or version of [% terms.abug %]
    to a disabled value is no longer accepted. The change will be rejected.</li>
  <li>The comment box now checks the returned value of check_can_change_field()
    to determine if it should be displayed or not. This means its visibility
    can now be controlled by the <kbd>bug_check_can_change_field</kbd> hook.</li>
  <li>Flags now checks the returned value of check_can_change_field() to
    determine if they should appear as editable or not. This means their
    visibility can now be controlled by the <kbd>bug_check_can_change_field</kbd>
    hook.</li>
  <li>Quips can no longer exceed 512 characters. Existing quips longer than
    that are automatically truncated when upgrading.</li>
  <li>The static <kbd>bugzilla.dtd</kbd> file has been replaced by a dynamic
    one to take custom fields into account. The old
    <em>&lt;urlbase&gt;/bugzilla.dtd</em> URL is now
    <em>&lt;urlbase&gt;/page.cgi?id=bugzilla.dtd</em>.</li>
  <li>There is a new extension located at <kbd>extensions/MoreBugUrl/</kbd>
    which permits to add new classes of URLs in the See Also field. It uses
    the <kbd>bug_url_sub_classes</kbd> hook mentioned above.</li>
  <li>There is a new <kbd>B[%%]ugzilla->process_cache</kbd> method to store
    data which should remain available for the lifetime of the worker process,
    on mod_perl. On mod_cgi, it behaves the same way as
    <kbd>B[%%]ugzilla->request_cache</kbd>.</li>
  <li>In the RDF output of <kbd>config.cgi</kbd>, URIs used to identify
    versions and target milestones have been changed to be unique across
    products.</li>
  <li>The RDF output of <kbd>config.cgi</kbd> now also returns data about
    classifications.</li>
  <li>It is now legal to call <kbd>B[%%]ugzilla::Version->check({ id => $id })</kbd>
    and <kbd>B[%%]ugzilla::Milestone->check({ id => $id })</kbd> to validate
    and get an object using its ID.</li>
  <li>Rows in the <kbd>dependencies</kbd>, <kbd>flaginclusions</kbd> and
    <kbd>flagexclusions</kbd> DB tables are now enforced to be unique.</li>
  <li>The <kbd>b[%%]ugs_activity</kbd> and <kbd>profiles_activity</kbd> DB
    tables now have an auto-incremented primary key named <kbd>id</kbd>.</li>
  <li>A custom <kbd>B[%%]ugzilla.pm</kbd> module has been added into
    <kbd>contrib/</kbd> to help packagers to package B[%%]ugzilla in their
    Linux distros.</li>
</ul>


<h1 id="v44_previous">[% terms.Bugzilla %] 4.2 リリースノート</h1>

<ul class="bz_toc">
  <li><a href="#v42_introduction">導入</a></li>
  <li><a href="#v42_point">4.2.x リリースでの更新点</a></li>
  <li><a href="#v42_req">動作環境</a></li>
  <li><a href="#v42_feat">新機能と改善点</a></li>
  <li><a href="#v42_issues">既知の問題点</a></li>
  <li><a href="#v42_code_changes">カスタマイズ・拡張機能に影響するコードの変更</a></li>
  <li><a href="#v42_previous">以前のバージョンのリリースノート</a></li>
</ul>

<h2 id="v42_introduction">導入</h2>

<p>[% terms.Bugzilla %] 4.2 へようこそ。2011 年 11 月に [% terms.Bugzilla %] 4.0 
をリリースして以来ほぼ1年になり、いくつかの新機能と改善を行ったメジャーリリース
になります。このリリースでは検索機能の大きな改善、SQLite のサポート、
ウェブサービスの改善や、その他多数の機能拡張が含まれます。</p>

<p>4.0 以前からアップグレードしようとしているユーザは、このバージョンとあなたの
現在のバージョンの間の<a href="#v42_previous">過去のバージョン</a>のリリースノート
をすべて確認してください。<strong>特にそれぞれのリリースノートの更新を行う
際の部分は重要です。</strong></p>

<h2 id="v42_point">4.2.x リリースでの更新点</h2>

<h3>4.2.5</h3>

<p>このリリースでは一つのセキュリティー問題への修正を含みます。詳細に関しては、
  <a href="http://www.bugzilla.org/security/3.6.12/">セキュリティーアドバイザリ</a>
  を参照してください。</p>

<p>加えて、以下の[% terms.bug %]修正がこのリリースでは行われました。</p>

<ul>
  <li>コメントを追加したユーザを利用するクエリの実行が低速でした。これらのクエリは、
    より高速に動作するよう最適化されました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=818007">[% terms.Bug %] 818007</a>)</li>
  <li>無効化されたコンポーネントやターゲットマイルストーン、バージョンに、
    新規 [% terms.bug %] を追加できなくなりました。それら無効な値は [% terms.abug %] 
    を別なプロダクトに移動する際にも利用できなくなりました。
    ([% terms.Bugs %] <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=752946">752946</a>
    and <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=840824">840824</a>)</li>
  <li>ステータスワークフロー上は新規 [% terms.bugs %] 作成に必須となっていても、
    説明なしでの新規 [% terms.bug %] 作成が可能になっていました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=818890">[% terms.Bug %] 818890</a>)</li>
  <li>カスタム複数選択フィールドが "高度な検索" の "変更履歴による検索" 
    で利用可能になりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=839950">[% terms.Bug %] 839950</a>)</li>
  <li>カスタム選択フィールドの値リストが、一つ以上の値が無効と設定されており、
    かつ他のフィールドの状態により値を利用するかが制御される設定の場合に、
    不完全な表示となっていました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=806809">[% terms.Bug %] 806809</a>)</li>
  <li>Return::Value 1.666002 から送出されるこの非推奨モジュールについての警告と、
    ウェブサーバのエラーログに出るエラーが無効化されるようになりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=826678">[% terms.Bug %] 826678</a>)</li>
</ul>

<h3>4.2.4</h3>

<p>このリリースでは複数のセキュリティー問題への修正を含みます。詳細に関しては、
  <a href="http://www.bugzilla.org/security/3.6.11/">セキュリティーアドバイザリ</a>
  を参照してください。</p>

<p>加えて、以下の[% terms.bug %]修正がこのリリースでは行われました。</p>

<ul>
  <li>グループを利用したクエリが "usevisibilitygroups" パラメータが有効の場合に
    クラッシュしていました。また、CVE-2011-2979 が [% terms.Bugzilla %] 4.1.3 
    で完全には修正されていませんでした。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=788098">[% terms.Bug %] 788098</a>)</li>
  <li>フラグ名が "ユーザ名確認画面" で正しくエスケープされていなかったという問
    題が修正されています。&lt; や &gt; が含まれるフラグ名で管理者が作成した場合に、
    それらの文字がフィルターされていないことにより表示が異常になる可能性がありました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=790215">[% terms.Bug %] 790215</a>)</li>
  <li>外部のアプリケーションからプライベートなウェブサービスのメソッドが呼び出せ
    ないようになりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=793826">[% terms.Bug %] 793826</a>)</li>
  <li>PostgreSQL 9.2 で DBD::Pg 2.19.3 が必要となりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=799721">[% terms.Bug %] 799721</a>)</li>
  <li>バグリストでキーワードもしくはフラグを表示する際に Oracle がクラッシュしていました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=780053">[% terms.Bug %] 780053</a>)</li>
  <li>簡易検索でいくつかの検索語を入力した際に Oracle がクラッシュしていました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=804505">[% terms.Bug %] 804505</a>)</li>
  <li>解決方法が MOVED になった [% terms.Bugs %] が編集不可になりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=757935">[% terms.Bug %] 757935</a>)</li>
  <li>"複数 [% terms.Bugs %] を同時に変更する" ページで依存関係を編集すると、
    正常に動作していませんでした。[% terms.Bugs %] ID が間違って解釈されていました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=790909">[% terms.Bug %] 790909</a>)</li>
  <li>表形式とグラフ形式のレポートで "活動時間" の軸が正しく動作するようになりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=794389">[% terms.Bug %] 794389</a>)</li>
  <li><kbd>checksetup.pl</kbd> が Voting 拡張が有効で必要なモジュールがない場合、
    初期インストール時に動作しなくなっていました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=652047">[% terms.Bug %] 652047</a>)</li>
  <li>カスタムフィールドが追加された [% terms.abug %] を表示する際にも
    [% terms.Bugzilla %] はクラッシュしなくなりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=531243">[% terms.Bug %] 531243</a>)</li>
  <li>セキュリティーの改善のため、"X-Content-Type-Options:&nbsp;nosniff" と
    "X-XSS-Protection:&nbsp;block" ヘッダを必ず送出するようになりました。
    ([% terms.Bugs %] <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=671612">671612</a>, 
    <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=680771">680771</a>)</li>
</ul>

<h3>4.2.3</h3>

<p>このリリースでは二つのセキュリティー問題への修正を含みます。
  詳細に関しては、
  <a href="http://www.bugzilla.org/security/3.6.10/">セキュリティーアドバイザり</a>
  を参照してください。</p>

<p>加えて、以下の[% terms.bug %]修正がこのリリースでは行われました。</p>

<ul>
  <li>Perl 5.16 での変更により [% terms.abug %] へのファイルの添付機能が
    動かなくなっていました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=771100">[% terms.Bug %] 771100</a>)</li>
  <li>[% terms.Bugzilla %] 4.2.2 において Oracle 環境下でバグ一覧を表示しようと
    した際にクラッシュするレグレッションがありました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=780028">[% terms.Bug %] 780028</a>)</li>
  <li>見ることのできないコメントや添付についてその履歴が検索できるようになっていました。
    (コメントや添付自体は閲覧できていませんでした。)
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=779709">[% terms.Bug %] 779709</a>)</li>
  <li>utf8 パラメータが有効の場合でも、PostgreSQL 環境下で間違った文字コードで
    データベースが生成されていました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=783786">[% terms.Bug %] 783786</a>)</li>
  <li>Oracle 環境下ではスケジュールされた whine が間違った時間に送信される可能性
    がありました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=559539">[% terms.Bug %] 559539</a>)</li>
  <li>保存されたクエリで、トークンは送信されなくなりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=772953">[% terms.Bug %] 772953</a>)</li>
  <li>カスタムフィールドの説明に &lt; か &gt; の文字が含まれる
    際にフィルターされないことによりバグリストの表示が壊れてしまう問題がありました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=785917">[% terms.Bug %] 785917</a>)</li>
  <li>Oracle 環境下でデータベースカラムを追加・削除する際に SERIAL カラムが
    正常に扱われていませんでした。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=731156">[% terms.Bug %] 731156</a>)</li>
  <li>token.cgi において有効でないパスワードリセットメール送信要求が
    受け付けられる可能性があるという、小さな CSRF 脆弱性がありました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=706271">[% terms.Bug %] 706271</a>)</li>
</ul>

<h3>4.2.2</h3>

<p>このリリースでは一つのセキュリティー問題への修正を含みます。
  詳細に関しては、
  <a href="http://www.bugzilla.org/security/3.6.9/">セキュリティーアドバイザり</a>
  を参照してください。</p>

<p>加えて、以下の[% terms.bug %]修正がこのリリースでは行われました。</p>

<ul>
  <li>[% terms.Bugzilla %] 4.0 でのレグレッションにより、ある種のログイン名を
    [% terms.bugs %] の CC リストに追加しようとした場合に無視される問題がありました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=756314">[% terms.Bug %] 756314</a>)</li>
  <li>ユーザ名の先頭か末尾に空白がある文字列が入力された場合、ある種のクエリで
    無効な SQL が生成されていました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=760075">[% terms.Bug %] 760075</a>)</li>
  <li>キーワードの自動補完において、フィールドが空白の場合に先頭のキーワードが
    自動的に選択される動作をしていたのが修正されました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=764517">[% terms.Bug %] 764517</a>)</li>
  <li>[% terms.Bugzilla %] 4.2 において classification が画像・表形式のレポートで
    "複数テーブル" のフィールドに利用できなかったレグレッションがありました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=753688">[% terms.Bug %] 753688</a>)</li>
  <li><kbd>email_in.pl</kbd> スクリプトで添付したファイルが間違ったコメントに
    関連付けられていました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=762785">[% terms.Bug %] 762785</a>)</li>
  <li>非常に長い依存リストが正常に表示されるようになりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=762783">[% terms.Bug %] 762783</a>)</li>
  <li>XSS を防ぐためにフォームの自動補完でキーワードも正しくエスケープされる
    ようになりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=754561">[% terms.Bug %] 754561</a>)</li>
  <li>[% terms.Bugzilla %] 4.0rc2 での CVE-2011-0046 の修正により、
    "検索条件の削除を取り止める" リンクが削除された保存された検索を復活させる
    際に、リンクに有効なトークンが含まれて居ないために正しく動いていませんでした。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=768870">[% terms.Bug %] 768870</a>)</li>
  <li>詳細検索のページで攻撃者があなたの既定の検索条件を変更できるという、
    二つのマイナーな CSRF 脆弱性が修正されました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=754672">[% terms.Bugs %] 754672</a>
    と <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=754673">754673</a>)</li>
</ul>

<h3>4.2.1</h3>

<p>このリリースでは二つのセキュリティー問題への修正を含みます。
  詳細に関しては、
  <a href="http://www.bugzilla.org/security/3.6.8/">セキュリティーアドバイザり</a>
  を参照してください。</p>

<p>加えて、以下の重要な修正・変更がこのリリースでは行われました。</p>

<ul>
  <li>Due to a regression introduced when fixing CVE-2012-0453, if an XML-RPC
    client sets the charset as part of its Content-Type header, we were
    incorrectly rejecting the request. The header is now correctly parsed.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=731219">[% terms.Bug %] 731219</a>)</li>
  <li>Email notifications about status changes in blockers were incorrectly
    formatted. Several pieces of text were missing in the emails.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=731586">[% terms.Bug %] 731586</a>)</li>
  <li>Many [% terms.bugs %] related to the searching system have been fixed.
    (<a href="https://bugzilla.mozilla.org/buglist.cgi?bug_id=58179,715270,730984,731163,737436">
     [% terms.Bugs %] 58179, 715270, 730984, 731163 and 737436</a>)</li>
  <li>When using the QuickSearch box, complex queries are now parsed correctly.
    It also behaves correctly with non-ASCII characters (such as e, a, u, etc.).
    (<a href="https://bugzilla.mozilla.org/buglist.cgi?bug_id=554819,663377,730207">
    [% terms.Bugs %] 554819, 663377 and 730207</a>)</li>
  <li>The 'take' link besides the assignee field now works correctly when
    the <kbd>usemenuforusers</kbd> parameter is turned on.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=734997">[% terms.Bug %] 734997</a>)</li>
  <li>URLs in the 'Total' row at the bottom of tabular reports were broken
    when JavaScript was enabled and a user field was used for the vertical
    axis.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=731323">[% terms.Bug %] 731323</a>)</li>
  <li>Some performance problems have been fixed for installations with many
    products, components or versions.
    (<a href="https://bugzilla.mozilla.org/buglist.cgi?bug_id=695514,731055">
    [% terms.Bugs %] 695514 and 731055</a>)</li>
  <li>A new hook named <kbd>buglist_column_joins</kbd> has been added to let
    extensions alter the <kbd>Bugzilla::Search::COLUMN_JOINS</kbd> hash.
    Now more fields can be displayed as columns in buglists, in combination
    with the already existing <kbd>buglist_columns</kbd> hook.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=743991">[% terms.Bug %] 743991</a>)</li>
  <li>A new hook named <kbd>admin_editusers_action</kbd> has been added to let
    extensions alter the behavior of <kbd>editusers.cgi</kbd>. This lets you add
    new features to this script very easily.
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=730794">[% terms.Bug %] 730794</a>)</li>
</ul>

<h2 id="v42_req">動作環境</h2>

<p>Any requirements that are new since 4.0.2 will look like
  <span class="req_new">this</span>.</p>

<ul>
  <li><a href="#v42_req_perl">Perl</a></li>
  <li><a href="#v42_req_mysql">MySQL ユーザ</a></li>
  <li><a href="#v42_req_pg">PostgreSQL ユーザ</a></li>
  <li><a href="#v42_req_oracle">Oracle ユーザ</a></li>
  <li><a href="#v42_req_sqlite">SQLite ユーザ</a></li>
  <li><a href="#v42_req_modules">必須 Perl モジュール</a></li>
  <li><a href="#v42_req_optional_mod">推奨  Perl モジュール</a></li>
  <li><a href="#v42_req_apache">推奨 Apache モジュール</a></li>
</ul>

<h3 id="v42_req_perl">Perl</h3>

<p>Perl v5.8.1</p>

<h3 id="v42_req_mysql">MySQL ユーザ</h3>
<ul>
  <li>MySQL <span class="req_new">v5.0.15</span></li>
  <li><strong>perl module:</strong> DBD::mysql <span class="req_new">v4.001</span></li>
</ul>

<h3 id="v42_req_pg">PostgreSQL ユーザ</h3>

<ul>
  <li>PostgreSQL <span class="req_new">v8.03.0000</span></li>
  <li><strong>perl module:</strong> DBD::Pg v1.45</li>
</ul>

<h3 id="v42_req_oracle">Oracle ユーザ</h3>

<ul>
  <li>Oracle v10.02.0</li>
  <li><strong>perl module:</strong> DBD::Oracle v1.19</li>
</ul>

<h3 id="v42_req_sqlite">SQLite ユーザ</h3>

<ul>
  <li>SQLite v3.6.22</li>
  <li><strong>perl module:</strong> DBD::SQLite v1.29</li>
</ul>

<h3 id="v42_req_modules">必須 Perl モジュール</h3>

<table class="req_table" border="0" cellpadding="0" cellspacing="0">
  <tbody>
      <tr>
        <th>モジュール</th>
        <th>バージョン</th>
      </tr>
      <tr>
        <td>CGI</td>
        <td>3.51</td>
      </tr>
      <tr>
        <td>Digest::SHA</td>
        <td>(Any)</td>
      </tr>
      <tr>
        <td>Date::Format</td>
        <td>2.21</td>
      </tr>
      <tr>
        <td>DateTime</td>
        <td>0.28</td>
      </tr>
      <tr>
        <td>DateTime::TimeZone</td>
        <td>0.71</td>
      </tr>
      <tr>
        <td>DBI</td>
        <td>1.614</td>
      </tr>
      <tr>
        <td>Template</td>
        <td>2.22</td>
      </tr>
      <tr>
        <td>Email::Send</td>
        <td>2.00</td>
      </tr>
      <tr>
        <td>Email::MIME</td>
        <td>1.904</td>
      </tr>
      <tr>
        <td>URI</td>
        <td class="req_new">1.37</td>
      </tr>
      <tr>
        <td>List::MoreUtils</td>
        <td>0.22</td>
      </tr>
      <tr>
        <td class="req_new">Math::Random::ISAAC</td>
        <td class="req_new">1.0.1</td>
      </tr>
  </tbody>
</table>

<h3 id="v42_req_optional_mod">推奨 Perl モジュール</h3>

<p>以下の Perl モジュールは、インストールされていれば、いくつかの 
[% terms.Bugzilla %] の機能が有効になります。</p>

<table class="req_table" border="0" cellpadding="0" cellspacing="0">
  <tbody>
      <tr>
        <th>モジュール</th>
        <th>バージョン</th>
        <th>有効化される機能</th>
      </tr>
      <tr>
        <td>GD</td>
        <td>1.20</td>
        <td>Graphical Reports, New Charts, Old Charts</td>
      </tr>
      <tr>
        <td>Chart::Lines</td>
        <td>2.1</td>
        <td>New Charts, Old Charts</td>
      </tr>
      <tr>
        <td>Template::Plugin::GD::Image</td>
        <td>(Any)</td>
        <td>Graphical Reports</td>
      </tr>
      <tr>
        <td>GD::Text</td>
        <td>(Any)</td>
        <td>Graphical Reports</td>
      </tr>
      <tr>
        <td>GD::Graph</td>
        <td>(Any)</td>
        <td>Graphical Reports</td>
      </tr>
      <tr>
        <td>MIME::Parser</td>
        <td>5.406</td>
        <td>Move [% terms.Bugs %] Between Installations</td>
      </tr>
      <tr>
        <td>LWP::UserAgent</td>
        <td>(Any)</td>
        <td>Automatic Update Notifications</td>
      </tr>
      <tr>
        <td>XML::Twig</td>
        <td>(Any)</td>
        <td>Move [% terms.Bugs %] Between Installations, Automatic Update Notifications</td>
      </tr>
      <tr>
        <td>PatchReader</td>
        <td class="req_new">0.9.6</td>
        <td>Patch Viewer</td>
      </tr>
      <tr>
        <td>Net::LDAP</td>
        <td>(Any)</td>
        <td>LDAP Authentication</td>
      </tr>
      <tr>
        <td>Authen::SASL</td>
        <td>(Any)</td>
        <td>SMTP Authentication</td>
      </tr>
      <tr>
        <td>Authen::Radius</td>
        <td>(Any)</td>
        <td>RADIUS Authentication</td>
      </tr>
      <tr>
        <td>SOAP::Lite</td>
        <td>0.712</td>
        <td>XML-RPC Interface</td>
      </tr>
      <tr>
        <td>JSON::RPC</td>
        <td>(Any)</td>
        <td>JSON-RPC Interface</td>
      </tr>
      <tr>
        <td>JSON::XS</td>
        <td>2.0</td>
        <td>Make JSON-RPC Faster</td>
      </tr>
      <tr>
        <td>Test::Taint</td>
        <td>(Any)</td>
        <td>JSON-RPC Interface, XML-RPC Interface</td>
      </tr>
      <tr>
        <td>HTML::Parser</td>
        <td>3.67</td>
        <td>More HTML in Product/Group Descriptions</td>
      </tr>
      <tr>
        <td>HTML::Scrubber</td>
        <td>(Any)</td>
        <td>More HTML in Product/Group Descriptions</td>
      </tr>
      <tr>
        <td class="req_new">Encode</td>
        <td class="req_new">2.21</td>
        <td>Automatic charset detection for text attachments</td>
      </tr>
      <tr>
        <td class="req_new">Encode::Detect</td>
        <td class="req_new">(Any)</td>
        <td>Automatic charset detection for text attachments</td>
      </tr>
      <tr>
        <td>Email::MIME::Attachment::Stripper</td>
        <td>(Any)</td>
        <td>Inbound Email</td>
      </tr>
      <tr>
        <td>Email::Reply</td>
        <td>(Any)</td>
        <td>Inbound Email</td>
      </tr>
      <tr>
        <td>TheSchwartz</td>
        <td>(Any)</td>
        <td>Mail Queueing</td>
      </tr>
      <tr>
        <td>Daemon::Generic</td>
        <td>(Any)</td>
        <td>Mail Queueing</td>
      </tr>
      <tr>
        <td>mod_perl2</td>
        <td>1.999022</td>
        <td>mod_perl</td>
      </tr>
      <tr>
        <td>Apache2::SizeLimit</td>
        <td class="req_new">0.96</td>
        <td>mod_perl</td>
      </tr>
  </tbody>
</table>

<h3 id="v42_req_apache">推奨 Apache モジュール</h3>

<p>Apache をウェブサーバとして利用している場合、[% terms.Bugzilla %] は以下の
Apache モジュールがインストールされ有効になっている場合は、いくつかの Apache 
の機能が活用されます。現在、
<a href="#v40_feat_js_css_update">特定の [% terms.Bugzilla %] の機能</a> は
以下のモジュールがインストールされ有効になっている場合のみ有効になります。</p>

<ul>
  <li>mod_headers</li>
  <li>mod_expires</li>
  <li>mod_env</li>
</ul>

<p>(Windows 以外の) ほとんどのシステムでは、<kbd>checksetup.pl</kbd> により
それらのモジュールがインストールされているかを検出し、表示することができます。</p>


<h2 id="v42_feat">新機能と改善点</h2>

<ul>
  <li><a href="#v42_feat_sqlite">実験的な SQLite のサポート</a></li>
  <li><a href="#v42_feat_attach">テキスト形式の添付をテキスト入力フィールドで可能に</a></li>
  <li><a href="#v42_feat_email">HTML [% terms.Bug %] メール</a></li>
  <li><a href="#v42_feat_search">検索機能の改善</a></li>
  <li><a href="#v42_feat_product">古いコンポーネント、バージョン、マイルストーンの無効化</a></li>
  <li><a href="#v42_feat_custom">カスタムフィールドの表示を他のフィールドの複数の値を元に制御</a></li>
  <li><a href="#v42_feat_audit">[% terms.Bugzilla %] のすべての変更を監査</a></li>
  <li><a href="#v42_feat_wai">アクセシビリティーの改善</a></li>
  <li><a href="#v42_feat_other">他の機能拡張と更新点</a></li>
</ul>

<h3 id="v42_feat_sqlite">実験的な SQLite のサポート</h3>

<p>SQLite は [% terms.Bugzilla %] によりサポートされるようになり、MySQL, PostgreSQL, 
Oracle に次ぐ 4 番目に利用可能なデータベースになります。SQLite サポートは、
次期メジャーリリースまではまだ実験的サポートとなります。</p>

<p>なお、SQLite は小規模なサイトにのみ推奨されます。大規模なサイトでは、
MySQL, PostgreSQL, や Oracle を利用すべきです。</p>

<h3 id="v42_feat_attach">テキスト形式の添付をテキスト入力フィールドで可能に</h3>

<p>新しいテキスト形式の添付を、通常のようなファイルアップロードではなく、
テキスト入力フィールドに貼り付けることで行えるようになりました。</p>

<h3 id="v42_feat_email">HTML [% terms.Bug %] メール</h3>

<p>既定では、[% terms.bug %] メール ([%+ terms.bugs %] の変更についてのメール通知) 
は、これまでのテキスト形式よりも読みやすい HTML メールで送信されるようになりました。
ただし、これまでのテキスト形式を望むユーザは、自分の設定から変更することが可能です。</p>

<h3 id="v42_feat_search">検索機能の改善</h3>

<p>高度な検索のカスタムサーチ部分はよりわかりやすい形に再デザインされました。
複雑なクエリもより簡単になり、よりわかりやすい表示で直感的な論理組み立てに
なりました。ある種の非常に複雑なクエリはまだ実現できません。しかし、
将来のリリースでは改善されるでしょう。</p>

<h3 id="v42_feat_product">古いコンポーネント、バージョン、マイルストーンの無効化</h3>

<p>古いコンポーネント、バージョン、マイルストーンを無効化できるようになりました。
すでに [% terms.Bugs %] で利用されている部分には影響しませんが、新規 
[% terms.bugs %] では利用できません。</p>

<h3 id="v42_feat_custom">カスタムフィールドの表示を他のフィールドの複数の値を元に制御</h3>

<p>カスタムフィールドの表示を、他のフィールドの複数の値を元に制御できるように
なりました。(たとえば、一つのカスタムフィールドを複数のプロダクトに表示するなど。)
以前は、他のフィールドの一つのフィールドを元にしか表示を制御できませんでした。</p>

<h3 id="v42_feat_audit">[% terms.Bugzilla %] のすべての変更を監査</h3>

<p>管理画面から行った変更のほとんどはデータベースの <kbd>audit_log</kbd> テーブル
に保存されるようになりました。まだアクセスのための UI はありませんが、
開発者は各サイトのために自分でツールを開発することはできます。これは、最初の
一歩で、将来のリリースでより改善されるでしょう。</p>

<h3 id="v42_feat_wai">アクセシビリティーの改善</h3>

<p>IBM の Francisco Donalisio による、[%+ terms.Bugzilla %] を W3C ウェブ
アクセシビリティーイニシアティブ標準への準拠についての作業に感謝します。
まだかなりの作業が必要ではありますが、次期バージョンのリリースではよりよい
標準準拠を実現できると考えています。</p>

<h3 id="v42_feat_other">他の機能拡張と更新点</h3>

<h4>ユーザ向けの機能拡張</h4>

<ul>
  <li><strong>[% terms.Bugs %]:</strong> editbugs 権限がないユーザは他のユーザを
    [% terms.bugs %] の CC リストから削除できなくなりました。</li>
  <li><strong>[% terms.Bugs %]:</strong> 同じサイトの [% terms.bug %] 番号が
    参照フィールドで利用可能になりました。番号を追加するとその [% terms.bug %]
    にも参照リンクが追加されます。</li>
  <li><strong>[% terms.Bugs %]:</strong> [% terms.abug %] や添付の編集後、URL 
    が自動的に <kbd>post_bug.cgi</kbd>、<kbd>process_bug.cgi</kbd> や
    <kbd>attachment.cgi</kbd> でなく <kbd>show_bug.cgi</kbd> に変わるようになり、
    ページ再読み込み (もしくはブラウザの再起動) でもきちんと表示されるように
    なりました。この機能は Firefox、Chrome と Safari では利用できますが
    Internet Explorer 9 には対応していません。</li>
  <li><strong>[% terms.Bugs %]:</strong> 無効化されたアカウントはユーザ自動補完
    が有効な場合にユーザ名入力欄には表示されなくなりました。</li>
  <li><strong>[% terms.Bugs %]:</strong> 多数のアカウントがあるサイトでの
    ユーザ自動補完が高速に動作するようになりました。</li>
  <li><strong>[% terms.Bugs %]:</strong> 参照フィールドは MantisBT, Trac, JIRA
    と sourceforge.net b[%%]ug トラッカーの URL を受け付けるようになりました。</li>
  <li><strong>[% terms.Bugs %]:</strong> 多数の依存関係のある [% terms.abug %] 
    の表示が高速化されました。</li>
  <li><strong>添付:</strong> 添付のアップロード時に、テキストファイルの文
    字コードが自動的に判別されるようになりました。</li>
  <li><strong>添付:</strong> HTML 形式の添付の場合に、添付の詳細ページで
    クリックジャックが発生する可能性がありました。この可能性のある問題を修正する
    ため、詳細ページではページではなく HTML ソースが表示されるようになりました。</li>
  <li><strong>フラグ:</strong> フラグの被要請者の変更は、要請者を変更しなくなりました。</li>
  <li><strong>レポート:</strong> JavaScript がブラウザで有効の場合、表形式のレポー
    トがどのカラムでもソート可能になりました。</li>
  <li><strong>依存グラフ:</strong> <em>依存関係を持つサイト内のすべての 
    [% terms.bug %] を表示</em> 機能は削除されました。</li>
  <li><strong>検索:</strong> [%+ terms.bug %] リストの既定のカラムが変更されました。
    以下のカラムが他に指定されない限り表示されます:<br>
    <kbd>プロダクト | コンポーネント | 担当者 | [% terms.bug %] ステータス | 解決方法 |
    [%+ terms.bug %] 要約 | 最終更新日</kbd><br>
    これは、重要性、深刻度、OS カラムが既定では表示されなくなることを意味します。</li>
  <li><strong>検索:</strong> [% terms.Bug %] リストには先頭 500 個の [% terms.bugs %] 
    しか既定では表示されなくなりました。ただし、リスト全体を表示することは可能です。</li>
  <li><strong>検索:</strong> 相対日付・時間について、<kbd>-1w</kbd> が
    <kbd>-7d</kbd> と同義の 7 日を示すようになりました。以前は、<kbd>-1w</kbd> 
    はユーザには混乱の元でしたが週の始まりを意味していました。
    同じく、<kbd>-1d</kbd> は <kbd>-24h</kbd> ではなく、<kbd>-1m</kbd> も
    <kbd>-30d</kbd> ではありませんでした。また、日、週、月の初めを意味するには、
    <kbd>-1ds</kbd>, <kbd>-1ws</kbd>, や <kbd>-1ms</kbd> をそれぞれ利用してください。
    "s" は開始点 (start of) を意味します。この変更は、既存の保存された検索で利用
    されている相対日付にも影響します。</li>
  <li><strong>検索:</strong> <em>簡易検索でも全文検索を行う</em> 設定が新たに追加
    され、ユーザが簡易検索でコメントを対象とするかどうかを選択できるようになりました。</li>
  <li><strong>検索:</strong> [% terms.bugs %] を高度な検索のカスタム検索で、
    個人タグを元に検索できるようになりました。</li>
  <li><strong>メール通知: </strong> コメントの日時が [% terms.bug%] メールのコメン
    トヘッダ部分に表示されなくなりました。この情報はメールヘッダ自体に存在します。</li>
</ul>

<h4>Enhancements for Administrators and Developers</h4>

<ul>
  <li><strong>Installation:</strong> <kbd>checksetup.pl</kbd> is now much quieter
    when creating a new database.</li>
  <li><strong>Security:</strong> [% terms.Bugzilla %] 4.0 is using
    <kbd>Math::Random::Secure</kbd> to generate cryptographically secure
    pseudorandom numbers, but it appeared that installing this Perl module from
    CPAN caused a lot of trouble for some people due to its numerous dependencies.
    So the RNG code has been rewritten to only depend on <kbd>Math::Random::ISAAC</kbd>,
    which was already in use in previous versions of [% terms.Bugzilla %].</li>
  <li><strong>Security:</strong> <kbd>X-Frame-Options = SAMEORIGIN</kbd> is now
    passed to all page headers (except when viewing attachments, as they can be
    on a different host) to protect users from framing and subsequent possible
    clickjacking problems.</li>
  <li><strong>Configuration:</strong> A new parameter <em>password_complexity</em>
    has been added (default: no_constraints) which allows admins to force users
    to use passwords with a higher complexity, such as a combination of uppercase
    and lowercase letters, numbers and special characters, or a subset of them.</li>
  <li><strong>Configuration:</strong> A new parameter <em>search_allow_no_criteria</em>
    has been added (default: on) which allows admins to forbid queries with no
    criteria. This is particularly useful for large installations with several
    tens of thousands [% terms.bugs %] where returning all [% terms.bugs %]
    doesn't make sense and would have a performance impact on the database.</li>
  <li><strong>Configuration:</strong> A new parameter <em>default_search_limit</em>
    has been added (default: 500) which limits the number of [% terms.bugs %]
    displayed by default in a [% terms.bug%]list. The user can ask to see a larger
    list, though.</li>
  <li><strong>Configuration:</strong> A new parameter <em>max_search_results</em>
    has been added (default: 10000) which limits the number of [% terms.bugs %]
    a user can request at once in a [% terms.bug%]list. This is a hard limit and
    a user cannot bypass this value.</li>
  <li><strong>Configuration:</strong> A new parameter <em>ajax_user_autocompletion</em>
    has been added (default: on) to allow administrators to disable auto-completion
    when typing characters in user fields. This parameter should only be disabled
    if your installation is unable to support the load generated by this feature.</li>
  <li><strong>Configuration:</strong> The <em>config_modify_panels</em> hook now
    lets you add additional parameters to existing parameters panels.</li>
  <li><strong>Flags:</strong> Users with local editcomponents privileges can now
    edit flag types for products they can administer.</li>
  <li><strong>Quips:</strong> A new system group <em>bz_quip_moderators</em> has
    been created to moderate quips. Till now, you had to be in the <em>admin</em>
    group to do that.</li>
  <li><kbd>importxml.pl</kbd> now inserts each comment separately into the imported
    [%+ terms.bug %] instead of concatenating them all into a single comment.</li>
  <li><kbd>email_in.pl</kbd> now ignores auto-submitted incoming emails (for
    instance, all these "out of office" emails).</li>
  <li>New code hooks: email_in_before_parse, email_in_after_parse,
    install_filesystem, install_update_db_fielddefs, job_map, object_end_of_create,
    quicksearch_map, user_preferences.</li>
</ul>

<h4>WebService Changes</h4>

<ul>
  <li>Two new methods have been added: <kbd>Product.create</kbd> and
    <kbd>Group.create</kbd>.</li>
  <li><kbd>B[%%]ug.update</kbd> no longer throws an error when passing an empty
    string to <kbd>see_also</kbd>. It now simply ignores this empty value.</li>
  <li><kbd>Product.get</kbd> now also returns data about the classification it
    belongs to as well as its components, milestones and versions. It also
    returns the <kbd>default_milestone</kbd> and <kbd>has_unconfirmed</kbd>
    attributes.</li>
  <li>In <kbd>B[%%]ug.fields</kbd>, the <kbd>sortkey</kbd> attribute used in
    <kbd>values</kbd> has been renamed to <kbd>sort_key</kbd>.</li>
  <li>In <kbd>B[%%]ug.attachments</kbd> and <kbd>B[%%]ug.add_attachment</kbd>,
    the <kbd>is_url</kbd> attribute no longer exists.</li>
</ul>


<h2 id="v42_issues">Outstanding Issues</h2>

<ul>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=89822">
    [%- terms.Bug %] 89822</a>: When changing multiple [% terms.bugs %] at
    the same time, there is no "mid-air collision" protection.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=276230">
    [%- terms.Bug %] 276230</a>: The support for restricting access to
    particular Categories of New Charts is not complete. You should treat the
    <em>chartgroup</em> parameter as the only access mechanism available.</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=584742">
    [%- terms.Bug %] 584742</a>: When viewing [% terms.abug %], WebKit-based
    browsers can automatically reset a field's selected value when the field
    has disabled values.</li>
  <li>バグリストでキーワードもしくはフラグを表示する際に Oracle がクラッシュしていました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=780053">[% terms.Bug %] 780053</a>)</li>
</ul>

+
<h2 id="v42_code_changes">Code Changes Which May Affect Customizations and Extensions</h2>

<ul>
  <li>The <kbd>email/newchangedmail.txt.tmpl</kbd> template is now fully templatized,
    meaning that the diff table displaying changes in [% terms.bug %] fields is
    now generated in the template itself. This means [% terms.bug %]mails are now
    fully localizable.</li>
  <li>The bugmail_recipients hook has been modified to pass <kbd>diffs</kbd> with
    changes made to the [% terms.bug %] as well as <kbd>users</kbd> including
    recipients of the email notification.</li>
  <li>YUI has been upgraded to 2.9.0.</li>
  <li>The [% terms.Bugzilla %]-specific <kbd>url_quote</kbd> filter used in templates
    has been removed and replaced by the <kbd>uri</kbd> filter from Template::Toolkit
    as they are now similar.</li>
  <li>Due to the major code refactor of <kbd>B[%%]ugzilla/Search.pm</kbd>, any
    customization made against this file will probably need to be rewritten.</li>
  <li><kbd>long_list.cgi</kbd>, <kbd>showattachment.cgi</kbd> and <kbd>xml.cgi</kbd>
    have been removed from the codebase. As <a href="#v40_code_changes">announced</a>
    in the release notes of [% terms.Bugzilla %] 4.0, these scripts were deprecated
    since [% terms.Bugzilla %] 2.19.</li>
  <li><kbd>sidebar.cgi</kbd> has been removed, because Gecko-based browsers no
    longer support remote XUL, and its popularity is very low.</li>
  <li><kbd>contrib/yp_nomail.sh</kbd> has been removed. This script is no longer
    useful since [% terms.Bugzilla %] 3.0.</li>
  <li><kbd>contrib/bugzilla_ldapsync.rb</kbd> has been removed. This script didn't
    work for a long time.</li>
</ul>


<h1 id="v42_previous">[% terms.Bugzilla %] 4.0 リリースノート</h1>

<ul class="bz_toc">
  <li><a href="#v40_introduction">導入</a></li>
  <li><a href="#v40_point">4.0.x リリースでの更新点</a></li>
  <li><a href="#v40_req">動作環境</a></li>
  <li><a href="#v40_feat">新機能と改善点</a></li>
  <li><a href="#v40_issues">既知の問題点</a></li>
  <li><a href="#v40_upgrading">古いバージョンからのアップグレード方法</a></li>
  <li><a href="#v40_code_changes">カスタマイズ・拡張機能に影響するコードの変更</a></li>
  <li><a href="#v40_previous">以前のバージョンのリリースノート</a></li>
</ul>

<h2 id="v40_introduction">導入</h2>

<p>[% terms.Bugzilla %] 4.0 にようこそ! 一つ前のメジャーリリースの 3.6 以来、
  また 2007 年の 3.0 以来さまざまな改良が加えられてきました。[% terms.Bugzilla %]
  3.0 からは、ほとんどの主要なユーザインターフェースの再デザイン、
  ウェブサービスの拡充、新しい拡張のシステム、そしてたくさんの新機能が追加され
  ました。3.6 リリースからの主要な再デザインだけでも、このリリースを 4.0 
  と呼ぶのに十分でしょう。</p>

<p>ウェブサービスやユーザインターフェースの改良のみが [% terms.Bugzilla %] 4.0 
  での主要な改良点でなく、それ以外にもさまざまな新機能があります &mdash;
  自動重複検知、拡張されたカスタムフィールド機能、ユーザ自動補完、
  検索機能の改善、などです。これらのおかげで、これまでの [% terms.Bugzilla %] 
  リリースの中で最高のものを 4.0 として提供できます。</p>

<p>アップグレードを行おうとしている場合、必ず <a href="#v40_upgrading">
  古いバージョンからのアップグレード方法</a> の項を読んでください。
  3.6 より前のバージョンからのアップグレードの場合、あなたのバージョンとこの
  バージョンの間の全ての <a href="#v40_previous">以前のバージョン</a> について
  <strong>特に各バージョンのリリースノートのアップグレードの章</strong>
  を読むことを推奨します。</p>

<p>また、われわれは
  <a href="http://www.itasoftware.com/">ITA Software</a>、
  <a href="http://www.ibm.com/linux/ltc/">IBM Linux Technology Center</a>、
  <a href="http://www.redhat.com/">Red Hat</a> に対して、このバージョンの
  [% terms.Bugzilla %] における新機能の開発や改良に対する資金拠出に感謝します。</p>

<h2 id="v40_point">4.0.x リリースでの更新点</h2>

<h3>4.0.2</h3>

<p>このリリースでは一つのセキュリティー問題への修正を含みます。
  詳細に関しては、
  <a href="http://www.bugzilla.org/security/3.4.11/">セキュリティーアドバイザり</a>
  を参照してください。</p>

<p>加えて、以下の重要な修正がこのリリースでは行われました。</p>

<ul>
  <li><kbd>B[% %]ug.create</kbd> ウェブサービスは、対象とするグループ名が存在しない
    場合にエラーを返すようになりました。[% terms.Bugzila %] 4.0 と 4.0.1 では、
    グループ名は単純に無視されており、[% terms.bug %] にほかのグループが定義されて
    いなかった場合に安全ではありませんでした。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=653341">[% terms.Bug %] 653341</a>)</li>
  <li>複数の [% terms.bugs %] をほかのプロダクトに移動しようとした際、
    同じ確認ページが何度も表示され、実際の変更が行われませんでした。
    (4.0 での退行 [% terms.bug %] です)
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=663208">[% terms.Bug %] 663208</a>)</li>
  <li>[% terms.abug %] を重複とする操作が Internet Explorer 9 でも動作するようになりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=656769">[% terms.Bug %] 656769</a>)</li>
  <li><kbd>importxml.pl</kbd> はキーワードを含むインポートでもクラッシュしなくなりました。
    (4.0 での退行 [% terms.bug %] です)
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=657707">[% terms.Bug %] 657707</a>)</li>
  <li>新規 [% terms.bug %] 報告の際に入力されたデータが、ブラウザで "戻る" 
    操作をした際に失われることがありました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=652427">[% terms.Bug %] 652427</a>)</li>
  <li>ウェブサービスは [% terms.bug %] で未定義のフィールドを空文字列で返すのではなく、
    未定義で返すようになりました。この変更は、[% terms.Bugzilla %] 4.2
    の動作と同じです。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=657561">[% terms.Bug %] 657561</a>)</li>
  <li>XML-RPC インターフェースが mod_perl でも SOAP::Lite 0.711 と 0.712 
    の元で動作するようになりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=600810">[% terms.Bug %] 600810</a>)</li>
  <li>LWP 6.00 とそれ以上のバージョンは Perl 5.8.8 以上を要求します。
    <kbd>install-module.pl</kbd> を利用して 5.8.8 以下の Perl でインストールを行おう
    とすると、LWP 5.837 が代わりにインストールされます。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=655912">[% terms.Bug %] 655912</a>)</li>
  <li>多数のカスタムフィールドを利用しているサイトでの [% terms.abug %] 
    報告の閲覧が非常に高速化されました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=634812">[% terms.Bug %] 634812</a>)</li>
</ul>

<h3>4.0.1</h3>

<ul>
  <li>インストール中に CPAN モジュール Math::Random::Secure が場合によって、
    <kbd>Math::Random::Secure::irand</kbd> についてのエラーで失敗することが
    ありました。現在では、<kbd>install-module.pl</kbd> を利用して 
    Math::Random::Secure をインストールしようとしても問題は発生しません。
    この問題が現在発生していて 3.6.4 をインストールできない状況にある場合、
    <kbd>lib/</kbd> ディレクトリから Math::Random::Secure を
    <p><kbd>rm -rf lib/Math/Random/Secure*</kbd></p>
    などとして削除してください。
    <p>(<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=646578">[% terms.Bug %] 646578</a>)</p>
  </li>
  <li>[% terms.bug %] 登録ページの "ブックマーク可能なテンプレートとして値を
    記憶する" ボタンが、必須フィールドのいくつかが空白でも動作するようになり
    ました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=640719">[% terms.Bug %] 640719</a>)</li>
  <li>依存関係とフラグのメール通知が間違ったタイムスタンプで送信されていました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=643910">[% terms.Bug %] 643910</a>
    と <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=652165">[% terms.Bug %] 652165</a>)</li>
  <li>全般的な設定で "UTC" を有効なタイムゾーンとして選択できるようになりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=646209">[% terms.Bug %] 646209</a>)</li>
  <li>自動重複検出が PostgreSQL でも動作するようになりました。
    (他の DB と同様には高性能に動作はしませんが。)
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=634144">[% terms.Bug %] 634144</a>)</li>
   <li>"emailsuffix" オプションを利用している環境下でも自動ユーザ補完機能が
     動作するようになりました。
     (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=641519">[% terms.Bug %] 641519</a>)</li>
   <li>新規チャート作成でシリーズを作成ようとしたときに JavaScript エラーが
     発生していましたが、修正されました。
     (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=644285">[% terms.Bug %] 644285</a>)</li>
    <li>投票拡張機能を利用している環境下で、"票数を表示" ページが動作するように
      なりました。
      (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=652381">[% terms.Bug %] 652381</a>)</li> 
</ul>

<h2 id="v40_req">動作環境</h2>

<p>3.6.3 から変更された動作環境への要求は
  <span class="req_new">このように表示</span> されます。</p>

<ul>
  <li><a href="#v40_req_perl">Perl</a></li>
  <li><a href="#v40_req_mysql">MySQL ユーザ</a></li>
  <li><a href="#v40_req_pg">PostgreSQL ユーザ</a></li>
  <li><a href="#v40_req_oracle">Oracle ユーザ</a></li>
  <li><a href="#v40_req_modules">必須 Perl モジュール</a></li>
  <li><a href="#v40_req_optional_mod">オプションの Perl モジュール</a></li>
  <li><a href="#v40_req_apache">オプションの Apache モジュール</a></li>
</ul>


<h3 id="v40_req_perl">Perl</h3>

<p>Perl v5.8.1</p>

<h3 id="v40_req_mysql">MySQL ユーザ</h3> 
 
  <ul> 
    <li>MySQL
       v4.1.2
       </li> 
    <li><strong>perl モジュール:</strong> 
      DBD::mysql v4.00</li> 
  </ul>
  
<h3 id="v40_req_pg">PostgreSQL ユーザ</h3> 
 
  <ul> 
    <li>PostgreSQL
       v8.00.0000
       </li> 
    <li><strong>perl モジュール:</strong> 
      DBD::Pg v1.45</li> 
  </ul> 
<h3 id="v40_req_oracle">Oracle ユーザ</h3> 
 
  <ul> 
    <li>Oracle
       v10.02.0
       </li> 
    <li><strong>Perl モジュール:</strong> 
      DBD::Oracle v1.19</li> 
  </ul> 

<h3 id="v40_req_modules">必須 Perl モジュール</h3>

  <table cellspacing="0" cellpadding="0" border="0" class="req_table">
    <tbody>
      <tr>
        <th>モジュール</th><th>バージョン</th>
      </tr>
      <tr>
        <td>CGI</td>
        <td class="req_new">3.51</td>
      </tr>
      <tr>
        <td>Digest::SHA</td>
        <td>(どれでも)</td>
      </tr>
      <tr>
        <td>Date::Format</td>
        <td>2.21</td>
      </tr>
      <tr>
        <td>DateTime</td>
        <td>0.28</td>
      </tr>
      <tr>
        <td>DateTime::TimeZone</td>
        <td>0.71</td>
      </tr>
      <tr>
        <td>DBI</td>
        <td>1.41</td>
      </tr>
      <tr>
        <td>Template</td>
        <td>2.22</td>
      </tr>
      <tr>
        <td>Email::Send</td>
        <td>2.00</td>
      </tr>

      <tr>
        <td>Email::MIME</td>
        <td class="req_new">1.904</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>(どれでも)</td>
      </tr>
      <tr>
        <td class="req_new">List::MoreUtils</td>
        <td class="req_new">0.22</td>
      </tr>
    </tbody>
  </table>

<h3 id="v40_req_optional_mod">オプションの Perl モジュール</h3>

<p>以下のような perl モジュールがインストールされていると、
  いくつかの [% terms.Bugzilla %] の機能が有効になります:</p>

  <table cellspacing="0" cellpadding="0" border="0" class="req_table">
    <tbody>
      <tr>
      <th>モジュール名</th> <th>要求バージョン</th> <th>有効化される機能</th> 
      </tr>
      <tr>
        <td>GD</td>
        <td>1.20</td>
        <td>画像形式のレポート、新形式・旧形式のチャート</td> 
      </tr>
      <tr>
        <td>Chart::Lines</td>
        <td>2.1</td>
        <td>新形式・旧形式のチャート</td> 
      </tr>
      <tr>
        <td>Template::Plugin::GD::Image</td>
        <td>(どれでも)</td>
        <td>画像形式のレポート</td> 
      </tr>
      <tr>
        <td>GD::Text</td>
        <td>(どれでも)</td>
        <td>画像形式のレポート</td> 
      </tr>
      <tr>
        <td>GD::Graph</td>
        <td>(どれでも)</td>
        <td>画像形式のレポート</td> 
      </tr>
      <tr>
        <td>MIME::Parser</td>
        <td>5.406</td>
        <td>サイト間の [% terms.Bugs %] 移動</td> 
      </tr>
      <tr>
        <td>LWP::UserAgent</td>
        <td>(どれでも)</td>
        <td>自動更新通知</td> 
      </tr>
      <tr>
        <td>XML::Twig</td>
        <td>(どれでも)</td>
        <td>サイト間の [% terms.Bugs %] 移動、自動更新通知</td> 
      </tr>
      <tr>
        <td>PatchReader</td>
        <td>0.9.4</td>
        <td>パッチビューア</td> 
      </tr>
      <tr>
        <td>Net::LDAP</td>
        <td>(どれでも)</td>
        <td>LDAP 認証</td> 
      </tr>
      <tr>
        <td>Authen::SASL</td>
        <td>(どれでも)</td>
        <td>SMTP 認証による送信</td> 
      </tr>
      <tr>
        <td>Authen::Radius</td>
        <td>(どれでも)</td>
        <td>RADIUS 認証</td> 
      </tr>
      <tr>
        <td>SOAP::Lite</td>
        <td class="req_new">0.712</td>
        <td>XML-RPC インターフェース</td> 
      </tr>
      <tr>
        <td>JSON::RPC</td>
        <td>(どれでも)</td>
        <td>JSON-RPC インターフェース</td> 
      </tr>
      <tr>
        <td class="req_new">JSON::XS</td>
        <td class="req_new">2.0</td>
        <td>JSON-RPC の高速化</td>
      </tr>
      <tr>
        <td>Test::Taint</td>
        <td>(どれでも)</td>
        <td>JSON-RPC インターフェース、XML-RPC インターフェース</td>
      </tr>
      <tr>
        <td>HTML::Parser</td>
        <td>3.40</td>
        <td>プロダクト・グループの説明を詳細に</td> 
      </tr>
      <tr>
        <td>HTML::Scrubber</td>
        <td>(どれでも)</td>
        <td>プロダクト・グループの説明を詳細に</td> 
      </tr>
      <tr>
        <td>Email::MIME::Attachment::Stripper</td>
        <td>(どれでも)</td>
        <td>メールによる更新</td> 
      </tr>
      <tr>
        <td>Email::Reply</td>
        <td>(どれでも)</td>
        <td>メールによる更新</td> 
      </tr>
      <tr>
        <td>TheSchwartz</td>
        <td>(どれでも)</td>
        <td>メールキュー</td> 
      </tr>
      <tr>
        <td>Daemon::Generic</td>
        <td>(どれでも)</td>
        <td>メールキュー</td> 
      </tr>
      <tr>
        <td>mod_perl2</td>
        <td>1.999022</td>
        <td>mod_perl</td>
      </tr>
      <tr>
        <td>Apache2::SizeLimit</td>
        <td class="req_new">0.93</td>
        <td>mod_perl</td>
      </tr>
      <tr>
        <td class="req_new">Math::Random::Secure</td>
        <td class="req_new">0.05</td>
        <td>クッキーとトークンの高セキュリティー化</td>
      </tr>
    </tbody>
  </table>

<h3 id="v40_req_apache">オプションの Apache モジュール</h3>

<p>Apache をウェブサーバとして利用している場合、[% terms.Bugzilla %] は、
  以下のいくつかの Apache モジュールが有効になっている場合、Apache の機能を
  活用するようになります。
  また、今のところ、
  <a href="#v40_feat_js_css_update">いくつかの [% terms.Bugzilla %] の機能</a>
  は、以下の全てのモジュールがインストールされ有効になっている場合のみ機能します :</p>

<ul>
  <li>mod_headers</li>
  <li>mod_expires</li>
  <li>mod_env</li>
</ul>

<p>(Windows 以外の) ほとんどのシステムでは、<kbd>checksetup.pl</kbd> 
  はどのモジュールがインストールされているかを判定し表示します。</p>

<h2 id="v40_feat">新機能と改善点</h2>

<ul>
  <li><a href="#v40_feat_dup">[% terms.Bugs %] 登録時の自動重複除去機能</a></li>
  <li><a href="#v40_feat_search_ui">新しい高度な検索画面</a></li>
  <li><a href="#v40_feat_attach_ui">新しい添付の詳細画面</a></li>
  <li><a href="#v40_feat_autocomplete">ユーザとキーワードの自動補完</a></li>
  <li><a href="#v40_feat_ui">一般的な使用感改善</a></li>
  <li><a href="#v40_feat_workflow">新しい既定のステータスワークフロー</a></li>
  <li><a href="#v40_feat_lists">"過去の検索" が複数の検索結果を保存</a></li>
  <li><a href="#v40_feat_jsonp">JSONP によるクロスドメインウェブサービス</a></li>
  <li><a href="#v40_feat_ws">WebService 機能拡張</a></li>
  <li><a href="#v40_feat_mandatory">カスタムフィールドの必須化機能</a></li>
  <li><a href="#v40_feat_vot_ext">投票機能は拡張機能に</a></li>
  <li><a href="#v40_feat_js_css_update">ユーザへの新しい CSS, JavaScript の自動配信</a></li>
  <li><a href="#v40_feat_hooks">たくさんの新しいフック箇所</a></li>
  <li><a href="#v40_feat_apache_config">更新された Apache 設定</a></li>
  <li><a href="#v40_feat_other">他の更新点と変更点</a></li>
</ul>

<h3 id="v40_feat_dup">[% terms.Bugs %] 登録時の自動重複除去機能</h3>

<p>新規 [% terms.abug %] 登録時に要約フィールドへ入力すると同時に、
  [% terms.Bugzilla %] は登録しようとしている [% terms.bug %] 
  と重複の可能性がある既存の一覧を表示します。</p>

<p>この機能が動作するためには JSON-RPC に必要なモジュールが全て [% terms.Bugzilla %]
  が利用できるようにインストールされている必要があります。もし、mod_perl
  が利用できる環境であればより高速に動作するでしょう。</p>

<h3 id="v40_feat_search_ui">新しい高度な検索画面</h3>

<p><a href="http://guy-pyrzak.blogspot.com/">Guy Pyrzak</a> によるユーザインターフェース
  更新作業により、高度な検索の画面が完全に新しく設計されなおしました。
  画面がより単純になり、新しいユーザにも利用しやすく、しかしながら
  これまでのよく利用していたユーザが必要とする全ての機能が含まれています。</p>

<h3 id="v40_feat_attach_ui">新しい添付の詳細画面</h3>

<p>添付の詳細を編集する画面が完全に再設計され、添付へのコメントを入力する際に
  通常と同じサイズのコメント入力ボックスが利用可能になり、
  添付の中身をコメントとしてコードレビューや編集する場合にも、
  ほぼ画面幅全体が利用可能になりました。</p>

<p>このユーザインターフェース再設計は 
  <a href="http://guy-pyrzak.blogspot.com/">Guy Pyrzak</a> によるもので、
  そのすばらしい成果に感謝します。</p>

<h3 id="v40_feat_autocomplete">ユーザとキーワードの自動補完</h3>

<p>ユーザを指定するフィールド
  ([% field_descs.cc FILTER html %]、[%+ field_descs.qa_contact FILTER html %]、
  [%+ field_descs.assigned_to FILTER html %] フィールドを含む) に最低3文字を入力すると、
  実名もしくはユーザ名と合致する全ユーザのリストが表示されます。
  この機能が動作するためには、[% terms.Bugzilla %] サイトで JSON-RPC に必要な
  オプションの perl モジュールがインストールされている必要があります。
  また、この機能は mod_perl 環境下で動作している場合に、そうでない環境に比べて
  <strong>非常に</strong> 高速に動作するようになります。</p>

<p>また、同様の機能がキーワードフィールドでも利用可能になります。
  キーワードの自動補完は JSON-RPC を必要としません。</p>

<h3 id="v40_feat_ui">一般的な使用感改善</h3>

<p>上述のような改善のほかに、<strong>さまざまな</strong>改善が [% terms.Bugzilla %]
  のユーザインターフェース全体に行われました。それぞれの改善点のリストは
  長くなるため、<a href="#v40_feat_other">他の更新点と変更点</a>
  の章をご覧ください。</p>

<h3 id="v40_feat_workflow">新しい既定のステータスワークフロー</h3>

<p>[% terms.Bugzilla %] の新規インストールでは、ステータスの既定のリストは
  以下のようになります :</p>

<ul>
  <li>UNCONFIRMED</li>
  <li>CONFIRMED</li>
  <li>IN_PROGRESS</li>
  <li>RESOLVED</li>
  <li>VERIFIED</li>
</ul>

<p>そして既定で UNCONFIRMED ステータスは全てのプロダクトで有効になっています。</p>

<p>既存のサイトのアップグレード時にはこれの影響を受けずに、これまでの
  ステータスワークフローのままで利用できます。しかしながら、
  <kbd>checksetup.pl</kbd> によるアップグレードの後に
  <kbd>contrib/convert-workflow.pl</kbd> というリリースに含まれるツールを利用
  して、この新しいリストに更新することを強くお勧めします。
  <kbd>whineatnews.pl</kbd> と <kbd>bugzilla-submit</kbd> のスクリプトは
  古いステータスワークフローを利用し続けていると完全には動作しなくなります。
  ([% terms.Bugzilla %] のほかの部分は影響を受けずに動作するでしょう。)</p>

<p>ワークフローとそれに関連する変更についてのより詳細は、
  <a href="http://bugzillaupdate.wordpress.com/2010/07/06/bugzilla-4-0-has-a-new-default-status-workflow/">
  これについての blog 投稿 (英語)</a> と
  <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=486292">
  変更が行われることになった [% terms.bug %] (英語)</a>を参照してください。</p>

<h3 id="v40_feat_lists">"過去の検索" が複数の検索結果を保存</h3>

<p>[% terms.Bugzilla %] の全ての [% terms.bug %] ページのトップには、
  "先頭"、"最後"、"前"、"次"、"最後の検索結果を表示" というリンクがあります。
  以前の [% terms.Bugzilla %] バージョンでは、別々のウィンドウで二つの別の検索
  を行った場合に、リンク先は <em>最後に行った</em> 検索のみになっていました。
  しかしながら、改良後、[% terms.Bugzilla %] はどの検索結果からページを表示して
  いるのかを "記憶" し、最後に行った検索の結果からでなく<em>その</em>
  リストからの正しい "最後の検索結果" や "次の [% terms.bug %]" を、
  表示します。</p>

<p>ただし、いくつかの場合に [% terms.Bugzilla %] がどの検索から表示したかを
  "推定" できない可能性はあり、その場合には最も正しいと思われる結果が表示
  されます。</p>

<h3 id="v40_feat_jsonp">JSONP によるクロスドメインウェブサービス</h3>

<p>[% terms.Bugzilla %] のウェブサービスは、
  <a href="http://bob.pythonmac.org/archives/2005/12/05/remote-json-jsonp/">JSONP</a>
  を利用して他のドメインからもウェブブラウザから利用できるようになりました。
  これにより、[% terms.Bugzilla %] のデータからウェブ "マッシュアップ" 
  することができるようになります。JSONP を利用する際は、データの <em>get</em>
  だけしか呼ぶことができず、データの <em>更新</em> 機能を呼ぶことはできません。</p>

<p>より詳細については、JSON-RPC ウェブサービスのドキュメントの
  <a href="[% docs_urlbase FILTER html %]api/Bugzilla/WebService/Server/JSONRPC.html#JSONP">JSONP
  の章</a> をご覧ください。</p>

<h3 id="v40_feat_ws">WebService 機能拡張</h3>

<p>ウェブサービスの機能は大幅に拡充されました。すでに、ウェブサービス経由で
  [% terms.bugs %] にウェブインターフェースから行えるほとんどの操作を、
  [% terms.bugs %] の更新、添付の追加、添付データの取得などを含め、
  行うことができるようになりました。詳細は、リリースノートの
  <a href="#v40_feat_ws_changes">ウェブサービス機能の更新</a> 
  の章をごらんください。</p>

<h3 id="v40_feat_mandatory">カスタムフィールドの必須化機能</h3>

<p>特定のカスタムフィールドを "必須" のフィールド、つまり [% terms.abug %] 
  を登録する際に空白のままにはできないフィールドとして
  指定できるようになりました。</p>

<h3 id="v40_feat_vot_ext">投票機能は拡張機能に</h3>

<p>[% terms.Bugzilla %] に含まれる全ての投票機能に関連するコードは、
  <kbd>extensions/Voting/</kbd> ディレクトリにある "Voting" 
  という名前の拡張機能に移動されました。この拡張機能を有効にするには、
  該当ディレクトリの <kbd>disabled</kbd> ファイルを削除した後、
  <kbd>checksetup.pl</kbd> を実行してください。</p>

<p>[% terms.Bugzilla %] の将来のバージョンでは、"Voting" 拡張機能は
  [% terms.Bugzilla %] のコアのコードから切り離される予定で、
  投票機能に興味があり別個の拡張としてメンテナンスすることに興味があるユーザ
  を探そうとしています。投票機能にはさまざまな機能拡張要望がありましたが、
  それらの要望を [% terms.Bugzilla %] のコアから切り離したシステムとして
  メンテナンスすることができるようになりました。</p>

<h3 id="v40_feat_js_css_update">ユーザへの新しい CSS, JavaScript の自動配信</h3>
  
<p>過去の [% terms.Bugzilla %] では、[% terms.Bugzilla %] の CSS や
  JavaScript ファイルを更新した場合、更新を受け取るために [% terms.Bugzilla %] 
  ユーザ側でキャッシュをクリアする必要がありました。
  Apache をウェブサーバとして利用している場合、
  <a href="#v40_req_apache">オプションの Apache モジュール</a>
  を有効にしていれば、[% terms.Bugzilla %] の JavaScript や CSS の新バージョンが、
  ユーザのキャッシュクリア操作なしに自動的に配信されるようになります。</p>

<p>この機能はいくつかの場面において [% terms.Bugzilla %] のパフォーマンス向上
  にもつながるもので、全ての管理者に可能であればオプションの Apache 
  モジュールを有効にすることを推奨します。</p>

<h3 id="v40_feat_hooks">たくさんの新しいフック箇所</h3>

<p>[% terms.Bugzilla %] 4.0 では、拡張機能向けにさまざまな新しいコードフック
  箇所が追加されています。これにより、[% terms.Bugzilla %] のほぼ全てのパート
  について、拡張機能が利用し変更することができるようになりました。</p>

<h3 id="v40_feat_apache_config">更新された Apache 設定</h3>

<p>[% terms.Bugzilla %] を Apache 上で動作させている場合 (ほとんどのユーザが
  該当すると思われますが)、このバージョンの [% terms.Bugzilla %] 
  については <strong>新しい Apache 設定</strong> を行う必要があるでしょう。
  詳細については、
  <a href="#v40_upgrading">以前のバージョンからのアップグレードについて</a>
  の章をごらんください。</p>

<h3 id="v40_feat_other">他の更新点と変更点</h3>

<h4>ユーザ向けの更新</h4>

<ul>
  <li>[% terms.Bugzilla %] 内で日付を入力する箇所すべてで、
    カレンダーウィジェットを利用してカレンダーから日付を選択できるように
    なりました。</li>
  <li>ホームの大きなアイコンがよりスマートなアイコンに更新されました。
    <a href="http://www.jpink.co.uk/">J.&nbsp;Pink&nbsp;Design</a> によるものです !</li>
  <li><strong>[% terms.Bugs %]:</strong> [% terms.bugs %] 登録時、
    必須フィールドを全て埋めていなければ登録実行<em>前に</em>
    警告が表示されるようになりました。</li>
  <li><strong>[% terms.Bugs %]:</strong> [% terms.abug %] 登録時、
    ページ内の全てのフィールドのラベルにマウスカーソルを当てることで、
    そのフィールドがどのような目的であるかの簡単な説明が表示されるようになりました。</li>
  <li><strong>[% terms.Bugs %]:</strong> [% terms.abug %] の作業時間を更新する
    場合にコメントが必須ではなくなりました。</li>
  <li><strong>[% terms.Bugs %]:</strong> 既存のコメントの上・下のどちらに、
    入力ボックスを表示するかが、ユーザ設定の項目に追加されました。</li>
  <li><strong>[% terms.Bugs %]:</strong> [% terms.Bugzilla %] は、コメントが
    プライベートとして設定・解除された際にメールを送信するようになりました。
    (過去の [% terms.Bugzilla %] では変更時にはユーザにメールが配信されません
    でした。) 同時に、コメントへのプライベートの設定は [% terms.abug %] 
    の履歴にも掲載されるようになりました。</li>
  <li><strong>[% terms.Bugs %]:</strong> 参照の部分にある、"[% terms.Bug %] 
    URL を追加" のボックスは隠されるようになり、"(追加)" リンクをクリックした
    時に表示されるようになりました。</li>
  
  <li><strong>検索:</strong> 名前にカンマが含まれるフィールドの値に対して、
    詳細検索の画面から検索できるようになりました。</li>
  <li><strong>検索:</strong> "URL" フィールドを検索結果のカラムとして
    表示できるようになりました。</li>
  <li><strong>検索:</strong> 検索結果の表示の際に、[% terms.bug %] ID 
    のみでなく、[% terms.bug %] の要約をクリックすることでも [% terms.bug %] 
    表示ページに移れるようになりました。</li>
  <li><strong>検索:</strong> ヘッダ・フッタにある "簡易検索" ボックスから
    検索を行う場合、ボックスへの入力内容が検索結果表示ページでも挿入され、
    見ることができるようになりました。</li>
  <li><strong>検索:</strong> 複数選択カスタムフィールドが検索結果表示の
    カラムとして利用できるようになりました。</li>
  <li><strong>検索:</strong> 論理式による検索 ("詳細検索" と呼ばれるようになり
    ました) を利用するとき、添付についての条件とフラグについての条件を両方指定
    した場合、添付がそのフラグを持つような [% terms.bugs %] が検索されます。</li>
  <li><strong>検索:</strong> 詳細検索ページでフィールドラベルにマウスカーソルを
    当てると、フィールドが何かについての説明が表示されます。</li>
  <li><strong>検索:</strong> 保存された検索を利用した場合に、"検索条件を破棄"
    するリンクを間違えてクリックしても、復活できるようになりました。</li>
  <li><strong>検索:</strong> 論理式による検索 ("詳細検索" とよばれるようになり
    ました) を利用するとき、同じ値について "より大きいか等しい" と
    "より小さいか等しい" の両方を指定できるようになりました。</li>
  
  <li><strong>Flags:</strong> [% terms.abug %] 表示ページでフラグ設定者の名前
    にマウスカーソルを当てると、フラグ設定者の実名と完全なユーザ名が表示される
    ようになりました。</li>
  <li><strong>Flags:</strong> [% terms.abug %] にフラグを設定する際、
    フラグを "?" にするまで被要請者の入力ボックスが表示されないように
    なりました。</li>
  <li><strong>Flags:</strong> "わたしのリクエスト" ページで、特定のグループに
    限定されている [% terms.bugs %] には "南京錠" アイコンが、
    限定されている情報が含まれていることを示すためにつくようになりました。</li>
  
  <li>レポート画面において、X,Y,Z 軸に、カスタムフィールドを含む、
    よりたくさんのフィールドを利用できるようになりました。</li>
  <li>[% terms.Bugzilla %] は IE8 とそれ以降においても <kbd>txt/plain</kbd> 
    添付を HTML として表示できるようになりました。</li>
  <li>何も内容がない Whine メールに、検索結果が何もなかったことを示す
    簡単なメッセージが含まれるようになりました。</li>
  <li><a href="page.cgi?id=fields.html">フィールドのヘルプ</a> は、
    [% terms.Bugzilla %] の [% terms.abug %] につけられる、
    全てのフィールドについての説明が含まれるようになりました。</li>
</ul>

<h4>管理者と開発者向けの機能拡張</h4>

<ul>
  <li>サイト間の [% terms.bugs %] 移動機能は、<kbd>OldBugMove</kbd>
    という拡張機能に移動されました。このシステムは非常に少数の [% terms.Bugzilla %]
    サイトでのみ利用されていた機能で、もしシステムを利用しているかどうか
    わからないという場合は利用していないことがほとんどです。
    拡張機能を有効にするには <kbd>extensions/OldBugMove/disabled</kbd>
    ファイルを削除して <kbd>chcksetup.pl</kbd> を再実行してください。
    将来の [% terms.Bugzilla %] バージョンでは、この拡張機能が [% terms.Bugzilla %]
    のコアのコードから削除される予定ですので、メンテナンスに興味がある方は
    ご連絡ください。</li>
  <li><strong>カスタムフィールド: </strong> "[% terms.Bug %] ID" 型の
    カスタムフィールドで、[% field_descs.blocked FILTER html %] と
    [% field_descs.dependson FILTER html %] フィールドのような、
    [% terms.bugs %] 間の関係を指定できるようになりました。</li>
  <li><strong>カスタムフィールド:</strong> カスタムフィールドとその値を、
    特定のコンポーネントや Classification によって表示制限できるようになりました。</li>
  <li>"キーワードキャッシュ" は必要なくなりました。キーワードを編集した際、
    "キーワードキャッシュを再構築する" 操作を行わなくてもよくなりました。</li>
  <li><kbd>./collectstats.pl --regenerate</kbd> に数日かかることはなくなり、
    数分か数時間で終わるようになりました。</li>
  <li><kbd>email_in.pl</kbd> に新しい二つのスイッチ
    <kbd>--default</kbd> と <kbd>--override</kbd> が追加され、メールで送られて
    くる<kbd>@field</kbd>の値に任意の既定値を設定したり特定の値を上書きできる
    ようになりました。(これによりメール経由で [% terms.abug %] を追加する際に、
    ユーザが既定値を利用することで、全てのフィールド値を指定しなくても済むよう
    になります。)</li>
  <li><strong>インストール:</strong> ローカライズされた [% terms.Bugzilla %]
    を利用していて、Unicode を理解しないターミナルを利用している場合は、
    <kbd>checksetup.pl</kbd> はあなたのロケールでメッセージを出力しなくなり
    ました。</li>
  <li><strong>インストール:</strong> [% terms.Bugzilla %] では、
    <kbd>skins/custom</kbd> や他のディレクトリに空の "プレースホルダー" CSS 
    ファイルを用意しておかなくてもよくなりました。アップグレード時に、
    <kbd>checksetup.pl</kbd> はそれらを削除します。これにより、[% terms.Bugzilla %]
    を始めて表示する際の HTTP リクエスト数をかなり減らすことができます。</li>
  <li><strong>インストール:</strong> Windows で、[% terms.Bugzilla %]
    が Strawberry Perl でも利用できるようになりました。</li>
  <li><strong>インストール:</strong> <kbd>checksetup.pl</kbd> でエラーが発生
    すると、どこであっても赤く表示されるようになり、なにか異常が発生したこと
    が簡単にわかるようになりました。</li>
  <li><strong>インストール:</strong> <kbd>checksetup.pl</kbd> のいくつかの
    動作がなにも表示しませんでしたが、<kbd>chcksetup.pl</kbd> はほぼ全ての
    動作について何らかのメッセージを表示するようになりました。</li>
  <li><strong>インストール:</strong> テーブルに外部キーを追加する操作が高速化
    しました。3.4 かそれ以降より [% terms.Bugzilla %] をアップグレードする際の
    速度が向上します。</li>
  <li><kbd>jobqueue.pl</kbd> を利用していてメールが何らかの理由で非常に遅れて
    いる場合、メールの Date が送信 <em>されるべき</em> 時刻になっていましたが、
    <em>実際に</em> 送信された時刻が入るようになりました。</li>
  <li><kbd>./jobqueue.pl install</kbd> が SuSE Linux でもうごくようになりました。</li>
  <li>[% terms.Bugzilla %] の Apache suexec モードでの動作がましになりました。
    これに伴い、<kbd>checksetup.pl</kbd> は [% terms.Bugzilla %] の全ての
    ファイル権限をより厳密に設定するようになりました。特に [% terms.Bugzilla %]
    が認知していないファイルはウェブサーバから読めなくなります。</li>
  <li><kbd>sendmailnow</kbd> パラメータは削除されました。最近の Sendmail
    やその他のメール転送サーバ (MTA) では不要でした。</li>
  <li>ユーザ管理パネルからユーザを編集する際、既定の CC に追加されている
    コンポーネントが表示されるようになりました。</li>
  <li>[% terms.Bugzilla %] の新規サイトでは、全てのユーザが Whine 機能を
    利用できるようになる設定が既定になっています。</li>
  <li>SSL 経由で [% terms.Bugzilla %] を利用している場合、
    <kbd>strict_transport_security</kbd> パラメータを利用して、
    セキュリティー向上のために
    <a href="https://developer.mozilla.org/en/Security/HTTP_Strict_Transport_Security">Strict-Transport-Security</a>
    ヘッダを全ての HTTPS 接続に対して追加できるようになりました。</li>
  <li>新しいコードフックの追加 (ドキュメントは
    <a href="[% docs_urlbase FILTER html %]api/Bugzilla/Hook.html">Bugzilla::Hook</a>
    を参照): bug_check_can_change_field, search_operator_field_override,
    bugmail_relationships, object_columns, object_update_columns,
    object_validators。ただし、colchange_columns ｄのフックは削除されました。
    (buglist_columns を [% terms.bug %] リストにどのカラムを表示するかの設定
    に利用できます。)</li>
  <li>[% terms.Bugzilla %] が特定の型のエラーを出した場合、コードでエラーが
    発生したところの "トレースバック" を一緒に出力します。これは、
    管理者や開発者が問題を同定するための助けになります。</li>
  <li>テストコード <kbd>xt/search.t</kbd> が、<kbd>Bugzilla::Search</kbd> 
    の全ての機能が正しく動作しているかの確認に利用できるようになりました。
    [% terms.Bugzilla %] の検索機能をカスタマイズしている場合、
    このテストを利用して変更が正しく行えているかを確認することもできます。
    テストの実行に関しての詳細については、コマンドラインから
    <kbd>perldoc xt/search.t</kbd> を実行すると見ることができます。</li>
  <li>[% terms.Bugzilla %] は
    <a href="https://developer.mozilla.org/en/the_x-frame-options_response_header"><code>X-Frame-Options: SAMEORIGIN</code></a> ヘッダ
    を "クリックジャック" 攻撃を防ぐために全てのページリクエストに追加するようになりました。
    このヘッダにより [% terms.Bugzilla %] を HTML フレームを利用して他の
    ドメインのページ内で動作させることを防ぐことができます。</li> 
</ul>

<h4 id="v40_feat_ws_changes">ウェブサービスの変更点</h4>

<ul>
  <li>いくつかの JSON-PRC メソッドを HTTP POST に加えて HTTP GET でも呼べるよう
    になりました。詳細は
    <a href="[% docs_urlbase FILTER html %]api/Bugzilla/WebService/Server/JSONRPC.html#Connecting_via_GET">JSON-RPC
    ドキュメント</a> を参照してください。</li>
  <li>既存の [% terms.bugs %] を
    <a href="[% docs_urlbase FILTER html %]api/Bugzilla/WebService/Bug.html#update">B[% %]ug.update</a>
    関数から更新できるようになりました。</li>
  <li>[% terms.bugs %] への添付ファイルの追加が
    <a href="[% docs_urlbase FILTER html %]api/Bugzilla/WebService/Bug.html#add_attachment">B[% %]ug.add_attachment</a>
    関数からできるようになりました。</li>
  <li><kbd>B[% %]ug.get</kbd> 関数は、コメントや添付だけでなく、
    全ての [% terms.abug %] 情報を返すようになりました。</li>
  <li><kbd>B[% %]ug.get</kbd> はハッシュ値 <kbd>internals</kbd> を返さなくなりました。</li>
  <li><kbd>B[% %]ug.attachments</kbd> 関数が添付データそのものも返すように
    なりました。</li>
  <li>次の関数で <kbd>include_fields</kbd> と <kbd>exclude_fields</kbd>
    の引数がサポートされるようになりました: <kbd>B[% %]ug.get</kbd>、
    <kbd>B[% %]ug.search</kbd>、 <kbd>B[% %]ug.attachments</kbd>。
    また、これらのパラメータを指定した場合には、[% terms.Bugzilla %]
    が必要とされないフィールドについてデータベースに問い合わせを行わなくなるため、
    ウェブサービスのサーバが高速化します。</li>
  <li><kbd>B[% %]ug.create</kbd> 関数経由で [% terms.abug %] を登録した際にも、
    最初の説明をプライベートに設定することができるようになりました。</li>
  <li>[% terms.abug %] をどのグループに制限するかを、
    <a href="[% docs_urlbase FILTER html %]api/Bugzilla/WebService/Bug.html#create">B[% %]ug.create</a>
    関数で指定できるようになりました。(また、これは同時に email_in.pl
    経由で [%+ terms.abug %] を登録する際にもグループを指定できるようになった
    ことを意味します。)</li>
  <li><kbd>User.get</kbd> 関数が <kbd>groups</kbd> と <kbd>group_ids</kbd> 
    引数を受け付けるようになり、これらにより特定のグループに所属するユーザ
    のみを取得することができるようになります。</li>
  <li>新しくドキュメント化されない B[% %]ug.possible_duplicates 関数が導入され、
    自動重複検知システムの実装で利用されています。この関数はドキュメント化され
    ておらず、[% terms.Bugzilla %] のリリース間で API が変更される可能性が
    あります。</li>
  <li><kbd>B[% %]ug.search</kbd> 関数で <kbd>votes</kbd> 引数を利用して検索
    することができなくなりました。</li>
  <li><kbd>B[% %]ug.attachments</kbd> が添付の説明を "summary" でなく、
    [% terms.bug %] の要約が "summary" であるのとの整合性をとるために、
    "description" で返すようになりました。ただし、後方互換性のために、
    この値は "description" <em>でも</em> 返るようにはなっていますが、
    [% terms.Bugzilla %] 5.0 までに廃止されます。</li>
  <li>さまざまな <kbd>B[% %]ug</kbd> 関数の戻り値で、コメントや [% terms.bugs %]
    や添付の作成者は "creator" として返るようになり、
    "reporter"、"author" や "attacher" などは利用されなくなりました。
    ただし、後方互換性のために、これまでと同じように返るようにはなっていますが、
    [% terms.Bugzilla %] 5.0 までに廃止されます。</li>
</ul>

<h2 id="v40_issues">既知の問題</h2>

<ul>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=423439">
    [%- terms.Bug %] 423439</a>: コメントのタブが 4 空白文字に変換される。
    これは、Perl 5.8.8 に存在する Perl のバグです。</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=89822">
    [%- terms.Bug %] 89822</a>: 複数 [% terms.bugs %] を一度に更新すると、
    "操作衝突" の保護が働きません。</li>
  <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=276230">
    [%- terms.Bug %] 276230</a>: 新しいチャートの特定のカテゴリでのアクセス制限機能は、
    完全ではありません。'chartgroup' パラメータは、
    アクセス方法が存在するかの機能として考えるべきです。<br>
    しかしながら、旧チャートから変換されたチャートは、
    関連するプロダクトで委任されているグループに制限されます。
    この制限を変更する方法は現状ではありませんし、プロダクトの変更により、
    グループ設定が更新されない限りアップグレードされません。</li>
</ul>

<h2 id="v40_upgrading">以前のバージョンからのアップグレードについての情報</h2>

<h3>重要: Apache の設定の変更</h3>

<h4>mod_cgi</h4>

<p>[% terms.Bugzilla %] を mod_cgi (大多数が利用する一般的な設定で、Apache 
  設定ファイルの &lt;Directory&gt; 内に記述します) で動かしている場合、
  Apache の [%+ terms.Bugzilla %] 用の設定を更新する必要があります。
  特に、次の [% terms.Bugzilla %] に関連する <kbd>&lt;Directory&gt;</kbd> 
  の部分を変更してください:</p>

<blockquote><code>AllowOverride Limit</code></blockquote>

<p>という行を次のようにします:</p>

<blockquote><code>AllowOverride Limit FileInfo Indexes</code></blockquote>
 
<p>Apache 用の [% terms.Bugzilla %] の設定の詳細については、
  [% terms.Bugzilla %] ガイドの
  <a href="[% docs_urlbase FILTER html %]configuration.html#http-apache">設定</a>
  の章を参照してください。</p>

<h4>mod_perl</h4>

<p>[% terms.Bugzilla %] を mod_perl 上で動かしている場合、Apache で必要な設定は
  より簡単になりました。これまでの設定は以下のようなものでした:</p>

<blockquote><code>PerlSwitches -w -T -I/var/www/html/bugzilla 
    -I/var/www/html/bugzilla/lib</code></blockquote>

<p>が、新しい設定は次のようになります:</p>

<blockquote><code>PerlSwitches -w -T</code></blockquote>

<p>ただし、<code>PerlConfigRequire</code> はそのままにしておく必要があります。</p>

<h3>新しい .htaccess ファイル</h3>

<p>以前の [% terms.Bugzilla %] では、[% terms.Bugzilla %] のルートディレクトリに
  ".htaccess" というファイルを <kbd>checksetup.pl</kbd> で生成していました。
  このファイルは、インストール時の自動生成でなく [%+ terms.Bugzilla %] 
  の一部として提供されるようになりました。</p>

<p>CVS や bzr 経由でアップグレードしている場合、既存の ".htaccess" ファイルが
  更新時に衝突したというメッセージが表示されると思います。この場合、
  まず <strong>既存の .htaccess ファイルを削除して</strong> から、
  新しいファイルを利用してください。古い .htaccess ファイルを使いつづけると、
  [% terms.Bugzilla %] の新機能の一部が完全には動作しなくなり、
  将来的なシステムのセキュリティー問題にもつながる可能性があります。</p>

<h2 id="v40_code_changes">カスタマイズ・拡張機能に影響するコードの変更</h2>

<ul>
  <li>拡張機能からウェブ経由でユーザにファイルを提供する場合、拡張機能の中の
    <kbd>web/</kbd> サブディレクトリに (たとえば、<kbd>extensions/Foo/web/</kbd>)
    置く必要があります。<kbd>checksetup.pl</kbd> は拡張機能の中のファイル
    についてより厳しい権限設定を行うため、(たとえば <kbd>extensions/Foo/</kbd>
    のベースディレクトリなど) 他の場所に置いたファイルは、きちんと設定されている
    [% terms.Bugzilla %] ではウェブ経由でユーザがアクセスすることが
    できなくなります。</li>
  <li>以前のバージョンの [% terms.Bugzilla %] では、"skins" ディレクトリに
    スキンの全てを含んだ単一のファイルを置くことでも動作しました。
    しかしながら、これは動作しなくなり、アップグレード時に <kbd>checksetup.pl</kbd>
    はそのようなスキンのファイルから、単一の <kbd>global.css</kbd> 
    ファイルがあるディレクトリに変換します。</li>
  <li>[% terms.bugs %] の更新時、独立の <kbd>set_</kbd> メソッドでなく
    <code>$bug-&gt;set_all</code> を利用すべきです。特に、[% terms.abug %] 
    のプロダクトを設定する <em>唯一の</em> 方法が <kbd>set_all</kbd> 
    になりました。どのように <kbd>set_all</kbd> を利用するかのサンプルには
    <kbd>process_bug.cgi</kbd> をご覧ください。</li>
  <li>HTML 内に &lt;script&gt; タグや &lt;link&gt; CSS タグを、拡張機能や
    カスタマイズを問わず直接記入すべきではありません。替わりに、
    <kbd>style_urls</kbd> もしくは <kbd>javascript_urls</kbd> パラメータに
    追加したい値を入れるべきです。何らかの理由で直接記入すべき必要がある場合、
    "FILTER mtime" を URL に対して呼んでください。
    (テンプレートに対して "FILTER mtime" で検索すると利用方法が見つかります。)</li>
  <li><kbd>Bugzilla::BugMail::Send</kbd> にアクセスする際、"changer"
    引数はログイン名ではなく、<kbd>Bugzilla::User</kbd> 
    オブジェクトでなければならなくなりました。"owner" と "qacontact" の引数は、
    ログイン名のままです。</li>
  <li>Bugzilla::Object のサブクラスを作成する場合、<kbd>UPDATE_VALIDATORS</kbd>
    を使わないでください。また、ほとんどの場合では <kbd>run_create_validators</kbd>
    をオーバーライドする必要もないでしょう。かわりに、
    <a href="[% docs_urlbase FILTER html %]api/Bugzilla/Object.html#VALIDATOR_DEPENDENCIES">VALIDATOR_DEPENDENCIES</a>
    定数を利用して特定のフィールドが他のフィールドの前に検証されるべきである
    ことを指定できます。これを利用することで、全ての検証コードがすでに検証済みの
    値のハッシュを4つ目の引数として受け取ることになり、オブジェクト生成時の
    検証コードが他の値を参照することができるようになります。
    <kbd>VALIDATOR_DEPENDENCIES</kbd> の利用方法については、
    <kbd>Bugzilla/Field.pm</kbd> を参照してください。</li>
  <li>[% terms.Bugzilla %] の以前のバージョンでは、ある言語に対して
    <kbd>template_inner</kbd> を呼び出したあとに必ず
    <code>Bugzilla-&gt;template_inner("")</code> を呼び出す必要があります。
    この <kbd>template_inner</kbd> の呼び出しは必要なくなりました。</li>
  <li><kbd>post_bug.cgi</kbd> と <kbd>Bugzilla::Bug-&gt;create</kbd> 
    はグループ ID の代わりにグループ <em>名</em> を引数にとるようになりました。</li>
  <li>Bugzilla::Bugmail は内部で直接多数の SQL を実行するのでなく、
    Bugzilla::Bug オブジェクトを利用するようになりました。</li>
  <li>[% terms.bugs %] の変更の送信は、Bugzilla::Bug オブジェクトの
    <kbd>send_changes</kbd> メソッドを呼ぶことで行えるようになりました。
    利用法については、<kbd>process_bug.cgi</kbd> を参照してください。</li>
  <li><kbd>Bugzilla::Search</kbd> クラスはリファクタリングされ、
    カスタマイズが容易になりました。</li>
  <li><kbd>Bugzilla::Util::lsearch</kbd> 関数はなくなりました。
    かわりに <kbd>List::MoreUtils</kbd> の <kbd>firstidx</kbd> 
    を利用してください。</li>
  <li>[% terms.Bugzilla %] には YUI 2.8.2 が同梱されるようになりました。</li>
  <li><kbd>long_list.cgi</kbd>、<kbd>showattachment.cgi</kbd>、
    <kbd>xml.cgi</kbd> は [% terms.Bugzilla %] 2.19 以降長い間あまり使われて
    おらず廃止予定でした。このスクリプトは [% terms.Bugzilla %] 4.2 
    で削除されます。</li>
</ul>


<h2 id="v40_previous">過去のバージョンのリリースノート</h2>
 
<p><a href="page.cgi?id=release-notes3.html">[%+ terms.Bugzilla %] 3.x とそれ以前のリリースノート</a></p>



[% INCLUDE global/footer.html.tmpl %]

[% BLOCK db_req %]
  [% SET m = DB_MODULE.$db %]
  <h3 id="v42_req_[% db FILTER html %]">For [% m.name FILTER html %] Users</h3>

  <ul>
    <li>[% m.name FILTER html %]
       [%+ '<span class="req_new">' IF db_new %]v[% m.db_version FILTER html %]
       [% '</span>' IF db_new %]
       </li>
    <li><strong>perl モジュール:</strong>
      [%+ m.dbd.module FILTER html %] 
      [% '<span class="req_new">' IF dbd_new %]v[% m.dbd.version FILTER html %]
      [% '</span>' IF dbd_new %]</li>
  </ul>
[% END %]


[% BLOCK req_table %]
  <table class="req_table" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th>モジュール</th> <th>バージョン</th>
      [% IF include_feature %]
        <th>有効になる機能</th>
      [% END %]
    </tr>
    [% FOREACH req = reqs %]
      <tr>
        <td [% ' class="req_new"' IF new.contains(req.package) %]>
          [%- req.module FILTER html %]</td> 
        <td [% ' class="req_new"' IF updated.contains(req.package) 
                                     OR new.contains(req.package) %]>
          [%- IF req.version == 0 %]
            (指定なし)
          [% ELSE %]
            [%- req.version FILTER html %]
          [% END %]
        </td>
        [% IF include_feature %] 
          <td>[% req.feature.join(', ') FILTER html %]</td>
        [% END %]
      </tr>
    [% END %]
</table>
[% END %]
