[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% SET title = "Bugzilla 5.0 リリースノート" %]
[% INCLUDE global/header.html.tmpl
  title = title
  bodyclasses = ['narrow_page']
%]

<h1>[% title FILTER html %]</h1>

<ul class="bz_toc">
  <li><a href="#introduction">導入</a></li>
  <li><a href="#point">5.0.x リリースでの更新点</a></li>
  <li><a href="#req">動作環境</a></li>
  <li><a href="#feat">新機能と改善点</a></li>
  <li><a href="#issues">既知の問題点</a></li>
  <li><a href="#code_changes">カスタマイズ・拡張機能に影響するコードの変更</a></li>
  <li><a href="https://bugzilla.readthedocs.org/en/latest/installing/upgrading.html">
    以前のバージョンからアップグレードする際の注意点</a></li>
  <li><a href="http://www.bugzilla.org/releases/">以前のバージョンのリリースノート</a></li>
</ul>

<h2 id="introduction">導入</h2>

<p>Bugzilla 5.0 にようこそ! 2013年5月の Bugzilla 4.4 のリリースから2年少し、
  新しいメジャーバージョンとしていくつもの新機能、WebService の改良とパフォーマン
  スの改善を実現しました。</p>

<p>アップグレードを考えている場合、
  <a href="https://bugzilla.readthedocs.org/en/latest/installing/upgrading.html">
  以前のバージョンからアップグレードする際の注意点</a>を読んでください。4.4 以前
  からアップグレードしようとしているユーザは、このバージョンとあなたの現在のバー
  ジョンの間の<a href="http://www.bugzilla.org/releases/">過去のバージョン</a>の
  リリースノートをすべて確認してください。<strong>特にそれぞれのリリースノートの
  「アップグレードする際の注意点」の部分は重要です。</strong></p>

<h2 id="point">5.0.x リリースでの更新点</h2>

<h3>5.0.3</h3>

<p>このリリースでは一つのセキュリティー問題の修正が含まれます。詳細は
  <a href="https://www.bugzilla.org/security/4.4.11/">セキュリティーアドバイザリ</a>
  をご覧ください。</p>

<p>このリリースでは以下の [% terms.bug %] の修正が含まれます:</p>

<ul>
  <li>Bugzilla 5.0.2での <kbd>whine.pl</kbd> が未定義のサブルーチンによるメール送信が利用不可能になる
    レグレッションが解消しました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1235395">[% terms.Bug %] 1235395</a>)</li>
  <li><kbd>Encode</kbd> モジュールが文字列のエンコード方式を変更しました。これにより [%terms.Bugzilla %] 
    から送信されるメールアドレスもエンコードされてしまっていましたが、正しく受信者に送信されるように
    なりました。メールヘッダのエンコードが正常になりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1246228">[% terms.Bug %] 1246228</a>)</li>
  <li>Strawberry Perl での taint での問題が解決しました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=987742">[% terms.Bug %] 987742</a> and
    <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1089448">[% terms.bug %] 1089448</a>)</li>
  <li>[% terms.bug %] リストを CSV ファイルにエクスポートする際に "=", "+", "-" や "@" で始まるフィールド
    を Excel で数式として評価されなくするために空白でエスケープされるようになりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1259881">[% terms.Bug %] 1259881</a>)</li>
  <li>ユーザ制御のデータを利用する拡張におけるリンクにサニタイズされていないデータに対するXSSの可能性が
    ありました。[%+ terms. Bugzilla %] は拡張機能の中でのサニタイズに依存しなくなりました。ユーザによる
    タブについても標準で対処するようになりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1250114">[% terms.Bug %] 1250114</a>)</li>
  <li>拡張で [%+ terms.Bugzilla %] サイトの favicon のオーバーライドが簡単にできるようになりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1250264">[% terms.Bug %] 1250264</a>)</li>
</ul>

<h3>5.0.2</h3>

<p>このリリースでは二つのセキュリティー問題の修正が含まれます。詳細は
  <a href="https://www.bugzilla.org/security/4.2.15/">セキュリティーアドバイザリ</a>
  をご覧ください。</p>

<p>このリリースでは以下の [% terms.bug %] の修正が含まれます:</p>

<ul>
  <li>Apache 2.4 において mod_access_compat が無効の場合にも mod_perl が正常に動作するようになりました。
    [% terms.Bugzilla %] 4.4.9 で導入された (不完全な) 修正は取り除かれました。<kbd>.htaccess</kbd>
    ファイルを正しく生成するために、まずすべてのサブディレクトリの既存のファイルを
    <pre>find . -mindepth 2 -name .htaccess -exec rm -f {} \;</pre>
    などで削除してください。その後、 <kbd>checksetup.pl</kbd> を再度実行し正しい記法のファイルを作成
    してください。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1223790">[% terms.Bug %] 1223790</a>)</li>
  <li>[% terms.Bugzilla %] からのメールが正しい UTF-8 に変換されるようになりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=714724">[% terms.Bug %] 714724</a>)</li>
  <li>Windows において Strawberry Perl で完全に動作するようになりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1089448">[% terms.Bug %] 1089448</a>
    及び <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=987742">[% terms.bug %] 987742</a>)</li>
  <li>Windows IIS でも XML-RPC API が動作するようになりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=708252">[% terms.Bug %] 708252</a>)</li>
  <li>PostgreSQL でいくつかのクエリが高速化しました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1184431">[% terms.Bug %] 1184431</a>)</li>
</ul>

<h3>5.0.1</h3>

<p>このリリースでは一つのセキュリティー問題の修正が含まれます。詳細は
  <a href="https://www.bugzilla.org/security/4.2.14/">セキュリティーアドバイザリ</a>
  をご覧ください。</p>

<p>このリリースでは以下の [% terms.bug %] の修正が含まれます:</p>

<ul>
  <li>ログイン名がメールアドレスでないユーザが LDAP 認証環境下でログインできない状態でした。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1179160">[% terms.Bug %] 1179160</a>)</li>
  <li>必須のカスタムフィールドが隠されている場合、新規 [% terms.bug %] の作成や既存の編集が不可能に
    なっていました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1183398">[% terms.Bug %] 1183398</a>
    及び <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1196969">[% terms.bug %] 1196969</a>)</li>
  <li>ログイン名を存在しないメールアドレスに変更する操作を行うと Bugzilla が停止し、サービス拒否攻撃
    につながる可能性がありました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1194987">[% terms.Bug %] 1194987</a>)</li>
  <li>トランザクション中にメールを生成しようとすると PostgreSQL の停止を引き起こしていました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1186700">[% terms.Bug %] 1186700</a>)</li>
  <li>2^31 を超える [% terms.bug %] ID をリファレンスに含む [% terms.bugs %] コメントは、
    PostgreSQL 環境下では表示できなくなります。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1191937">[% terms.Bug %] 1191937</a>)</li>
  <li>"履歴概要" ページの日付選択が動作していませんでした。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1181649">[% terms.Bug %] 1181649</a>)</li>
  <li>JSON-RPC API に必須となる <kbd>Test::Taint</kbd> やほかの Perl モジュールがインストールされて
    いないか古い場合にもコメントタグ機能の UI が表示され、タグをつけられるように見えていましたが、
    実際にはつけられていない状態でした (ページの再読み込みで消えていました)。コメントへのタグ UI 
    は必要な Perl モジュールの条件が満たされない限り表示されないようになりました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1183227">[% terms.Bug %] 1183227</a>)</li>
  <li><kbd>INTEGER</kbd> 型のカスタムフィールドで負の整数をサポートしました。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1198659">[% terms.Bug %] 1198659</a>)</li>
  <li>Windows において <kbd>checksetup.pl</kbd> スクリプトが SMTP サーバを必須としなくなりました。
    インストール完了後に設定可能です。
    (<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1191255">[% terms.Bug %] 1191255</a>)</li>
</ul>

<h2 id="req">動作環境</h2>

<p>Any requirements that are new since 4.4 will look like
  <span class="req_new">this</span>.</p>

<ul>
  <li><a href="#req_perl">Perl</a></li>
  <li><a href="#req_mysql">MySQL ユーザ向け</a></li>
  <li><a href="#req_pg">PostgreSQL ユーザ向け</a></li>
  <li><a href="#req_oracle">Oracle ユーザ向け</a></li>
  <li><a href="#req_sqlite">SQLite ユーザ向け</a></li>
  <li><a href="#req_modules">必須 Perl モジュール</a></li>
  <li><a href="#req_optional_mod">推奨 Perl モジュール</a></li>
  <li><a href="#req_apache">推奨 Apache モジュール</a></li>
</ul>

<h3 id="req_perl">Perl</h3>

<p>Perl <span class="req_new">v5.10.1</span></p>

[% INCLUDE db_req db='mysql' %]

[% INCLUDE db_req db='pg' %]

[% INCLUDE db_req db='oracle' %]

[% INCLUDE db_req db='sqlite' %]

<h3 id="req_modules">必須 Perl モジュール</h3>

[% INCLUDE req_table reqs = REQUIRED_MODULES
                     new = ['File-Slurp','JSON-XS', 'Email-Sender']
                     updated = ['DateTime', 'DateTime-TimeZone',
                                'Template-Toolkit', 'URI'] %]

<h3 id="req_optional_mod">推奨 Perl モジュール</h3>

<p>以下の Perl モジュールがインストールされていれば、それぞれの Bugzilla の機能
  が有効化されます:</p>

[% INCLUDE req_table reqs = OPTIONAL_MODULES
                     new  = ['Cache-Memcached','File-Copy-Recursive']
                     updated = ['Chart', 'Test-Taint']
                     include_feature = 1 %]

<h3 id="req_apache">推奨 Apache モジュール</h3>

<p>Apache をウェブサーバに利用している場合、Bugzilla は以下のモジュールが有効に
  なっている場合に Apache の機能を活用します。</p>

<ul>
  <li>mod_headers</li>
  <li>mod_expires</li>
  <li>mod_env</li>
</ul>

<p>(Windows を除く) ほとんどのシステムで、<kbd>checksetup.pl</kbd> はこれらの
  モジュールがインストールされているかどうかを検出し通知します。</p>


<h2 id="feat">新機能と改善点</h2>

<ul>
  <li><a href="#feat_webservices">WebService の改善</a></li>
  <li><a href="#feat_caching_performance">Memcached を利用するキャッシュの改善</a></li>
  <li><a href="#feat_comment_tags">[% terms.Bug %] コメントへのタグ付け</a></li>
  <li><a href="#feat_bug_groups">[% terms.Bug %] グループ権限確認の改善</a></li>
  <li><a href="#feat_documentation">ユーザ・管理者向けドキュメントの改善</a></li>
  <li><a href="#feat_other">その他の更新点と改善点</a></li>
</ul>

<h3 id="feat_webservices">WebService の改善</h3>

<p>
  このリリースでの主要な改善点は WebService のインターフェースです。
  既存の XML-RPC と JSON-RPC に加えて、REST に似たインターフェースが追加になりました。
  これによりクライアントは Bugzilla データに通常の HTTP でアクセスできるようになり、
  開発が簡単になります。<strong>注:</strong> XML-RPC と JSON-RPC は REST により
  置き換えられる非推奨インターフェースとなり、Bugzilla 7.0 で削除される予定です。
</p>
<p>
  また、API キーが追加され、API 呼び出しにクッキーやアカウントを利用しなくなりました。
  ユーザはアプリケーションごとに個別の API キーを要求でき、必要でなくなったものは破棄
  できます。API キーはそれぞれの呼び出しの際に認証キーとして送信します。
</p>
<p>
  <kbd>Group.get</kbd> などのいくつかのメソッドが追加され、既存のメソッドについても
  これまで返されなかったデータを返すようになる改良が加えられました。<kbd>B[%%]ug.search</kbd>
  については高度な検索画面と同様の検索が可能になる機能強化が行われました。
  フラグやその他のメタデータなどの添付についてのデータも API から更新できるように
  なりあました。その他については
  <a href="#feat_webservices_other">詳細</a> をご覧ください。
</p>

<h3 id="feat_caching_performance">Memcached を利用するキャッシュの改善</h3>

<p>
  Bugzilla はローカル・ネットワーク上を問わず Memcached サーバにアクセスし、さま
  ざまな種類のデータに高速にアクセスすることができるようになりました。
  これにより、データベースアクセスを減らしパフォーマンスの改善が期待されます。
  それ以外にも、ユーザデータのようにリクエスト中に何度も必要となるオブジェクト
  などについても、メモリキャッシュによる効果が期待されます。
</p>

<h3 id="feat_comment_tags">[% terms.Bug %] コメントへのタグ付け</h3>

<p>
  ほかのユーザにも表示されるタグを [% terms.bug %] コメントにもつけられるようになりました。
  これによりスレッド的なやり取り、spam へのマーク付け、重要コメントへのマーク、
  などが可能になります。また、希望するユーザは特定のタグがついたコメントを隠す
  ことも可能です。タグ入力部分には過去につけられたタグの自動補完機能もあり、
  過去のものから選択することも可能です。特定のタグがついたコメントを、管理者が
  全体で非表示にすることもできます。
</p>

<h3 id="feat_bug_groups">[% terms.Bug %] グループ権限確認の改善</h3>

<p>
  以前は、Bugzilla では [% terms.abug %] の閲覧制限は、[% terms.bug %] に設定さ
  れた全てのグループに参加しているユーザにのみ表示するというものでした。これでは、
  グループは AND として評価されており、使い勝手はよくありませんでした。新しい
  バージョンの Bugzilla では (もしくは既存のサイトでは移行すれば) グループ制限は
  設定されたうち一つのグループに所属していることを既定の条件としました。これは
  つまり OR での評価です。この変更により [% terms.bugs %] を特定のユーザグループ
  に制限する方法がより使いやすくなります。
</p>
<p>
  <strong>注:</strong> [% terms.bugs %] のグループ制限とユーザに対する評価は、この
  変更により直ちに変更されるわけではありません。AND から OR への変更時には、
  [% terms.bugs %] を閲覧可能なユーザがそれまでよりも広がることに注意してください。
  これを変更することにより [% terms.bugs %] に間違ったユーザが閲覧できてしまうよ
  うな影響が出ないことを管理者が確認してください。
</p>

<h3 id="feat_documentation">ユーザ・管理者向けドキュメントの改善</h3>

<p>
  Bugzilla のコードと一緒に配布されている標準ドキュメントは、reStructuredText
  形式により書き換えられ、改善されました。これにより、ReadTheDocs.org などの
  サイトにドキュメントを置くことも可能になり、HTML や PDF などのほかの形式にも
  簡単に変換できるようになりました。また、新しく REST WebService API についての
  節も追加され、古い WebService ドキュメントに比較して非常によくなりました。
</p>

<h3 id="feat_other">その他の更新点と改善点</h3>

<h4>ユーザ向け機能追加</h4>

<ul>
  <li><strong>[% terms.Bugs %]:</strong> 締切フィールドが <kbd>timetracking</kbd> 
    グループのみでなく全てのユーザに見れるようになりました。</li>
  <li><strong>[% terms.Bugs %]:</strong> "プレビュー" モードが追加され、ユーザが
    コメントを送信する前にどのように見えるかを確認できるようになりました。</li>
  <li><strong>[% terms.Bugs %]:</strong> 報告者が [% terms.bug %] 追加時にキーワード
    を同時に追加することが可能になりました。</li>
  <li><strong>[% terms.Bugs %]:</strong> "See Also" で複数の値を入れる際に、
    カンマのみでなく空白文字を利用することも可能になりました。</li>
  <li><strong>[% terms.Bugs %]:</strong> コメントでの自動リンクについて、
    [% terms.bug %] の ID やコメントの ID によるリンクが改善されました。</li>
  <li><strong>[% terms.Bugs %]:</strong> [% terms.Bugs %] に複数エイリアスをつける
    ことができるようになりました。これまではそれぞれの [% terms.bug %] には単一の
    値しかつけられませんでした。また、エイリアスがブラウザのタイトルバーにも表示さ
    れるようになります。</li>
  <li><strong>[% terms.Bugs %]:</strong> 複数 [% terms.bugs %] の変更画面において、
    ユーザがフラグを変更することができるようになりました。</li>
  <li><strong>Charts and Reports:</strong> UTF-8 のマルチバイト文字が "新形式の
    チャート" とグラフレポートに正常に表示されるようになりました。</li>
  <li><strong>Charts and Reports:</strong> レポートの軸に独自の複数選択されたフィー
    ルドを利用可能になりました。これにより、レポート内での [% terms.bugs %] のカテ
    ゴリ化が可能になります。</li>
  <li><strong>Email:</strong> 特定の [% terms.bug %] についての全てのメールを無効化
    する設定が、該当 [% terms.bug %] で報告者などの役割を維持しつつできるようになり
    ました。</li>
  <li><strong>Email:</strong> [% terms.abug %] を依存関係に追加・削除する際に、
    その [% terms.bug %] の要約が通知メールに含まれるようになりました。</li>
  <li><strong>Requests:</strong> <kbd>request.cgi</kbd> の出力形式に CSV が選択でき
    るようになりました。</li>
  <li><strong>Requests:</strong> <kbd>X-Bugzilla-*</kbd> ヘッダがフラグ通知メール
    においても含まれるようになりました。</li>
  <li><strong>Searches:</strong> いくつかのよく使われる検索条件が Bugzilla のホーム
    ページに追加されました。</li>
  <li><strong>Searches:</strong> 簡易検索において !=, >=, >, &lt; といった検索条件
    文字が、部分一致検索に加えて利用できるようになりました。</li>
  <li><strong>Searches:</strong> "妨害"、"依存"の値が [% terms.abug %] リスト内に
    表示されるようになりました。</li>
  <li><strong>Searches:</strong> 詳細検索の UI に "が空" と "が空でない" の条件が
    追加されました。これにより特定のフィールドに値があるかないかでの検索が可能にな
    ります。</li>
</ul>

<h4>管理者と開発者向け機能追加</h4>

<ul>
  <li><strong>Administration:</strong> <kbd>INTEGER</kbd> と <kbd>DATE</kbd> の
    カスタムフィールドの型が追加されました。</li>
  <li><strong>Administration:</strong> "旧形式のチャート" 用に収集されるデータの
    保管ファイル名がプロダクト ID になりました。プロダクト名変更によるデータ損失
    を防ぐことができます。</li>
  <li><strong>Administration:</strong> JavaScript と CSS ファイルがパフォーマンス
    向上のために minified され、合体されるようになりました。変更を加えたあと、
    <kbd>checksetup.pl</kbd> を実行することにより再生成されます。</li>
  <li><strong>[% terms.Bugs %]:</strong> Bugzilla が各 [% terms.bug %] ごとにユー
    ザが最後に訪問した日時 (show_bug ページをブラウザで表示した日時) を保存するよ
    うになりました。ダッシュボードや API クライアント作成に有用です。</li>
  <li><strong>Database:</strong> MySQL をバックエンドに利用している場合に BMP に
    ないユニコードの拡張文字を含む文章が途切れていました。この問題は修正され、デー
    タ損失はなくなりました。</li>
  <li><strong>Database:</strong> MySQL をバックエンドに利用している場合に、データ
    ベースへ SSL 接続できるようになりました。</li>
  <li><strong>Database:</strong> PostgreSQL 8.x では、<kbd>plpgsql</kbd> が自動
    的にインストールされず、<kbd>checksetup.pl</kbd> がエラーを出していました。
    この問題は修正されました。</li>
  <li><strong>Development:</strong> Bugzilla が HTML5 になりました。これにより、
    Internet Explorer 6 と 7 がサポートされなくなりました。</li>
  <li><strong>Email:</strong> メール生成は jobqueue ジョブの生成前に行われていま
    したが、[% terms.bug %] の変更処理の高速化のため、<kbd>jobqueue.pl</kbd> に
    より送信直前に実行されるように変更されました。</li>
  <li><strong>Email:</strong> サイト管理者が新ユーザを追加した際に、そのユーザに
    メール送信が行われるようになりました。</li>
  <li><strong>Email:</strong> 依存関係の通知メールにおいて、
    <kbd>X-B[%%]ugzilla-Type: dep_changed</kbd> ヘッダが追加されるようになりました。</li>
  <li><strong>Email:</strong> <kbd>whine.pl</kbd> からのメールでハードコードされた
    カラムリストでなく、buglist ページで利用する既定である
    <kbd>DEFAULT_COLUMN_LIST</kbd> になりました。</li>
  <li><strong>Security:</strong> 旧ハッシュ形式との互換性を維持したまま、
    <kbd>PASSWORD_SALT_LENGTH</kbd> を増やすことができるようになりました。</li>
</ul>

<h4 id="feat_webservices_other">WebService への変更</h4>

<ul>
  <li><kbd>B[%%]ug.search</kbd> により高度な検索 UI と同程度の機能を持つ検索機能を
    利用可能になりました。</li>
  <li>全ての WebService にネットワークパフォーマンスの向上のため、基本的な eTag 
    ヘッダのサポートが追加されました。</li>
  <li>管理者が、ウェブ UI で行われるのと同様に、結果として返されるメールアドレスへ
    のフィルタリングのパラメータを変更できるようになりました。</li>
  <li>WebService 呼び出しが API キーによる認証をサポートするようになりました。
    ユーザ名・パスワードによる認証も維持されています。</li>
  <li>無効もしくは有効期限の切れたクッキーとトークンに対して、無視するのでなく、
    エラーが帰るようになりました。<kbd>User.valid_login</kbd> により有効かどうか
    の判別が可能です。</li>
  <li>WebService 呼び出しによる [% terms.bugs %] と添付の更新の際、フラグの設定や
    更新も可能になりました。</li>
  <li><kbd>B[%%]ug.update_attachment</kbd> によりフラグと同様に添付のメタデータの
    更新も可能になりました。</li>
  <li><kbd>B[%%]ug.possible_duplicates</kbd> の <kbd>product</kbd> パラメータは
    <kbd>products</kbd> に名称変更されました。</li>
  <li>削除予定とされていた互換性維持のためのいくつかのフィールドは削除されました。</li>
  <li><kbd>Group.get</kbd> がグループとそのメンバーの情報を取得するために追加され
    ました。</li>
  <li><kbd>FlagType.get</kbd> が特定のプロダクトやコンポーネントに対して有効なフラ
    グ型を取得するために追加されました。</li>
  <li>古い <kbd>B[%%]ug.get_bugs</kbd>、 <kbd>B[%%]ug.get_history</kbd> と
    <kbd>Product.get_products</kbd> メソッドは
    無効になりました。それぞれ <kbd>B[%%]ug.get</kbd>、 <kbd>B[%%]ug.history</kbd> 
    と <kbd>Product.get</kbd> になっています。</li>
</ul>

<h2 id="code_changes">カスタマイズ・拡張機能に影響する機能変更</h2>

<ul>
  <li>添付を開く際の CVS, Bonsai, LXR との連携は削除されました。これにより、
    <kbd>cvsroot</kbd>, <kbd>cvsroot_get</kbd>, <kbd>bonsai_url</kbd>, 
    <kbd>lxr_url</kbd>, <kbd>lxr_root</kbd> パラメータが削除され、 <kbd>localconfig</kbd>
    から <kbd>cvsbin</kbd> も削除されました。</li>
  <li><kbd>docs_urlbase</kbd> パラメータが削除されました。ドキュメントがローカル
    にコンパイルされていない場合、"ヘルプ" やその他のドキュメントへのリンクは
    <a href="https://bugzilla.readthedocs.org">bugzilla.readthedocs.org</a>
    を自動的に指すようになります。</li>
  <li><kbd>mostfreqthreshold</kbd> パラメータが削除されました。</li>
  <li>公開される WebService メソッドを定義する拡張機能は、 <kbd>PUBLIC_METHODS</kbd> 
    でそれらのメソッドをリストする必要があります。リストされていないものについては、
    リモートからアクセスできなくなります。</li>
  <li><kbd>JSON::XS</kbd> が  <kbd>Data::Dumper</kbd> の代わりに <kbd>data/params</kbd>
    のファイルの読み書きに利用されるようになりました。これによりファイル読み込みの
    速度が改善しています。</li>
  <li>SQL スキーマに予約語の確認を行うテストが追加されました。</li>
  <li><kbd>Pod::Coverage</kbd> がサブルーチンのドキュメントの存在確認に利用されます。</li>
  <li>Bugzilla 本体のコードが <kbd>use base</kbd> でなく <kbd>use parent</kbd> 
    を利用できるものについては利用するようになりました。</li>
  <li><kbd>cgi_headers</kbd> フックが追加され、返される HTTP ヘッダのカスタマイズが
    可能になりました。</li>
  <li><kbd>user_check_account_creation</kbd> フックが追加され、新規ユーザアカウント
    作成時の追加の確認が可能になりました。</li>
</ul>

[% INCLUDE global/footer.html.tmpl %]

[% BLOCK db_req %]
  [% SET m = DB_MODULE.$db %]
  <h3 id="req_[% db FILTER html %]">[% m.name FILTER html %] ユーザ向け</h3>

  <ul>
    <li>[% m.name FILTER html %]
       [%+ '<span class="req_new">' IF db_new %]v[% m.db_version FILTER html %]
       [% '</span>' IF db_new %]
       </li>
    <li><strong>perl モジュール:</strong>
      [%+ m.dbd.module FILTER html %]
      [%+ '<span class="req_new">' IF dbd_new %]v[% m.dbd.version FILTER html %]
      [% '</span>' IF dbd_new %]</li>
  </ul>
[% END %]


[% BLOCK req_table %]
  <table class="req_table">
    <tr>
      <th>モジュール</th> <th>バージョン</th>
      [% IF include_feature %]
        <th>有効化される機能</th>
      [% END %]
    </tr>
    [% FOREACH req = reqs %]
      <tr>
        <td [% ' class="req_new"' IF new.contains(req.package) %]>
          [%- req.module FILTER html %]</td>
        <td [% ' class="req_new"' IF updated.contains(req.package)
                                     OR new.contains(req.package) %]>
          [%- IF req.version == 0 %]
            (Any)
          [% ELSE %]
            [%- req.version FILTER html %]
          [% END %]
        </td>
        [% IF include_feature %]
          <td>[% req.feature.join(', ') FILTER html %]</td>
        [% END %]
      </tr>
    [% END %]
</table>
[% END %]
