[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Frédéric Buclin.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  #%]

[%# INTERFACE:
  # abuser: identity of the user who created the (invalid?) token.
  # token_action: the action the token was supposed to serve.
  # expected_action: the action the user was going to do.
  # script_name: the script generating this warning.
  # alternate_script: the suggested script to redirect the user to
  #                   if he declines submission.
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% PROCESS global/header.html.tmpl title = "疑わしい操作が行われました"
                                   style_urls = ['skins/standard/global.css'] %]

[% IF abuser %]
  <div class="throw_error">
    <p>あなたが [% terms.Bugzilla %] の管理画面を閲覧する際に、トークンがランダムに生成され、
    データベースとあなたが読み込んだフォームの両方に保存されています。
    これは [% terms.Bugzilla %] から生成されたフォームからの送信の結果であることを確実にするためです。
    残念ながら、そのトークンは正しく一致しませんでした。
    これは、あなたが正しいページから送信した訳ではないことを意味します。
    以下のトークンが使用されました:</p>

    <table border="0" cellpadding="5" cellspacing="0">
      [% IF token_action != expected_action %]
        <tr>
          <th>期待したアクション:</th>
          <td>[% token_action FILTER html %]</td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <td>
            この操作は期待されたものと一致しません ([% expected_action FILTER html %])。
          </td>
        </tr>
      [% END %]

      [% IF abuser != user.identity %]
        <tr>
          <th>生成元:</th>
          <td>[% abuser FILTER html %]</td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <td>
            このトークンはあなたによって生成されていません。
            これは誰かがあなたを騙そうとした可能性があります!
          </td>
        </tr>
      [% END %]
    </table>

    <p>この問題を [%+ Param("maintainer") FILTER html %] に報告してください。</p>
  </div>
[% ELSE %]
  <div class="throw_error">
    あなたは正しいページから操作していません (あなたは '[% script_name FILTER html%]'
    スクリプトを処理する間、 <em>[% expected_action FILTER html %]</em>
    を操作するのに妥当なトークンを持っていません)。
    このような状態になった理由として考えられるのは:<br>
    <ul>
      <li>あなたはブラウザの "戻る" ボタンを、何らかの更新が成功したページで使用しました。
      これは無害ですが、良いことではありません。</li>
      <li>あなたはブラウザのロケーションバーに直接 URL を入力しました。
      これは安全だと考えられています。</li>
      <li>あなたは URL をクリックし、<b>あなたの同意なく</b>、この操作を行いました。
      この場合、この操作はかなり危険です。</li>
    </ul>
    この変更を本当に実行してもよろしいですか?
    続行することで、良くない結果を招くかもしれません。
  </div>

  <form name="check" id="check" method="post" action="[% script_name FILTER html %]">
    [% PROCESS "global/hidden-fields.html.tmpl"
               exclude="^(Bugzilla_login|Bugzilla_password)$" %]
    <input type="submit" id="confirm" value="変更を確認">
  </form>
  <p>もしくは、この変更を破棄し、<a href="[% alternate_script FILTER html %]">
    [%- alternate_script FILTER html %]</a> へ戻る。</p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
