[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  #
  # message:             message tag specifying a global/messages.html.tmpl
  #                      message
  # listselectionvalues: selection values to recreate the current user list.
  # editusers:           is viewing user member of editusers?
  # otheruser:           Bugzilla::User object of viewed user.
  # groups:              array of group information (name, grant type,
  #                      canbless) for viewed user.
  #%]

[% title = BLOCK %]ユーザ [% otheruser.identity FILTER html %] の編集[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  message = message
  style_urls = ['skins/standard/admin.css']
  doc_section = "administration.html#modifying-users"
  javascript_urls = [ 'js/field.js' ]
%]

[% PROCESS admin/users/listselectvars.html.tmpl
  listselectionvalues = listselectionvalues
%]

<form method="post" action="editusers.cgi">
<table id="admin_table_edit">
  [% PROCESS admin/users/userdata.html.tmpl
    editform  = 1
    editusers = editusers
    otheruser = otheruser
  %]
  [% IF groups.size %]
    <tr>
      <th>グループとの関係:</th>
      <td>
        <table id="group_membership">
          <tr>
            [% IF editusers %]
              <th colspan="3">
                他のユーザのこれらの権限を編集することができます
              </th>
            [% END %]
          </tr>
          <tr>
            [% IF editusers %]
              <th class="checkbox">|</th>
            [% END %]
            <th colspan="2">ユーザはこれらのグループに所属しています</th>
          </tr>
          [% FOREACH group = groups %]
            [% perms = permissions.${group.id} %]
            <tr class="[% 'in' IF perms.regexpmember || perms.derivedmember %]direct">
              [% IF editusers %]
                <td class="checkbox">
                  [% '[' IF perms.indirectbless %]
                  [% %]<input type="checkbox"
                              name="bless_[% group.id %]"
                              value="1"
                              [% ' checked="checked"' IF perms.directbless %]>
                  [% ']' IF perms.indirectbless %]</td>
              [% END %]
              <td class="checkbox">
                [% '[' IF perms.derivedmember %]
                [% '*' IF perms.regexpmember %]
                [%%]<input type="checkbox"
                           id="group_[% group.id %]"
                           name="group_[% group.id %]"
                           value="1"
                           [% ' checked="checked"' IF perms.directmember %]>
                [% '*' IF perms.regexpmember %]
                [% ']' IF perms.derivedmember %]</td>
              <td class="groupname">
                <label for="group_[% group.id %]">
                  <strong>[% group.name FILTER html %]:</strong>
                  [%+ group.description FILTER html_light %]
                </label>
              </td>
            </tr>
          [% END %]
        </table>
      </td>
    </tr>
  [% END %]

  <tr>
    <th>プロダクトへの責任:</th>
    <td>
      [% IF otheruser.product_responsibilities.size %]
        [% PROCESS admin/users/responsibilities.html.tmpl otheruser = otheruser %]
      [% ELSE %]
        <em>無し</em>
      [% END %]
    </td>
  </tr>

  <tr>
    <th>最終ログイン:</th>
    <td>
      [% IF otheruser.last_seen_date %]
        [% otheruser.last_seen_date FILTER html %]
      [% ELSE %]
        <em>なし</em>
      [% END %]
    </td>
  </tr>
</table>

<p>
  <input type="submit" id="update" value="変更を保存">
  <input type="hidden" name="userid" value="[% otheruser.id %]">
  <input type="hidden" name="action" value="update">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  [% INCLUDE listselectionhiddenfields %]

  または、 <a href="editusers.cgi?action=activity&amp;userid=[% otheruser.id %]"
        title="'[%- otheruser.login FILTER html %]' のアカウントの履歴を表示">アカウントの履歴を表示</a>
</p>
</form>
<p>
  ユーザがグループに所属している場合、チェックが入っているか、グレーの背景で表示されます。
  グレーの背景のもので、角括弧 ('[' ']') が付いているものは、
  直接所属している訳ではありませんが、他のグループから継承したものです。
  また、アスタリスク ('*') が付いているものは、正規表現によりグループに追加されたことを意味しています。
</p>
[% IF editusers %]
  <p>
    角括弧 ('[' ']') でくくられているチェックボックスは、他のグループに所属した結果、
    そのユーザが持っている権限であることを意味しています。
  </p>
[% END %]

[% IF Param('allowuserdeletion') && editusers %]
  <form method="post" action="editusers.cgi">
  <p>
    <input type="submit" id="delete" value="ユーザを削除">
    <input type="hidden" name="action" value="del">
    <input type="hidden" name="userid" value="[% otheruser.id %]">
    [% INCLUDE listselectionhiddenfields %]
  </p>
  </form>
[% END %]

<p>
  または、
  [% IF editusers %]
    <a href="editusers.cgi?action=add[% INCLUDE listselectionurlparams %]">ユーザを作成する</a>
    [% IF listselectionvalues %]
      か、
    [% END %]
  [% END %]
  [% IF listselectionvalues.matchtype != 'exact' %]
    <a href="editusers.cgi?action=list[% INCLUDE listselectionurlparams %]">ユーザの一覧に戻る</a>
  [% END %]
  [% IF editusers OR listselectionvalues %]
    か、
  [% END %]
  <a href="editusers.cgi">他のユーザを検索</a>
  することができます。
</p>

[% PROCESS global/footer.html.tmpl %]
