[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  #
  # editusers:          is viewing user member of editusers?
  # restrictablegroups: list of groups visible to the user:
  #                     id: group id
  #                     name: group name
  #%]
 

[% PROCESS global/header.html.tmpl
  title = "ユーザの検索"
  style_urls = ['skins/standard/editusers.css']
  onload = "document.forms['f'].matchstr.focus()"
  doc_section = "useradmin.html#user-account-search"
%]

[% PROCESS admin/users/listselectvars.html.tmpl
  listselectionvalues = listselectionvalues
%]

<form name="f" method="get" action="editusers.cgi">
<input type="hidden" name="action" value="list" />
<p>
<select id="matchvalue" name="matchvalue">
  <option value="login_name">ログイン名</option>
  <option value="realname">名前</option>
  <option value="userid">ユーザ ID</option>
</select>
が
<input size="32" name="matchstr" id="matchstr" />
<select name="matchtype">
  <option value="substr" selected="selected">部分一致 (大文字・小文字を区別しない)</option>
  <option value="regexp">正規表現 (大文字・小文字を区別しない)</option>
  <option value="notregexp">正規表現  (大文字・小文字を区別しない) に一致しない</option>
  <option value="exact">完全一致 (このユーザを検索する)</option>
</select>
と一致するユーザを
<input type="submit" id="search" value="検索" /></p>

[% IF restrictablegroups.size %]
  <p><input type="checkbox" name="grouprestrict" value="1" id="grouprestrict" />
  <label for="grouprestrict">グループ</label>
  <select name="groupid"
          onchange="document.forms['f'].grouprestrict.checked=true">
    [% FOREACH group = restrictablegroups %]
      <option value="[% group.id FILTER html %]">[% group.name FILTER html %]</option>
    [% END %]
  </select>
  に所属するユーザを検索する
</p>
[% END %]

<p>
  <input type="checkbox" name="enabled_only" value="1" id="enabled_only"
         checked="checked">
  <label for="enabled_only">有効なアカウントのみ</label>
</p>

</form>

[% IF editusers %]
  <p>
    また、 <a href="editusers.cgi?action=add">ユーザを追加</a>
    [%- IF listselectionvalues %]
      したり、
      <a href="editusers.cgi?action=list[% INCLUDE listselectionurlparams %]">ユーザの一覧を再表示</a>
    [%- END %]
    することができます。
  </p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
