[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

From: [% Param('mailfrom') %]
To: [% emailaddress %]
Subject: [% terms.Bugzilla %] メールアドレス変更要請
Importance: High
X-MSMail-Priority: High
X-Priority: 1
X-Bugzilla-Type: admin

[%+ terms.Bugzilla %] は、あなたのアカウントの登録メールアドレスを、
[%+ newemailaddress %] に変更する要請を受け取りました。

もし、この要請を行っていないなら、もしくはキャンセルしたいなら、次の URL
を開いてください :

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cxlem

何もしなければ、そして [% newemailaddress %] がこの要請を受け入れれば、
この要請は [% constants.MAX_TOKEN_AGE %] 日後
([% expiration_ts FILTER time("%B %e, %Y at %H:%M %Z") %]) に有効になります。
