[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # token: string. The token to be used in the user account creation.
  # email: email address of the user account.
  # expiration_ts: expiration date of the token.
  #%]

[% title = BLOCK %]'[% email FILTER html %]' のアカウント新規作成[% END %]
[% PROCESS "global/header.html.tmpl"
           title = title
           onload = "document.forms['confirm_account_form'].realname.focus();" %]

<p>
  アカウントを作成するには、パスワードを指定する必要があります。
  メールアドレスと実名 (設定されれば) はあなたの行った変更とともに表示されます。
</p>

<form id="confirm_account_form" method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="confirm_new_account">
  <table>
    <tr>
      <th>メールアドレス:</th>
      <td>[% email FILTER html %]</td>
    </tr>
    <tr>
      <th><small><i>(任意)</i></small> <label for="realname">実名</label>:</th>
      <td><input type="text" id="realname" name="realname" value=""></td>
    </tr>
    <tr>
      <th><label for="passwd1">パスワードの指定</label>:</th>
      <td>
        <input type="password" id="passwd1" name="passwd1" value="">
        (最低 [% constants.USER_PASSWORD_MIN_LENGTH FILTER none %] 文字)
      </td>
    </tr>
    <tr>
      <th><label for="passwd2">パスワードの確認</label>:</th>
      <td><input type="password" id="passwd2" name="passwd2" value=""></td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td><input type="submit" id="confirm" value="登録"></td>
    </tr>
  </table>
</form>

<p>
  アカウント作成はこれらの情報が
  <b>[% expiration_ts FILTER time("%B %e, %Y at %H:%M %Z") %]</b>
  までに送信されなければキャンセルされます。
</p>

<p>
  このメールアドレスでのアカウント作成をキャンセルしたい場合、
  下の取り消しボタンをクリックすれば、情報は破棄されます。
</p>

<form id="cancel_account_form" method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="cancel_new_account">
  <input type="submit" id="confirm" value="作成取り消し">
</form>

[% PROCESS global/footer.html.tmpl %]
