[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # token: random string used to authenticate the transaction.
  # expiration_ts: expiration date of the token.
  # email: email address of the new account.
  #%]

From: [% Param('mailfrom') %]
To: [% email %]
Subject: [% terms.Bugzilla %]: アカウント作成の確認
X-Bugzilla-Type: admin

[%+ terms.Bugzilla %] はあなたのメールアドレス ([% email %]) を利用した
新規アカウント作成の要請を受け取りました。

このメールアドレスでのアカウント作成を続行するには、次の URL を
[% expiration_ts FILTER time("%B %e, %Y at %H:%M %Z") %] までに訪問してください。

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=request_new_account

もし、このメールを [% expiration_ts FILTER time("%B %e, %Y at %H:%M %Z") %] より前に
受け取らなかったか、ほかのメールアドレスでアカウントを作成したい場合は、
次の URL から再試行できます。

[%+ urlbase %]createaccount.cgi

[% IF Param('createemailregexp') == '.*' && Param('emailsuffix') == '' %]
プライバシー保護のために: [% terms.Bugzilla %] は開かれた [% terms.bug %] 追跡システムです。
メールアドレスを含むほとんど全ての [% terms.bugs %] への変更は、誰でも見られます。
予備のメールアドレス、もしくは、Gmail, Yahoo, Hotmail などといったフリーメールアカ
ウントを登録することを、spam の防止の観点からお勧めします。
[% END %]

アカウントを作成しないことを望むなら、もしくは要請が何らかの間違いであるなら、
何もしないか次の URL を訪問してください。

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cancel_new_account

上のリンクが動作しないなら、もしくはアカウントに関して何か問題があるなら、
管理者 [% Param('maintainer') %] に問い合わせてみてください。
