[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% series_name = BLOCK %]
  [% series.category FILTER html %] /
  [%+ series.subcategory FILTER html %] /
  [%+ series.name FILTER html %]
[% END %]

[% PROCESS global/header.html.tmpl title = "シリーズの削除"
                                   style_urls = ['skins/standard/admin.css'] %]

<p>
  この操作では、データベースから完全にシリーズ <b>[% series_name FILTER none %]</b> 
  を削除します。すべてのこのシリーズに関連するデータは削除されます。
</p>
<p>
  [% IF series.creator %]
    このシリーズは <a href="mailto:[% series.creator.email FILTER html %]">
    [% series.creator.email FILTER html %]</a> により作成され、
  [% ELSE %]
    このシリーズは [% terms.Bugzilla %] により作成され、
  [% END %]

  [% IF series.public %]
    公開されています。
  [% ELSIF series.creator %]
    このユーザのみが利用できます。
  [% ELSE %]
    誰も利用できません。
  [% END %]
</p>

<p class="areyoureallyreallysure">このシリーズを本当に削除しますか ?</p>

<p>
  <a href="chart.cgi?action=delete&amp;series_id=[% series.series_id FILTER html %]&amp;token=
           [%- issue_hash_token([series.id, series.name]) FILTER uri %]">はい。削除します。</a> |
  <a href="chart.cgi">いいえ。チャートのページに戻ります。</a>
</p>

[% PROCESS global/footer.html.tmpl %]
