[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # products: an array of product objects this user can see.
  #
  # sortby: string. the column on which we are sorting the buglist.
  # reverse: boolean. True if we are reversing the current sort.
  # maxrows: integer. Max number of rows to display.
  # changedsince: integer. The number of days ago for the changedsince column.
  # openonly: boolean. True if we are only showing open bugs.
  # query_products: list of strings. The set of products we check for dups.
  #
  # Additionally, you need to fulfill the interface to
  # duplicates-table.html.tmpl.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% IF query_products.size %]
  [% title = BLOCK %]
    [% query_products.join(', ') FILTER html %] でもっとも頻繁に報告された [% terms.Bugs %]
  [% END %]
[% ELSE %]
  [% title = "もっとも頻繁に報告された $terms.Bugs" %]
[% END%]

[% PROCESS global/header.html.tmpl
   title = title
   style = ".resolved { background-color: #d9d9d9; color: #000000; }"
%]

<p>
  <a href="#explanation">このデータは何?</a>
  <br>
  <a href="#params">パラメータ変更</a>
</p>

[% PROCESS "reports/duplicates-table.html.tmpl" %]

[%# *** Parameters *** %]

[% bug_ids_string = vis_bug_ids.join(',') %]

<h3><a name="params">パラメータ変更</a></h3>

<form method="get" action="duplicates.cgi">
  <input type="hidden" name="sortby" value="[% sortby FILTER html %]">
  <input type="hidden" name="reverse" value="[% reverse %]">
  <input type="hidden" name="bug_id" value="[% bug_ids_string %]">
  <table>
    <tr>
      <td>ソートや抽出時に利用する項目:</td>
      <td>
        <input type="radio" name="sortvisible" id="entirelist" value="0"
          [%+ "checked" IF NOT sortvisible %]>
        <label for="entirelist">
          リスト全体
        </label>
        <br>
        <input type="radio" name="sortvisible" id="visiblelist" value="1"
          [%+ "checked" IF sortvisible %]>
        <label for="visiblelist">
          現在見ているリスト
        </label>
      </td>
      <td rowspan="4" valign="top">特定プロダクトに制限:</td>
      <td rowspan="4" valign="top">
        <select name="product" size="5" multiple="multiple">
          [% FOREACH p = products %]
            <option name="[% p.name FILTER html %]"
            [% " selected" IF lsearch(query_products, p.name) != -1 %]
            >[% p.name FILTER html %]</option>
          [% END %]
        </select>
      </td>
     </tr>

    <tr>
      <td>最大表示数:</td>
      <td>
        <input size="4" name="maxrows" value="[% maxrows %]">
      </td>
    </tr>

    <tr>
      <td>最終更新日:</td>
      <td>
        <input size="4" name="changedsince" value="[% changedsince %]"> 日以内
      </td>
    </tr>

    <tr>
      <td>
        <label for="openonly">
          未解決の [% terms.bugs %] のみ:
        </label>
      </td>
      <td>
        <input type="checkbox" name="openonly" id="openonly" value="1"
          [%+ "checked" IF openonly %]>
      </td>
    </tr>

  </table>

  <input type="submit" id="change" value="変更">
</form>

<form method="post" action="buglist.cgi">
  <input type="hidden" name="bug_id" value="[% bug_ids_string %]">
  <input type="hidden" name="order" value="最後の表示と同じ形式で">
  もしくは、<input type="submit" id="list" 
                                value="[% terms.bug %] リスト"> として表示
  (注: 順序は同じにはなりません)
</form>

<hr>

<b>
  <a name="explanation">"もっとも頻繁に報告された [% terms.Bugs %]" とは?</a>
</b>

<blockquote>
  もっとも頻繁に報告された [% terms.Bugs %] ページは、既知の未解決の [% terms.bugs %]
  で、よく報告されるものをリストしています。これは、[% terms.Bugzilla %] データベースから
  24 時間ごとに自動生成されるもので、[% terms.bugs %] の直接もしくは間接にかかわらず、
  重複となった数を積算しています。
  これは、重複となるべき [% terms.bugs %] が [% terms.Bugzilla %] に登録されることを、
  できるだけ防ぐために提供されているもので、QA エンジニアが [% terms.bugs %] を判定する
  時間を節約することにもつながります。
</blockquote>

<b>リストをどう使えばいいですか?</b>

<ul>
  <li>もっとも頻繁に報告された [% terms.bugs %] をチェック</li>
  <li>もしあなたの問題がリストにあれば:</li>

  <ul>
    <li>[% terms.bug %] 番号をクリックし、同じ [% terms.bug %] かを確認します。
      そして、追加の情報がある場合にはコメントを、
      もしくはテストしたプロダクトへ移動させたりします。
    </li>
  </ul>

  <li>あなたの問題がリストになければ:</li>

  <ul>
    <li><a href="query.cgi">似たような [% terms.bug %] が報告されていないか確認します</a>。</li>
    <li>もし、[% terms.Bugzilla %] にあなたの [% terms.bug %] を発見したら、
        新しい情報や追加の情報があればコメントしてください。</li>
    <li>まだ、[% terms.Bugzilla %] に登録されていなければ、
        <a href="enter_bug.cgi">新規 [% terms.bug %] 登録</a>をしてください。</li>
  </ul>
</ul>

[% PROCESS global/footer.html.tmpl %]
