[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # This template has no interface. It's a list of the available report
  # types in Bugzilla.
  #%]

[% PROCESS global/header.html.tmpl
  title = "レポート・チャート作成"
  doc_section = "using/reports-and-charts.html"
  style_urls = ['skins/standard/buglist.css']
%]

<p>
  Bugzilla では、既存のさまざまな方法で [% terms.bug %] 
  データベースの状態を見て、追跡することができます。
</p>

<h2>現状</h2>

<ul>
  <li id="report_search">
    <strong><a href="query.cgi">検索</a></strong> -
    [% terms.bugs %] リストの作成
  </li>
  <li id="report_tabular">
    <strong>
      <a href="query.cgi?format=report-table">表レポート</a>
    </strong> -
    1, 2, 3 次元の [% terms.bug %] 数の表を HTML か CSV で
  </li>
  [% IF feature_enabled('graphical_reports') %]
    <li id="report_graphical">
      <strong>
        <a href="query.cgi?format=report-graph">グラフレポート</a>
      </strong> -
      線グラフ、バー・パイチャート
    </li>
  [% END %]
  <li id="report_duplicates">
    <strong><a href="duplicates.cgi">重複</a></strong> -
    最もよく報告される [% terms.bugs %]。
  </li>
  [% Hook.process('current_state') %]
</ul>

[% IF feature_enabled('new_charts') OR feature_enabled('old_charts') %]
  <h2>時間変化</h2>

  <ul>
    [% IF feature_enabled('old_charts') %]
      <li id="old_charts">
        <strong><a href="reports.cgi">旧形式</a></strong> - 
        時間、プロダクトごとのデータベースの [% terms.bugs %] のステータス、
        解決方法のプロット。
      </li>
    [% END %]
    [% IF feature_enabled('new_charts') AND user.in_group(Param("chartgroup")) %]
      <li id="new_charts">
        <strong><a href="chart.cgi">新形式</a></strong> - 
        時間ごとの任意の検索結果のプロットで、より高機能。
      </li>
    [% END %]
  </ul>
[% END %]

[% Hook.process('end') %]

[% PROCESS global/footer.html.tmpl %]
