[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # field: object; the field object that you are trying to delete.
  # token: string; the delete_field token required to complete deletion.
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% title = BLOCK %]
  カスタムフィールド '[% field.name FILTER html %]' ([% field.description FILTER html %]) の削除
[% END %]

[% PROCESS global/header.html.tmpl
           title = title
           style_urls = ['skins/standard/admin.css']
           doc_section = "administration.html#deleting-custom-fields"
%]

<table id="admin_table">
  <tr class="column_header">
  <th>フィールド</th>
  <th>値</th>
</tr>
<tr>
  <td>カスタムフィールド</td>
  <td>[% field.name FILTER html %]</td>
</tr>
<tr>
  <td>説明</td>
  <td>[% field.description FILTER html %]</td>
</tr>
<tr>
  <td>型</td>
  <td>[% field_types.${field.type} FILTER html %]</td>
</tr>
</table>

<h2>確認</h2>

<p class="confirmation">
  本当にこのフィールドをデータベースから削除してもよろしいですか?<br>
  <em>この操作が可能なのは、フィールドが "用済み" となっているか、
  [% terms.abug FILTER html %] で利用されていない場合のみです。</em>
</p>

<a href="editfields.cgi?action=delete&amp;name=[% field.name FILTER html %]&amp;token=[% token FILTER html %]">
  フィールド '[% field.description FILTER html %]' を削除</a>

<p>
  <a href="editfields.cgi">カスタムフィールドの一覧に戻る</a>
</p>

[% PROCESS global/footer.html.tmpl %]
