[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # none
  #%]

[% javascript = BLOCK %]
  [% INCLUDE "admin/custom_fields/cf-js.js.tmpl" %]
[% END %]

[% PROCESS global/header.html.tmpl
           title = "カスタムフィールドの追加"
           onload = "document.getElementById('new_bugmail').disabled = true;"
           javascript_urls = [ 'js/util.js' ]
           doc_section = "custom-fields.html#add-custom-fields"
           style_urls = ['skins/standard/admin.css']
%]

[%# set initial editability of fields such as Reverse Relationship Description %]
<script type="text/javascript">
YAHOO.util.Event.onDOMReady(function() {onChangeType(document.getElementById('type'))});
</script>

<p>
  カスタムフィールドを追加する [% terms.Bugzilla %] のインターフェースは非常に複雑です。
  [% terms.Bugzilla %] に慣れていない管理者は多くのカスタムフィールドを作りがちですが、
  それはユーザから『複雑すぎる』と言われてしまうでしょう。
  新たにカスタムフィールドを追加する前に、よく考えてください。
  その機能は [% terms.Bugzilla %] に既にあるかもしれません。
  また、単にその機能を有効にしていないだけかもしれません。
</p>

<ul>
  <li>カスタムフィールド名は標準のフィールドと区別可能なようにするために、
      "cf_" で始まる名前になります。
      もし、"cf_" をフィールド名の先頭から削除しても、自動的に付加されます。</li>
  <li>説明はフィールドを説明する非常に短いテキストで、
      ユーザインターフェースでこのフィールドのラベルに利用されます。</li>
</ul>

<form id="add_field" action="editfields.cgi" method="GET">
  [% PROCESS "admin/custom_fields/edit-common.html.tmpl" %]
  <input type="hidden" name="action" value="new">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  <input type="submit" id="create" value="作成">
</form>

<p>
  <a href="editfields.cgi">カスタムフィールドの一覧に戻る</a>
</p>

[% PROCESS global/footer.html.tmpl %]
