[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # field: Bugzila::Field; the current field being edited
  #%]

[% title = BLOCK %]
  カスタムフィールド '[% field.name FILTER html %]' ([% field.description FILTER html %]) の編集
[% END %]

[% javascript = BLOCK %]
  [% INCLUDE "admin/custom_fields/cf-js.js.tmpl" %]
[% END %]

[% PROCESS global/header.html.tmpl
           title = title
           onload = "toggleCheckbox(document.getElementById('enter_bug'), 'new_bugmail');"
           javascript_urls = [ 'js/util.js' ]
           doc_section = "administration.html#editing-custom-fields"
           style_urls = ['skins/standard/admin.css']
%]

<p>
  説明はフィールドを説明する非常に短いテキストで、
  ユーザインターフェースでこのフィールドのラベルに利用されます。
</p>

<form id="edit_field" action="editfields.cgi" method="GET">
  [% PROCESS "admin/custom_fields/edit-common.html.tmpl" field = field %]
  <input type="hidden" name="action" value="update">
  <input type="hidden" name="name" value="[% field.name FILTER html %]">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  <input type="submit" id="edit" value="更新">
</form>

[% IF field.obsolete %]
<p>
  <a href="editfields.cgi?action=del&amp;name=[% field.name FILTER html %]">このカスタムフィールドをデータベースから削除する。</a><br>
  この操作が可能なのは、フィールドが "用済み" となっているか、
  [% terms.abug FILTER html %] で利用されていない場合のみです。<br>
</p>
[% END %]

<p>
  <a href="editfields.cgi">カスタムフィールドの一覧に戻る</a>
</p>

[% PROCESS global/footer.html.tmpl %]
