[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frederic Buclin <LpSolit@gmail.com>
  #                 Marc Schumann <wurblzap@gmail.com>
  #%]
[%
   title = "ユーザ認証"
   desc = "ユーザ認証に関するポリシーの設定"
%]

[% param_descs = {
  auth_env_id => "外部認証システムが利用する、ユーザのユニークな ID を格納する" _
                 "環境変数です。存在しないか、この方式の認証を利用しない場合は、" _
                 "この設定を空白にしてください。",

  auth_env_email => "外部認証システムが利用する、ユーザのメールアドレスを格納する" _
                    "環境変数です。環境変数による認証を利用する場合は、このパラメータ" _
                    "は必須です。この方式の認証を利用しない場合は、空白にしてください。",

  auth_env_realname => "外部認証システムが利用する、ユーザの実名を格納する環境変数" _
                       "です。存在しないか、この方式の認証を利用しない場合は、" _
                       "この設定を空白にしてください。",

  user_info_class => "ユーザのログイン情報を得るための方法の設定です。ひとつ以上
                      の項目を選択可能です。最初のものがなにも返さなければ二つ目を試す、
                      を繰り返します。<br>
                      項目は以下のようになります。
                      <dl>
                        <dt>CGI</dt>
                        <dd>
                          CGI フォームインターフェース経由でユーザ名とパスワードを聞く
                        </dd>
                        <dt>Env</dt>
                        <dd>
                          事前認証情報を環境変数経由で渡される場合
                        </dd>
                      </dl>",

  user_verify_class => "user_info_class で得られた認証情報を確認する方法です。
                        ひとつ以上の項目を選択可能です。最初のものがなにも返さなければ
                        二つ目を試す、を繰り返します。<br>
                        項目は以下のようになります。
                        <dl>
                          <dt>DB</dt>
                          <dd>
                            ${terms.Bugzilla} の組み込み認証方式。最も一般的な選択です。
                          </dd>
                          <dt>RADIUS</dt>
                          <dd>
                            RADIUS サーバを利用した RADIUS 認証方式です。
                            この方法はまだ実験的ですので、詳細に関しては、
                            $terms.Bugzilla のドキュメントを参照してください。
                            この方式を利用するには、
                            <a href=\"?section=radius\">追加パラメータ</a>
                            を設定する必要があります。
                          </dd>
                          <dt>LDAP</dt>
                          <dd>
                            LDAP サーバを利用した LDAP 認証方式です。
                            詳細に関しては $terms.Bugzilla のドキュメントを参照
                            してください。この方式を利用するには、
                            <a href=\"?section=ldap\">追加パラメータ</a>
                            の設定が必要です。
                          </dd>
                        </dl>",

  rememberlogin => "セッションクッキーの管理方法
                    <ul>
                      <li>
                        on - セッションクッキーに期限はありません。
                        (ブラウザごとに1度ログインするだけでよくなります)
                      </li>
                      <li>
                        off - セッションクッキーはユーザがセッションを終了するまでです。
                        (ブラウザを立ち上げなおすとログインが必要です)
                      </li>
                      <li>
                        defaulton/defaultoff - 既定の動作は上の通りですが、
                        $terms.Bugzilla はユーザの設定値も利用します。
                      </li>
                    </ul>",

  loginnetmask => "単一 IP アドレス以上に対してログインを有効にするオプションを選択した" _
                  "ユーザがログイン可能なネットマスクのビット数です。32 に設定すると、" _
                  "無効になります。<br>" _
                  "これを有効にするとシステムのセキュリティーが低下します。",

  requirelogin => "有効なら、トップページ以外のシステムへのすべてのアクセスでログインが" _
                  "必要となります。匿名ユーザはなにもできません。",

  emailregexp => "有効なメールアドレスを定義する正規表現です。" _
                 "デフォルトは正規のメールアドレスにマッチするようになっています。" _
                 "他のよくある設定は <tt>^[^@]+$</tt> で、@ が入らないローカルの" _
                 "ユーザ名となります。",

  emailregexpdesc => "<tt>emailregexp</tt> パラメータで許可されている有効なメールアドレス" _
                     "がなにであるかを説明する (英語の) 説明です。",

  emailsuffix => "メールが送信されるときにメールアドレスに追加される文字列です。" _
                 "<tt>emailregexp</tt> パラメータをローカルユーザ名に限定した場合に、" _
                 "username@my.local.hostname へメールを送信するために有用です。",

  createemailregexp => "新規ユーザ登録機能で自分で登録するのが許されるメールアドレス" _
                       "を定義する正規表現です。デフォルト (.*) は、" _
                       "emailregexp に適合するアカウントなら作成可能となります。" _
                       "空白にした場合、ユーザ自身での新規登録が一切できなくなり、" _
                       "管理者による作成のみが可能になります。"
}

%]
