[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "管理ポリシー"
   desc = "アカウントポリシーの設定"
%]

[% param_descs = {
  allowbugdeletion => "プロダクトとコンポーネントの編集画面から、すべての関連する" _
                      "$terms.bugs をプロダクト (やコンポーネント) の削除時に削除できるように" _
                      "する。これはかなり恐ろしい操作ですが、そういった削除操作を行う" _
                      "ためにはこのオプションを有効にする必要があります。",

  allowemailchange => "ユーザがメールアドレスを設定画面から変更可能になります。" _
                      "変更前後の両方のメールアドレスでの確認作業が変更には必要です。" _
                      "そのため、このオプションを有効にしてもユーザが無効なメールアドレスを" _
                      "利用することはできません。",

  allowuserdeletion => "ユーザ編集画面ではユーザアカウントの削除も可能です。" _
                       "Bugzilla は、ユーザを削除した際に不整合が発生する可能性が" _
                       "あることを警告しますが、そういった削除操作が必要になることがあるかもしれません。" _
                       "このオプションを、そういった削除作業が必要になる前に有効にしてください。",

}
%]