[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% 
   title = "高度な設定"
   desc = "高度な設定項目項目です。"
%]

[% sts_desc = BLOCK %]
  <a href="http://en.wikipedia.org/wiki/Strict_Transport_Security">Strict-Transport-Security</a>
  ヘッダを SSL 接続の際の HTTP レスポンスヘッダで送ることができます。
  有効にするとブラウザに対してあなたのドメインで SSL 接続を常に有効にし、
  無効な証明書を受け入れなくさせることで、SSL 接続をより安全にできます。
  しかしながら、<code>ssl_redirect</code> パラメータが有効で、かつサイトにおける
  Bugzilla が一つ (たとえば、<code>urlbase</code> が
  <code>http://bugzilla.example.com/</code> であるような場合) しかなく、
  かつ将来にわたって <code>ssl_redirect</code> パラメータを無効にする
  予定がない場合にのみ利用してください。
  <ul>
    <li>
      off - Strict-Transport-Security を送らない
    </li>
    <li>
      this_domain_only - Strict-Transport-Security ヘッダを送るが、
      現在のドメインでのみ送る
    </li>
    <li>
      include_subdomains - Strict-Transport-Security を 
      <code>includeSubDomains</code> フラグとともに利用すると、
      全てのサブドメインに対して変更を強制します。特にこれは、
      Bugzilla ドメインのサブドメインとして
      <code>attachment_base</code> が運用されているときに利用すると有用です。
    </li>
  </ul>
[% END %]

[% param_descs = {
  cookiedomain => "Bugzilla クッキーのドメイン。通常空白にしてください。" _
                  "'www.foo.com' にサイトがあって、これを '.foo.com' に指定すると、" _
                  "'bar.foo.com' といったドメインからも Bugzilla クッキーに" _
                  "アクセスできるようになります。同じウェブサーバに、ひとつ以上の" _
                  "ホスト名が付いていて、Bugzilla クッキーを共有したい場合には" _
                  "有用です。",

  inbound_proxies =>
    "Bugzilla への内向き通信がプロキシ経由の場合、"
    _ "Bugzilla はすべてのユーザの IP アドレスがプロキシのものと"
    _ "誤解してしまいます。このパラメータにカンマ区切りの IP アドレスの"
    _ "リストを設定すれば、Bugzilla はそれらの IP アドレスからの"
    _ " <code>X-Forwarded-For</code> ヘッダを解釈し、"
    _ "その値をユーザの IP アドレスとして認識します。",

  proxy_url => "Bugzilla が新リリースのデータを取得するには、<var>upgrade_notification</var>" _
               "パラメータにあるようにウェブにアクセスする必要があります。" _
               "プロキシの内側に設置されている場合、ウェブサーバのグループが HTTP_PROXY " _
               "環境変数を定義していなければ、ここに URL を入力する必要があります。" _
               "もし、認証が必要なら<code>http://user:pass@proxy_url/</code>" _
               "形式を利用してください。",

  strict_transport_security => sts_desc,
} %]
