[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "添付"
   desc = "添付のオプション設定"
%]

[% param_descs = {
  allow_attachment_display =>
    "有効な場合、ブラウザが添付ファイルの MIME 型をサポートしていれば、"
    _ "ユーザはブラウザから添付を見ることができるようになります。"
    _ "無効の場合、ブラウザが表示可能な場合でもダウンロードが強制されます。"
    _ "<p>信頼できないユーザが、直接ブラウザで開いた場合に損害を与える"
    _ "可能性のあるファイルを添付できるようなサイトで利用可能な"
    _ "セキュリティー制限です。</p>"
    _ "<p>有効にする場合は、<var>attachment_base</var> パラメータを設定することが"
    _ "強く推奨されます。",

  attachment_base =>
    "<var>allow_attachment_display</var> パラメータが有効である場合、"
    _ "悪意のある添付によりクッキーを奪取されたり Bugzilla "
    _ "にあなたのアカウントで攻撃を行われたりする可能性があります。"
    _ "<p>これを防ぐために追加のセキュリティー対策を必要とする場合、"
    _ "このパラメータを Bugzilla の <var>urlbase</var> や "
    _ "<var>sslbase</var> でない別の URL に設定してください。"
    _ "たとえば、異なるドメイン名でこの Bugzilla "
    _ "サイトとまったく同じ場所を指すものなどです。</p>"
    _ "<p>注: もし"
    _ " <a href=\"editparams.cgi?section=advanced#cookiedomain_desc\"><var>cookiedomain</var>"
    _ "パラメータ</a> を設定している場合、<var>attachment_base</var> には、"
    _ " <var>cookiedomain</var> と <em>まったく</em> "
    _ "マッチしないドメイン名にすべきです。</p>"
    _ "<p>この追加されたセキュリティー向けに、添付ファイルにアクセスしたときに"
    _ "添付が追加された $terms.bug を示す ID に置換される <var>%bugid%</var> を URL "
    _ "に挿入することができます。これにより、添付ファイルからのアクセスは"
    _ "同じ $terms.bug への添付にのみに制限できます。なお、もちろん、"
    _ "この機能を使ったときに利用される可能性のあるすべてのドメイン名"
    _ " (たとえば <kbd>1234.your.domain.com</kbd>) はすべて同じ Bugzilla "
    _ "のインスタンスを示さなければならないことに注意してください。",

  allow_attachment_deletion => "有効なら、管理者が添付ファイルを削除できます。",

  maxattachmentsize => "データベースに保存する添付ファイルの最大サイズ (kB) です。" _
                       "これ以上のサイズのファイルを ${terms.abug} に添付しようとした場合、" _
                       "Bugzilla は<a href=\"#maxlocalattachment\"><var>maxlocalattachment</var> " _
                       "パラメータ</a> をウェブサーバのローカルにファイルを保存するか" _
                       "を決定するために調べます。両方の制限を超えている場合、" _
                       "添付は拒否されます。" _
                       "両方のパラメータを 0 に設定すると ${terms.bugs} にファイルを添付できなくなります。",

  maxlocalattachment => "ユーザが '巨大ファイル' と指定し、サーバのローカルに保存される" _
                        "添付ファイルの最大サイズ (MB) です。" _
                        "0 にすると、添付ファイルは一切ローカルに保存されません。",
  maxlocalattachment => "ウェブサーバのローカルに保存する添付ファイルの最大サイズ (kB) " _
                        "です。<a href=\"#maxattachmentsize\"><var>maxattachmentsize</var> " _
                        "パラメータ</a> 以下に設定すると" _
                        "サーバのローカルには一切保存されなくなります。" _
                        "データベースでなくディスクに全ての添付を保管したい場合、" _
                        "<a href=\"#maxattachmentsize\"><var>maxattachmentsize</var>" _
                        "パラメータ</a>を 0 にしてください。",


  xsendfile_header =>
    "既定では、添付ファイルは CGI スクリプトにより提供されます。" _
    "もし巨大ファイルに対してローカルへの保存を" _
    "<a href=\"#maxlocalattachment\"><var>maxlocalattachment</var> パラメータ</a> " _
    "で有効にすれば、メモリに全体をコピーせずにウェブサーバが直接ファイルを提供" _
    "するようにでき、パフォーマンス改善を行うことができます。このためには、" _
    "以下のようにウェブサーバを適切に設定し、正しいヘッダを設定してください。" _
    "<ul>" _
    "<li>Apache: <code>X-Sendfile</code> ヘッダ; " _
    "<code><a href=\"https://tn123.org/mod_xsendfile/\">mod_xsendfile</a></code> モジュール</li>を参照" _
    "<li>nginx: <code>X-Accel-Redirect</code> ヘッダ;  "_
    "<a href=\"http://wiki.nginx.org/X-accel\">ウェブサーバドキュメント</a> を追加設定の参考にしてください</li>" _
    "<li>lighttpd: <code>X-LIGHTTPD-send-file</code> ヘッダ;  " _
    "<a href=\"http://redmine.lighttpd.net/projects/1/wiki/X-LIGHTTPD-send-file\">ウェブサーバドキュメント</a> を追加設定の参考にしてください</li>" _
    "</ul><br>" _
    "ただし、データベースに保管されている添付については、 apache/nginx/lighttpd " _
    "ともに CGI によって処理されます。"

}
%]
