[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "ユーザ認証"
   desc = "ユーザ認証に関するポリシーの設定"
%]

[% param_descs = {
  auth_env_id => "外部認証システムが利用する、ユーザのユニークな ID を格納する" _
                 "環境変数です。存在しないか、この方式の認証を利用しない場合は、" _
                 "この設定を空白にしてください。",

  auth_env_email => "外部認証システムが利用する、ユーザのメールアドレスを格納する" _
                    "環境変数です。環境変数による認証を利用する場合は、このパラメータ" _
                    "は必須です。この方式の認証を利用しない場合は、空白にしてください。",

  auth_env_realname => "外部認証システムが利用する、ユーザの実名を格納する環境変数" _
                       "です。存在しないか、この方式の認証を利用しない場合は、" _
                       "この設定を空白にしてください。",

  user_info_class => "ユーザのログイン情報を得るための方法の設定です。ひとつ以上
                      の項目を選択可能です。最初のものがなにも返さなければ二つ目を試す、
                      を繰り返します。<br>
                      項目は以下のようになります。
                      <dl>
                        <dt>CGI</dt>
                        <dd>
                          CGI フォームインターフェース経由でユーザ名とパスワードを聞く
                        </dd>
                        <dt>Env</dt>
                        <dd>
                          事前認証情報を環境変数経由で渡される場合
                        </dd>
                      </dl>",

  user_verify_class => "user_info_class で得られた認証情報を確認する方法です。
                        ひとつ以上の項目を選択可能です。最初のものがなにも返さなければ
                        二つ目を試す、を繰り返します。<br>
                        項目は以下のようになります。
                        <dl>
                          <dt>DB</dt>
                          <dd>
                            Bugzilla の組み込み認証方式。最も一般的な選択です。
                          </dd>
                          <dt>RADIUS</dt>
                          <dd>
                            RADIUS サーバを利用した RADIUS 認証方式です。
                            詳細に関しては
                            Bugzilla のドキュメントを参照してください。
                            この方式を利用するには、
                            <a href=\"?section=radius\">追加パラメータ</a>
                            を設定する必要があります。
                          </dd>
                          <dt>LDAP</dt>
                          <dd>
                            LDAP サーバを利用した LDAP 認証方式です。
                            詳細に関しては Bugzilla のドキュメントを参照
                            してください。この方式を利用するには、
                            <a href=\"?section=ldap\">追加パラメータ</a>
                            の設定が必要です。
                          </dd>
                        </dl>",

  rememberlogin => "セッションクッキーの管理方法
                    <ul>
                      <li>
                        on - セッションクッキーに期限はありません。
                        (ブラウザごとに1度ログインするだけでよくなります)
                      </li>
                      <li>
                        off - セッションクッキーはユーザがセッションを終了するまでです。
                        (ブラウザを立ち上げなおすとログインが必要です)
                      </li>
                      <li>
                        defaulton/defaultoff - 既定の動作は上の通りですが、
                        Bugzilla はユーザの設定値も利用します。
                      </li>
                    </ul>",

  requirelogin => "有効なら、トップページ以外のシステムへのすべてのアクセスでログインが" _
                  "必要となります。匿名ユーザはなにもできません。",

  emailregexp => "" _
                 "" _
                 "他のよくある設定は <tt>^[^@]+$</tt> で、@ が入らないローカルの" _
                 "ユーザ名となります。",

  webservice_email_filter =>
    "WebService API で返されるメールアドレスに対し、ユーザがログインしているかどうか" _
    "でフィルターするかどうかです。これは、ウェブ経由でのメールアドレスのフィルタ" _
    "と同様に働きます。<var>requirelogin</var> が有効なら、このパラメータは" _
    "Bugzilla を利用するためにログインが必要になり効果はなくなります。",

  emailregexp =>
    "有効なメールアドレスを定義する正規表現です。" _
    "デフォルトは正規のメールアドレスにマッチするようになっています。" _
    "<a href=\"http://tools.ietf.org/html/rfc2822#section-3.4.1\">RFC 2822</a> " _
    "の仕様に従うすべてのメールアドレスを受け入れるには <kbd>.*</kbd> に設定してください。" _
    "もうひとつのよくある設定値は <kbd>^[^@]+$</kbd> で、" _
    "@ を含まないローカルのユーザ名を意味します。",

  emailregexpdesc => "<kbd>emailregexp</kbd> パラメータで許可されている有効なメールアドレス" _
                     "がなにであるかを説明する (英語の) 説明です。",

  emailsuffix => "メールが送信されるときにメールアドレスに追加される文字列です。" _
                 "<var>emailregexp</var> パラメータをローカルユーザ名に限定した場合に、" _
                 "username@my.local.hostname へメールを送信するために有用です。",

  createemailregexp => "新規ユーザ登録機能で自分で登録するのが許されるメールアドレス" _
                       "を定義する (大文字・小文字を無視した) 正規表現です。デフォルト (.*) は、" _
                       "emailregexp に適合するアカウントなら作成可能となります。" _
                       "空白にした場合、ユーザ自身での新規登録が一切できなくなり、" _
                       "管理者による作成のみが可能になります。"

  password_complexity =>
    "パスワードに要求する複雑さを指定してください。どの場合でも、パスワードは" _
    "最低でも ${constants.USER_PASSWORD_MIN_LENGTH} 文字ないといけません。" _
    "<ul><li>no_constraints - 要求なし</li>" _
    "<li>mixed_letters - パスワードは最低一文字の大文字・小文字の両方を含む" _
    "必要がある</li>" _
    "<li>letters_numbers - パスワードは大文字・小文字・数字の全てを最低一文字" _
    "含む必要がある</li>" _
    "<li>letters_numbers_specialchars - パスワードは英文字、数字、" _
    "特殊文字をそれぞれ最低一文字含む必要がある</li>"

  password_check_on_login =>
    "設定されていれば、$terms.Bugzilla はユーザがウェブインターフェースでログイン" _
    "するたびにパスワードが現在の複雑さと最低文字数の要求を満たしているかを確認" _
    "します。もし満たしていない場合、ユーザはログインできず、パスワードをリセット" _
    "するメッセージを受信します。"
}

%]
