[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "$terms.Bug 変更ポリシー"
   desc = "$terms.bug 変更ポリシーの設定"
%]

[% accept_status = display_value('bug_status', 'IN_PROGRESS') FILTER html %]

[% param_descs = {
  duplicate_or_move_bug_status => "$terms.abug を重複とするや、他のサイトへ移動するときに、" _
                                  "ここで設定した $terms.bug ステータスを適用します。",

  letsubmitterchoosepriority => "有効なら、$terms.bugs の登録者が ${terms.bug} " _
                                "の初期重要度を選択できます。" _
                                "無効なら、すべての $terms.bugs には下で設定する、" _
                                "既定の重要度が設定されます。",

  letsubmitterchoosemilestone => "有効なら、$terms.bugs の登録者が ${terms.bug} " _
                                 "のターゲットマイルストーンを選択できます。" _
                                 "無効なら、すべての $terms.bugs にはプロダクトの既定の" _
                                 "マイルストーンが設定されます。",

  musthavemilestoneonaccept => "ターゲットマイルストーンを利用している場合、" _
                               "${terms.bug} を担当する時にマイルストー
                               ンを設定しなくてはいけないようにしますか ?",
  musthavemilestoneonaccept => 
    "${field_descs.target_milestone} を利用している場合、${terms.abug} のステータスを"
    _ "${accept_status} に変更するときにマイルストーンを設定しなくてはいけないように"
    _ "しますか？",

  commentonchange_resolution => "有効なら、$terms.bug の解決方法を変更するときに、" _
                                "短いコメントを入力しなければならなくなります。",

  commentonduplicate => "有効なら、$terms.bug を重複とするときに" _
                        "短いコメントを入力しなければならなくなります。",

  noresolveonopenblockers => "未解決の依存関係がある時に、$terms.bugs を解決済みと" _
                             "することができなくなります。",
}

%]
