[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "$terms.Bug フィールド"
   desc = "表示したいフィールドの選択"
%]

[% param_descs = {
  useclassification => "有効なら、$terms.Bugzilla はプロダクトを特定の classification " _
                       "と紐付けます。'editclassification' 権限がなければ、" _
                       "classification を編集することはできません。",

  usetargetmilestone => "ターゲットマイルストーンを利用しますか ?",

  useqacontact => "QA コンタクトフィールドを利用しますか ?",

  usestatuswhiteboard => "ステータスホワイトボードを利用しますか ?",

  use_see_also => 
    "参照先フィールドを利用するかどうか。この機能は、"
    _ "他のサイトでの $terms.bugs を参照できるようにします。無効にしても、"
    _ "すでに $terms.bugs に設定された $terms.bug の参照 (URLs) は"
    _ "表示され続け、削除も可能です。",

  defaultpriority => "新規 $terms.bugs における既定の重要度",

  defaultseverity => "新規 $terms.bugs における既定の深刻度",

  defaultplatform => "$terms.bug 入力フォームで既定値となるプラットフォームの値です。" _
                     "空白にすると、$terms.Bugzilla はブラウザの情報を元に既定の" _
                     "プラットフォームの値を決定します。",

  defaultopsys => "$terms.bug 入力フォームで既定値となる OS の値です。<br>" _
                  "空白にすると、$terms.Bugzilla はブラウザの情報を元に既定の" _
                  "OSの値を決定します。",
}

%]