[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frederic Buclin <LpSolit@gmail.com>
  #%]

[% 
   title = "必須の設定"
   desc = "$terms.Bugzilla の最低限の動作に必須のパラメータ" 
%]

[% param_descs = {
  urlbase => "この $terms.Bugzilla の URL の共通する先頭部分 (トップページの URL)",

  sslbase => "この $terms.Bugzilla の HTTPS (SSL) 接続での URL の共通する先頭部分。",

  ssl_redirect =>
    "有効の場合、$terms.Bugzilla はすべてのページが SSL でアクセスされるよう、" _
    "HTTP でのアクセスを HTTPS へ <tt>sslbase</tt> パラメータを元にリダイレクトします。" _
    "また、配信されるメールにおいても $terms.Bugzilla は <tt>sslbase</tt> を " _
    "<tt>urlbase</tt> の代わりに利用するようになります。",

  cookiepath => "$terms.Bugzilla のクッキーを利用できる範囲を制限するための、ウェブ" _
                "サイトのルートに対する相対パスです。通常、これはあなたの URL の" _
                "ベースの部分となり、/ (単一のスラッシュ) から始まります。" _
                "たとえば、$terms.Bugzilla が 'http://www.somedomain.com/bugzilla/'" _
                "で提供されているなら、このパラメータは /bugzilla/ となるべきです。" _
                "/ に設定すると、同じウェブサーバか同じ仮想ホストで提供されている" _
                "すべてのサービスに $terms.Bugzilla クッキーが公開されます。",

} %]
