[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "依存グラフ"
   desc = "依存グラフのオプション設定"
%]

[% param_descs = {
  webdotbase => "${terms.bugs} の依存グラフを表示することが可能です。
                 この機能を利用する場合、以下のいずれかを設定する必要があります。
                 <ul>
                   <li>
                     'dot' コマンドへの完全なパス
                     (<a href=\"http://www.graphviz.org\">GraphViz</a> の一部です)
                     を入力するとローカルでグラフを生成します。
                   </li>
                   <li>
                     URL
                     <a href=\"http://www.research.att.com/~north/cgi-bin/webdot.cgi\">webdot
                     パッケージ</a> がインストールされた URL の先頭部分を入力すると、
                     グラフの生成をリモートサーバに依頼します。
                   </li>
                   <li>
                     空白にすると依存グラフ機能を無効にします。
                   </li>
                 </ul>
                 既定値は誰でも利用可能な webdot サーバになっています。この値を変更する場合、
                 webdot サーバがあなたの webdot ディレクトリのファイルを読めるように設定する必要があります。
                 Apache では .htaccess ファイルを編集することでできますが、
                 その他のシステムでの方法はまちまちです。
                 .htaccess ファイルがなくなった場合は、<kbd>checksetu.pl</kbd> で再生成できます。"}
%]