[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "グループ権限"
   desc = "セキュリティーグループの利用方法の設定"
%]

[% param_descs = {
  makeproductgroups => "有効の場合、$terms.Bugzilla は $terms.abug グループをデータベース中で" _
                       "それぞれのプロダクトに関連付け、${terms.bugs} で利用します。",

  chartgroup => "'新規チャート作成' 機能を利用可能なユーザグループです。" _
                "管理者は、これを全体に有効にする前に、公開されたカテゴリやシリーズ定義に" _
                "隠すべき情報が含まれていないことを確認してください。" _
                "空白の場合、誰も新規チャート作成ができなくなります。",

  insidergroup => "プライベートコメントや添付を参照・変更できるユーザグループ名です。",

  timetrackinggroup => "所要時間情報を参照・変更できるユーザグループ名です。",

  querysharegroup => "保存した検索をほかのユーザと共有できるユーザグループ名です。",

  debug_group => "$terms.bug リストやレポートを閲覧する際に実際の SQL クエリを" _
                 "表示することができるユーザのグループ名です。",

  usevisibilitygroups => "ユーザの閲覧制限を特定のグループのみに限りますか ?",
  
  strict_isolation => "ユーザがバグに対する変更ができないプロダクトにおいて、" _
                      "担当者にする、" _
                      "qa コンタクト にする、" _
                      "CC リストに追加する、" _
                      "依存関係を追加したり削除したりする、" _
                      "ことを禁止しますか ?", 

 }
%]
