[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "LDAP"
   desc = "LDAP を認証方法として選択する前にここを設定してください"
%]

[% param_descs = {
  LDAPserver => "LDAP サーバ名 (とそのオプションの指定) " _
                "(e.g. ldap.company.com, or ldap.company.com:portnum) です。" _
                "以下のような URI 形式も利用可能です。"_
                "ldaps://ldap.company.com (暗号化接続)、" _
                "ldapi://%2fvar%2flib%2fldap_sock (socket でローカル接続)" _
                "複数のホスト名や URI をカンマ区切りで指定できます。" _
                "最初に接続できるまで順に試されます。",

  LDAPstarttls => "サーバへの LDAP 接続が完了したあとに暗号化通信に移行するかどうか。",

  LDAPbinddn => "LDAP サーバが匿名接続でなく binddn やパスワードを要求する場合、" _
                "ここに入力してください。" _
                "(例 cn=default,cn=user:password)" _
                "通常の匿名接続の場合は空白のままにしてください。",

  LDAPBaseDN => "ユーザを認証する際の BaseDN です。" _
                "(例 ou=People,o=Company).",

  LDAPuidattribute => "ユーザのログイン名が格納されている属性名です。",

  LDAPmailattribute => "$terms.Bugzilla のユーザ名として利用される、" _
                       "ユーザのメールアドレスが格納されている属性名です。" _
                       "このパラメータが空の場合、$terms.Bugzilla は LDAP ユーザ名" _
                       "を $terms.Bugzilla ユーザ名として利用します。" _
                       "この場合、\"emailsuffix\" パラメータも設定する必要があるでしょう。",

  LDAPfilter => "有効なユーザリストをフィルタリングするためのフィルタ指定子で、" _
                "<tt>LDAPuidattribute</tt> と AND でフィルタが行われます。" }
%]
