[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Email"
   desc = "外部へのメールの配信方法をどうしますか ?"
%]

[% param_descs = {
  mail_delivery_method => "メールをどのように送信するか、もしくはまったく送信しないかを設定してください。<br>
                           <ul>
                             <li>
                               'Sendmail'、'SMTP'、'Qmail' は全て MTA です。
                               Windows で sendmail の設定を利用したい場合は、
                               何らかのサードパーティーの sendmail 互換ソフトをインストールする必要があります。
                             </li>
                             <li>
                               'Test' はデバッグに有用です。全てのメールは
                               'data/mailer.testfile' に送信されずに保存されます。
                             </li>
                             <li>
                               'none' は完全にメールを無効にします。$terms.Bugzilla
                               はメールを送信するかのように動作しますが、
                               一切送信も保存も行われません。
                             </li>
                           </ul>",

  mailfrom => "$terms.Bugzilla メールデーモンが利用するメールアドレスです。" _
              "いくつかのメールシステムでは有効なメールアドレスである必要があります。",

  use_mailer_queue => "大規模 $terms.Bugzilla サイトでは、$terms.bugs"
    _ " の更新が非常に遅いことがありえます。これは、$terms.Bugzilla"
    _ "がメールを一度に送ろうとすることによります。このパラメータを有効にすれば、"
    _ "$terms.Bugzilla はメールをいったんキューに入れ、バックグラウンドで送信します。"
    _ "この機能には、必要とされる Perl モジュール (<kbd>checksetup.pl</kbd>"
    _ "を参照) をインストールする必要があり、また <kbd>jobqueue.pl</kbd>"
    _ "デーモンを走らせる必要があります。(走らせない場合はメールが送信されません。)"
    _ "この機能は、$terms.bug の更新に限らないすべての $terms.Bugzilla"
    _ "のメール送信に影響します。",

  smtpserver => "SMTP サーバアドレス (SMTP を選択した場合)",

  smtp_username => "SMTP 認証に利用する SMTP サーバのユーザ名です。" _
                   "SMTP サーバが認証を要求しない場合は空にしてください。",

  smtp_password => "SMTP 認証に利用するパスワードです。" _
                   "smtp_username が空の場合は無視されます。",

  smtp_ssl => "SMTP で SSL を有効にします。",

  smtp_debug => "有効なら、ウェブサーバのエラーログに $terms.Bugzilla と SMTP サーバ間" _
                "の詳細な通信ログが出力されます。メールに関する問題の解決のために" _
                "この情報が有用でしょう。",

  whinedays => "この日数の間 CONFIRMED 状態で放置されたままの $terms.bug について、cronjob が " _
               "whine メールを担当者に送信します。<br>" _
               "whine を無効にするなら 0 に設定してください。",

  globalwatchers => "カンマ区切りのユーザリストで、システムが送信する全ての通知メールの" _
                    "コピーが送信されるユーザ名です。" }

%]
