[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "パッチビューアー"
   desc = "PatchViewer と一緒に走らせるサードパーティのアプリケーションの設定"
%]

[% param_descs = {
  cvsroot => "あなたのシステムの大多数のユーザが 'cvs diff' の際に利用する " _
             "<a href=\"http://www.cvshome.org\">CVS</a> root です。" _
             "PatchViewer の中 ('Diff' オプション) でユーザが 'cvs diff' をディレクトリ" _
             "構造外で行った場合にでも、パッチがどこのものかを判断するために利用されます。" _
             "(注: CVS レポジトリがリモートでパスワードが必要な場合、$terms.Bugzilla " _
             "ユーザが 'cvs login' を実行している状態であるか、パスワードを)" _
             "<a href=\"http://www.cvshome.org/docs/manual/cvs_2.html#SEC26\">" _
             "CVS root の一部として</a> 設定する必要があります。) " _
             "もし、CVS レポジトリがない場合は空欄にしてください。",

  cvsroot_get => "Bugzilla がパッチを取得する CVS root です。" _
                 "場所によっては、CVS レポジトリを Bugzilla サーバにミラーしているか、" _
                 "同じサーバにある場合があり、レポジトリにローカルファイルシステムとして" _
                 "アクセスできるでしょう。(そしてたいてい早いです。)" _
                 "これが何であるかわからない場合は cvsroot と同じに設定してください。" _
                 "(cvsroot が空なら、これも空に)",

  bonsai_url => "CVS レポジトリの情報をもつ <a href=\"http://www.mozilla.org/bonsai.html\">Bonsai</a> " _
                "サーバの URL です。Patch Viewer はこの情報をパッチの各部分から、" _
                "bonsai blame のリンクを生成するのに利用します。" _
                "('/cvsblame.cgi?...' をこの url に追加します)" _
                "これが何かわからなければ、空にしてください。",

  lxr_url => "<a href=\"http://sourceforge.net/projects/lxr\">LXR</a> サーバの URL です。" _
             "Patch Viewer はこの情報からパッチの各ファイルについての LXR リンクを生成" _
             "します。これが何かわからなければ、空にしてください。",

  lxr_root => "いくつかの LXR では、CVS レポジトリを URL の root としてインデックスしていません。" _
              "たとえば、<a href=\"http://lxr.mozilla.org/mozilla\">Mozilla の</a>では、" _
              "<code>mozilla/</code> の下です。これは、URL に余分なパスが付くことを意味します。" _
              "これと同様なら、ここに情報を入力してください。わからなければ空白にしてください。" }
%]
