[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "既定のクエリ"
   desc = "クエリと $terms.bug リストの既定値"
%]

[% param_descs = {
  quip_list_entry_control => "quip リストに追加するための権限の設定です。
                              <ul>
                                <li>
                                  open - ユーザは自由に追加でき、すぐに表示されるようになります。
                                </li>
                                <li>
                                  moderated - quip を追加できますが、司会者が有効にしなければなりません。
                                </li>
                                <li>
                                  closed - quip への新規追加はできません。
                                </li>
                              </ul>",

  mostfreqthreshold => "$terms.abug の重複がこの数以上であれば、" _
                       "<a href=\"duplicates.cgi\">最近のよく報告される $terms.bugs ページ</a>" _
                       "に表示されます。もし、巨大なデータベースでこのページを表示するのに時間が" _
                       "かかるようならば、数を増やしてください。",

  mybugstemplate => "'わたしの $terms.bug' リンクが指す URL に利用されます。" _
                    "%userid% はユーザのログイン名に置換されます。" _
                    "特殊文字は URL エンコードされている必要があります。",

  defaultquery => "高度な検索ページを表示したときの初期表示の検索内容です。" _
                  "URL パラメータ形式ですので読みにくいですがご了承を !",

  search_allow_no_criteria =>
    "コード上はすべての $terms.bugs が返ることが許されていますが、このパラメータ" _
    "により制限がない検索の実行を禁止することができます。" _
    "無効の場合、すべてのクエリはユーザに返る $terms.bugs に制限が付く" _
    "ような条件が設定されていなければなりません。有効の場合、ユーザは条件なし" _
    "の検索を実行できすべての $terms.bugs のリストを見ることができます。" _
    "大きなサイトの場合はこのパラメータを有効にすべきではありません。",

  default_search_limit =>
    "既定では、$terms.Bugzilla のウェブからの検索インターフェースではパフォー"
    _ "マンス上の理由からこの数の結果までしか返しません。(この制限は検索結果"
    _ "を HTML 形式で表示する場合のみ影響します -- CSV, XML などの他の形式は"
    _ "制限を受けません。) ユーザは検索結果ページのリンクをクリックすることで"
    _ "結果全体を見ることが可能になります。"
    _ "<p>通常この値を変更すべきではありません。既定値は大半のサイトで"
    _ "十分な値に設定されています。</p>",

  max_search_results =>
    "検索機能の結果として得られる <strong>最大の</strong> $terms.bugs 件数"
    _ "です。ただし、表形式もしくは画像形式のレポートにはこの制限は適用され"
    _ "ません。",

}
%]
