[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "RADIUS"
   desc = "RADIUS を認証方式として利用する前に設定してください"
%]

[% param_descs = {
  RADIUS_server => "RADIUS サーバ名 (とポート番号) です。" _
                   "(例 <code>radius.company.com</code> や " _
                   "<code>radius.company.com:portnum</code>)<br>" _
                   "<a href=\"?section=auth#user_verify_class_desc\">" _
                   "<code>user_verify_class</code> パラメータ</a> が" _
                   "<code>RADIUS</code> を含む場合にのみ必要です。",

  RADIUS_secret => "RADIUS サーバの認証語です。<br>" _
                   "<a href=\"?section=auth#user_verify_class_desc\">" _
                   "<code>user_verify_class</code> パラメータ</a> が" _
                   "<code>RADIUS</code> を含む場合にのみ必要です。",

  RADIUS_NAS_IP => "RADIUS サーバと情報を交換する際に利用される NAS-IP-Address 属性です。" _
                   "未指定なら <code>127.0.0.1</code> が利用されます。<br>" _
                   "<a href=\"?section=auth#user_verify_class_desc\">" _
                   "<code>user_verify_class</code> パラメータ</a> が" _
                   "<code>RADIUS</code> を含む場合にのみ有用です。",

  RADIUS_email_suffix => "RADIUS ユーザ名をメールアドレスにする際に追加するサフィックスです。" _
                   "<a href=\"?section=auth#user_verify_class_desc\">" _
                   "<code>user_verify_class</code> パラメータ</a> が" _
                   "<code>RADIUS</code> を含む場合にのみ有用です。",
  }
%]
