[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Shadow Database"
   desc = "データベースパフォーマンス改善のための設定"
%]

[% param_descs = {
  shadowdbhost => "shadow database が存在するホスト",

  shadowdbport => "shadow database のポート番号。" _
                  "<var>shadowdbhost</var> が空なら無視されます。注: ホストがローカルの場合、" _
                  "MySQL はこの設定を無視しますので、socket の設定を必ず行ってください。",

  shadowdbsock => "shadow database のホストがローカルの場合に、接続するための socket。" _
                  "この設定は、MySQL がローカルホストからの接続の際にポート番号を無視する" _
                  "ために、socket パス (unix ホストの場合) 経由で接続するために必要です。" _
                  "空の場合、そしてローカルホストにデータベースがある場合、" _
                  "<var>shadowdbport</var> は無視されます。",

  shadowdb => "空でなければ、Bugzilla はこのデータベース名を読み込み専用コピー" _
              "の代替データベースとして利用します。" _
              "読み込みのみの遅い操作をこのデータベースに対して行うことで、ほかの操作を" _
              "ロックしないようにするためです。このデータベースは <var>shadowdbhost</var>" _
              "上に存在する必要があります。Bugzilla はこのデータベースを更新しません" _
              "ので、データベースのレプリケーションの設定を行う必要があります。" }
%]
