[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "ユーザ検索"
   desc = "ユーザ検索ポリシーの設定"
%]

[% param_descs = {
  usemenuforusers => "有効なら、$terms.Bugzillaはユーザ選択リストをフォームで" _
                     "(テキスト入力の替わりに) 提供します。" _
                     "このオプションは多数のユーザがいる環境では有効にすべきではありません。",

  ajax_user_autocompletion => "有効なら、ユーザ選択フィールドで文字を入力すると、" _
                              "入力に合致する選択可能なユーザリストが表示されます。", 

  maxusermatches => "これ以上の数の合致するユーザを表示しない。<br> " _
                    "1 なら該当するほかのユーザは表示されません。" _
                    "ユーザプライバシー保護のためにこの設定は有効です。<br> " _
                    "0 で無制限です。",

  confirmuniqueusermatch => "1ユーザしか合致しなかった時に確認画面を出すかどうか。" }
%]
